<div class="container-fluid padd-20">
    <div class="row justify-content-center">
        <h4>Integración en Cheques Propios</h4>
    </div>
    <form [formGroup]="formulario">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group has-float-label">
                    <label for="idCuentaBancaria" class="tamanio-label">Cuenta Bancaria *</label>
                    <mat-select id="idCuentaBancaria" class="form-control form-control-sm"
                        [compareWith]="compareFn" formControlName="cuentaBancaria"
                        (selectionChange)="listarPorCuentaBancaria()">
                        <mat-option *ngFor="let itemCuentaBancaria of cuentasBancarias" [value]="itemCuentaBancaria">
                            {{itemCuentaBancaria.tipoCuentaBancaria.nombre}} - {{itemCuentaBancaria.cbu}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idTipoChequera" class="codigo-label">Tipo de Chequera *</label>
                    <input id="idTipoChequera" type="text" formControlName="tipoChequera" 
                        class="form-control form-control-sm number-right">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idNumeroCheque" class="codigo-label">Número de Cheque *</label>
                    <input id="idNumeroCheque" type="text" formControlName="numeroCheque" 
                        class="form-control form-control-sm number-right">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idFechaPago" class="codigo-label">Fecha Pago</label>
                    <input id="idFechaPago" type="text" formControlName="fechaPago" 
                        class="form-control form-control-sm number-right">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idImporte" class="codigo-label">Importe</label>
                    <input id="idImporte" type="text" formControlName="importe" 
                        class="form-control form-control-sm number-right">
                </div>
            </div>
            <div class="col-md-4">
                <button mat-raised-button color="primary">Aceptar</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="tabla">
            <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                <ng-container matColumnDef="CUENTA_BANCARIA">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Bancaria</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.cuentaBancaria}}</td>
                </ng-container>
                <ng-container matColumnDef="NUMERO_CHEQUE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de Cheque</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.numeroCheque}}</td>
                </ng-container>
                <ng-container matColumnDef="FECHA_PAGO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Pago</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.fechaPago}}</td>
                </ng-container>
                <ng-container matColumnDef="IMPORTE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.importe}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-4">
            <div class="form-group has-float-label">
                <label for="idTotal" class="codigo-label">Total</label>
                <input id="idTotal" type="text" [formControl]="total" readonly 
                    class="form-control form-control-sm number-right">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary">Confirmar</button>
        <button class="margin-left-3" mat-raised-button (click)="cerrar()">Cancelar</button>
    </div>
</div>