<div id="tramo" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>TRAMO</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8 text-center">
      <h5>{{pestaniaActual}} Tramo</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
              <label for="idAutocompletado" class="tamanio-label">Buscar por Origen</label>
              <input id="idAutocompletado" class="form-control form-control-sm" type="text" matInput
                [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFa.bind(this)">
                <mat-option *ngFor="let item of resultados" [value]="item"
                  (onSelectionChange)="formulario.setValue(item)">
                  {{item.nombre}}, {{item.origen.provincia.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Código</label>
              <input id="idCodigo" type="number" formControlName="id"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idOrigen" class="tamanio-label">Origen</label>
              <input id="idOrigen" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('origen')" [matAutocomplete]="autoOrigen" autocomplete="off">
              <mat-autocomplete #autoOrigen="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let itemOrigen of resultadosOrigenesDestinos" [value]="itemOrigen">
                  {{itemOrigen.nombre}}, {{itemOrigen.provincia.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idDestino" class="tamanio-label">Destino</label>
              <input id="idDestino" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('destino')" [matAutocomplete]="autoDestino" autocomplete="off">
              <mat-autocomplete #autoDestino="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let itemDestino of resultadosOrigenesDestinos" [value]="itemDestino">
                  {{itemDestino.nombre}}, {{itemDestino.provincia.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idKm" class="tamanio-label">Kilómetros</label>
              <input id="idKm" type="number" formControlName="km" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idRutaAlternativa" class="tamanio-label">Ruta Alternativa</label>
              <input id="idRutaAlternativa" type="text" formControlName="rutaAlternativa" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idExcluirLiqChofer" class="tamanio-label">Excluir Liquidación Chofer</label>
              <input id="idExcluirLiqChofer" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('excluirLiqChofer')" [matAutocomplete]="autoExcluirLiqChofer"
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoExcluirLiqChofer="matAutocomplete">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idEstaActivo" class="tamanio-label">Esta Activo</label>
              <input id="idEstaActivo" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('estaActivo')" [matAutocomplete]="autoEstaActivo"
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoEstaActivo="matAutocomplete">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:5%" scope="col">id</th>
            <th class="text-center" style="width:20%" scope="col">Origen</th>
            <th class="text-center" style="width:20%" scope="col">Destino</th>
            <th class="text-center" style="width:10%" scope="col">km</th>
            <th class="text-center" style="width:10%" scope="col">Ruta Alternativa</th>
            <th class="text-center" style="width:15%" scope="col">Excluir Liq. Chofer</th>
            <th class="text-center" style="width:10%" scope="col">Esta Activo</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td align="center">
              <span>{{l.id}}</span>
            </td>
            <td align="center">
              <span>{{l.origen.nombre}}, {{l.origen.provincia.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.destino.nombre}}, {{l.destino.provincia.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.km}}</span>
            </td>
            <td align="center">
              <span>{{l.rutaAlternativa}}</span>
            </td>
            <td align="center">
              <span>{{l.excluirLiqChofer == false ? 'No' : 'Si'}}</span>
            </td>
            <td align="center">
              <span>{{l.estaActivo == false ? 'No' : 'Si'}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
