<div id="tramo" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>TRAMO</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8 text-center">
      <h5>{{pestaniaActual}} Tramo</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
              <label for="idAutocompletado" class="tamanio-label">Buscar por Origen</label>
              <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" type="text" matInput
                [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off"
                (blur)="verificarSeleccion(autocompletado)">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFa.bind(this)"
                (optionSelected)="establecerFormulario()">
                <mat-option *ngFor="let item of resultados" [value]="item">
                  {{item.origen.nombre}}, {{item.origen.provincia.nombre}} -> {{item.destino.nombre}},
                  {{item.destino.provincia.nombre}} (Ruta Alt.: {{item.rutaAlternativa}})
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Código</label>
              <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idOrigen" class="tamanio-label">Origen *</label>
              <input id="idOrigen" class="form-control form-control-sm" type="text" matInput [readonly]="soloLectura"
                [formControl]="formulario.get('origen')" [matAutocomplete]="autoOrigen" autocomplete="off"
                (blur)="verificarSeleccion(formulario.get('origen'))">
              <mat-autocomplete #autoOrigen="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let itemOrigen of resultadosOrigenesDestinos" [value]="itemOrigen">
                  {{itemOrigen.nombre}}, {{itemOrigen.provincia.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idDestino" class="tamanio-label">Destino *</label>
              <input id="idDestino" class="form-control form-control-sm" type="text" matInput [readonly]="soloLectura"
                [formControl]="formulario.get('destino')" [matAutocomplete]="autoDestino" autocomplete="off"
                (blur)="verificarSeleccion(formulario.get('destino'))">
              <mat-autocomplete #autoDestino="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let itemDestino of resultadosOrigenesDestinos" [value]="itemDestino">
                  {{itemDestino.nombre}}, {{itemDestino.provincia.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idKm" class="tamanio-label">Kilómetros *</label>
              <input id="idKm" [textMask]="obtenerMascaraKm(4)" type="text" formControlName="km" autocomplete="off"
                class="form-control form-control-sm number-right" [readonly]="soloLectura"
                (blur)="establecerKm(formulario.get('km'))" placeholder="0 km">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idRutaAlternativa" class="tamanio-label">Ruta Alternativa</label>
              <input id="idRutaAlternativa" type="text" formControlName="rutaAlternativa" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" maxlength="20">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idExcluirLiqChofer" class="tamanio-label">Excluir Liquidación Chofer *</label>
              <mat-select id="idExcluirLiqChofer" class="form-control form-control-sm"
                formControlName="excluirLiqChofer">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idEstaActivo" class="tamanio-label">Esta Activo *</label>
              <mat-select id="idEstaActivo" class="form-control form-control-sm" formControlName="estaActivo">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group has-float-label">
            <label for="idAutocompletadoOrigen" class="tamanio-label">Buscar Origen</label>
            <input id="idAutocompletadoOrigen" class="form-control form-control-sm" type="text" matInput
              [formControl]="autocompletadoOrigenListar" [matAutocomplete]="autoOrigenL" autocomplete="off">
            <mat-autocomplete #autoOrigenL="matAutocomplete" [displayWith]="displayFc.bind(this)">
              <mat-option *ngFor="let item of resultadosOrigenListar" [value]="item">
                {{item.nombre}}, {{item.provincia.nombre}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-float-label">
            <label for="idAutocompletadoDestino" class="tamanio-label">Buscar Destino</label>
            <input id="idAutocompletadoDestino" class="form-control form-control-sm" type="text" matInput
              [formControl]="autocompletadoDestinoListar" [matAutocomplete]="autoDestinoL" autocomplete="off">
            <mat-autocomplete #autoDestinoL="matAutocomplete" [displayWith]="displayFc.bind(this)">
              <mat-option *ngFor="let item of resultadosDestinoListar" [value]="item">
                {{item.nombre}}, {{item.provincia.nombre}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="col-md-1">
          <button id="idBoton" mat-raised-button color="primary" formnovalidate (click)="establecerTabla()">
            Buscar
          </button>
        </div>
      </div>
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="origen">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Origen</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.origen.nombre}}, {{elemento.origen.provincia.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="destino">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Destino</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.destino.nombre}}, {{elemento.destino.provincia.nombre}}
          </td>
        </ng-container>
        <ng-container matColumnDef="km">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Km</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.km}}</td>
        </ng-container>
        <ng-container matColumnDef="rutaAlternativa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ruta Alternativa</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.rutaAlternativa}}</td>
        </ng-container>
        <ng-container matColumnDef="liqChofer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Excluir Liq. Chofer</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.excluirLiqChofer?'Sí':'No'}}</td>
        </ng-container>
        <ng-container matColumnDef="estaActivo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>esta Activo</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.estaActivo?'Sí': 'No'}}</td>
        </ng-container>
        <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarConsultar(elemento)"><span
              class="cursor-color">ver</span></td>
        </ng-container>
        <ng-container matColumnDef="mod">
          <th mat-header-cell *matHeaderCellDef>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarActualizar(elemento)"><span
              class="cursor-color">editar</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div>
  </div>
</div>