<div class="container-fluid">
  <div class="row" *ngIf="show">
    <div class="col text-center">
      <app-progreso></app-progreso>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-tree [dataSource]="datos" [treeControl]="treeControl">
        <mat-tree-node class="padding-top-5" *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
          <form [formGroup]="formulario">
            <div class="row">
              <div class="form-group has-float-label">
                <label for="idNombre" class="tamanio-label">Nombre *</label>
                <input id="idNombre" type="text" autocomplete="off" class="form-control form-control-sm"
                  formControlName="nombre" style="width: 250px;">
              </div>
              <div class="form-group has-float-label" *ngIf="mostrarTipoCuentasContables">
                <label for="idTipoCuentaContable" class="tamanio-label">Tipo Cuenta Contable *</label>
                <mat-select id="idTipoCuentaContable" class="form-control form-control-sm" style="width: 200px;"
                  formControlName="tipoCuentaContable" [disabled]="!formulario.valid" [compareWith]="compareFn">
                  <mat-option *ngFor="let itemTipoCuentaContable of tiposCuentasContables" [value]="itemTipoCuentaContable">
                    {{itemTipoCuentaContable.nombre}}
                  </mat-option>
                </mat-select>
              </div>
              <div class="form-group has-float-label">
                <label for="idImputable" class="tamanio-label">Es Imputable *</label>
                <mat-select id="idImputable" class="form-control form-control-sm" style="width: 120px;"
                  formControlName="esImputable" (selectionChange)="cambioImputable()" [disabled]="!formulario.valid">
                  <mat-option [value]="false">No</mat-option>
                  <mat-option [value]="true">Si</mat-option>
                </mat-select>
              </div>
              <div class="form-group has-float-label">
                <label for="idActivo" class="tamanio-label">Esta Activo *</label>
                <mat-select id="idActivo" class="form-control form-control-sm" style="width: 108px;"
                  formControlName="estaActivo" [disabled]="!formulario.valid">
                  <mat-option [value]="false">No</mat-option>
                  <mat-option [value]="true">Si</mat-option>
                </mat-select>
              </div>
              <button mat-raised-button color="primary" (click)="agregar(node)"
                [disabled]="!formulario.valid">Agregar</button>
              <button mat-raised-button style="background-color: red; color: white"
                (click)="eliminarNodo(node)">Quitar</button>
            </div>
          </form>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding (mouseover)="activarBotones(node)"
          (mouseleave)="desactivarBotones(node)">
          <div class="row" *ngIf="!node.editable">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <span style="padding-top: 9px;"><b style="font-size: 16px; margin-right: 5px;">{{node.nombre}}
              </b> ({{node.esImputable ? 'Imputable' : 'No Imputable'}} - {{node.estaActivo ? 'Activo' : 'No Activo'}})
            </span>
            <div *ngIf="node.mostrarBotones">
              <button *ngIf="!node.esImputable" class="boton-agregar" mat-icon-button (click)="nuevoNodo(node)">
                <mat-icon>add_circle</mat-icon>
              </button>
              <button *ngIf="node.esImputable" class="boton-editar" mat-icon-button (click)="editarNodo(node)">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="boton-eliminar" mat-icon-button (click)="eliminar(node, i)">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
          <form [formGroup]="formulario">
            <div class="row" *ngIf="node.editable">
              <div class="form-group has-float-label">
                <label for="idNombre" class="tamanio-label">Nombre *</label>
                <input id="idNombre" type="text" autocomplete="off" class="form-control form-control-sm upper-case"
                  formControlName="nombre" style="width: 250px;">
              </div>
              <div class="form-group has-float-label">
                <label for="idImputable" class="tamanio-label">Es Imputable *</label>
                <mat-select id="idImputable" class="form-control form-control-sm" style="width: 120px;"
                  formControlName="esImputable" (selectionChange)="cambioImputable()">
                  <mat-option [value]="false">No</mat-option>
                  <mat-option [value]="true">Si</mat-option>
                </mat-select>
              </div>
              <div class="form-group has-float-label">
                <label for="idActivo" class="tamanio-label">Esta Activo *</label>
                <mat-select id="idActivo" class="form-control form-control-sm" style="width: 108px;"
                  formControlName="estaActivo">
                  <mat-option [value]="false">No</mat-option>
                  <mat-option [value]="true">Si</mat-option>
                </mat-select>
              </div>
              <button mat-raised-button color="primary" [disabled]="!formulario.valid"
                (click)="actualizar(node)">Actualizar</button>
              <button mat-raised-button style="background-color: red; color: white"
                (click)="cancelar(node)">Cancelar</button>
            </div>
          </form>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
</div>