<div id="vehiculoproveedor" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>VEHICULO PROVEEDOR</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8 text-center">
      <h5>{{pestaniaActual}} Vehículo Proveedor</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row" *ngIf="mostrarAutocompletado">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Buscar Vehículo de Proveedor</label>
              <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" type="text" matInput
                [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off"
                (blur)="verificarSeleccion(autocompletado)">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let item of resultados" [value]="item"
                  (onSelectionChange)="formulario.setValue(item)">
                  {{item.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label for="idProveedor" class="tamanio-label">Proveedor *</label>
              <input id="idProveedor" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('proveedor')" [matAutocomplete]="autoProveedor" autocomplete="off"
                [readonly]="soloLectura" (blur)="verificarSeleccion(formulario.get('proveedor'))">
              <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let itemProveedor of resultadosProveedores" [value]="itemProveedor">
                  {{itemProveedor.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idTipoVehiculo" class="tamanio-label">Tipo de Vehículo *</label>
              <mat-select id="idTipoVehiculo" class="form-control form-control-sm" formControlName="tipoVehiculo"
                [compareWith]="compareFn">
                <mat-option *ngFor="let itemTipoVehiculo of tiposVehiculos" [value]="itemTipoVehiculo">
                  {{itemTipoVehiculo.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idMarcaVehiculo" class="tamanio-label">Marca de Vehículo *</label>
              <mat-select id="idMarcaVehiculo" class="form-control form-control-sm" formControlName="marcaVehiculo"
                [compareWith]="compareFn">
                <mat-option *ngFor="let itemMarcaVehiculo of marcasVehiculos" [value]="itemMarcaVehiculo">
                  {{itemMarcaVehiculo.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idDominio" class="tamanio-label">Dominio *</label>
              <input id="idDominio" type="text" formControlName="dominio" autocomplete="off"
                class="form-control form-control-sm number-right upper-case" [readonly]="soloLectura" maxlength="10">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idAnioFabricacion" class="tamanio-label">Año de Fabricación *</label>
              <input id="idAnioFabricacion" type="text" formControlName="anioFabricacion" [textMask]="mascararNumero(4)"
                autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNumeroMotor" class="tamanio-label">Número de Motor</label>
              <input id="idNumeroMotor" type="text" formControlName="numeroMotor" autocomplete="off"
                class="form-control form-control-sm number-right" [readonly]="soloLectura" maxlength="25">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNumeroChasis" class="tamanio-label">Número de Chasis</label>
              <input id="idNumeroChasis" type="text" formControlName="numeroChasis" autocomplete="off"
                class="form-control form-control-sm number-right" [readonly]="soloLectura" maxlength="25">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idChoferProveedor" class="tamanio-label">Chofer Habitual</label>
              <input id="idChoferProveedor" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('choferProveedor')" [matAutocomplete]="autoChoferProveedor"
                autocomplete="off" [readonly]="soloLectura"
                (blur)="verificarSeleccion(formulario.get('choferProveedor'))">
              <mat-autocomplete #autoChoferProveedor="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let itemChoferProveedor of resultadosChoferesProveedores"
                  [value]="itemChoferProveedor">
                  {{itemChoferProveedor.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVehiculoRemolque" class="tamanio-label">Remolque Habitual</label>
              <input id="idVehiculoRemolque" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('vehiculoRemolque')" [matAutocomplete]="autoVehiculoRemolque"
                autocomplete="off" [readonly]="soloLectura"
                (blur)="verificarSeleccion(formulario.get('vehiculoRemolque'))">
              <mat-autocomplete #autoVehiculoRemolque="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let itemVehiculoRemolque of resultadosVehiculosRemolques"
                  [value]="itemVehiculoRemolque">
                  {{itemVehiculoRemolque.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCompaniaSeguro" class="tamanio-label">Compañia de Seguro *</label>
              <input id="idCompaniaSeguro" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('companiaSeguro')" [matAutocomplete]="autoCompaniaSeguro"
                autocomplete="off" [readonly]="soloLectura"
                (blur)="verificarSeleccion(formulario.get('companiaSeguro'))">
              <mat-autocomplete #autoCompaniaSeguro="matAutocomplete" [displayWith]="displayFa.bind(this)">
                <mat-option *ngFor="let itemCompaniaSeguro of resultadosCompaniasSeguros" [value]="itemCompaniaSeguro">
                  {{itemCompaniaSeguro.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNumeroPoliza" class="tamanio-label">Número de Póliza *</label>
              <input id="idNumeroPoliza" type="text" formControlName="numeroPoliza" autocomplete="off"
                class="form-control form-control-sm number-right" [readonly]="soloLectura" maxlength="15">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoPoliza" class="tamanio-label">Vto. Póliza *</label>
              <input id="idVtoPoliza" type="date" formControlName="vtoPoliza" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNumeroRuta" class="tamanio-label">Número de Ruta *</label>
              <input id="idNumeroRuta" type="text" formControlName="numeroRuta" autocomplete="off"
                class="form-control form-control-sm number-right" [readonly]="soloLectura" maxlength="15">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoRuta" class="tamanio-label">Vto. Ruta *</label>
              <input id="idVtoRuta" type="date" formControlName="vtoRuta" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoRTO" class="tamanio-label">Vto. Inspección Técnica *</label>
              <input id="idVtoRTO" type="date" formControlName="vtoRTO" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoSenasa" class="tamanio-label">Vto. Senasa</label>
              <input id="idVtoSenasa" type="date" formControlName="vtoSenasa" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoHabBromatologica" class="tamanio-label">Vto. Hab. Bromatológica</label>
              <input id="idVtoHabBromatologica" type="date" formControlName="vtoHabBromatologica" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-10">
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-float-label">
            <label for="idProveedor" class="tamanio-label">Proveedor *</label>
            <input id="idProveedor" class="form-control form-control-sm" type="text" matInput
              [formControl]="formulario.get('proveedor')" [matAutocomplete]="autoProveedorL" autocomplete="off"
              (blur)="verificarSeleccion(formulario.get('proveedor'))">
            <mat-autocomplete #autoProveedorL="matAutocomplete" [displayWith]="displayF.bind(this)"
              (optionSelected)="listarPorProveedor()">
              <mat-option *ngFor="let itemProveedor of resultadosProveedores" [value]="itemProveedor">
                {{itemProveedor.alias}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="DOMINIO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dominio</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.dominio}}</td>
        </ng-container>
        <ng-container matColumnDef="TIPO_VEHICULO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Vehiculo</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.tipoVehiculo.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="MARCA_VEHICULO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca Vehiculo</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.marcaVehiculo.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="COMPANIA_SEGURO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Compania Seguro</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.companiaSeguro.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="EDITAR" stickyEnd>
          <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
              (click)="abrirReporte()">Reporte</button></th>
          <td mat-cell *matCellDef="let elemento">
            <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
              matTooltip="Consultar" matTooltipPosition="above">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-button-table margin-left-3"
              (click)="activarActualizar(elemento)" matTooltip="Editar" matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>