<div class="container-fluid padd-20">
    <div class="row justify-content-center">
        <h4>Anticipos Disponibles</h4>
    </div>
    <form [formGroup]="formulario">
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idTotalDisponible" class="codigo-label">Total Disponible</label>
                    <input id="idTotalDisponible" type="text" formControlName="totalDisponible" readonly
                        class="form-control form-control-sm number-right" [textMask]="mascararImporte(8, 2)"
                        placeholder="$ 0.00">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idSaldo" class="codigo-label">Saldo</label>
                    <input id="idSaldo" type="text" formControlName="saldo" readonly
                        class="form-control form-control-sm number-right" [textMask]="mascararImporte(8, 2)"
                        placeholder="$ 0.00">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idImporte" class="codigo-label">Importe</label>
                    <input id="idImporte" type="text" formControlName="importe" placeholder="$ 0.00"
                        class="form-control form-control-sm number-right" [textMask]="mascararImporte(8, 2)"
                        (blur)="establecerDecimales(formulario.get('importe'), 2)">
                </div>
            </div>
            <div class="col-md-4" *ngIf="mostrarBoton">
                <button mat-raised-button color="primary" (click)="actualizar()">Actualizar</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="tabla">
            <table mat-table [dataSource]="anticipos" matSort class="mat-elevation-z1">
                <ng-container matColumnDef="CHECK" sticky>
                    <th style="padding-right: 5px;" mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? alternarSeleccion() : null"
                            [checked]="anticiposSeleccionados.hasValue() && estanTodosSeleccionados()"
                            [indeterminate]="anticiposSeleccionados.hasValue() && !estanTodosSeleccionados()"
                            [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td style="padding-right: 5px;" mat-cell *matCellDef="let elemento">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? seleccionarCheckbox(elemento) : null"
                            [checked]="anticiposSeleccionados.isSelected(elemento)" [aria-label]="checkboxLabel(elemento)">
                        </mat-checkbox>
                        <button mat-icon-button class="mat-icon-button-table" (click)="habilitarEditar(elemento)"
                            matTooltip="Editar" matTooltipPosition="above"
                            [disabled]="!anticiposSeleccionados.isSelected(elemento)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="FECHA">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.pago.fechaEmision | date: 'dd-MM-yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="ORDEN_PAGO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Recibo</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
                </ng-container>
                <ng-container matColumnDef="ANTICIPO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Anticipo</th>
                    <td class="number-right" mat-cell *matCellDef="let elemento">
                        ${{elemento.importe ? (elemento.importe | number: '1.2-2') : '0.00'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="SALDO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
                    <td class="number-right" mat-cell *matCellDef="let elemento">
                        ${{elemento.saldo ? (elemento.saldo | number: '1.2-2') : '0.00'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="IMPORTE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                    <td class="number-right" mat-cell *matCellDef="let elemento">
                        ${{elemento.importeAnticipo ? (elemento.importeAnticipo | number: '1.2-2') : '0.00'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="OBSERVACIONES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Obs.</th>
                    <td mat-cell *matCellDef="let elemento"></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
        </div>
    </div>
    <br>
    <div class="row justify-content-end">
        <div class="col-md-4">
            <div class="form-group has-float-label">
                <label for="idTotal" class="codigo-label">Total</label>
                <input id="idTotal" type="text" [formControl]="total" readonly
                    class="form-control form-control-sm number-right" [textMask]="mascararImporte(8, 2)"
                    placeholder="$ 0.00">
            </div>
        </div>
    </div>
    <div class="row" *ngIf="show">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="row justify-content-center" *ngIf="!show">
        <button mat-raised-button color="primary" (click)="cerrar(total.value)">Confirmar</button>
        <button class="margin-left-3" mat-raised-button (click)="cerrar(0)">Cancelar</button>
    </div>
</div>