<div class="container-fluid padd-20">
    <div class="row justify-content-center">
        <h4>Integración en Cheques Electrónicos</h4>
    </div>
    <form [formGroup]="formulario">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group has-float-label">
                    <label for="idFechaPagoDesde" class="codigo-label">Fecha Pago Desde *</label>
                    <input id="idFechaPagoDesde" type="date" formControlName="fechaPagoDesde" 
                        class="form-control form-control-sm">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                    <label id="labelFechaPagoHasta" for="idFechaPagoHasta" class="codigo-label">Fecha Pago Hasta *</label>
                    <input id="idFechaPagoHasta" type="date" formControlName="fechaPagoHasta" 
                        class="form-control form-control-sm" min="{{formulario.get('fechaPagoDesde').value}}"
                        (blur)="verificarFechaMayor()" (ngModelChange)="cambioCampo('idFechaPagoHasta', 'labelFechaPagoHasta')">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                    <label for="idImporteDesde" class="codigo-label">Importe Desde</label>
                    <input id="idImporteDesde" type="text" formControlName="importeDesde" 
                        class="form-control form-control-sm number-right" placeholder="$ 0.00"
                        [textMask]="mascararImporte(10, 2)" (blur)="establecerDecimales(formulario.get('importeDesde'), 2)">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                    <label id="labelImporteHasta" for="idImporteHasta" class="codigo-label">Importe Hasta</label>
                    <input id="idImporteHasta" type="text" formControlName="importeHasta" 
                        class="form-control form-control-sm number-right" placeholder="$ 0.00"
                        [textMask]="mascararImporte(10, 2)" (ngModelChange)="cambioCampo('idImporteHasta', 'labelImporteHasta')"
                        (blur)="verificarImporteMayor()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-float-label">
                    <label for="idNumeroCheque" class="codigo-label">Número de Cheque</label>
                    <input id="idNumeroCheque" type="text" formControlName="numero" 
                        class="form-control form-control-sm number-right" [textMask]="mascararEntero(15)">
                </div>
            </div>
            <div class="col-md-3">
                <button mat-raised-button color="primary" (click)="buscar()" [disabled]="!formulario.valid">Buscar</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="tabla">
            <table mat-table [dataSource]="chequesCartera" matSort class="mat-elevation-z1">
                <ng-container matColumnDef="CHECK" sticky>
                    <th style="padding-right: 5px;" mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? alternarSeleccion() : null" color="primary"
                            [checked]="chequesCarteraSeleccionados.hasValue() && estanTodosSeleccionados()"
                            [indeterminate]="chequesCarteraSeleccionados.hasValue() && !estanTodosSeleccionados()"
                            [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td style="padding-right: 5px;" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" color="primary"
                            (change)="$event ? seleccionarCheckbox(row) : null"
                            [checked]="chequesCarteraSeleccionados.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="BANCO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.banco.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="NUMERO_CHEQUE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de Cheque</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.numero}}</td>
                </ng-container>
                <ng-container matColumnDef="FECHA_PAGO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Pago</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.fechaPago}}</td>
                </ng-container>
                <ng-container matColumnDef="CUIT_EMISOR">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CUIT Emisor</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.numeroDocumentoEmisor}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="IMPORTE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                    <td mat-cell *matCellDef="let elemento">{{establecerDecimalesTabla(elemento.importe, 2)}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-4">
            <div class="form-group has-float-label">
                <label for="idTotal" class="codigo-label">Total</label>
                <input id="idTotal" type="text" [formControl]="total" readonly 
                    class="form-control form-control-sm number-right" placeholder="$ 0.00"
                    [textMask]="mascararImporte(10, 2)">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary" (click)="cerrar(total.value)">Confirmar y Cerrar</button>
    </div>
</div>