<div id="categoria">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>CATEGORIA</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8 text-center">
      <h5>{{pestaniaActual}} Categoria</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
              <label for="idAutocompletado" class="tamanio-label">Buscar por Nombre</label>
              <ng-template #rt let-r="result" let-t="term">
                <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
              </ng-template>
              <input id="idAutocompletado" type="text" class="form-control form-control-sm"
                formControlName="autocompletado" [(ngModel)]="elemento"
                [ngbTypeahead]="buscar" [resultTemplate]="rt" [inputFormatter]="formatear">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Código</label>
              <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm"
                required readonly [(ngModel)]="elemento.id">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelNombre" for="idNombre" class="tamanio-label">Nombre</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" maxlength="45"
                (ngModelChange)="cambioCampo('idNombre', 'labelNombre')"
                [readonly]="soloLectura" [(ngModel)]="elemento.nombre" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idBasico" class="tamanio-label">Básico</label>
              <input id="idBasico" type="number" formControlName="basico" autocomplete="off"
                class="form-control form-control-sm" min="1" maxlength="12" (blur)="setDecimales($event, 2)"
                [readonly]="soloLectura" [(ngModel)]="elemento.basico" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idAdicionalBasicoVacaciones" class="tamanio-label">Adicional por Vacaciones</label>
              <input id="idAdicionalBasicoVacaciones" type="number" formControlName="adicionalBasicoVacaciones"
                autocomplete="off" class="form-control form-control-sm" min="1" maxlength="4" step="0.01"
                [readonly]="soloLectura" [(ngModel)]="elemento.adicionalBasicoVacaciones"
                (blur)="setDecimales($event, 2)" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idTopeBasicoAdelantos" class="tamanio-label">Tope de Adelantos</label>
              <input id="idTopeBasicoAdelantos" type="number" formControlName="topeBasicoAdelantos"
                autocomplete="off" class="form-control form-control-sm" min="1" maxlength="4"
                [readonly]="soloLectura" [(ngModel)]="elemento.topeBasicoAdelantos"
                (blur)="setDecimales($event, 2)" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idDiasLaborables" class="tamanio-label">Días Laborables</label>
              <input id="idDiasLaborables" type="number" formControlName="diasLaborables"
                autocomplete="off" class="form-control form-control-sm" min="1" maxlength="4"
                [readonly]="soloLectura" [(ngModel)]="elemento.diasLaborables" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idHorasLaborables" class="tamanio-label">Horas Laborables</label>
              <input id="idHorasLaborables" type="number" formControlName="horasLaborables"
                autocomplete="off" class="form-control form-control-sm" min="1" maxlength="4"
                [readonly]="soloLectura" [(ngModel)]="elemento.horasLaborables" required>
            </div>
          </div>
        </div>
        <button id="idBoton" ng-show="mostrarBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado, elemento)" [disabled]="!formulario.valid">
          {{pestaniaActual}}</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-10">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" scope="col">id</th>
            <th class="text-center" scope="col">Nombre</th>
            <th class="text-center" scope="col">Básico</th>
            <th class="text-center" scope="col">Adicional Vacaciones</th>
            <th class="text-center" scope="col">Tope Adelantos</th>
            <th class="text-center" scope="col">Días Laborables</th>
            <th class="text-center" scope="col">Horas Laborables</th>
            <th class="text-center" scope="col">-</th>
            <th class="text-center" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td align="center">
              <span>{{l.id}}</span>
            </td>
            <td align="center">
              <span>{{l.nombre}}</span>
            </td>
            <td align="right">
              <span>{{l.basico | number:'2.2-2'}}</span>
            </td>
            <td align="right">
              <span>{{l.adicionalBasicoVacaciones | number:'2.2-2'}}</span>
            </td>
            <td align="right">
              <span>{{l.topeBasicoAdelantos | number:'2.2-2'}}</span>
            </td>
            <td align="right">
              <span>{{l.diasLaborables}}</span>
            </td>
            <td align="right">
              <span>{{l.horasLaborables}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
