<div class="row">
  <div class="col-md-12 text-center">
    <h5>Emitir Nota de Crédito</h5>
    <form [formGroup]="formulario" class="contenedor">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-float-label margin-right">
                <label for="idTipoComprobante" class="tamanio-label">Tipo de Comprobante *</label>
                <mat-select id="idTipoComprobante" class="form-control form-control-sm"
                  formControlName="tipoComprobante" [compareWith]="compareFn" (selectionChange)="listarItemsTipo()">
                  <mat-option *ngFor="let item of tiposComprobante" [value]="item">
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group has-float-label margin-right">
                <label for="idPuntoVenta" class="tamanio-label">Punto de Venta *</label>
                <mat-select id="idPuntoVenta" class="form-control form-control-sm" formControlName="puntoVenta"
                  [compareWith]="compareFn" (selectionChange)="cambioPuntoVenta()">
                  <mat-option *ngFor="let item of resultadosPuntoVenta" [value]="item">
                    {{establecerCerosIzq(item.puntoVenta, "0000", -5)}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group has-float-label-icon ">
                <label for="idFechaEmision" class="tamanio-label">Fecha *</label>
                <div class="input-group input-group-sm mb-3 ">
                  <div class="input-group-prepend margin-right">
                    <span class="input-group-text">
                      <mat-icon>date_range</mat-icon>
                    </span>
                  </div>
                  <input id="idFechaEmision" type="date" formControlName="fechaEmision" autocomplete="off"
                    class="form-control form-control-sm" (blur)="cambioFecha()">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group has-float-label">
                <label for="idJurisdiccion" class="tamanio-label">Jurisdicción</label>
                <mat-select id="idJurisdiccion" class="form-control form-control-sm" [formControl]="provincia"
                  [compareWith]="compareFn">
                  <mat-option *ngFor="let itemProvincia of resultadosProvincias" [value]="itemProvincia">
                    {{itemProvincia.nombre}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
        <div class="col-md-1">
          <div class="form-group has-float-label margin-right">
            <label for="idPuntoVenta" class="tamanio-label">P. Venta</label>
            <input id="idPuntoVenta" type="text" [formControl]="puntoVenta"
              class="form-control form-control-sm number-right" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-float-label margin-right">
            <label for="idLetra" class="tamanio-label">Letra</label>
            <input id="idLetra" type="text" formControlName="letra" class="form-control form-control-sm" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-float-label margin-right">
            <label for="idNumero" class="tamanio-label">Número</label>
            <input id="idNumero" type="number" formControlName="numero"
              class="form-control form-control-sm number-right" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-float-label margin-right">
            <label for="idCodigoAfip" class="tamanio-label">Código Afip</label>
            <input id="idCodigoAfip" type="text" formControlName="codigoAfip"
              class="form-control form-control-sm number-right" readonly>
          </div>
        </div>
      </div>
      <hr style="margin-top: 10px; margin-bottom: 20px;">
      <div class="row">
        <div class="col-md-6">
          <div class="border has-float-label margin-right" id="Remitente">
            <label style="font-size: 16px;">Cliente</label>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group has-float-label">
                  <label for="idCliente" id="labelCliente" class="tamanio-label">Buscar</label>
                  <input id="idCliente" type="text" class="form-control form-control-sm" matInput
                    [formControl]="formulario.get('cliente')" [matAutocomplete]="autoRemitente" autocomplete="off"
                    (blur)="verificarSeleccion(formulario.get('cliente'))">
                  <mat-autocomplete #autoRemitente="matAutocomplete" [displayWith]="displayF.bind(this)"
                    (optionSelected)="cambioCliente()">
                    <mat-option *ngFor="let itemCliente of resultadosClientes" [value]="itemCliente">
                      {{itemCliente.alias}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
              <!-- <div class="col-md-2">
                <div class="form-group ">
                  <button id="idBtnCli1" mat-raised-button color="primary" (click)="agregarClienteEventual('Remitente')"
                    style="width: 100%; margin-left: 5px;">Agregar</button>
                </div>
              </div> -->
            </div>
            <form [formGroup]="formularioCliente">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-float-label">
                    <label for="idDomicilioRem" class="tamanio-label">Domicilio</label>
                    <input id="idDomicilioRem" type="text" formControlName="domicilio"
                      class="form-control form-control-sm" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group has-float-label">
                    <label for="idLocalidadRem" class="tamanio-label">Localidad</label>
                    <input id="idLocalidadRem" type="text" formControlName="localidad"
                      class="form-control form-control-sm" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-float-label">
                    <label for="idCondicionIvaRem" class="tamanio-label">Condición de IVA</label>
                    <input id="idCondicionIvaRem" type="text" readonly formControlName="afipCondicionIva"
                      class="form-control form-control-sm">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group has-float-label">
                    <label for="idCondicionVtaRem" class="tamanio-label">Condición de Venta</label>
                    <input id="idCondicionVtaRem" type="text" readonly formControlName="condicionVenta"
                      class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-float-label">
                    <label for="idTipoDocumento" class="tamanio-label">Tipo de Documento</label>
                    <input id="idTipoDocumento" type="text" formControlName="tipoDocumento" readonly
                      class="form-control form-control-sm">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group has-float-label">
                    <label for="idNumeroDocumento" class="tamanio-label">N° de Documento</label>
                    <input id="idNumeroDocumento" type="text" formControlName="numeroDocumento" readonly
                      class="form-control form-control-sm">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr style="margin-top: 0px; margin-bottom: 10px;">
      <!-- <div class="row">
        <div class="col-md-4 text-left">
          <input type="radio" [formControl]="opcionAplica" (change)="cambioTabla('comprobantes')" value="1">Aplica a
          Comprobante
        </div>
        <div class="col-md-4 text-left"  style="display: inline-block">
          <input type="radio" [formControl]="opcionAplica" (change)="cambioTabla('cuenta')" value="2">Aplica a la Cuenta
        </div>
      </div> -->
      <br>
      <form [formGroup]="formularioVtaCpteItemNC">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idMotivo" class="tamanio-label">Motivo</label>
              <mat-select id="idMotivo" class="form-control form-control-sm" formControlName="ventaTipoItem"
                [compareWith]="compareFn" (selectionChange)="cambioMotivo()">
                <mat-option *ngFor="let item of resultadosMotivos" [value]="item">
                  {{item.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2"
            *ngIf="formulario.value.tipoComprobante? formulario.value.tipoComprobante.id == 28 : false">
            <div class="form-group has-float-label">
              <label for="idFARechazada" class="tamanio-label">FA (FEC) Rechazada *</label>
              <mat-select id="idFARechazada" class="form-control form-control-sm" formControlName="estaRechazadaFCE">
                <mat-option [value]="true">Sí</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idSubtotalNC" class="tamanio-label">Subtotal N.C.</label>
              <input id="idSubtotalNC" type="text" formControlName="importeNetoGravado"
                class="form-control form-control-sm number-right" [textMask]="mascararImporte(10, 2)"
                (blur)="calcularSubtotalNC()" readonly>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idAlicuotaIVA" class="tamanio-label">Alicuota IVA</label>
              <mat-select id="idAlicuota" type="number" formControlName="afipAlicuotaIva" [compareWith]="compareFn"
                class="form-control form-control-sm number-right" (selectionChange)="calcularSubtotalNC()">
                <mat-option *ngFor="let item of afipAlicuotasIva" [value]="item">
                  {{appService.setDecimales(item.alicuota, 2)}} %
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idSubtotalCIVA" class="tamanio-label">Subtotal c/IVA</label>
              <input id="idSubtotalCIVA" type="text" [formControl]="subtotalCIVA"
                class="form-control form-control-sm number-right" (blur)="calcularSubtotalNC()"
                [textMask]="mascararImporte(10, 2)">
            </div>
          </div>
          <div class="col-md-1">
            <button type="button" mat-raised-button color="primary" (click)="aceptarComprobante()"
              [disabled]="!formularioVtaCpteItemNC.valid || !subtotalCIVA.value">Aceptar</button>
          </div>
          <div class="col-md-1">
            <button type="button" (click)="cancelarComprobante()" mat-raised-button color="primary"
              [disabled]="!formularioVtaCpteItemNC.valid">Cancelar</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="tabla">
          <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
            <ng-container matColumnDef="CHECK">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let elemento; let i=index">
                <mat-checkbox class="cursor-color" (change)="cambioCheck(elemento, i, $event)"
                  *ngIf="formulario.value.tipoComprobante.id !=28" [disabled]="idMod"
                  [attr.checked]="elemento.ventaComprobanteItemNC.length > 0 ? 'checked' : null">
                </mat-checkbox>
                <mat-checkbox class="cursor-color" (change)="cambioCheck(elemento, i, $event)"
                  *ngIf="formulario.value.tipoComprobante.id ==28"
                  [disabled]="elemento.ventaComprobanteItemNC.length == 0 && checkboxs"
                  [attr.checked]="elemento.ventaComprobanteItemNC.length > 0 ? 'checked' : null">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="FECHA_EMISION">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Emisión</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.fechaEmision | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="FECHA_VTO_PAGOS">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Vto Pago</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.fechaVtoPago | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="TIPO">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.tipoComprobante.abreviatura}}</td>
            </ng-container>
            <ng-container matColumnDef="PUNTO_VENTA">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>P. Venta</th>
              <td mat-cell *matCellDef="let elemento">
                {{establecerCerosIzq(elemento.puntoVenta, "0000", -5)}}</td>
            </ng-container>
            <ng-container matColumnDef="LETRA">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Letra</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.letra}}</td>
            </ng-container>
            <ng-container matColumnDef="NUMERO">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Número</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.numero}}</td>
            </ng-container>
            <ng-container matColumnDef="IMPORTE">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
              <td mat-cell *matCellDef="let elemento" class="number-right">
                ${{elemento.importeTotal | number: '1.2-2'}}</td>
            </ng-container>
            <ng-container matColumnDef="SALDO">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
              <td mat-cell *matCellDef="let elemento" class="number-right">
                ${{elemento.importeSaldo | number: '1.2-2'}}
              </td>
            </ng-container>
            <ng-container matColumnDef="MOTIVO">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Motivo</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.ventaComprobanteItemNC.length > 0? elemento.ventaComprobanteItemNC[0].ventaTipoItem.nombre: ''}}
              </td>
            </ng-container>
            <ng-container matColumnDef="SUBTOTAL_NC">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal N.C.</th>
              <td mat-cell *matCellDef="let elemento" class="number-right">
                {{elemento.ventaComprobanteItemNC.length > 0? ('$'+ elemento.ventaComprobanteItemNC[0].importeNetoGravado): ''}}
              </td>
            </ng-container>
            <ng-container matColumnDef="ALIC_IVA">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alícuota IVA</th>
              <td mat-cell *matCellDef="let elemento" class="number-right">
                {{elemento.ventaComprobanteItemNC.length > 0? 
                    ((elemento.ventaComprobanteItemNC[0].afipAlicuotaIva.alicuota | number: '1.2-2') + '%' ): ''}}
              </td>
            </ng-container>
            <ng-container matColumnDef="SUBTOTAL_IVA">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal c/IVA</th>
              <td mat-cell *matCellDef="let elemento" class="number-right">
                {{elemento.ventaComprobanteItemNC.length > 0? 
                    ('$' + (calcularSubtotalConIvaElemento(elemento) | number: '1.2-2')): ''}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasComprobante"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasComprobante;"></tr>
          </table>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="form-group has-float-label">
            <label for="idObservaciones" class="tamanio-label">Observaciones</label>
            <textarea id="idObservaciones" class="form-control form-control-sm" formControlName="observaciones" rows="3"
              autocomplete="off" maxlength="150"></textarea>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col"></div>
        <div class="col-md-2">
          <div class="form-group has-float-label">
            <label for="idImpNoGravado" class="tamanio-label"><b>Imp.No Grav/Exento($)</b></label>
            <input id="idImpNoGravado" type="text" formControlName="importeNoGravado" [textMask]="mascararImporte(8, 2)"
              class="form-control input-bold form-control-sm number-right" placeholder="$ 0.00" readonly>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group has-float-label">
            <label for="idImpNetoGravado" class="tamanio-label"><b>Imp.Neto Gravado($)</b></label>
            <input id="idImpNetoGravado" type="text" formControlName="importeNetoGravado" placeholder="$ 0.00"
              [textMask]="mascararImporte(8, 2)" (blur)="setDecimales(formulario.get('importeNetoGravado'), 2)"
              class="form-control input-bold form-control-sm number-right" readonly>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group has-float-label">
            <label for="idImpIVA" class="tamanio-label"><b>Imp.IVA($)</b></label>
            <input id="idImpIVA" type="text" formControlName="importeIva" placeholder="$ 0.00"
              [textMask]="mascararImporte(8, 2)" (blur)="setDecimales(formulario.get('importeIva'), 2)"
              class="form-control input-bold form-control-sm number-right" readonly>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group has-float-label">
            <label for="idImpTotal" class="tamanio-label"><b>Imp. Total($)</b></label>
            <input id="idImpTotal" type="text" formControlName="importeTotal" placeholder="$ 0.00"
              [textMask]="mascararImporte(8, 2)" (blur)="setDecimales(formulario.get('importeTotal'), 2)"
              class="form-control input-bold form-control-sm number-right" readonly>
          </div>
        </div>
      </div>
      <div class="row justify-content-end" *ngIf="!show">
        <button mat-raised-button color="primary" type="button" style="min-width: fit-content;"
          (click)="agregarNotaCredito()" [disabled]="!formulario.valid">Grabar</button>
      </div>
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </form>
  </div>
</div>