.text-left {
  text-align: left;
}
textarea {
  width: 100%;
}
th {
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  background-color: #FFF;
}
input {
  margin-left: 5px;
}
.form-group {
  margin-bottom: 10px !important;
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
  padding: 0px;
}
.table {
  width: 1860px;
}
/* Estilos para seleccion de ila orden venta*/
tr.ordenVta-no-seleccionada:hover {
  background-color:#50A8FA ;
  cursor: pointer;
}
/* tr > td > #checks:hover {
  background-color:#FFF !important;
} */
.ordenVta-seleccionada {
  background-color:#50A8FA !important;
}
th {
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  background-color: #FFF;
}
/* Estilos para el checkbox */
.checkBoxSelected {
  padding: 1px;
  background-color: #85ce36;
  color: black;
}
.checkBoxNotSelected {
  background-color: #ffffff;
  color: #ffffff;
  padding: 1px;
}