<div class="row container-fluid">
  <div class="col-md-12 text-center">
    <h5>Emitir Nota de Crédito</h5>
    <form [formGroup]="formulario">
      <div class="tamanio-pantalla inline">
        <div class="form-group has-float-label">
          <label for="idFecha" class="tamanio-label">Fecha</label>
          <input id="idFecha" type="date" formControlName="fechaEmision" class="form-control form-control-sm" style="width: 150px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idPuntoVenta" class="tamanio-label">Punto de venta</label>
          <input id="idPuntoVenta" type="number" formControlName="puntoVenta" class="form-control form-control-sm" style="width: 117px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idLetra" class="tamanio-label">Letra</label>
          <input id="idLetra" type="text" formControlName="letra" class="form-control form-control-sm" readonly style="width: 50px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idNumero" class="tamanio-label">Número</label>
          <input id="idNumero" type="number" formControlName="numero" class="form-control form-control-sm" readonly style="width: 70px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigoAfip" class="tamanio-label">Código Afip</label>
          <input id="idCodigoAfip" type="text" formControlName="codigoAfip" class="form-control form-control-sm" readonly style="width: 95px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idTipoComprobante" class="tamanio-label">Tipo de Comprobante</label>
          <input id="idTipoComprobante" type="text" [formControl]="tipoComprobante" class="form-control form-control-sm" readonly style="width: 161px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idJurisdiccion" class="tamanio-label">Jurisdicción</label>
          <input id="idJurisdiccion" type="text" formControlName="jurisdiccion" class="form-control form-control-sm" style="width: 99px;">
        </div>
      </div>
      <hr style="margin-top: 0px; margin-bottom: 10px;">
      <div class="tamanio-pantalla inline" formGroupName="cli">
        <div class="">
          <div class="form-group has-float-label">
            <label for="idCliente" class="tamanio-label">Cliente</label>
            <input id="idCliente" type="text" class="form-control form-control-sm" style="width: 400px;" 
                matInput [formControl]="formulario.get('cliente')" [matAutocomplete]="autoCliente" autocomplete="off">
                <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayF.bind(this)" (optionSelected)="cargarDatosCliente()">
                  <mat-option *ngFor="let itemCliente of resultadosClientes" [value]="itemCliente" >
                    {{itemCliente.alias}}
                  </mat-option>
                </mat-autocomplete>
          </div>
          <div class="form-group has-float-label">
            <label for="idDomicilio" class="tamanio-label">Domicilio</label>
            <input id="idDomicilio" type="text" formControlName="domicilio" class="form-control form-control-sm" readonly style="width: 300px;">
          </div>
          <div class="form-group has-float-label">
            <label for="idLocalidad" class="tamanio-label">Localidad</label>
            <input id="idLocalidad" type="text" formControlName="localidad" class="form-control form-control-sm" readonly style="width: 300px;">
          </div>
        </div>
        <div style="margin-left: 30px;">
          <div class="inline">
            <div class="form-group has-float-label">
              <label for="idTipoDocumento" class="tamanio-label">Tipo Documento</label>
              <input id="idTipoDocumento" type="text" formControlName="tipoDocumento" class="form-control form-control-sm" readonly style="width: 180px;">
            </div>
            <div class="form-group has-float-label">
              <label for="idNumeroDocumento" class="tamanio-label">N° Documento</label>
              <input id="idNumeroDocumento" type="number" formControlName="numeroDocumento" class="form-control form-control-sm" readonly style="width: 180px;">
            </div>
          </div>
          <div class="form-group has-float-label ">
            <label for="idCondicionIva" class="tamanio-label">Condición de IVA</label>
            <input id="idCondicionIva" type="text" formControlName="afipCondicionIva" class="form-control form-control-sm" readonly style="width: 180px;">
          </div>
          <div class="form-group has-float-label">
            <label for="idCondicionesVenta" class="tamanio-label">Condiciones de Venta</label>
            <input id="idCondicionesVenta" type="text" formControlName="condicionVenta" class="form-control form-control-sm" readonly style="width: 180px;">
          </div>
        </div>
      </div>
      <hr style="margin-top: 0px; margin-bottom: 10px;">
      <div class="row">
        <div class="col-md-4 text-left">
          <input type="radio" name="opcion" (click)="cambiarTablaComp()" checked>Aplica a Comprobante
        </div>
        <div class="col-md-4 text-left">
          <input type="radio" name="opcion" (click)="cambiarTablaCuenta()">Aplica a la Cuenta
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-12" style="height: 200px; overflow-y: scroll;" *ngIf="tablaVisible">
          <table class="table table-bordered table-striped table-sm table-condensed" id="tablaComprobante">
            <thead>
              <tr>
                <th class="text-center" style="width:10%;" scope="col">Tipo Abrev.</th>
                <th class="text-center" style="width:10%" scope="col">N° de Comprobante</th>
                <th class="text-center" style="width:5%" scope="col">Fecha</th>
                <th class="text-center" style="width:5%" scope="col">Importe</th>
                <th class="text-center" style="width:5%" scope="col">Saldo</th>
                <th class="text-center" style="width:10%" scope="col">Seleccionar</th>
                <th class="text-center" style="width:10%" scope="col">Concepto</th>
                <th class="text-center" style="width:10%" scope="col">Subtotal N.C.</th>
                <th class="text-center" style="width:10%" scope="col">Alicuota IVA</th>
                <th class="text-center" style="width:10%" scope="col">Subtotal c/IVA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div><br>
        <div class="col-md-12" style=" height: 200px; overflow-y: scroll;" *ngIf="!tablaVisible">
          <table class="table table-bordered table-striped table-sm table-condensed" id="tablaCuenta">
            <thead>
              <tr>
                <th class="text-center" style="width:10%" scope="col">Concepto</th>
                <th class="text-center" style="width:10%" scope="col">Subtotal N.C.</th>
                <th class="text-center" style="width:10%" scope="col">Alicuota IVA</th>
                <th class="text-center" style="width:10%" scope="col">Subtotal c/IVA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="inline">
        <div class="form-group has-float-label">
          <label for="idObservaciones" class="tamanio-label">Observaciones</label>
          <textarea id="idObservaciones" class="form-control form-control-sm" formControlName="observaciones" rows="3" autocomplete="off"
            [readonly]="soloLectura" style="width: 560px;"></textarea>
        </div>
        <span class="spacer"></span>
        <div class="form-group has-float-label">
          <label for="idImporteNoGravado" class="tamanio-label">Importe No Grav/Exento ($)</label>
          <input id="idImporteNoGravado" type="text" formControlName="importeNoGravado" class="form-control form-control-sm" style="width: 197px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idImporteGravado" class="tamanio-label">Importe Neto Gravado ($)</label>
          <input id="idImporteGravado" type="text" formControlName="importeNetoGravado" class="form-control form-control-sm" style="width: 182px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idImporteIva" class="tamanio-label">Importe IVA ($)</label>
          <input id="idImporteIva" type="text" formControlName="importeIva" class="form-control form-control-sm" style="width: 116px;">
        </div>
        <div>
          <div class="form-group has-float-label">
            <label for="idImporteTotal" class="tamanio-label">Importe Total ($)</label>
            <input id="idImporteTotal" type="text" formControlName="importeTotal" class="form-control form-control-sm" style="width: 125px;">
          </div>
          <button class="btn btn-primary" type="button" style="width: 125px;">Emitir</button>
        </div>
      </div>
    </form>
  </div>
</div>