<div id="companiaseguropoliza" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>POLIZA COMPANIA SEGURO</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3">
    <div class="col-md-6 text-center">
      <h5>{{pestaniaActual}} Póliza de Compañia de Seguro</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Compañia de Seguro</label>
              <input id="idCodigo" type="number" formControlName="companiaSeguro"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label id="labelUsername" for="idUsername" class="tamanio-label">Empresa</label>
              <input id="idUsername" type="text" formControlName="empresa" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label id="labelUsername" for="idUsername" class="tamanio-label">Número de Póliza</label>
              <input id="idUsername" type="text" formControlName="numeroPoliza" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label id="labelUsername" for="idUsername" class="tamanio-label">Vencimiento de Póliza</label>
              <input id="idUsername" type="text" formControlName="vtoPoliza" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row contenedor" *ngIf="indiceSeleccionado == 4">
      <div class="col-md-4 ">
          <form [formGroup]="formulario" class="contenedor">
          <div class="form-group has-float-label ">
            <label id="labelUsername" for="idUsername" class="tamanio-label">Compañia de Seguro</label>
            <input id="idUsername" type="text" formControlName="empresa" autocomplete="off"
                class="form-control form-control-sm">
          </div>
        </form>
      </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="text-center" style="width:20%" scope="col">Empresa</th>
              <th class="text-center" style="width:30%" scope="col">Número de Póliza</th>
              <th class="text-center" style="width:30%" scope="col">Vto. Póliza</th>
              <th class="text-center" style="width:20%" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center cursor-color"><span >X</span></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center cursor-color"><span >X</span></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center cursor-color"><span >X</span></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row contenedor" *ngIf="indiceSeleccionado == 5 || indiceSeleccionado == 2">
      <div class="col-md-4 ">
          <form [formGroup]="formulario" class="contenedor">
          <div class="form-group has-float-label ">
            <label id="labelUsername" for="idUsername" class="tamanio-label">Compañia de Seguro</label>
            <input id="idUsername" type="text" formControlName="empresa" autocomplete="off"
                class="form-control form-control-sm" >
          </div>
        </form>
      </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="text-center" style="width:20%" scope="col">Empresa</th>
              <th class="text-center" style="width:30%" scope="col">Número de Póliza</th>
              <th class="text-center" style="width:30%" scope="col">Vto. Póliza</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr >
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>