<div id="subopcionpestania" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <br><h3>Reestablecer Tabla SubopcionPestania</h3>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-6 text-center">
      <button mat-raised-button color="primary">Reestablecer Manteniendo Datos</button>
    </div>
    <div class="col-md-6 text-center">
      <button mat-raised-button color="primary" (click)="openDialog()">Reestablecer Desde Cero</button>
    </div>
  </div>
</div>