<div id="proveedor" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>PROVEEDOR</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div *ngIf="indiceSeleccionado < 5">
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="true" [fixedTopGap]="165"
        [fixedBottomGap]="0" [ngClass]="indiceSeleccionado > 1 ? 'top2' : 'top1'">
        <div class="container-fluid">
          <div class="row contenedor" *ngFor="let listaOp of opciones; let idx = index">
            <div class="col">
              <button [ngClass]="{true:'activar-boton-subopcion'}[botonOpcionActivo === idx]" type="button"
                class="btn btn-outline-primary btn-block" (click)="seleccionarOpcion(listaOp.id, idx)">
                {{listaOp.nombre}}</button>
            </div>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="sidenav-content">
        <div class="container-fluid">
          <div class="row contenedor">
            <div class="col">
              <form [formGroup]="formulario">
                <div class="row justify-content-center">
                  <h5>{{pestaniaActual}} Proveedor</h5>
                </div>
                <div class="contenedor-top-titulo">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
                        <label for="idAutocompletado" class="tamanio-label">Buscar Proveedor</label>
                        <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" type="text"
                          matInput [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off"
                          (blur)="verificarSeleccion(autocompletado)">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayF.bind(this)"
                          (optionSelected)="establecerFormulario()">
                          <mat-option *ngFor="let item of resultados" [value]="item">
                            {{item.alias}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1">
                      <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group has-float-label">
                        <label for="idCodigo" class="tamanio-label-titulo">N° de Cuenta</label>
                        <input id="idCodigo" type="number" formControlName="id"
                          class="form-control form-control-sm number-right" readonly>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label id="labelRazonSocial" for="idRazonSocial" class="tamanio-label-titulo">Razón Social
                          *</label>
                        <input id="idRazonSocial" type="text" formControlName="razonSocial" autocomplete="off"
                          class="form-control form-control-sm upper-case" [readonly]="soloLectura" maxlength="45"
                          (ngModelChange)="cambioCampo('idRazonSocial', 'labelRazonSocial')">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idNombreFantasia" class="tamanio-label-titulo">Nombre Fantasia</label>
                        <input id="idNombreFantasia" type="text" formControlName="nombreFantasia" autocomplete="off"
                          class="form-control form-control-sm" maxlength="45" [readonly]="soloLectura">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label id="labelSitioweb" for="idSitioWeb" class="tamanio-label-titulo">Sitio Web</label>
                        <input id="idSitioWeb" type="text" formControlName="sitioWeb" autocomplete="off"
                          class="form-control form-control-sm" [readonly]="soloLectura"
                          (ngModelChange)="cambioCampo('idSitioWeb', 'labelSitioweb')" maxlength="60">
                        <!-- pattern="^((w{3})(\.)([0-9a-zA-Z])+(\.)(com.ar|com|net|org))*$"
                          (blur)="validarPatron('^((w{3})(\.)([0-9a-zA-Z])+(\.)(com.ar|com|net|org))*$', 'sitioWeb')" -->
                      </div>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 8">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idDomicilio" class="tamanio-label">Domicilio *</label>
                        <input id="idDomicilio" type="text" formControlName="domicilio" autocomplete="off"
                          class="form-control form-control-sm" maxlength="60" [readonly]="soloLectura">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idBarrio" class="tamanio-label">Barrio</label>
                        <input id="idBarrio" class="form-control form-control-sm" type="text" matInput
                          [formControl]="formulario.get('barrio')" [matAutocomplete]="autoBarrio" autocomplete="off"
                          [readonly]="soloLectura" (blur)="verificarSeleccion(formulario.get('barrio'))">
                        <mat-autocomplete #autoBarrio="matAutocomplete" [displayWith]="displayFa.bind(this)">
                          <mat-option *ngFor="let itemBarrio of resultadosBarrios" [value]="itemBarrio">
                            {{itemBarrio.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idLocalidad" class="tamanio-label">Localidad *</label>
                        <input id="idLocalidad" class="form-control form-control-sm" type="text" matInput
                          [formControl]="formulario.get('localidad')" [matAutocomplete]="autoLocalidad"
                          autocomplete="off" [readonly]="soloLectura"
                          (blur)="verificarSeleccion(formulario.get('localidad'))">
                        <mat-autocomplete #autoLocalidad="matAutocomplete" [displayWith]="displayFb.bind(this)">
                          <mat-option *ngFor="let itemLocalidad of resultadosLocalidades" [value]="itemLocalidad">
                            {{itemLocalidad.nombre}}, {{itemLocalidad.provincia.nombre}},
                            {{itemLocalidad.provincia.pais.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label id="labelTelefono" for="idTelefonoFijo" class="tamanio-label">Teléfono</label>
                        <input id="idTelefono" type="tel" formControlName="telefono" autocomplete="off"
                          class="form-control form-control-sm number-right" [readonly]="soloLectura">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idTipoProveedor" class="tamanio-label">Tipo de Proveedor *</label>
                        <mat-select id="idTipoProveedor" class="form-control form-control-sm"
                          formControlName="tipoProveedor" [compareWith]="compareFn">
                          <mat-option *ngFor="let itemTipoProveedor of tiposProveedores" [value]="itemTipoProveedor">
                            {{itemTipoProveedor.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idCondicionIva" class="tamanio-label">Condición de Iva *</label>
                        <mat-select id="idCondicionIva" class="form-control form-control-sm"
                          formControlName="afipCondicionIva" [compareWith]="compareFn">
                          <mat-option *ngFor="let itemCondicionIva of condicionesIva" [value]="itemCondicionIva">
                            {{itemCondicionIva.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idTipoDocumento" class="tamanio-label">Tipo de Documento *</label>
                        <mat-select id="idTipoDocumento" class="form-control form-control-sm"
                          formControlName="tipoDocumento" [compareWith]="compareFn">
                          <mat-option *ngFor="let itemTipoDocumento of tiposDocumentos" [value]="itemTipoDocumento">
                            {{itemTipoDocumento.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label id="labelNumeroDocumento" for="idNumeroDocumento" class="tamanio-label">N° de Documento
                          *</label>
                        <input id="idNumeroDocumento" type="text" formControlName="numeroDocumento" autocomplete="off"
                          class="form-control form-control-sm number-right" [readonly]="soloLectura"
                          (blur)="validarDocumento()"
                          (ngModelChange)="cambioCampo('idNumeroDocumento', 'labelNumeroDocumento')">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idNumeroIIBB" class="tamanio-label">N° de Ingresos Brutos</label>
                        <input id="idNumeroIIBB" type="text" formControlName="numeroIIBB" autocomplete="off"
                          class="form-control form-control-sm number-right" [textMask]="mascararEnteros(15)"
                          [readonly]="soloLectura">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 9">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idCondicionCompra" class="tamanio-label">Condición de Compra *</label>
                        <mat-select id="idCondicionCompra" class="form-control form-control-sm"
                          formControlName="condicionCompra" [compareWith]="compareFn">
                          <mat-option *ngFor="let itemCondicionCompra of condicionesCompras"
                            [value]="itemCondicionCompra">
                            {{itemCondicionCompra.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <!-- <div class="form-group has-float-label">
                        <label for="idCuentaGasto" class="tamanio-label">Cuenta de Gasto</label>
                        <input id="idCuentaGasto" class="form-control form-control-sm" formControlName="cuentaGasto"
                          type="text" matInput [matAutocomplete]="autoCuentaGasto" autocomplete="off"
                          [(ngModel)]="elemento.cuentaGasto" [readonly]="soloLectura">
                        <mat-autocomplete #autoCuentaGasto="matAutocomplete" [displayWith]="displayFa.bind(this)">
                          <mat-option *ngFor="let itemCuentaGasto of cuentasGastos" [value]="itemCuentaGasto">
                            {{itemCuentaGasto.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </div> -->
                    </div>
                    <div class="col-md-3">
                      <!-- <div class="form-group has-float-label">
                        <label for="idCuentaPasivo" class="tamanio-label">Cuenta de Pasivo</label>
                        <input id="idCuentaPasivo" class="form-control form-control-sm" formControlName="cuentaPasivo"
                          type="text" matInput [matAutocomplete]="autoCuentaPasivo" autocomplete="off"
                          [(ngModel)]="elemento.cuentaPasivo" [readonly]="soloLectura">
                        <mat-autocomplete #autoCuentaPasivo="matAutocomplete" [displayWith]="displayFa.bind(this)">
                          <mat-option *ngFor="let itemCuentaPasivo of cuentasPasivos" [value]="itemCuentaPasivo">
                            {{itemCuentaPasivo.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </div> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idEstaActivo" class="tamanio-label">Estado *</label>
                        <mat-select id="idEstaActivo" class="form-control form-control-sm" formControlName="estaActiva">
                          <mat-option [value]="true">Activa</mat-option>
                          <mat-option [value]="false">Suspendida</mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <h6>Asignar Cuenta Contable</h6>
                      <table mat-table [dataSource]="planesCuentas" matSort class="mat-elevation-z1">
                        <ng-container matColumnDef="empresa">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
                          <td mat-cell *matCellDef="let elemento">{{elemento.empresa.razonSocial}}</td>
                        </ng-container>
                        <ng-container matColumnDef="cuentaContable">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Contable Compra</th>
                          <td mat-cell *matCellDef="let elemento">
                            {{elemento.planCuentaCompra ? elemento.planCuentaCompra.nombre : null}}</td>
                        </ng-container>
                        <ng-container matColumnDef="planCuenta">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Plan de Cuenta</th>
                          <td mat-cell *matCellDef="let elemento">
                            <button mat-icon-button class="mat-icon-button-table" (click)="asignarPlanCuenta(elemento)"
                              *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3"
                              matTooltip="Asignar Plan de Cuenta" matTooltipPosition="above">
                              <mat-icon>assignment</mat-icon>
                            </button>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="eliminar">
                          <th mat-header-cell *matHeaderCellDef>-</th>
                          <td mat-cell *matCellDef="let elemento;">
                            <button mat-icon-button class="mat-icon-button-table" (click)="eliminarPlanCuenta(elemento)"
                              *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3" matTooltip="Eliminar"
                              matTooltipPosition="above">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnasPlanCuenta"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnasPlanCuenta;"></tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 10">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idBanco" class="tamanio-label">Banco</label>
                        <input id="idBanco" class="form-control form-control-sm" type="text" matInput
                          [formControl]="formulario.get('banco')" [matAutocomplete]="autoBanco" autocomplete="off"
                          [readonly]="soloLectura" (blur)="verificarSeleccion(formulario.get('banco'))">
                        <mat-autocomplete #autoBanco="matAutocomplete" [displayWith]="displayFa.bind(this)">
                          <mat-option *ngFor="let itemBanco of resultadosBancos" [value]="itemBanco">
                            {{itemBanco.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idTipoCuentaBancaria" class="tamanio-label">Tipo de Cuenta</label>
                        <mat-select id="idTipoCuentaBancaria" class="form-control form-control-sm"
                          formControlName="tipoCuentaBancaria" [compareWith]="compareFn">
                          <mat-option *ngFor="let itemTipoCuentaBancaria of tiposCuentasBancarias"
                            [value]="itemTipoCuentaBancaria">
                            {{itemTipoCuentaBancaria.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idNumeroCuenta" class="tamanio-label">N° de Cuenta</label>
                        <input id="idNumeroCuenta" type="text" formControlName="numeroCuenta" autocomplete="off"
                          class="form-control form-control-sm number-right" maxlength="20" [readonly]="soloLectura">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idTitular" class="tamanio-label">Titular</label>
                        <input id="idTitular" type="text" formControlName="titular" autocomplete="off"
                          class="form-control form-control-sm" [readonly]="soloLectura" maxlength="45">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idNumeroCBU" class="tamanio-label">N° de CBU/CVU</label>
                        <input id="idNumeroCBU" type="text" formControlName="numeroCBU" autocomplete="off"
                          class="form-control form-control-sm number-right" [textMask]="mascararEnteros(22)"
                          [readonly]="soloLectura" maxlength="22" (blur)="verificarCBU()">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idAliasCBU" class="tamanio-label">Alias CBU</label>
                        <input id="idAliasCBU" type="text" formControlName="aliasCBU" autocomplete="off"
                          class="form-control form-control-sm" maxlength="45" [readonly]="soloLectura">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 11">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-float-label">
                        <label for="idObservaciones" class="tamanio-label">Observaciones</label>
                        <textarea id="idObservaciones" class="form-control form-control-sm"
                          formControlName="observaciones" rows="4" maxlength="400" [readonly]="soloLectura"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-float-label">
                        <label for="idIngresarComprobante" class="tamanio-label">Al Ingresar Comprobante</label>
                        <textarea id="idIngresarComprobante" class="form-control form-control-sm"
                          formControlName="notaIngresarComprobante" rows="2" maxlength="200"
                          [readonly]="soloLectura"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-float-label">
                        <label for="idImprimirOrdenPago" class="tamanio-label">Al Imprimir Orden de Pago</label>
                        <textarea id="idImprimirOrdenPago" class="form-control form-control-sm"
                          formControlName="notaImpresionOrdenPago" maxlength="200" rows="2"
                          [readonly]="soloLectura"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 13">

                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 14">

                </div>
                <br>
                <div class="row">
                  <div class="centrar">
                    <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
                      (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
                      {{pestaniaActual}}
                    </button>
                    <div class="row" *ngIf="show">
                      <div class="col text-center">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="row justify-content-center" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-10">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <br>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="RAZON_SOCIAL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Razón Social</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.razonSocial}}</td>
        </ng-container>
        <ng-container matColumnDef="TIPO_DOCUMENTO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.tipoDocumento.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="NUMERO_DOCUMENTO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Documento</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.numeroDocumento}}</td>
        </ng-container>
        <ng-container matColumnDef="TELEFONO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.telefono}}</td>
        </ng-container>
        <ng-container matColumnDef="DOMICILIO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Domicilio</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.domicilio}}</td>
        </ng-container>
        <ng-container matColumnDef="LOCALIDAD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Localidad</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.localidad.nombre}}, {{elemento.localidad.provincia.nombre}}
          </td>
        </ng-container>
        <ng-container matColumnDef="EDITAR" stickyEnd>
          <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
              (click)="abrirReporte()">Reporte</button></th>
          <td mat-cell *matCellDef="let elemento">
            <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
              matTooltip="Consultar" matTooltipPosition="above">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-button-table margin-left-3" (click)="activarActualizar(elemento)"
              matTooltip="Editar" matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>