<h1 mat-dialog-title>Tabla RolSubopcion</h1>
<div mat-dialog-content>
    <p>Está seguro que desea reestablecer la tabla desde cero?</p>
</div>
<div mat-dialog-actions>
    <button mat-button [disabled]="progresoActivo" (click)="cancelar()" cdkFocusInitial>Cancelar</button>
    <button mat-button [disabled]="progresoActivo" (click)="aceptar()">Aceptar</button>
</div>
<br><br>
<span *ngIf="progresoActivo">Reestableciendo...</span>
<mat-progress-bar *ngIf="progresoActivo" mode="indeterminate"></mat-progress-bar>