<div id="companiaseguropoliza" class="container-fluid">
  <div class="row justify-content-center contenedor">
    <div class="col-md-10 text-center">
      <h5>{{pestaniaActual}} Moneda Cotización</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row justify-content-center">
          <div class="col-md-3">
            <div class="form-group has-float-label ">
              <label for="idNombre" class="labelMoneda">Monedas</label>
              <mat-select class="form-control form-control-sm" id="idNombre" formControlName="moneda"
                [compareWith]="compareFn" (selectionChange)="cambioSeleccionado()">
                <mat-option *ngFor="let moneda of listaMonedas" [value]="moneda">
                  {{moneda.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idFechaCotizacion" class="labelFechaCotizacion">Fecha Cotizacion *</label>
              <input id="idCodigo" type="date" formControlName="fecha" [readonly]="soloLectura"
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idValor" class="labelValor">Valor *</label>
              <input id="idValor" type="text" formControlName="valor" [readonly]="soloLectura" placeholder="$ 0.00"
                class="form-control form-control-sm" [textMask]="obtenerMascaraImporte(8, 2)"
                (blur)="desenmascararImporte()">
            </div>
          </div>
          <div class="col-md-1" *ngIf="mostrarAgregar && !show">
            <button id="idBoton" mat-raised-button color="primary" formnovalidate (click)="agregar()"
              [disabled]="!formulario.valid">
              Agregar
            </button>
          </div>
          <div class="col-md-1" *ngIf="!mostrarAgregar && !show">
            <button id="idBoton" mat-raised-button color="primary" formnovalidate (click)="actualizar()"
              [disabled]="!formulario.valid">
              Actualizar
            </button>
          </div>
        </div>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <br>
            <table mat-table [dataSource]="listaMonedaCotizacion" matSort class="mat-elevation-z1">
              <ng-container matColumnDef="MONEDA">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                <td mat-cell *matCellDef="let elemento">{{elemento.moneda.nombre}}</td>
              </ng-container>
              <ng-container matColumnDef="FECHA">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Cotización</th>
                <td mat-cell *matCellDef="let elemento">{{elemento.fecha | date: 'dd/MM/yyyy'}}</td>
              </ng-container>
              <ng-container matColumnDef="VALOR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                <td mat-cell *matCellDef="let elemento">$ {{returnDecimales(elemento.valor, 2)}}</td>
              </ng-container>
              <ng-container matColumnDef="EDITAR" stickyEnd>
                <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
                    (click)="abrirReporte()">Reporte</button></th>
                <td mat-cell *matCellDef="let elemento">
                  <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
                    matTooltip="Consultar" matTooltipPosition="above">
                    <mat-icon>search</mat-icon>
                  </button>
                  <button mat-icon-button class="mat-icon-button-table margin-left-3"
                    (click)="activarActualizar(elemento)" matTooltip="Editar" matTooltipPosition="above">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnas"></tr>
              <tr mat-row *matRowDef="let row; columns: columnas"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>