<div id="companiaseguropoliza" class="container-fluid">
  <div class="row justify-content-center contenedor">
    <div class="col-md-10 text-center">
      <h5>{{pestaniaActual}} Moneda Cotización</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row justify-content-center">
          <div class="col-md-3">
            <div class="form-group has-float-label ">
              <label for="idNombre" class="labelMoneda">Monedas</label>
              <mat-select class="form-control form-control-sm" id="idNombre" formControlName="moneda"
                [compareWith]="compareFn" (selectionChange)="cambioSeleccionado()">
                <mat-option *ngFor="let moneda of listaMonedas" [value]="moneda">
                  {{moneda.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idFechaCotizacion" class="labelFechaCotizacion">Fecha Cotizacion *</label>
              <input id="idCodigo" type="date" formControlName="fecha" [readonly]="soloLectura"
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idValor" class="labelValor">Valor *</label>
              <input id="idValor" type="number" formControlName="valor" [readonly]="soloLectura"
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-1" *ngIf="mostrarAgregar && !show">
            <button id="idBoton" mat-raised-button color="primary" formnovalidate (click)="agregar()"
              [disabled]="!formulario.valid">
              Agregar
            </button>
          </div>
          <div class="col-md-1" *ngIf="!mostrarAgregar && !show">
            <button id="idBoton" mat-raised-button color="primary" formnovalidate (click)="actualizar()"
              [disabled]="!formulario.valid">
              Actualizar
            </button>
          </div>
        </div>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <app-progreso></app-progreso>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <br>
            <table mat-table [dataSource]="listaMonedaCotizacion" matSort class="mat-elevation-z1">
              <ng-container matColumnDef="moneda" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                <td mat-cell *matCellDef="let elemento">{{elemento.moneda.nombre}}</td>
              </ng-container>
              <ng-container matColumnDef="fecha" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Cotización</th>
                <td mat-cell *matCellDef="let elemento">{{elemento.fecha}}</td>
              </ng-container>
              <ng-container matColumnDef="valor" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                <td mat-cell *matCellDef="let elemento">{{elemento.valor}}</td>
              </ng-container>
              <ng-container matColumnDef="ver" sticky>
                <th mat-header-cell *matHeaderCellDef>-</th>
                <td mat-cell *matCellDef="let elemento"><span class="cursor-color">X</span></td>
              </ng-container>
              <ng-container matColumnDef="mod" sticky>
                <th mat-header-cell *matHeaderCellDef>-</th>
                <td mat-cell *matCellDef="let elemento" (click)="activarActualizar(elemento)"><span
                    class="cursor-color">Mod</span></td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnas"></tr>
              <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>