<div class="container-fluid">
    <br>
    <div class="row justify-content-center" *ngIf="show">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    <div class="row justify-content-center contenedor" *ngIf="!show">
        <div class="col-md-6">
            <div class="row justify-content-end">
                <div class="col-md-3">
                    <h4 style="font-weight: 700;">{{fecha | date: 'dd-MM-yyyy'}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h1 style="color: #4844FC;font-weight: 500;font-size: 86px;">Bienvenido</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                   <h2 style="color: #4844FC;font-size: 80px;">{{usuario.nombre}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img src="assets/fondo-home.png">
                </div>
            </div>
        </div>
    </div>
</div>