<div class="conteiner-fluid padd-20">
    <div class="row justify-content-center">
        <h4>Guías de Servicio</h4>
    </div>
    <div class="row">
        <div class="tabla mat-elevation-z1">
            <table mat-table [dataSource]="listaCompleta" matSort>
                <ng-container matColumnDef="ID" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
                </ng-container>
                <ng-container matColumnDef="empresa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.empresaEmision.razonSocial}}</td>
                </ng-container>
                <ng-container matColumnDef="sucursal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.sucursal.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.fecha | date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="vehiculo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehículo</th>
                    <td mat-cell *matCellDef="let elemento">
                        {{elemento.vehiculo ? elemento.vehiculo.alias : elemento.vehiculoProveedor.alias}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="remolque">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Remolque</th>
                    <td mat-cell *matCellDef="let elemento">
                        {{elemento.vehiculoRemolque ? elemento.vehiculoRemolque.alias : elemento.vehiculoRemolqueProveedor.alias}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="chofer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Chofer</th>
                    <td mat-cell *matCellDef="let elemento">
                        {{elemento.personal ? elemento.personal.alias : elemento.choferProveedor.alias}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="seleccionar" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let elemento">
                        <button mat-icon-button class="mat-icon-button-table" [mat-dialog-close]="elemento.id"
                            matTooltip="Seleccionar" matTooltipPosition="above">
                            <mat-icon>select_all</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary" (click)="cerrar()">Cerrar</button>
    </div>
</div>