<div *ngIf="!render" class="row justify-content-center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="render" id="viaje" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
    <div class="row">
        <div class="col" class="centrar">
            <nav mat-tab-nav-bar>
                <a mat-tab-link disabled>GUIA DE SERVICIO</a>
                <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
                    (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
            </nav>
        </div>
    </div>
    <div class="contenedor" *ngIf="indiceSeleccionado < 5">
        <mat-card style="background-color: #F8F9FA">
            <div class="row">
                <div class="col">
                    <form [formGroup]="formularioViaje">
                        <div class="row" *ngIf="mostrarAutocompletado">
                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <label for="idAutocompletado" class="tamanio-label">Buscar Guía de Servicio</label>
                                    <input id="idAutocompletado" class="form-control form-control-sm color-busqueda"
                                        autocomplete="off" type="text" matInput [formControl]="autocompletado"
                                        [matAutocomplete]="auto"
                                        placeholder="Buscar por N° GS, Fecha, Empresa o Chofer">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"
                                        (optionSelected)="cambioAutocompletado()">
                                        <mat-option *ngFor="let item of resultados" [value]="item">
                                            {{item.alias}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idCodigo" class="tamanio-label-titulo">N° Guía Servicio</label>
                                    <input id="idCodigo" type="number" formControlName="id"
                                        class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idFecha" class="tamanio-label-titulo">Fecha</label>
                                    <input id="idFecha" type="date" formControlName="fecha" autocomplete="off"
                                        class="form-control form-control-sm" [readonly]="soloLecturaCabecera">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idEsPropio" class="tamanio-label-titulo">Tipo de Viaje *</label>
                                    <mat-select id="idEsPropio" class="form-control form-control-sm"
                                        [formControl]="tipoViaje" (selectionChange)="establecerTipoViaje()">
                                        <mat-option [value]="false">Tercerizado</mat-option>
                                        <mat-option [value]="true">Propio</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idEsRemolquePropio" class="tamanio-label-titulo">Tipo de Remolque
                                        *</label>
                                    <mat-select id="idEsRemolquePropio" class="form-control form-control-sm"
                                        formControlName="esRemolquePropio">
                                        <mat-option [value]="false">Tercerizado</mat-option>
                                        <mat-option [value]="true">Propio</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idSucursal" class="tamanio-label-titulo">Sucursal *</label>
                                    <mat-select id="idSucursal" class="form-control form-control-sm"
                                        formControlName="sucursal" [compareWith]="compareFn">
                                        <mat-option *ngFor="let itemSucursal of sucursales" [value]="itemSucursal">
                                            {{itemSucursal.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idUsuario" class="tamanio-label-titulo">Usuario</label>
                                    <input id="idUsuario" type="text" class="form-control form-control-sm" readonly
                                        [formControl]="usuarioNombre">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group has-float-label">
                                    <label for="idVehiculo" class="tamanio-label-titulo">Vehículo *</label>
                                    <input id="idVehiculo" class="form-control form-control-sm" type="text" matInput
                                        [formControl]="tipoViaje.value ? formularioViaje.get('vehiculo') : formularioViaje.get('vehiculoProveedor')"
                                        [matAutocomplete]="autoVehiculo" autocomplete="off"
                                        [readonly]="soloLecturaCabecera"
                                        placeholder="Buscar por Dominio o Tipo/Marca Vehículo" required>
                                    <mat-autocomplete #autoVehiculo="matAutocomplete"
                                        [displayWith]="displayFn.bind(this)">
                                        <mat-option *ngFor="let itemVehiculo of resultadosVehiculos"
                                            [value]="itemVehiculo">
                                            {{itemVehiculo.alias}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row">
                                    <button mat-raised-button class="btn-width">Vtos</button>
                                    <button mat-raised-button class="btn-width">Conf.</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group has-float-label">
                                    <label for="idVehiculoRemolque" class="tamanio-label-titulo">Vehículo Remolque
                                        *</label>
                                    <input id="idVehiculoRemolque" class="form-control form-control-sm" type="text"
                                        matInput
                                        [formControl]="formularioViaje.get('esRemolquePropio').value ? formularioViaje.get('vehiculoRemolque') : formularioViaje.get('vehiculoProveedor')"
                                        [matAutocomplete]="autoVehiculoRemolque" autocomplete="off"
                                        [readonly]="soloLecturaCabecera"
                                        placeholder="Buscar por Dominio o Tipo/Marca Vehículo" required>
                                    <mat-autocomplete #autoVehiculoRemolque="matAutocomplete"
                                        [displayWith]="displayFn.bind(this)">
                                        <mat-option *ngFor="let itemVehiculoRemolque of resultadosVehiculosRemolques"
                                            [value]="itemVehiculoRemolque">
                                            {{itemVehiculoRemolque.alias}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row">
                                    <button mat-raised-button class="btn-width">Vtos</button>
                                    <button mat-raised-button class="btn-width">Conf.</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group has-float-label">
                                    <label for="idPersonal" class="tamanio-label-titulo">Chofer *</label>
                                    <input id="idPersonal" class="form-control form-control-sm" type="text" matInput
                                        [formControl]="tipoViaje.value ? formularioViaje.get('personal') : formularioViaje.get('choferProveedor')"
                                        [matAutocomplete]="autoChofer" autocomplete="off"
                                        [readonly]="soloLecturaCabecera"
                                        placeholder="Buscar por N° Legajo, Nombre o Num. Doc." required>
                                    <mat-autocomplete #autoChofer="matAutocomplete"
                                        [displayWith]="displayFn.bind(this)">
                                        <mat-option *ngFor="let itemChofer of resultadosChoferes" [value]="itemChofer">
                                            {{itemChofer.alias}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row">
                                    <button mat-raised-button class="btn-width">Vtos</button>
                                    <button mat-raised-button class="btn-width" (click)="agregarViaje()" *ngIf="idMod == null">Abrir Viaje</button>
                                    <button mat-raised-button class="btn-width" (click)="actualizarViaje()" *ngIf="idMod != null">Mod. Viaje</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-horizontal-stepper [linear]="!estadoFormulario" (selectionChange)="onStepChange($event)" #stepper>
            <ng-template matStepperIcon="edit" let-index="index">
                {{index+1}}
            </ng-template>
            <mat-step [stepControl]="formularioViaje">
                <ng-template matStepLabel>Tramos</ng-template><br>
                <form [formGroup]="formularioViajeTramo">
                    <app-viaje-tramo (dataEvent)="recibirTramos($event)"></app-viaje-tramo>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajeCombustible">
                <ng-template matStepLabel>Ordenes Combustibles</ng-template><br>
                <form [formGroup]="formularioViajeCombustible">
                    <app-viaje-combustible (dataEvent)="recibirCombustibles($event)"></app-viaje-combustible>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajeEfectivo">
                <ng-template matStepLabel>Adelantos Efectivo</ng-template><br>
                <form [formGroup]="formularioViajeEfectivo">
                    <app-viaje-efectivo (dataEvent)="recibirEfectivos($event)"></app-viaje-efectivo>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajeInsumo">
                <ng-template matStepLabel>Ordenes Insumo</ng-template><br>
                <form [formGroup]="formularioViajeInsumo">
                    <app-viaje-insumo (dataEvent)="recibirInsumos($event)"></app-viaje-insumo>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajeRemitoDC">
                <ng-template matStepLabel>Remitos Dadores Carga</ng-template><br>
                <form [formGroup]="formularioViajeRemitoDC">

                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajeRemito">
                <ng-template matStepLabel>Remitos Generales</ng-template><br>
                <form [formGroup]="formularioViajeRemito">
                    <app-viaje-remito-gs (dataEvent)="recibirRemitos($event)"></app-viaje-remito-gs>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajeGasto">
                <ng-template matStepLabel>Gastos</ng-template><br>
                <form [formGroup]="formularioViajeGasto">
                    <app-viaje-gasto (dataEvent)="recibirGastos($event)"></app-viaje-gasto>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajePeaje">
                <ng-template matStepLabel>Peaje</ng-template><br>
                <form [formGroup]="formularioViajePeaje">
                    <app-viaje-peaje (dataEvent)="recibirPeajes($event)"></app-viaje-peaje>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
        <div class="row" *ngIf="mostrarBoton && !show">
            <div class="centrar">
                <button id="idBoton" mat-raised-button color="primary" formnovalidate (click)="accion()"
                    [disabled]="obtenerEstadoFormulario(formularioViaje.valid, estadoFormulario)">
                    {{pestaniaActual}} Viaje
                </button>
            </div>
        </div>
        <div class="row" *ngIf="show">
            <div class="col text-center">
                <app-progreso></app-progreso>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="indiceSeleccionado == 5">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th class="text-center" style="width:5%" scope="col">#</th>
                        <th class="text-center" style="width:20%" scope="col">Empresa Emisión</th>
                        <th class="text-center" style="width:15%" scope="col">Sucursal</th>
                        <th class="text-center" style="width:15%" scope="col">Fecha</th>
                        <th class="text-center" style="width:15%" scope="col">Vehículo</th>
                        <th class="text-center" style="width:20%" scope="col">Chofer</th>
                        <th class="text-center" style="width:5%" scope="col">-</th>
                        <th class="text-center" style="width:5%" scope="col">-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of listaCompleta; let i = index">
                        <td align="center">
                            <span>{{i + 1}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.empresaEmision.razonSocial}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.sucursal.nombre}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.fecha | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.vehiculo.dominio}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.personal.nombreCompleto}}</span>
                        </td>
                        <td align="center">
                            <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
                        </td>
                        <td align="center">
                            <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>