<div *ngIf="!render" class="row justify-content-center">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="render" id="viaje" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
    <div class="row">
        <div class="col" class="centrar">
            <nav mat-tab-nav-bar>
                <a mat-tab-link disabled>GUIA DE SERVICIO</a>
                <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
                    (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
            </nav>
        </div>
    </div>
    <div class="contenedor" *ngIf="indiceSeleccionado < 5">
        <mat-card style="background-color: #F8F9FA">
            <div *ngIf="mostrarAutocompletado && !show">
                <form [formGroup]="formularioFiltros">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group has-float-label">
                                <label for="idViaje" class="tamanio-label">N° Viaje</label>
                                <input id="idViaje" type="number" formControlName="idViaje"
                                    class="form-control form-control-sm number-right" placeholder="N° Guía de Servicio" min="1">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group has-float-label">
                                <label for="idFechaDesde" class="tamanio-label">Fecha Desde</label>
                                <input id="idFechaDesde" type="date" formControlName="fechaDesde"
                                    class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group has-float-label">
                                <label for="idFechaHasta" class="tamanio-label">Fecha Hasta</label>
                                <input id="idFechaHasta" type="date" formControlName="fechaHasta"
                                    class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group has-float-label">
                                <label for="idPersonal" class="tamanio-label">Chofer</label>
                                <input id="idPersonal" class="form-control form-control-sm" type="text"
                                    [formControl]="formularioFiltros.get('personal')" [matAutocomplete]="autoPersonal"
                                    autocomplete="off" placeholder="Buscar por N° Legajo, Nombre, Alias o Núm. Doc.">
                                <mat-autocomplete #autoPersonal="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                    <mat-option *ngFor="let itemPersonal of resultadosPersonales"
                                        [value]="itemPersonal">
                                        {{itemPersonal.alias}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group has-float-label">
                                <label for="idPersonal" class="tamanio-label">Fletero</label>
                                <input id="idPersonal" class="form-control form-control-sm" type="text"
                                    [formControl]="formularioFiltros.get('proveedor')" [matAutocomplete]="autoProveedor"
                                    autocomplete="off"
                                    placeholder="Buscar por Id, Razón Social, Alias, Tipo Documento o Núm. Documento">
                                <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                    <mat-option *ngFor="let itemProveedor of resultadosProveedores"
                                        [value]="itemProveedor">
                                        {{itemProveedor.alias}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button mat-raised-button color="primary" (click)="listarViajesPorFiltros()">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" *ngIf="show">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <hr *ngIf="mostrarAutocompletado" style="margin-top: -8px !important; margin-bottom: 18px !important;">
            <div class="row">
                <div class="col">
                    <form [formGroup]="formularioViaje">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idCodigo" class="tamanio-label-titulo">N° Guía Servicio</label>
                                    <input id="idCodigo" type="number" formControlName="id"
                                        class="form-control form-control-sm number-right" readonly>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idFecha" class="tamanio-label-titulo">Fecha</label>
                                    <input id="idFecha" type="date" formControlName="fecha" autocomplete="off"
                                        class="form-control form-control-sm" [readonly]="soloLectura">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idEsPropio" class="tamanio-label-titulo">Tipo de Viaje *</label>
                                    <mat-select id="idEsPropio" class="form-control form-control-sm"
                                        formControlName="esViajePropio" (selectionChange)="cambioTipoViaje()">
                                        <mat-option [value]="false">Tercerizado</mat-option>
                                        <mat-option [value]="true">Propio</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idEsRemolquePropio" class="tamanio-label-titulo">Tipo de Remolque
                                        *</label>
                                    <mat-select id="idEsRemolquePropio" class="form-control form-control-sm"
                                        formControlName="esRemolquePropio" (selectionChange)="cambioTipoRemolque()">
                                        <mat-option [value]="false">Tercerizado</mat-option>
                                        <mat-option [value]="true">Propio</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idSucursal" class="tamanio-label-titulo">Sucursal *</label>
                                    <mat-select id="idSucursal" class="form-control form-control-sm"
                                        formControlName="sucursal" [compareWith]="compareFn">
                                        <mat-option *ngFor="let itemSucursal of sucursales" [value]="itemSucursal">
                                            {{itemSucursal.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group has-float-label">
                                    <label for="idUsuario" class="tamanio-label-titulo">Usuario</label>
                                    <input id="idUsuario" type="text" class="form-control form-control-sm" readonly
                                        [formControl]="usuarioNombre">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group has-float-label">
                                    <label for="idVehiculo" class="tamanio-label-titulo">Vehículo *</label>
                                    <input id="idVehiculo" class="form-control form-control-sm" type="text"
                                        [formControl]="formularioViaje.get('esViajePropio').value ? formularioViaje.get('vehiculo') : formularioViaje.get('vehiculoProveedor')"
                                        [matAutocomplete]="autoVehiculo" autocomplete="off"
                                        [readonly]="soloLectura"
                                        placeholder="Buscar por Dominio o Tipo/Marca Vehículo">
                                    <mat-autocomplete #autoVehiculo="matAutocomplete"
                                        [displayWith]="displayFn.bind(this)">
                                        <mat-option *ngFor="let itemVehiculo of resultadosVehiculos"
                                            [value]="itemVehiculo">
                                            {{itemVehiculo.alias}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row">
                                    <button mat-raised-button class="btn-width">Vtos</button>
                                    <button mat-raised-button class="btn-width margin-left-3">Conf</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group has-float-label">
                                    <label for="idVehiculoRemolque" class="tamanio-label-titulo">Vehículo Remolque
                                        *</label>
                                    <input id="idVehiculoRemolque" class="form-control form-control-sm" type="text"
                                        [formControl]="formularioViaje.get('esRemolquePropio').value ? formularioViaje.get('vehiculoRemolque') : formularioViaje.get('vehiculoRemolqueProveedor')"
                                        [matAutocomplete]="autoVehiculoRemolque" autocomplete="off"
                                        [readonly]="soloLectura"
                                        placeholder="Buscar por Dominio o Tipo/Marca Vehículo">
                                    <mat-autocomplete #autoVehiculoRemolque="matAutocomplete"
                                        [displayWith]="displayFn.bind(this)">
                                        <mat-option *ngFor="let itemVehiculoRemolque of resultadosVehiculosRemolques"
                                            [value]="itemVehiculoRemolque">
                                            {{itemVehiculoRemolque.alias}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row">
                                    <button mat-raised-button class="btn-width">Vtos</button>
                                    <button mat-raised-button class="btn-width margin-left-3">Conf</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group has-float-label">
                                    <label for="idPersonal" class="tamanio-label-titulo">Chofer *</label>
                                    <input id="idPersonal" class="form-control form-control-sm" type="text"
                                        [formControl]="formularioViaje.get('esViajePropio').value ? formularioViaje.get('personal') : formularioViaje.get('choferProveedor')"
                                        [matAutocomplete]="autoChofer" autocomplete="off"
                                        [readonly]="soloLectura"
                                        placeholder="Buscar por N° Legajo, Nombre, Alias o Núm. Doc.">
                                    <mat-autocomplete #autoChofer="matAutocomplete"
                                        [displayWith]="displayFn.bind(this)">
                                        <mat-option *ngFor="let itemChofer of resultadosChoferes" [value]="itemChofer">
                                            {{itemChofer.alias}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row">
                                    <button mat-raised-button class="btn-width">Vtos</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
        <mat-horizontal-stepper class="margin-top-5" [linear]="estadoFormulario"
            (selectionChange)="onStepChange($event)" #stepper>
            <ng-template matStepperIcon="edit" let-index="index">
                {{index+1}}
            </ng-template>
            <mat-step [stepControl]="formularioViajeTramo">
                <ng-template matStepLabel>Tramos</ng-template>
                <form [formGroup]="formularioViajeTramo">
                    <app-viaje-tramo (dataEvent)="recibirTramos($event)" #child></app-viaje-tramo>
                </form>
                <br>
                <div class="row justify-content-center">
                    <button mat-raised-button color="primary" (click)="finalizar()" [disabled]="estadoFormulario"
                        *ngIf="indiceSeleccionado != 2">{{pestaniaActual}}</button>
                </div>
                <br>
            </mat-step>
            <mat-step [stepControl]="formularioViajeCombustible">
                <ng-template matStepLabel>Ordenes Combustibles</ng-template>
                <form [formGroup]="formularioViajeCombustible">
                    <app-viaje-combustible></app-viaje-combustible>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajeEfectivo">
                <ng-template matStepLabel>Adelantos Efectivo</ng-template>
                <form [formGroup]="formularioViajeEfectivo">
                    <app-viaje-efectivo></app-viaje-efectivo>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajeInsumo">
                <ng-template matStepLabel>Ordenes Insumo</ng-template>
                <form [formGroup]="formularioViajeInsumo">
                    <app-viaje-insumo></app-viaje-insumo>
                </form>
            </mat-step>
            <!-- <mat-step [stepControl]="formularioViajeTramo">
                <ng-template matStepLabel>Remitos Dadores Carga</ng-template>
                <form [formGroup]="formularioViajeRemitoDC">

                </form>
            </mat-step> -->
            <mat-step [stepControl]="formularioViajeRemito">
                <ng-template matStepLabel>Remitos Generales</ng-template>
                <form [formGroup]="formularioViajeRemito">
                    <app-viaje-remito-gs></app-viaje-remito-gs>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajeGasto">
                <ng-template matStepLabel>Gastos</ng-template>
                <form [formGroup]="formularioViajeGasto">
                    <app-viaje-gasto></app-viaje-gasto>
                </form>
            </mat-step>
            <mat-step [stepControl]="formularioViajePeaje">
                <ng-template matStepLabel>Peaje</ng-template>
                <form [formGroup]="formularioViajePeaje">
                    <app-viaje-peaje></app-viaje-peaje>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
    <div *ngIf="indiceSeleccionado == 5">
        <mat-progress-bar mode="indeterminate" *ngIf="show"></mat-progress-bar>
        <div class="row">
            <div class="tabla mat-elevation-z1">
                <table mat-table [dataSource]="listaCompleta" matSort>
                    <ng-container matColumnDef="ID" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                        <td mat-cell *matCellDef="let elemento; let i=index" class="number-right">{{i + 1}}</td>
                    </ng-container>
                    <ng-container matColumnDef="EMPRESA_EMISION">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa Emisión</th>
                        <td mat-cell *matCellDef="let elemento">
                            {{elemento.empresaEmision? elemento.empresaEmision.razonSocial : '--'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="SUCURSAL">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal</th>
                        <td mat-cell *matCellDef="let elemento">{{elemento.sucursal? elemento.sucursal.nombre : '--'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="FECHA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                        <td mat-cell *matCellDef="let elemento">{{elemento.fecha | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="VEHICULO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehículo</th>
                        <td mat-cell *matCellDef="let elemento">{{elemento.vehiculo? elemento.vehiculo.dominio : '--'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="CHOFER">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Chofer</th>
                        <td mat-cell *matCellDef="let elemento">
                            {{elemento.personal? elemento.personal.nombreCompleto : '--'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="EDITAR" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button
                            [disabled]="listaCompleta.data.length==0" color="primary" (click)="abrirReporte()">Reporte</button></th>
                        <td mat-cell *matCellDef="let elemento">
                            <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
                                matTooltip="Consultar" matTooltipPosition="above">
                                <mat-icon>search</mat-icon>
                            </button>
                            <button mat-icon-button class="mat-icon-button-table margin-left-3"
                                (click)="activarActualizar(elemento)" matTooltip="Editar" matTooltipPosition="above">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>
            </div>
        </div>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
</div>