.input-button {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
}
.button-input {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
}
.btn-size {
    height: 30px !important;
    padding: 0px 10px !important;
}
th {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    background-color: #FFF;
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 0px;
}
.tabla-tramos {
    width: 2200px !important;
}