.input-button {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
}
.button-input {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
}
.btn-size {
    height: 30px !important;
    padding: 0px 10px !important;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 22px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 7px 12px;
    pointer-events: none;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1) !important;
    display: block !important;
    position: relative !important;
    padding-top: 15px !important;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
    border-radius: 4px !important;
}
.btn-width {
    padding: 0px 0px !important;
    width: 50%;
}
.btn-width-full {
    padding: 0px 0px !important;
    width: 100%;
}