<div class="row">
  <div class="col-md-12 text-center">
    <h5>Emitir Factura</h5>
    <form [formGroup]="formulario" class="contenedor">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-float-label">
                <label for="idFecha" class="tamanio-label">Fecha</label>
                <input id="idFecha" type="date" formControlName="fechaEmision" class="form-control form-control-sm"
                  min="{{fechaActual}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-float-label">
                <label for="idPuntoVenta" class="tamanio-label">Punto de venta</label>
                <mat-select id="idPuntoVenta" class="form-control form-control-sm" formControlName="puntoVenta"
                  [compareWith]="compareFn" (selectionChange)="comprobarCodAfip()">
                  <mat-option *ngFor="let itemPuntoVenta of resultadosPuntoVenta" [value]="itemPuntoVenta">
                    {{establecerCerosIzq(itemPuntoVenta.puntoVenta, "0000", -5)}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group has-float-label inline">
                <label for="idItem" class="tamanio-label">Item *</label>
                <mat-select id="idItem" class="form-control form-control-sm" [formControl]="item"
                  [compareWith]="compareFn" (selectionChange)="cambioItem()">
                  <mat-option *ngFor="let item of resultadosItems" [value]="item">
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-1">
          <div class="form-group has-float-label">
            <label for="idLetra" class="tamanio-label">P. Venta</label>
            <input id="idLetra" type="text" [formControl]="puntoVenta" class="form-control form-control-sm" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-float-label">
            <label for="idLetra" class="tamanio-label">Letra</label>
            <input id="idLetra" type="text" formControlName="letra" class="form-control form-control-sm" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-float-label">
            <label for="idNumero" class="tamanio-label">Número</label>
            <input id="idNumero" type="number" formControlName="numero" class="form-control form-control-sm" readonly>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-float-label">
            <label for="idCodigoAfip" class="tamanio-label">Código Afip</label>
            <input id="idCodigoAfip" type="text" formControlName="codigoAfip" class="form-control form-control-sm"
              readonly>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group has-float-label">
            <label for="idTipoComprobante" class="tamanio-label">Tipo de Comprobante</label>
            <input id="idTipoComprobante" type="text" [formControl]="tipoComprobante"
              class="form-control form-control-sm" readonly>
          </div>
        </div>
      </div>
      <hr style="margin-top: 10px; margin-bottom: 20px;">
      <div class="tamanio-pantalla inline">
        <div class="border has-float-label" id="Remitente" style="margin-right: 5px;">
          <label style="font-size: 16px;">Remitente</label>
          <div class="inline">
            <div class="form-group has-float-label">
              <label for="idRemitente" class="tamanio-label">Buscar Remitente</label>
              <input id="idRemitente" type="text" class="form-control form-control-sm" style="width: 522px;" matInput
                [formControl]="formulario.get('clienteRemitente')" [matAutocomplete]="autoRemitente" autocomplete="off">
              <mat-autocomplete #autoRemitente="matAutocomplete" [displayWith]="displayF.bind(this)"
                (optionSelected)="listarSucursalesRemitente()">
                <mat-option *ngFor="let itemCliente of resultadosReminentes" [value]="itemCliente">
                  {{itemCliente.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="form-group ">
              <button id="idBtnCli1" mat-raised-button color="primary" (click)="agregarClienteEventual()"
                style="width: 50px;">Agregar</button>
            </div>
          </div>
          <div formGroupName="rem">
            <div class="inline">
              <div class="form-group has-float-label">
                <label for="idDomicilioRem" class="tamanio-label">Domicilio</label>
                <input id="idDomicilioRem" type="text" formControlName="domicilio" readonly
                  class="form-control form-control-sm" style="width: 300px;">
              </div>
              <div class="form-group has-float-label">
                <label for="idLocalidadRem" class="tamanio-label">Localidad</label>
                <input id="idLocalidadRem" type="text" formControlName="localidad" readonly
                  class="form-control form-control-sm" style="width: 300px;">
              </div>
            </div>
            <div class="inline">
              <div class="form-group has-float-label">
                <label for="idCondicionIvaRem" class="tamanio-label">Condición de IVA</label>
                <input id="idCondicionIvaRem" type="text" formControlName="afipCondicionIva" readonly
                  class="form-control form-control-sm" style="width: 300px;">
              </div>
              <div class="form-group has-float-label">
                <label for="idCondicionVtaRem" class="tamanio-label">Condición de Venta</label>
                <input id="idCondicionVtaRem" type="text" formControlName="condicionVenta" readonly
                  class="form-control form-control-sm" style="width: 300px;">
              </div>
            </div>
            <div class="inline">
              <div class="form-group has-float-label">
                <label for="idSucursalRem" class="tamanio-label">Sucursal</label>
                <mat-select id="idSucursalRem" class="form-control form-control-sm" style="width: 606px;"
                  formControlName="sucursal" [compareWith]="compareFn">
                  <mat-option *ngFor="let itemSucursal of resultadosSucursalesRem" [value]="itemSucursal">
                    {{itemSucursal.nombre}} | {{itemSucursal.domicilio}} | {{itemSucursal.localidad.nombre}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <div class="border has-float-label" id="Destinatario" style="margin-left: 5px;">
          <label style="font-size: 16px;">Destinatario</label>
          <div class="inline">
            <div class="form-group has-float-label">
              <label for="idDestinatario" class="tamanio-label">Buscar Destinatario</label>
              <input id="idDestinatario" type="text" class="form-control form-control-sm" style="width: 522px;" matInput
                [formControl]="formulario.get('clienteDestinatario')" [matAutocomplete]="autoDestinatario"
                autocomplete="off">
              <mat-autocomplete #autoDestinatario="matAutocomplete" [displayWith]="displayF.bind(this)"
                (optionSelected)="listarSucursalesDestinatario()">
                <mat-option *ngFor="let itemCliente of resultadosDestinatarios" [value]="itemCliente">
                  {{itemCliente.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="form-group ">
              <button id="idBtnCli2" mat-raised-button color="primary" (click)="agregarClienteEventual()"
                style="width: 50px;">Agregar</button>
            </div>
          </div>
          <div formGroupName="des">
            <div class="inline">
              <div class="form-group has-float-label">
                <label for="idDomicilioDes" class="tamanio-label">Domicilio</label>
                <input id="idDomicilioDes" type="text" formControlName="domicilio" readonly
                  class="form-control form-control-sm" style="width: 300px;">
              </div>
              <div class="form-group has-float-label">
                <label for="idLocalidadDes" class="tamanio-label">Localidad</label>
                <input id="idLocalidadDes" type="text" formControlName="localidad" readonly
                  class="form-control form-control-sm" style="width: 300px;">
              </div>
            </div>
            <div class="inline">
              <div class="form-group has-float-label">
                <label for="idCondicionIvaDes" class="tamanio-label">Condición de IVA</label>
                <input id="idCondicionIvaDes" type="text" formControlName="afipCondicionIva" readonly
                  class="form-control form-control-sm" style="width: 300px;">
              </div>
              <div class="form-group has-float-label">
                <label for="idCondicionVtaDes" class="tamanio-label">Condición de Venta</label>
                <input id="idCondicionVtaDes" type="text" formControlName="condicionVenta" readonly
                  class="form-control form-control-sm" style="width: 300px;">
              </div>
            </div>
            <div class="inline">
              <div class="form-group has-float-label">
                <label for="idSucursalDes" class="tamanio-label">Sucursal</label>
                <mat-select id="idSucursalDes" class="form-control form-control-sm" style="width: 606px;"
                  formControlName="sucursal" [compareWith]="compareFn">
                  <mat-option *ngFor="let itemSucursal of resultadosSucursalesDes" [value]="itemSucursal">
                    {{itemSucursal.nombre}} | {{itemSucursal.domicilio}} | {{itemSucursal.localidad.nombre}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group has-float-label col-md-2 ">
        <label for="idPagoOrigen" class="tamanio-label">Pago en: </label>
        <mat-select id="idPagoOrigen" formControlName="pagoEnOrigen" class="form-control form-control-sm"
          (selectionChange)="pagoEnOrigen()">
          <mat-option [value]="true">Origen</mat-option>
          <mat-option [value]="false">Destino</mat-option>
        </mat-select>
      </div>
      <hr style="margin-top: 10px; margin-bottom: 20px;">
      <form [formGroup]="formularioItem">
        <div class="row">
          <div class="form-group has-float-label">
            <label for="idViaje" class="tamanio-label">N° Viaje*</label>
            <input id="idViaje" type="text" formControlName="numeroViaje" [readOnly]="soloLectura" placeholder="00"
            [textMask]="obtenerMascaraEnteroSinDecimales(8)"  class="form-control form-control-sm" style="width: 78px;">
          </div>
          <div class="form-group has-float-label ">
            <label for="idRemito" class="tamanio-label">N° Remito*</label>
            <input id="idRemito" type="number" [formControl]="viajeRemito" [readOnly]="soloLectura" placeholder="00"
            [textMask]="obtenerMascaraEnteroSinDecimales(8)" class="form-control form-control-sm" style="width: 100px;" (blur)="cambioRemito()">
          </div>
          <div class="form-group has-float-label">
            <label for="idBultos" class="tamanio-label">Bultos</label>
            <input id="idBultos" type="text" formControlName="bultos" class="form-control form-control-sm"
             placeholder="00" [textMask]="obtenerMascaraEnteroSinDecimales(8)" style="width: 58px;" autocomplete="off" [readOnly]="soloLectura">
          </div>
          <div class="form-group has-float-label">
            <label for="idKiloEfectivo" class="tamanio-label">Kg Efectivo</label>
            <input id="idKiloEfectivo" type="text" formControlName="kilosEfectivo"
              class="form-control form-control-sm" style="width: 91px;" autocomplete="off"  placeholder="0.00"
              [textMask]="obtenerMascaraEnteroConDecimales(8)" (blur)="setDecimales(formularioItem.get('kilosEfectivo'), 2)" [readOnly]="soloLectura">
          </div>
          <div class="form-group has-float-label">
            <label for="idKiloAforado" class="tamanio-label">Kg Aforado</label>
            <input id="idKiloAforado" type="text" formControlName="kilosAforado" class="form-control form-control-sm" placeholder="0.00"
              style="width: 91px;" autocomplete="off" (blur)="setDecimales(formularioItem.get('kilosAforado'), 2)" [textMask]="obtenerMascaraEnteroConDecimales(8)"
              [readOnly]="soloLectura">
          </div>
          <button class="btn btn-secondary btn-custom" (click)="agregarAforo()">Aforar</button>
          <div class="form-group has-float-label">
            <label for="idM3" class="tamanio-label">m3</label>
            <input id="idM3" type="number" formControlName="m3" class="form-control form-control-sm" placeholder="0.00"
              style="width: 45px;" (blur)="setDecimales(formularioItem.get('m3'), 2)" autocomplete="off" [readOnly]="soloLectura">
          </div>
          <div class="form-group has-float-label ">
            <label for="idTarifaOVta" class="tamanio-label">Tarifa O.Vta.*</label>
            <mat-select id="idTarifaOVta" class="form-control form-control-sm" formControlName="ordenVenta"
              style="width: 140px;" [compareWith]="compareFn" (selectionChange)="cambioOVta()">
              <mat-option *ngFor="let itemOrdenVenta of resultadosTarifas" [value]="itemOrdenVenta">
                {{itemOrdenVenta.nombre}} | {{itemOrdenVenta.tipoTarifa.nombre}}
              </mat-option>
            </mat-select>
          </div>
          <div class="form-group has-float-label">
            <label for="idDescripcionCarga" class="tamanio-label">Descripción Carga</label>
            <input id="idDescripcionCarga" type="text" formControlName="descripcionCarga"
              class="form-control form-control-sm" style="width: 140px;" autocomplete="off" [readOnly]="soloLectura">
          </div>
          <div class="form-group has-float-label">
            <label for="idValorDeclarado" class="tamanio-label">Valor Declarado</label>
            <input id="idValorDeclarado" type="text" formControlName="valorDeclarado" placeholder="0.00"
              class="form-control form-control-sm number-right" style="width: 125px;" autocomplete="off" [textMask]="obtenerMascaraImporte(8)"
              (blur)="calcularSubtotal($event)" [readOnly]="soloLectura">
          </div>
          <div class="form-group has-float-label">
            <label for="idSeguro" class="tamanio-label">% Seguro</label>
            <input id="idSeguro" type="text" formControlName="importeSeguro" class="form-control form-control-sm" placeholder="% 0.00"
              style="width: 80px;" (blur)="calcularSubtotal($event)" readonly>
          </div>
          <div class="form-group has-float-label">
            <label for="idFlete" class="tamanio-label">Flete</label>
            <input id="idFlete" type="text" formControlName="flete" class="form-control form-control-sm number-right"
              style="width: 120px;" autocomplete="off" (blur)="calcularSubtotal($event)" [readOnly]="soloLectura"
              placeholder="$ 0.00" [textMask]="obtenerMascaraImporte(8, 2)" >
          </div>
          <div class="form-group has-float-label">
            <label for="idDescuento" class="tamanio-label">% Dto.</label>
            <input id="idDescuento" type="number" formControlName="descuento" class="form-control form-control-sm" placeholder="% 0.00"
              style="width: 60px;" autocomplete="off"  (blur)="calcularSubtotal($event)" [readOnly]="soloLectura">
          </div>
          <div class="form-group has-float-label">
            <label for="idRetiro" class="tamanio-label">Retiro</label>
            <input id="idRetiro" type="text" formControlName="importeRetiro" class="form-control form-control-sm number-right" placeholder="$ 0.00"
              style="width: 55px;" autocomplete="off" [textMask]="obtenerMascaraImporte(8, 2)" (blur)="calcularSubtotal($event)" [readOnly]="soloLectura">
          </div>
          <div class="form-group has-float-label">
            <label for="idEntrega" class="tamanio-label">Entrega</label>
            <input id="idEntrega" type="text" formControlName="importeEntrega" class="form-control form-control-sm number-right" placeholder="$ 0.00"
              style="width: 68px;" autocomplete="off" [textMask]="obtenerMascaraImporte(8, 2)" (blur)="calcularSubtotal($event)" [readOnly]="soloLectura">
          </div>
          <div class="form-group has-float-label ">
            <label for="idConcepto" class="tamanio-label">Conceptos Varios</label>
            <mat-select id="idConcepto" class="form-control form-control-sm" formControlName="conceptosVarios"
              style="width: 150px;" [compareWith]="compareFn" (selectionChange)="habilitarPrecioCV()">
              <mat-option *ngFor="let itemConcepto of resultadosConceptosVarios" [value]="itemConcepto">
                <div class="inline">
                  {{itemConcepto.nombre}}
                </div>
              </mat-option>
            </mat-select>
          </div>
          <div class="form-group has-float-label">
            <label for="idImporteConcepto" class="tamanio-label">Precio(Conc.Var.)</label>
            <input id="idImporteConcepto" type="text" formControlName="importeVentaItemConcepto" placeholder="$ 0.00"
              class="form-control form-control-sm number-right" style="width: 130px;" autocomplete="off" 
              [textMask]="obtenerMascaraImporte(8, 2)" (blur)="calcularSubtotal($event)">
          </div>
          <div class="form-group has-float-label">
            <label for="idSubtotal" class="tamanio-label">Subtotal</label>
            <input id="idSubtotal" type="text" formControlName="importeNetoGravado" class="form-control form-control-sm number-right"
               style="width: 73px;" [textMask]="obtenerMascaraImporte(10, 2)" (blur)="calcularSubtotal($event)" readonly>
          </div>
          <div class="form-group has-float-label">
            <label for="idAlicuota" class="tamanio-label">Alic. IVA</label>
            <mat-select id="idAlicuota" type="number" formControlName="alicuotaIva" class="form-control form-control-sm number-right"
              style="width: 75px;" (blur)="calcularSubtotal($event)">
              <mat-option *ngFor="let itemAlicuota of resultadosAlicuotasIva" [value]="itemAlicuota">
                {{returnDecimales(itemAlicuota.alicuota, 2)}} %
              </mat-option>
            </mat-select>
          </div>
          <button class="btn btn-warning btn-custom margin-left-button" [disabled]="!formularioItem.valid"
            (click)="agregarItemViaje()">Agregar</button>
          <!---->
        </div>
      </form>
      <div class="inline">
        <div style="width: 100%; height: 150px; overflow-y: scroll;">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th class="text-center">N° de Viaje</th>
                <th class="text-center">N° de Remito</th>
                <th class="text-center">Bultos</th>
                <th class="text-center">Kg. Efectivo</th>
                <th class="text-center">Valor Declarado</th>
                <th class="text-center">Flete</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center">IVA</th>
                <th class="text-center">Subtotal c/IVA</th>
                <th class="text-center">-</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaItemViaje; let i=index">
                <td>{{item.numeroViaje}}</td>
                <td>{{item.viajeRemito.id}}</td>
                <td>{{item.bultos}}</td>
                <td>{{item.kilosEfectivo}}</td>
                <td>{{item.valorDeclarado}}</td>
                <td>{{item.flete}}</td>
                <td>{{item.importeNetoGravado}}</td>
                <td>{{returnDecimales(item.alicuotaIva, 2)}} %</td>
                <td>{{item.importeIva}}</td>
                <td class="cursor-color" (click)="eliminarItemViaje(item.importeNetoGravado, item.importeIva, i)">X
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="inline">
        <div class="form-group has-float-label">
          <label for="idTotalItems" class="tamanio-label">Total Items</label>
          <input id="idTotalItems" type="text" [formControl]="contador" class="form-control form-control-sm number-right " readonly
            style="width: 96px;">
        </div>
        <span class="spacer"></span>
        <div class="form-group has-float-label">
          <label for="idCodigo" class="tamanio-label"><b>Importe No Grav/Exento</b></label>
          <input id="idCodigo" type="number" formControlName="importeNoGravado" class="form-control input-bold form-control-sm number-right" placeholder="$ 0.00" 
            style="width: 200px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigo" class="tamanio-label"><b>Importe Neto Gravado</b></label>
          <input id="idCodigo" type="text" formControlName="importeNetoGravado"  placeholder="$ 0.00"
          [textMask]="obtenerMascaraImporte(8, 2)" (blur)="setDecimales(formulario.get('importeNetoGravado'), 2)" class="form-control input-bold form-control-sm number-right" style="width: 189px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigo" class="tamanio-label"><b>Importe IVA</b></label>
          <input id="idCodigo" type="text" formControlName="importeIva"  placeholder="$ 0.00"
            [textMask]="obtenerMascaraImporte(8, 2)" (blur)="setDecimales(formulario.get('importeIva'), 2)" class="form-control input-bold form-control-sm number-right" style="width: 120px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigo" class="tamanio-label"><b>Importe Total</b></label>
          <input id="idCodigo" type="text" formControlName="importeTotal"  placeholder="$ 0.00"
            [textMask]="obtenerMascaraImporte(8, 2)" (blur)="setDecimales(formulario.get('importeTotal'), 2)"class="form-control input-bold form-control-sm number-right" style="width: 130px;">
        </div>
      </div>
      <form [formGroup]="formularioCR">
        <div class="inline">
          <div class="form-group has-float-label">
            <label for="idContraReembolso" class="tamanio-label">ContraReembolso</label>
            <input id="idContraReembolso" type="text" formControlName="importeContraReembolso" placeholder="$ 0.00"
              class="form-control form-control-sm number-right" autocomplete="off" style="width: 140px;"
              [textMask]="obtenerMascaraImporte(8, 2)" (blur)="setDecimales(formularioCR.get('importeContraReembolso'), 2)">
          </div>
          <div class="form-group has-float-label">
            <label for="idTarifaOVta" class="tamanio-label">Tarifa O.Vta.*</label>
            <mat-select id="idTarifaOVta" class="form-control form-control-sm" formControlName="ordenVenta"
              style="width: 140px;" [compareWith]="compareFn" (selectionChange)="cambioOVtaCR()">
              <mat-option *ngFor="let itemOrdenVenta of resultadosTarifas" [value]="itemOrdenVenta">
                {{itemOrdenVenta.nombre}} | {{itemOrdenVenta.tipoTarifa.nombre}}
              </mat-option>
            </mat-select>
          </div>
          <div class="form-group has-float-label">
            <label for="idCodigo" class="tamanio-label">% C.C</label>
            <input id="idCodigo" type="text" formControlName="porcentajeCC" class="form-control form-control-sm number-right"
              style="width: 120px;" placeholder="% 0.00" (change)="calcularComision()" readonly>
          </div>
          <div class="form-group has-float-label">
            <label for="idCodigo" class="tamanio-label">Comisión</label>
            <input id="idCodigo" type="text" formControlName="pComision" class="form-control form-control-sm number-right"
              style="width: 120px;" placeholder="$ 0.00" readonly
              [textMask]="obtenerMascaraImporte(8, 2)" (blur)="setDecimales(formularioCR.get('pComision'), 2)">
          </div>
          <div class="form-group has-float-label">
            <label for="idAlicuotaCR" class="tamanio-label">Alíc. IVA</label>
            <mat-select id="idAlicuotaCR" type="number" formControlName="alicuotaIva"
              class="form-control form-control-sm" style="width: 80px;">
              <mat-option *ngFor="let itemAlicuotaCR of resultadosAlicuotasIvaCR" [value]="itemAlicuotaCR">
                {{returnDecimales(itemAlicuotaCR.alicuota, 2)}} %
              </mat-option>
            </mat-select>
          </div>
          <button class="btn btn-warning btn-custom margin-left-button" (click)="agregarCR()" [disabled]="!formularioCR.valid"
            *ngIf="listaCR.length==0">Agregar</button>
          <button class="btn btn-warning btn-custom margin-left-button" (click)="eliminarCR()"
            *ngIf="listaCR.length>0">Quitar</button>

          <span class="spacer"></span>
          <button class="btn btn-primary" type="button" style="width: 130px;" (click)="emitirFactura()">Emitir</button>
        </div>
      </form>
      <div class="inline">
        <button class="btn btn-info btn-custom margin-left-button" style="width: 130px;">ContraReembolso</button>
        <button class="btn btn-info btn-custom margin-left-button" style="width: 125px;"
          (click)="abrirTotalCarga()">Totales de Carga</button>
        <button class="btn btn-info btn-custom margin-left-button" style="width: 157px;"
          (click)="abrirTotalConcepto()">Totales por Concepto</button>
        <button class="btn btn-info btn-custom margin-left-button" style="width: 112px;"
          (click)="abrirObervacion()">Observaciones</button>
      </div>
    </form>
  </div>
</div>