<div class="row">
        <div class="col-md-12">
            <form [formGroup]="formulario">
                <h5 class="text-center">Lista de Remitos</h5>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="form-group has-float-label">
                            <label for="idViaje" class="tamanio-label">N° Viaje*</label>
                            <input id="idViaje" type="number" formControlName="viaje" [readOnly]="soloLectura" class="form-control form-control-sm"> 
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-custom margin-left-button" (click)="listarTramos()">Consultar</button>
                    </div>
                </div>
                <div class="row">
                    <div style="width: 100%; height: 150px; overflow-y: scroll; overflow-x: scroll;">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th class="text-center">Tramo</th>
                                <th class="text-center">N° de Remito</th>
                                <th class="text-center">Bultos</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">N° de Viaje</th>
                                <th class="text-center">Remitente</th>
                                <th class="text-center">Destinatario</th>
                                <th class="text-center">Suc. Entrega</th>
                                <th class="text-center">Observaciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let remito of resultadosTramos; let i=index" id="fila{{i}}" class="planilla-no-seleccionada" (click)="cambioRemito(i, remito)">
                                <td align="center">Origen: {{tramo.origen.nombre}} - Destino: {{tramo.destino.nombre}}</td>
                                <td align="center">{{remito.id}}</td>
                                <td align="center">{{remito.bultos}}</td>
                                <td align="center">{{remito.fecha}}</td>
                                <td align="center">{{remito.numero}}</td>
                                <td align="center">{{remito.clienteRemitente.alias}}</td>
                                <td align="center">{{remito.clienteDestinatario.razonSocial}}</td>
                                <td align="center">{{remito.sucursalDestino.domicilio}}</td>
                                <td *ngIf="remito.observaciones!=null" align="center">
                                    <a (click)="verObservaciones(remito.observaciones)" style="font-weight: 700; color:red;">Ver</a>
                                </td>
                                <td *ngIf="remito.observaciones==null" align="center"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button mat-raised-button color="primary" [disabled]="!formulario.valid" [mat-dialog-close]="formulario.value">Aceptar</button>
                        <button mat-raised-button  color="accent" [mat-dialog-close]="formulario.value">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
      </div>