<div id="rol" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>ROL</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-4 text-center">
      <h5>{{pestaniaActual}} Rol</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
          <label for="idAutocompletado" class="tamanio-label">Buscar por Nombre</label>
          <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" type="text" matInput
            [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off"
            (blur)="verificarSeleccion(autocompletado)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let item of resultados" [value]="item" (onSelectionChange)="formulario.setValue(item)">
              {{item.nombre}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigo" class="tamanio-label">Código</label>
          <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm" readonly>
        </div>
        <div class="form-group has-float-label">
          <label id="labelNombre" for="idNombre" class="tamanio-label">Nombre *</label>
          <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
            class="form-control form-control-sm" [readonly]="soloLectura" maxlength="45"
            (ngModelChange)="cambioCampo('idNombre', 'labelNombre')">
        </div>
        <div class="form-group has-float-label" *ngIf="indiceSeleccionado == 1">
          <label for="idRolSecundario" class="tamanio-label">Copiar de Rol Orígen</label>
          <mat-select id="idRolSecundario" class="form-control form-control-sm"
            formControlName="rolSecundario" [compareWith]="compareFn">
            <mat-option [value]="">Vacio</mat-option>
            <mat-option *ngFor="let itemRol of roles" [value]="itemRol">
              {{itemRol.nombre}}
            </mat-option>
          </mat-select>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <app-progreso></app-progreso>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-6">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <app-progreso></app-progreso>
        </div>
      </div>
      <br>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="id" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="ver" sticky>
          <th mat-header-cell *matHeaderCellDef>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarConsultar(elemento)"><span
              class="cursor-color">ver</span></td>
        </ng-container>
        <ng-container matColumnDef="mod" sticky>
          <th mat-header-cell *matHeaderCellDef>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarActualizar(elemento)"><span
              class="cursor-color">editar</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div>
  </div>
</div>