<div id="companiaseguropoliza" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>Moneda Cuenta Contable</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre" 
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-4 text-center">
      <h5>{{pestaniaActual}} Moneda Cuenta Contable</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="form-group has-float-label " *ngIf="mostrarAutocompletado">
          <label for="idAutocompletado" class="tamanio-label">Buscar</label>
            <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" 
                type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto1" autocomplete="off">
              <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn.bind(this)" (optionSelected)="cambioAutocompletado()">
                <mat-option *ngFor="let item of resultados" [value]="item">
                  {{item.nombre}}
                </mat-option>
              </mat-autocomplete>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label ">
              <label for="idMoneda" class="labelMoneda">Moneda</label>
              <mat-select class="form-control" id="idMoneda" formControlName="moneda" [compareWith]="compareFn" >
                <mat-option *ngFor="let moneda of listaMonedas" [value]="moneda" >
                  {{moneda.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label ">
              <label for="idEmpresa" class="labelEmpresa">Empresa</label>
              <mat-select class="form-control" id="idEmpresa" formControlName="empresa" [compareWith]="compareFn" >
                <mat-option *ngFor="let empresa of listaEmpresas" [value]="empresa" >
                  {{empresa.abreviatura}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-3">
            <button id="idBotonPlan" class="btn btn-primary btn-sm" type="button" >Plan de cuenta</button>
          </div>
          <div class="col-md-9">
            <div class="form-group has-float-label">
              <label for="idCuentaContable" class="tamanio-label">Cuenta Contable*</label>
              <input id="idEmpresa" type="text" formControlName="cuentaContable" autocomplete="off" class="form-control form-control-sm">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button" formnovalidate (click)="accion(indiceSeleccionado)"
          [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-8">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:33%" scope="col">Moneda</th>
            <th class="text-center" style="width:33%" scope="col">Empresa</th>
            <th class="text-center" style="width:33%" scope="col">Cuenta Contable</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let moneda of listaCompleta;">
            <td>
              <span text-align="center">{{moneda.nombre}}</span>
            </td>
            <td>
              <span text-align="center">{{moneda.empresa.nombre}}</span>
            </td>
            <td>
              <span text-align="center">{{moneda.cuentaContable.nombre}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>