<div id="companiaseguropoliza" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>Moneda Cuenta Contable</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-4 text-center">
      <h5>{{pestaniaActual}} Moneda Cuenta Contable</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
              <label for="idAutocompletado" class="tamanio-label">Buscar </label>
              <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" autocomplete="off"
                type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto" placeholder="">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"
                (optionSelected)="establecerFormulario()">
                <mat-option *ngFor="let item of resultados" [value]="item">
                  {{item.moneda.nombre}} - {{item.moneda.simbolo}} - {{item.empresa.razonSocial}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label">
              <label for="idMoneda" class="labelMoneda">Moneda</label>
              <mat-select class="form-control form-control-sm" id="idMoneda" formControlName="moneda"
                [compareWith]="compareFn" (selectionChange)="cambioMonedaCuentaContable()">
                <mat-option *ngFor="let moneda of listaMonedas" [value]="moneda">
                  {{moneda.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label">
              <label for="idEmpresa" class="labelEmpresa">Empresa</label>
              <input id="idEmpresa" class="form-control form-control-sm" type="text" [formControl]="empresa" readonly>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <button id="idBotonPlan" mat-raised-button color="primary" (click)="abrirPlanCuentaDialogo()"
              [disabled]="!formulario.get('empresa').valid">Plan de Cuenta</button>
          </div>
          <div class="col-md-7">
            <div class="form-group has-float-label">
              <label for="idCuentaContable" class="tamanio-label">Cuenta Contable *</label>
              <input id="idCuentaContable" class="form-control form-control-sm" type="text" matInput
                formControlName="planCuenta" [matAutocomplete]="autoCuentaContable" autocomplete="off" readonly>
              <mat-autocomplete #autoCuentaContable="matAutocomplete" [displayWith]="displayFp.bind(this)">
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" [hidden]="indiceSeleccionado != 5">
    <div class="col-md-8">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <br>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="MONEDA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.moneda.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="EMPRESA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.empresa.razonSocial}}</td>
        </ng-container>
        <ng-container matColumnDef="CUENTA_CONTABLE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Contable</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.planCuenta.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="EDITAR" stickyEnd>
          <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
              (click)="abrirReporte()">Reporte</button></th>
          <td mat-cell *matCellDef="let elemento">
            <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
              matTooltip="Consultar" matTooltipPosition="above">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-button-table margin-left-3"
              (click)="activarActualizar(elemento)" matTooltip="Editar" matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>