<div class="container-toolbar">
  <div class="row">
    <span class="title-pdf">PDF: {{nombre}}</span>
    <span class="spacer"></span>
    <button mat-mini-fab matTooltip="Descargar" (click)="descargar()">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button style="margin-left: 10px;" mat-mini-fab matTooltip="Cerrar" (click)="cerrar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<br><br>
<pdf-viewer [src]="datos" [render-text]="false" style="display: block;"></pdf-viewer>