<div class="row container-fluid">
    <div class="col-md-12">
        <h5 class="text-center">Reparto</h5>
        <div class="tamanio-pantalla">
            <form [formGroup]="formulario">
                <div class="inline">
                    <div class="form-group has-float-label">
                        <label for="idTipoViaje" class="tamanio-label">Tipo de Viaje *</label>
                        <mat-select id="idTipoViaje" class="form-control form-control-sm" formControlName="tipoViaje" style="width: 150px;">
                            <mat-option [value]="1">Propio</mat-option>
                            <mat-option [value]="2">Tercero</mat-option>
                            <mat-option [value]="3">Retiro Depósito</mat-option>
                        </mat-select>
                    </div>
                    <div class="inline" *ngIf="formulario.get('tipoViaje').value == 1 || formulario.get('tipoViaje').value == 2">
                        <div class="form-group has-float-label">
                            <label for="idZona">Zona</label>
                            <input id="idZona" type="text" class="form-control form-control-sm" style="width: 219px;">
                        </div>
                        <div class="form-group has-float-label">
                            <label for="idVehiculo">Vehículo</label>
                            <input id="idVehiculo" type="text" class="form-control form-control-sm" style="width: 295px;">
                        </div>
                        <div class="form-group has-float-label">
                            <label for="idRemolque">Remolque</label>
                            <input id="idRemolque" type="text" class="form-control form-control-sm" style="width: 295px;">
                        </div>
                        <div class="form-group has-float-label">
                            <label for="idChofer">Chofer</label>
                            <input id="idChofer" type="text" class="form-control form-control-sm" style="width: 295px;">
                        </div>
                        <button class="btn btn-primary btn-sm" style="margin-left: 5px; height: 31px;" *ngIf="formulario.get('tipoViaje').value == 1">Acompañantes</button>
                    </div>
                    <div class="inline" *ngIf="formulario.get('tipoViaje').value == 3">
                        <div class="form-group has-float-label">
                            <label for="idTipoDocumento">Tipo de Documento</label>
                            <input id="idTipoDocumento" type="text" class="form-control form-control-sm" style="width: 220px;">
                        </div>
                        <div class="form-group has-float-label">
                            <label for="idNumeroDocumento">N° de Documento</label>
                            <input id="idNumeroDocumento" type="text" class="form-control form-control-sm" style="width: 220px;">
                        </div>
                    </div>
                </div>
                <div class="inline">
                    <div class="form-group has-float-label">
                        <label for="idFechaSalida">Fecha Salida</label>
                        <input id="idFechaSalida" type="text" class="form-control form-control-sm" style="width: 120px;">
                    </div>
                    <div class="form-group has-float-label">
                        <label for="idHoraSalida">Hora Salida</label>
                        <input id="idHoraSalida" type="text" class="form-control form-control-sm" style="width: 94px;">
                    </div>
                    <div class="form-group has-float-label">
                        <label for="idObservaciones">Observaciones</label>
                        <textarea type="text" class="form-control form-control-sm" rows="2" style="width: 523px; margin-left: 5px;"></textarea>
                    </div>
                    <button class="btn btn-primary btn-sm" style="margin-left: 5px; height: 31px;">Agregar</button>
                </div>
            </form>
        </div>
        <div style="height: 200px; overflow-y: scroll;">
            <table class="table table-bordered table-striped table-sm table-condensed">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 100px" scope="col">N° Planilla</th>
                        <th class="text-center" style="width: 200px" scope="col">Zona</th>
                        <th class="text-center" style="width: 300px" scope="col">Vehículo</th>
                        <th class="text-center" style="width: 300px" scope="col">Chofer</th>
                        <th class="text-center" style="width: 100px" scope="col">Fecha Salida</th>
                        <th class="text-center" style="width: 100px" scope="col">Hora Salida</th>
                        <th class="text-center" style="width: 60px" scope="col">-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">Cerrar</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">Cerrar</td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">Cerrar</td>
                    </tr>
                    <tr>
                        <td align="center">4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">Cerrar</td>
                    </tr>
                    <tr>
                        <td align="center">5</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">Cerrar</td>
                    </tr>
                    <tr>
                        <td align="center">6</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">Cerrar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="inline" style="margin-top: 15px;">
            <div class="form-group has-float-label">
                <label for="idFechaSalida">Tipo de Comprobante</label>
                <input id="idFechaSalida" type="text" class="form-control form-control-sm" style="width: 162px;">
            </div>
            <div class="form-group has-float-label">
                <label for="idHoraSalida">Punto de Venta</label>
                <input id="idHoraSalida" type="text" class="form-control form-control-sm" style="width: 121px;">
            </div>
            <div class="form-group has-float-label">
                <label for="idHoraSalida">Letra</label>
                <input id="idHoraSalida" type="text" class="form-control form-control-sm" style="width: 52px;">
            </div>
            <div class="form-group has-float-label">
                <label for="idHoraSalida">N° de Comprobante</label>
                <input id="idHoraSalida" type="text" class="form-control form-control-sm" style="width: 150px;">
            </div>
            <button class="btn btn-primary btn-sm" style="margin-left: 5px; height: 31px;">Agregar</button>
            <span class="spacer"></span>
            <button class="btn btn-primary btn-sm" style="margin-left: 5px; height: 31px;">Seleccionar Comprobantes</button>
        </div>
        <div style="height: 200px; overflow-y: scroll;">
            <table class="table table-bordered table-striped table-sm table-condensed">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 90px" scope="col">Tipo Cpte.</th>
                        <th class="text-center" style="width: 100px" scope="col">N° Comprobante</th>
                        <th class="text-center" style="width: 240px" scope="col">Destinatario</th>
                        <th class="text-center" style="width: 240px" scope="col">Domicilio</th>
                        <th class="text-center" style="width: 240px" scope="col">Remitente</th>
                        <th class="text-center" style="width: 60px" scope="col">Cta.Cte.</th>
                        <th class="text-center" style="width: 60px" scope="col">Contado</th>
                        <th class="text-center" style="width: 60px" scope="col">Bultos</th>
                        <th class="text-center" style="width: 60px" scope="col">ContraReembolso</th>
                        <th class="text-center" style="width: 50px" scope="col">Kg</th>
                        <th class="text-center" style="width: 60px" scope="col">-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">X</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">X</td>
                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">X</td>
                    </tr>
                    <tr>
                        <td align="center">4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">X</td>
                    </tr>
                    <tr>
                        <td align="center">5</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">X</td>
                    </tr>
                    <tr>
                        <td align="center">6</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center" class="cursor-color">X</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="inline">
            <button class="btn btn-primary btn-sm" style="height: 31px;">Reporte</button>
        </div>
    </div>
</div>