<div class="row justify-content-center padd-20">
    <h5>Contrareembolso</h5>
    <div class="col-md-12 text-center">
        <form [formGroup]="formulario">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div class="form-group has-float-label">
                        <label for="idImporteContrareembolso" class="tamanio-label">Imp. Contrareembolso ($)</label>
                        <input id="idImporteContrareembolso" type="text" formControlName="importeContraReembolso"
                            placeholder="0.00" [textMask]="mascararEnteroConDecimales(8)"
                            class="form-control form-control-sm number-right"
                            (blur)="setDecimales(formulario.get('importeContraReembolso'), 2)">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group has-float-label ">
                        <label for="idComision" class="tamanio-label">% Comisión</label>
                        <input id="idComision" type="text" formControlName="pComision" placeholder="0.00"
                            [textMask]="mascararEnteroConDecimales()" class="form-control form-control-sm number-right"
                            (blur)="calcularComision()">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group has-float-label">
                        <label for="idAlicuota" class="tamanio-label">Alic. IVA</label>
                        <mat-select id="idAlicuota" type="number" formControlName="afipAlicuotaIva"
                            class="form-control form-control-sm number-right">
                            <mat-option *ngFor="let item of afipAlicuotasIva" [value]="item">
                                {{item.alicuota | number: '1.2-2'}} %
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group has-float-label">
                        <label for="idImporteIva" class="tamanio-label">Importe Iva ($)</label>
                        <input id="idImporteIva" type="text" formControlName="importeIva" placeholder="0.00"
                            [textMask]="mascararEnteroConDecimales(8)" class="form-control form-control-sm number-right"
                            (blur)="setDecimales(formulario.get('importeIva'), 2)" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group has-float-label">
                        <label for="idImporteNetoGravado" class="tamanio-label">Imp. Nto. Gravado ($)</label>
                        <input id="idImporteNetoGravado" type="text" formControlName="importeNetoGravado"
                            placeholder="0.00" [textMask]="mascararEnteroConDecimales(8)"
                            class="form-control form-control-sm number-right"
                            (blur)="setDecimales(formulario.get('importeNetoGravado'), 2)" readonly>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-1">
                    <button id="idBoton" mat-raised-button color="primary"
                        (click)="enviarContrareembolso()">Agregar</button>
                </div>
                <div class="col-md-1">
                    <button id="idBotonCerrar" mat-raised-button color="secondary"
                        [mat-dialog-close]="null">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>