<div id="viajeremito" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
    <div class="row">
        <div class="col" class="centrar">
            <nav mat-tab-nav-bar>
                <a mat-tab-link disabled>CIERRE VIAJE</a>
                <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
                    (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
        <div class="col-md-12">
            <h5 class="text-center">{{pestaniaActual}} Cierre de Viaje</h5>
            <form [formGroup]="formularioViaje" class="contenedor">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idCodigo" class="tamanio-label-titulo">N° Guía de Servicio</label>
                            <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm number-right">
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="!show">
                        <button mat-raised-button color="primary" (click)="obtenerViajePorId()">Buscar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group has-float-label">
                            <label for="idFletero" class="tamanio-label-titulo">Fletero</label>
                            <input id="idFletero" type="text" formControlName="fletero"
                                class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-float-label">
                            <label for="idVehiculo" class="tamanio-label-titulo">Vehículo</label>
                            <input id="idVehiculo" type="text" formControlName="vehiculo"
                                class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-float-label">
                            <label for="idChofer" class="tamanio-label-titulo">Chofer</label>
                            <input id="idChofer" type="text" formControlName="chofer"
                                class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                </div>
            </form>
            <form [formGroup]="formulario" class="contenedor">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idFecha" class="tamanio-label-titulo">Fecha Cierre</label>
                            <input id="idFecha" type="date" formControlName="fecha" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idKmInicio" class="tamanio-label-titulo">km al Inicio</label>
                            <input id="idKmInicio" type="text" formControlName="kmInicio" class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button mat-raised-button>Ajuste</button>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button mat-raised-button>Consultar Viajes Cerrados</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idHora" class="tamanio-label-titulo">Hora</label>
                            <input id="idHora" type="text" [formControl]="hora" class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idKmFinal" class="tamanio-label-titulo">km al Final</label>
                            <input id="idKmFinal" type="text" formControlName="kmFinal" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idKmRecorridos" class="tamanio-label-titulo">km Recorridos</label>
                            <input id="idKmRecorridos" type="text" [formControl]="kmRecorridos" class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idKmTramos" class="tamanio-label-titulo">km por Tramos</label>
                            <input id="idKmTramos" type="text" [formControl]="kmTramos" class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idDiferenciaKm" class="tamanio-label-titulo">Diferencia km</label>
                            <input id="idDiferenciaKm" type="text" [formControl]="diferenciaKm" class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button mat-raised-button>km al 100%</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idLitrosRendidos" class="tamanio-label-titulo">Litros Rendidos</label>
                            <input id="idLitrosRendidos" type="text" formControlName="litrosRendidos" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idLitrosGS" class="tamanio-label-titulo">Litros Guía de Servicio</label>
                            <input id="idLitrosGS" type="text" [formControl]="litrosGS" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group has-float-label">
                            <label for="idDiferenciaLts" class="tamanio-label-titulo">Diferencia lts.</label>
                            <input id="idDiferenciaLts" type="text" [formControl]="diferenciaLts" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button mat-raised-button>Peajes</button>
                    </div>
                </div>
                <div class="row" *ngIf="show">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div class="row justify-content-center" *ngIf="!show">
                    <button mat-raised-button>Vista Previa</button>
                    <button class="margin-left-3" mat-raised-button color="primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row contenedor" *ngIf="indiceSeleccionado == 5">
        <div class="col-md-12">
            <div class="row" *ngIf="show">
                <div class="col text-center">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
            <div class="tabla">
                <div class="tabla-ancho">
                    <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                            <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.id}}</td>
                        </ng-container>
                        <ng-container matColumnDef="VIAJE">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Guía de Servicio</th>
                            <td mat-cell *matCellDef="let elemento">{{elemento.viaje.id}}</td>
                        </ng-container>
                        <ng-container matColumnDef="FECHA">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                            <td mat-cell *matCellDef="let elemento">{{elemento.fecha | date: 'dd/MM/yyyy'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="KMINICIO">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>km Inicio</th>
                            <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.kmInicio}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="KMFINAL">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>km Final</th>
                            <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.kmFinal}}
                        </ng-container>
                        <ng-container matColumnDef="EDITAR" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button
                                [disabled]="listaCompleta.data.length==0" color="primary" (click)="abrirReporte()">Reporte</button></th>
                            <td mat-cell *matCellDef="let elemento">
                                <button mat-icon-button class="mat-icon-button-table"
                                    (click)="activarConsultar(elemento)" matTooltip="Consultar"
                                    matTooltipPosition="above">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <button mat-icon-button class="mat-icon-button-table margin-left-3"
                                    (click)="activarActualizar(elemento)" matTooltip="Editar"
                                    matTooltipPosition="above">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                    </table>
                </div>
            </div>
        </div>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
</div>