<!--////////////    Servicios de Afip   //////////////-->
<div class="container-fluid">
    <div class="row justify-content-center contenedor">
      <h5>Servicio de Afip</h5>
    </div>
    <form [formGroup]="formulario" class="contenedor">
    <div class="row ">
      <div class="col-md-4">
        <div class="form-group has-float-label">
          <h5>Estado del Servicio de Afip</h5>
          <button id="idBoton" class="btn btn-primary" type="button">
            Consultar
          </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row ">
      <div class="col-md-4">
        <h5>Vencimiento del Certificado Digital</h5>
        <div class="form-group has-float-label">
          <label id="labelUsername" for="idEmpresa" class="tamanio-label">Empresa</label>
          <input id="idEmpresa" type="text" formControlName="empresa" autocomplete="off"
            class="form-control form-control-sm" [readonly]="soloLectura"><br>
          <button id="idBoton" class="btn btn-primary" type="button">
            Consultar
          </button>
        </div>
      </div>
    </div>
  </form>
  </div>
  
  