<div id="companiaseguropoliza" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>VENTA TIPO ITEM</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-4 text-center">
      <h5>{{pestaniaActual}} Venta Tipo Item</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
          <label for="idAutocompletado" class="tamanio-label">Buscar</label>
          <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" autocomplete="off"
            type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto"
            (blur)="verificarSeleccion(autocompletado)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let item of resultados" [value]="item" (onSelectionChange)="formulario.setValue(item)">
              {{item.nombre}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label">
              <label for="idMoneda" class="tamanio-label">Código</label>
              <input id="idMoneda" type="number" formControlName="id" class="form-control form-control-sm" readonly>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label">
              <label id="labelNombre" for="idNombre" class="tamanio-label">Nombre</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" maxlength="45">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label">
              <label id="labelTipoComprobante" for="idTipoComprobante" class="tamanio-label">Tipo de Comprobante</label>
              <mat-select id="idTipoComprobante" class="form-control form-control-sm" formControlName="tipoComprobante"
                [compareWith]="compareFn">
                <mat-option *ngFor="let tipo of tiposComprobantes" [value]="tipo">
                  {{tipo.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label">
              <label id="labelEsContraReembolso" for="idEsContraReembolso" class="tamanio-label">Es
                ContraReembolso</label>
              <mat-select class="form-control form-control-sm" formControlName="esContrareembolso">
                <mat-option [value]="true">Sí</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label">
              <label id="labelTipoComprobante" for="idTipoComprobante" class="tamanio-label">Afip Concepto</label>
              <mat-select id="idTipoComprobante" class="form-control form-control-sm" formControlName="afipConcepto"
                [compareWith]="compareFn">
                <mat-option *ngFor="let concepto of afipConceptos" [value]="concepto">
                  {{concepto.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label">
              <label id="labelEsChequeRechazado" for="idEsChequeRechazado" class="tamanio-label">Es Cheque
                Rechazado</label>
              <mat-select class="form-control form-control-sm" formControlName="esChequeRechazado">
                <mat-option [value]="true">Sí</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group has-float-label">
              <label id="labelEstaHabilitado" for="idEstaHabilitado" class="tamanio-label">Está Habilitado</label>
              <mat-select class="form-control form-control-sm" formControlName="estaHabilitado">
                <mat-option [value]="true">Sí</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-10">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <br>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="tipoComprobante">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Comprobante</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.tipoComprobante.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="esContrareembolso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Es ContraReembolso</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.esContrareembolso? 'Sí':'No'}}</td>
        </ng-container>
        <ng-container matColumnDef="afipConcepto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Afip Concepto</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.afipConcepto.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="chequeRechazado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Es Cheque Rechazado</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.chequeRechazado?'Sí':'No'}}</td>
        </ng-container>
        <ng-container matColumnDef="habilitado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Está Habilitado</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.estaHabilitado?'Sí':'No'}}</td>
        </ng-container>
        <ng-container matColumnDef="ver" sticky>
          <th mat-header-cell *matHeaderCellDef>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarConsultar(elemento)"><span
              class="cursor-color">ver</span></td>
        </ng-container>
        <ng-container matColumnDef="mod" sticky>
          <th mat-header-cell *matHeaderCellDef>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarActualizar(elemento)"><span
              class="cursor-color">editar</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div>
  </div>
</div>