<div class="container-fluid padd-20">
    <form [formGroup]="formulario">
        <div class="row">
            <div class="col text-center">
                <h5>Remito Cliente Dador de Carga</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-float-label">
                    <label for="idTramo" class="tamanio-label">Tramo</label>
                    <input id="idTramo" type="text" [formControl]="tramo" autocomplete="off"
                        class="form-control form-control-sm" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-float-label">
                    <label for="idDadorDestinatario" class="tamanio-label">Dador de Carga - Destinatario</label>
                    <input id="idDadorDestinatario" type="text" [formControl]="dadorDestinatario" autocomplete="off"
                        class="form-control form-control-sm" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group has-float-label">
                    <label for="idFecha" class="tamanio-label">Fecha *</label>
                    <input id="idFecha" type="date" formControlName="fecha" autocomplete="off"
                        class="form-control form-control-sm">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                    <label for="idTipoComprobante" class="tamanio-label">Tipo de Comprobante *</label>
                    <mat-select id="idTipoComprobante" class="form-control form-control-sm"
                        formControlName="tipoComprobante" [compareWith]="compareFn">
                        <mat-option *ngFor="let itemTipoComprobante of tiposComprobantes" [value]="itemTipoComprobante">
                            {{itemTipoComprobante.nombre}}</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-float-label">
                    <label for="idPuntoVenta" class="tamanio-label">Punto de Venta *</label>
                    <input id="idPuntoVenta" [textMask]="mascararEnteros(5)" type="text" formControlName="puntoVenta"
                        autocomplete="off" class="form-control form-control-sm number-right"
                        (blur)="establecerCerosIzq(formulario.get('puntoVenta'), '0000', -5)">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-float-label" *ngIf="!estadoLetra">
                    <label for="idLetra" class="tamanio-label">Letra *</label>
                    <input id="idLetra" type="text" formControlName="letra" autocomplete="off"
                        class="form-control form-control-sm" maxlength="1" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-float-label">
                    <label for="idNumero" class="tamanio-label">N° Comprobante *</label>
                    <input id="idNumero" [textMask]="mascararEnteros(8)" type="text" formControlName="numero"
                        autocomplete="off" class="form-control form-control-sm number-right"
                        (blur)="establecerCerosIzq(formulario.get('numero'), '0000000', -8)">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group has-float-label">
                    <label for="idBultos" class="tamanio-label">Bultos *</label>
                    <input id="idBultos" [textMask]="mascararEnterosSinDecimales(5)" type="text"
                        formControlName="bultos" autocomplete="off" class="form-control form-control-sm number-right"
                        [readonly]="soloLectura" placeholder="0" (blur)="establecerEnteros(formulario.get('bultos'))">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-float-label">
                    <label for="idM3" class="tamanio-label">M3</label>
                    <input id="idM3" [textMask]="mascararEnterosConDecimales(3)" type="text" formControlName="m3"
                        autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
                        (blur)="establecerDecimales(formulario.get('m3'), 2)" placeholder="0.00">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-float-label">
                    <label for="idValorDeclarado" class="tamanio-label">Valor Declarado</label>
                    <input id="idValorDeclarado" [textMask]="mascararEnterosConDecimales(10)" type="text"
                        formControlName="valorDeclarado" autocomplete="off"
                        class="form-control form-control-sm number-right" [readonly]="soloLectura"
                        (blur)="establecerDecimales(formulario.get('valorDeclarado'), 2)" placeholder="0.00">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-float-label">
                    <label for="idKilosEfectivo" class="tamanio-label">Kg Efectivo</label>
                    <input id="idKilosEfectivo" [textMask]="mascararEnterosConDecimales(8)" type="text"
                        formControlName="kilosEfectivo" autocomplete="off"
                        class="form-control form-control-sm number-right" [readonly]="soloLectura"
                        (blur)="establecerDecimales(formulario.get('kilosEfectivo'), 2)" placeholder="0.00">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-float-label">
                    <label for="idKilosAforado" class="tamanio-label">Kg Aforado</label>
                    <input id="idKilosAforado" [textMask]="mascararEnterosConDecimales(8)" type="text"
                        formControlName="kilosAforado" autocomplete="off"
                        class="form-control form-control-sm number-right" [readonly]="soloLectura"
                        (blur)="establecerDecimales(formulario.get('kilosAforado'), 2)" placeholder="0.00">
                </div>
            </div>
            <div class="col-md-2">
                <button mat-raised-button (click)="agregarAforo()">Aforar</button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button mat-raised-button (click)="cerrar()">Cerrar</button>
            </div>
        </div>
    </form>
</div>