<div class="container-fluid padd-20">
    <div class="row">
        <div class="col text-center">
            <h4>Tabla RolOpcion</h4>
            <div>
                <p>Está seguro que desea reestablecer la tabla desde cero?</p>
            </div>
            <button mat-raised-button [disabled]="progresoActivo" (click)="cancelar()" cdkFocusInitial>Cancelar</button>
            <button class="margin-left-3" mat-raised-button color="primary" [disabled]="progresoActivo"
                (click)="aceptar()">Aceptar</button>
            <br><br>
            <span *ngIf="progresoActivo">Reestableciendo...</span>
            <mat-progress-bar *ngIf="progresoActivo" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</div>