<div id="companiaseguropoliza" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>DEDUCCIÓN PERSONAL</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor">
    <div class="col-md-12 text-center">
      <h5>{{pestaniaActual}} Deducción Personal</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-2" *ngIf="indiceSeleccionado == 2 || indiceSeleccionado == 5">
            <div class="form-group has-float-label">
              <label id="labelAnio" for="idAnio" class="descripcion-label">Año Fiscal *</label>
              <input id="idAnio" type="number" [formControl]="anio" autocomplete="off" (blur)="cambioAnio(undefined)"
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-2" *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3">
            <div class="form-group has-float-label">
              <label for="idAnioFiscal" class="tamanio-label">Año Fiscal *</label>
              <mat-select id="idAnioFiscal" class="form-control form-control-sm" formControlName="anio"
                [compareWith]="compareFn" [disabled]="idMod">
                <mat-option *ngFor="let item of anios" [value]="item" (blur)="cambioAnio(item)">
                  {{item}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="labelTipoBeneficio" class="tamanio-label">Tipo de Beneficio *</label>
              <mat-select id="labelTipoBeneficio" class="form-control form-control-sm"
                formControlName="afipTipoBeneficio" [compareWith]="compareFn" [disabled]="idMod">
                <mat-option *ngFor="let item of tiposBeneficios" [value]="item" (blur)="cambioTipoBeneficio(item)">
                  {{item.descripcion}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-1" [hidden]="indiceSeleccionado == 1 || indiceSeleccionado == 4">
            <button id="idBotonBuscar" mat-raised-button color="primary" formnovalidate (click)="listar()"
              [disabled]="!tipoBeneficio.value || !anio.value">
              Buscar
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2" *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3">
            <div class="form-group has-float-label">
              <label for="labelDeduccionPersonal" class="tamanio-label">Deducción Personal *</label>
              <mat-select id="labelDeduccionPersonal" class="form-control form-control-sm"
                formControlName="afipDeduccionPersonal" [compareWith]="compareFn" [disabled]="indiceSeleccionado == 3">
                <mat-option *ngFor="let item of deduccionesPersonales" [value]="item">
                  {{item.descripcion}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2" *ngIf="indiceSeleccionado == 1">
            <div class="form-group has-float-label">
              <label for="idImporteAnualMensual" class="tamanio-label">Tipo Importe *</label>
              <mat-select id="idImporteAnualMensual" class="form-control form-control-sm"
                formControlName="importeAnualMensual" (selectionChange)="cambioTipoImporte()">
                <mat-option [value]="false">Anual</mat-option>
                <mat-option [value]="true">Mensual</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2" *ngIf="indiceSeleccionado == 1">
            <div class="form-group has-float-label">
              <label for="idMes" class="tamanio-label">Mes *</label>
              <mat-select id="idMes" class="form-control form-control-sm" formControlName="mes"
                [compareWith]="compareFn">
                <mat-option *ngFor="let item of meses" [value]="item" required>
                  {{item.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2" *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3">
            <div class="form-group has-float-label">
              <label id="labelImporte" for="idImporte" class="descripcion-label">Importe Acumulado *</label>
              <input id="idImporte" type="text" formControlName="importe" autocomplete="off"
                class="form-control form-control-sm number-right" [readonly]="soloLectura"
                [textMask]="mascararImporte(10)" placeholder="$0.00"
                (blur)="establecerDecimales(formulario.get('importe'), 2)">
            </div>
          </div>
          <div class="col-md-1" *ngIf="mostrarBoton && !idMod">
            <button id="idBotonPestania" mat-raised-button color="primary" formnovalidate
              (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
              {{pestaniaActual}}
            </button>
          </div>
          <div class="col-md-1" *ngIf="idMod">
            <button id="idBotonActualizar" mat-raised-button color="primary" formnovalidate (click)="actualizar()"
              [disabled]="!formulario.valid">
              Actualizar
            </button>
          </div>
          <div class="col-md-1" *ngIf="idMod">
            <button id="idBotonCancelar" mat-raised-button formnovalidate (click)="cancelar()">
              Cancelar
            </button>
          </div>
        </div>
        <div class="row ">
          <div class="tabla">
            <div class="tabla-ancho">
              <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                <ng-container matColumnDef="ANIO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.anio}}</td>
                </ng-container>
                <ng-container matColumnDef="TIPO_BENEFICIO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Beneficio</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.afipTipoBeneficio.descripcion}}</td>
                </ng-container>
                <ng-container matColumnDef="DEDUCCION_PERSONAL">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Deducción Personal</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.afipDeduccionPersonal.descripcion}}</td>
                </ng-container>
                <ng-container matColumnDef="IMPORTE_ACUMULADO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe Acumulado</th>
                  <td mat-cell *matCellDef="let elemento">${{elemento.importe | number: '1.2-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="TIPO_IMPORTE">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Importe</th>
                  <td mat-cell *matCellDef="let elemento">
                    <span *ngIf="elemento.mes">Mensual</span>
                    <span *ngIf="!elemento.mes">
                      <span class="cursor-color" *ngIf="indiceSeleccionado == 2 || indiceSeleccionado ==  5"
                        (click)="verModaAnual(elemento)">Anual</span>
                      <span *ngIf="indiceSeleccionado == 1 || indiceSeleccionado ==  3">Anual</span>
                    </span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="MES">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Mes</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.mes? elemento.mes.nombre : '-'}}</td>
                </ng-container>
                <ng-container matColumnDef="EDITAR" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
                      (click)="abrirReporte()">Reporte</button></th>
                  <td mat-cell *matCellDef="let elemento">
                    <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
                      matTooltip="Consultar" matTooltipPosition="above">
                      <mat-icon>search</mat-icon>
                    </button>
                    <button mat-icon-button class="mat-icon-button-table margin-left-3"
                      (click)="activarActualizar(elemento)" matTooltip="Editar" matTooltipPosition="above">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
              </table>
            </div>
          </div>
        </div>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>