<div id="configuracionvehiculo" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>CONFIGURACION VEHICULO</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre" (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8 text-center">
      <h5>{{pestaniaActual}} Configuración de Vehículo</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idTipoVehiculo" class="tamanio-label">Tipo de Vehículo *</label>
              <mat-select id="idTipoVehiculo" class="form-control form-control-sm" formControlName="tipoVehiculo"
                [compareWith]="compareFn" (selectionChange)="listarPorTipoVehiculoMarcaVehiculo()">
                <mat-option *ngFor="let itemTipoVehiculo of tiposVehiculos" [value]="itemTipoVehiculo">
                  {{itemTipoVehiculo.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idMarcaVehiculo" class="tamanio-label">Marca de Vehículo *</label>
              <mat-select id="idMarcaVehiculo" class="form-control form-control-sm" formControlName="marcaVehiculo"
                [compareWith]="compareFn" (selectionChange)="listarPorTipoVehiculoMarcaVehiculo()">
                <mat-option *ngFor="let itemMarcaVehiculo of marcasVehiculos" [value]="itemMarcaVehiculo">
                  {{itemMarcaVehiculo.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
              <div class="form-group has-float-label">
                <label for="idAutocompletado" class="tamanio-label">Lista de Configuraciones</label>
                <mat-select id="idAutocompletado" class="form-control form-control-sm" 
                  [formControl]="autocompletado" [compareWith]="compareFn">
                  <mat-option *ngFor="let item of configuraciones" [value]="item" 
                    (onSelectionChange)="formulario.setValue(item)">
                    Modelo: <b>{{item.modelo}}</b> - Cantidad Ejes: <b>{{item.cantidadEjes}}</b>
                    - Capacidad Carga: <b>{{item.capacidadCarga}}</b>
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idModelo" class="tamanio-label">Modelo *</label>
              <input id="idModelo" type="text" formControlName="modelo" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group has-float-label">
              <label for="idDescripcion" class="tamanio-label">Descripción</label>
              <textarea id="idDescripcion" class="form-control form-control-sm" formControlName="descripcion"
                [readonly]="soloLectura"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCantidadEjes" class="tamanio-label">Cantidad de Ejes *</label>
              <mat-select id="idCantidadEjes" class="form-control form-control-sm" 
                formControlName="cantidadEjes">
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="3">3</mat-option>
                <mat-option [value]="4">4</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCapacidadCarga" class="tamanio-label">Capacidad Total de Carga(Tn) *</label>
              <input id="idCapacidadCarga" type="number" formControlName="capacidadCarga" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idTara" class="tamanio-label">Tara(Tn)</label>
              <input id="idTara" type="number" formControlName="tara" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idAltura" class="tamanio-label">Altura(m)</label>
              <input id="idAltura" type="number" formControlName="altura" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idLargo" class="tamanio-label">Largo(m)</label>
              <input id="idLargo" type="number" formControlName="largo" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idAncho" class="tamanio-label">Ancho(m)</label>
              <input id="idAncho" type="number" formControlName="ancho" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idM3" class="tamanio-label">M3(m)</label>
              <input id="idM3" type="number" formControlName="m3" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button" formnovalidate 
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:5%" scope="col">id</th>
            <th class="text-center" style="width:15%" scope="col">Tipo Vehículo</th>
            <th class="text-center" style="width:20%" scope="col">Marca Vehículo</th>
            <th class="text-center" style="width:10%" scope="col">Modelo</th>
            <th class="text-center" style="width:10%" scope="col">Cantidad Ejes</th>
            <th class="text-center" style="width:10%" scope="col">Capacidad Carga</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td align="center">
              <span>{{l.id}}</span>
            </td>
            <td align="center">
              <span>{{l.tipoVehiculo.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.marcaVehiculo.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.modelo}}</span>
            </td>
            <td align="center">
              <span>{{l.cantidadEjes}}</span>
            </td>
            <td align="center">
              <span>{{l.capacidadCarga}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>