<div id="configuracionvehiculo" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>CONFIGURACION VEHICULO</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-10 text-center">
      <h5>{{pestaniaActual}} Configuración de Vehículo</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idTipoVehiculo" class="tamanio-label">Tipo de Vehículo *</label>
              <mat-select id="idTipoVehiculo" class="form-control form-control-sm" formControlName="tipoVehiculo"
                [compareWith]="compareFn" (selectionChange)="listarPorTipoVehiculoMarcaVehiculo()">
                <mat-option *ngFor="let itemTipoVehiculo of tiposVehiculos" [value]="itemTipoVehiculo">
                  {{itemTipoVehiculo.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idMarcaVehiculo" class="tamanio-label">Marca de Vehículo *</label>
              <mat-select id="idMarcaVehiculo" class="form-control form-control-sm" formControlName="marcaVehiculo"
                [compareWith]="compareFn" (selectionChange)="listarPorTipoVehiculoMarcaVehiculo()">
                <mat-option *ngFor="let itemMarcaVehiculo of marcasVehiculos" [value]="itemMarcaVehiculo">
                  {{itemMarcaVehiculo.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
              <div class="form-group has-float-label">
                <label for="idAutocompletado" class="tamanio-label">Lista de Configuraciones</label>
                <mat-select id="idAutocompletado" class="form-control form-control-sm" [formControl]="autocompletado"
                  [compareWith]="compareFn" (selectionChange)="establecerFormulario()">
                  <mat-option *ngFor="let item of configuraciones" [value]="item">
                    Modelo: <b>{{item.modelo}}</b> - Cantidad Ejes: <b>{{item.cantidadEjes}}</b>
                    - Capacidad Carga: <b>{{item.capacidadCarga}}</b>
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idModelo" class="tamanio-label">Modelo *</label>
              <input id="idModelo" type="text" formControlName="modelo" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" maxlength="45">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group has-float-label">
              <label for="idDescripcion" class="tamanio-label">Descripción</label>
              <textarea id="idDescripcion" class="form-control form-control-sm" formControlName="descripcion"
                [readonly]="soloLectura" maxlength="100"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCantidadEjes" class="tamanio-label">Cantidad de Ejes *</label>
              <mat-select id="idCantidadEjes" class="form-control form-control-sm" formControlName="cantidadEjes">
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="3">3</mat-option>
                <mat-option [value]="4">4</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCapacidadCarga" class="tamanio-label">Capacidad Total de Carga(Tn) *</label>
              <input id="idCapacidadCarga" type="text" formControlName="capacidadCarga" autocomplete="off"
                [textMask]="obtenerMascaraEnteroConDecimales(2)" placeholder="0.00"
                (blur)="setDecimales(formulario.get('capacidadCarga'), 2)"
                class="form-control form-control-sm number-right" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idTara" class="tamanio-label">Tara(Tn)</label>
              <input id="idTara" type="text" formControlName="tara" autocomplete="off" placeholder="0.00"
                (blur)="setDecimales(formulario.get('tara'), 2)" class="form-control form-control-sm number-right"
                [textMask]="obtenerMascaraEnteroConDecimales(2)" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idAltura" class="tamanio-label">Altura(m)</label>
              <input id="idAltura" type="text" formControlName="altura" autocomplete="off" placeholder="0.00"
                (blur)="setDecimales(formulario.get('altura'), 2)" class="form-control form-control-sm number-right"
                [textMask]="obtenerMascaraEnteroConDecimales(2)" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idLargo" class="tamanio-label">Largo(m)</label>
              <input id="idLargo" type="text" formControlName="largo" autocomplete="off" placeholder="0.00"
                (blur)="setDecimales(formulario.get('largo'), 2)" class="form-control form-control-sm number-right"
                [textMask]="obtenerMascaraEnteroConDecimales(2)" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idAncho" class="tamanio-label">Ancho(m)</label>
              <input id="idAncho" type="text" formControlName="ancho" autocomplete="off" placeholder="0.00"
                (blur)="setDecimales(formulario.get('ancho'), 2)" class="form-control form-control-sm number-right"
                [textMask]="obtenerMascaraEnteroConDecimales(2)" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idM3" class="tamanio-label">M3(m)</label>
              <input id="idM3" type="text" formControlName="m3" autocomplete="off" placeholder="0.00"
                (blur)="setDecimales(formulario.get('m3'), 2)" class="form-control form-control-sm number-right"
                [textMask]="obtenerMascaraEnteroConDecimales(2)" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" [hidden]="indiceSeleccionado != 5">
    <div class="col-md-10">
      <br>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group has-float-label">
            <label for="idMarcaVehiculo" class="tamanio-label">Marca de Vehículo *</label>
            <mat-select id="idMarcaVehiculo" class="form-control form-control-sm" [formControl]="marcaVehiculo"
              [compareWith]="compareFn" (selectionChange)="listarPorMarcaVehiculo()">
              <mat-option *ngFor="let itemMarcaVehiculo of marcasVehiculos" [value]="itemMarcaVehiculo">
                {{itemMarcaVehiculo.nombre}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="ID" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="TIPO VEHICULO" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Vehículo</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.tipoVehiculo.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="MARCA VEHICULO" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca Vehículo</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.marcaVehiculo.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="MODELO" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.modelo}}</td>
        </ng-container>
        <ng-container matColumnDef="CANTIDAD EJES" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad Ejes</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.cantidadEjes}}</td>
        </ng-container>
        <ng-container matColumnDef="CAPACIDAD CARGA" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Capacidad Carga</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.capacidadCarga}}</td>
        </ng-container>
        <ng-container matColumnDef="EDITAR" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let elemento">
              <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
                matTooltip="Consultar" matTooltipPosition="above">
                <mat-icon>search</mat-icon>
              </button>
              <button mat-icon-button class="mat-icon-button-table margin-left-3" 
                (click)="activarActualizar(elemento)" matTooltip="Editar" matTooltipPosition="above">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-md-1">
        <div class="row justify-content-end">
          <button mat-raised-button color="primary" (click)="abrirReporte()">Reporte</button>
        </div>
      </div>
  </div>
</div>