<div id="companiaseguropoliza" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>INSUMO PRODUCTO</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8 text-center">
      <h5>{{pestaniaActual}} Insumo Producto</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
              <label for="idAutocompletado" class="tamanio-label">Buscar</label>
              <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" autocomplete="off"
                type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayF.bind(this)" 
                (optionSelected)="establecerAutocompletado()">
                <mat-option *ngFor="let item of resultados" [value]="item">
                  {{item.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Código *</label>
              <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelNombre" for="idNombre" class="tamanio-label">Nombre *</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" maxlength="30">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idRubro" class="rubro-label">Rubro *</label>
              <mat-select id="idRubro" class="form-control form-control-sm" formControlName="rubroProducto"
                [compareWith]="compareFn">
                <mat-option *ngFor="let rubro of rubros" [value]="rubro">
                  {{rubro.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idMarca" class="tamanio-label">Marca *</label>
              <mat-select id="idMarca" class="form-control form-control-sm" formControlName="marcaProducto"
                [compareWith]="compareFn">
                <mat-option *ngFor="let marca of marcas" [value]="marca">
                  {{marca.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelUnidadMedida" for="idUnidadMedida" class="tamanio-label">Unidad Medida *</label>
              <mat-select id="idUnidadMedida" class="form-control form-control-sm" formControlName="unidadMedida"
                [compareWith]="compareFn">
                <mat-option *ngFor="let medida of unidadesMedidas" [value]="medida">
                  {{medida.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelModelo" for="idModelo" class="tamanio-label">Modelo</label>
              <input id="idModelo" type="text" formControlName="modelo" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelEsAsignable" for="idEsAsignable" class="tamanio-label">Es Asignable *</label>
              <mat-select class="form-control form-control-sm" formControlName="esAsignable">
                <mat-option [value]="true">Sí</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelEsSerializable" for="idEsSerializable" class="tamanio-label">Es Serializable *</label>
              <mat-select class="form-control form-control-sm" formControlName="esSerializable">
                <mat-option [value]="true">Sí</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelEsCritico" for="idEsCritico" class="tamanio-label">Es Crítico *</label>
              <mat-select class="form-control form-control-sm" formControlName="esCritico">
                <mat-option [value]="true">Sí</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idStockMinimo" class="tamanio-label">Stock Mínimo</label>
              <input id="idStockMinimo" type="text" formControlName="stockMinimo"
                class="form-control form-control-sm number-right" [textMask]="mascararEnteros(8)"
                [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idPrecioUnitario" class="tamanio-label">Precio Unitario de Venta($)</label>
              <input id="idPrecioUnitario" type="text" formControlName="precioUnitarioVenta"
                class="form-control form-control-sm number-right" [textMask]="mascararImporte(8)"
                (blur)="establecerDecimales(formulario.get('precioUnitarioVenta'), 2)" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCoeficienteITC" class="coeficiente-label">Coeficiente ITC</label>
              <input id="idCoeficienteITC" type="text" formControlName="coeficienteITC"
                class="form-control form-control-sm number-right" [textMask]="mascararCuatroDecimales(2)"
                (blur)="establecerDecimales(formulario.get('coeficienteITC'), 4)" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:10%" scope="col">Nombre</th>
            <th class="text-center" style="width:10%" scope="col">Marca</th>
            <th class="text-center" style="width:10%" scope="col">Modelo</th>
            <th class="text-center" style="width:20%" scope="col">Rubro</th>
            <th class="text-center" style="width:10%" scope="col">Es Asignable</th>
            <th class="text-center" style="width:20%" scope="col">Es Serializable</th>
            <th class="text-center" style="width:10%" scope="col">Es Crítico</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td align="center">
              <span>{{l.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.marcaProducto.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.modelo}}</span>
            </td>
            <td align="center">
              <span>{{l.rubroProducto.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.esAsignable? 'Sí':'No'}}</span>
            </td>
            <td align="center">
              <span>{{l.esSerializable? 'Sí':'No'}}</span>
            </td>
            <td align="center">
              <span>{{l.esCritico? 'Sí':'No'}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>