<div id="subopcion" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>SUBOPCION</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-4 text-center">
      <h5>{{pestaniaActual}} Subopción</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
          <label for="idAutocompletado" class="tamanio-label">Buscar por Nombre</label>
          <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" type="text" matInput 
            [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let item of resultados" [value]="item" (onSelectionChange)="formulario.setValue(item)">
              {{item.nombre}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigo" class="tamanio-label">Código</label>
          <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm" readonly>
        </div>
        <div id="divNombre" class="form-group has-float-label">
          <label id="labelNombre" for="idNombre" class="tamanio-label">Nombre *</label>
          <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
            class="form-control form-control-sm" [readonly]="soloLectura"
            (ngModelChange)="cambioCampo('idNombre', 'labelNombre')">
        </div>
        <div class="form-group has-float-label">
          <label for="idEsABM" class="tamanio-label">Es ABM *</label>
          <input id="idEsABM" class="form-control form-control-sm" type="text" matInput
            [formControl]="formulario.get('esABM')" [matAutocomplete]="autoEsABM"
            autocomplete="off" [readonly]="soloLectura">
          <mat-autocomplete #autoEsABM="matAutocomplete" [displayWith]="displayFb.bind(this)">
            <mat-option [value]="false">No</mat-option>
            <mat-option [value]="true">Si</mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group has-float-label">
          <label for="idSubmodulo" class="tamanio-label">Submódulo *</label>
          <input id="idSubmodulo" class="form-control form-control-sm" type="text" matInput
            [formControl]="formulario.get('submodulo')" [matAutocomplete]="autoSubmodulo"
            autocomplete="off" [readonly]="soloLectura">
          <mat-autocomplete #autoSubmodulo="matAutocomplete" [displayWith]="displayFa.bind(this)">
            <mat-option *ngFor="let itemSubmodulo of submodulos" [value]="itemSubmodulo">
              {{itemSubmodulo.nombre}} - {{itemSubmodulo.modulo.nombre}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-10">
      <div class="form-group has-float-label">
        <label for="idSubmodulo" class="tamanio-label">Submódulo</label>
        <input id="idSubmodulo" class="form-control form-control-sm" type="text" matInput
          [formControl]="formulario.get('submodulo')" [matAutocomplete]="autoSubmodulo" autocomplete="off">
        <mat-autocomplete #autoSubmodulo="matAutocomplete" [displayWith]="displayFa.bind(this)">
          <mat-option *ngFor="let itemSubmodulo of submodulos" [value]="itemSubmodulo"
            (onSelectionChange)="listarPorSubmodulo(itemSubmodulo)">
            {{itemSubmodulo.nombre}} - {{itemSubmodulo.modulo.nombre}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:10%" scope="col">id</th>
            <th class="text-center" style="width:40%" scope="col">Nombre</th>
            <th class="text-center" style="width:30%" scope="col">Submodulo</th>
            <th class="text-center" style="width:10%" scope="col">-</th>
            <th class="text-center" style="width:10%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td align="center">
              <span>{{l.id}}</span>
            </td>
            <td align="center">
              <span>{{l.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.submodulo.nombre}}, {{l.submodulo.modulo.nombre}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
