<div id="agendatelefonica" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>AGENDA TELEFONICA</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-6 text-center">
      <h5>{{pestaniaActual}} Agenda Telefónica</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
              <label for="idAutocompletado" class="tamanio-label">Buscar por Nombre</label>
              <input id="idAutocompletado" class="form-control form-control-sm"
                type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let item of resultados" [value]="item"
                  (onSelectionChange)="cambioAutocompletado(item)">
                  {{item.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Código</label>
              <input id="idCodigo" type="text" formControlName="id" class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNombre" class="tamanio-label">Nombre</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idDomicilio" class="tamanio-label">Domicilio</label>
              <input id="idDomicilio" type="text" formControlName="domicilio" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelTelefonoFijo" for="idTelefonoFijo" class="tamanio-label">Teléfono Fijo</label>
              <input id="idTelefonoFijo" type="tel" formControlName="telefonoFijo" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelTelefonoMovil" for="idTelefonoMovil" class="tamanio-label">Teléfono Móvil</label>
              <input id="idTelefonoMovil" type="tel" formControlName="telefonoMovil" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelCorreoelectronico" for="idCorreoelectronico" class="tamanio-label">
                Correo Electrónico</label>
              <input id="idCorreoelectronico" type="email" formControlName="correoelectronico" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura"
                (ngModelChange)="cambioCampo('idCorreoelectronico', 'labelCorreoelectronico')"
                pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"
                (blur)="validarPatron('^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$', 'correoelectronico')">
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label for="idLocalidad" class="tamanio-label">Localidad</label>
              <input id="idLocalidad" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('localidad')" [matAutocomplete]="autoLocalidad" 
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoLocalidad="matAutocomplete" [displayWith]="displayFa.bind(this)">
                <mat-option *ngFor="let itemLocalidad of resultadosLocalidades" [value]="itemLocalidad">
                  {{itemLocalidad.nombre}}, {{itemLocalidad.provincia.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:5%" scope="col">id</th>
            <th class="text-center" style="width:15%" scope="col">Nombre</th>
            <th class="text-center" style="width:20%" scope="col">Domicilio</th>
            <th class="text-center" style="width:10%" scope="col">Teléfono Fijo</th>
            <th class="text-center" style="width:10%" scope="col">Teléfono Móvil</th>
            <th class="text-center" style="width:10%" scope="col">Correo Electrónico</th>
            <th class="text-center" style="width:20%" scope="col">Localidad</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td align="center">
              <span>{{l.id}}</span>
            </td>
            <td align="center">
              <span>{{l.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.domicilio}}</span>
            </td>
            <td align="center">
              <span>{{l.telefonoFijo}}</span>
            </td>
            <td align="center">
              <span>{{l.telefonoMovil}}</span>
            </td>
            <td align="center">
              <span>{{l.correoelectronico}}</span>
            </td>
            <td align="center">
              <span>{{l.localidad.nombre}}, {{l.localidad.provincia.nombre}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
