<form [formGroup]="formularioViajeGasto">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idFechaG" class="tamanio-label">Fecha</label>
        <input id="idFechaG" type="date" formControlName="fecha" autocomplete="off" class="form-control form-control-sm"
          [readonly]="soloLectura">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idRubroProductoG" class="tamanio-label">Rubro *</label>
        <mat-select id="idRubroProductoG" class="form-control form-control-sm" formControlName="rubroProducto"
          [compareWith]="compareFn">
          <mat-option *ngFor="let itemRubroProducto of resultadosRubrosProductos" [value]="itemRubroProducto">
            {{itemRubroProducto.nombre}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idCantidadG" class="tamanio-label">Cantidad *</label>
        <input id="idCantidadG" [textMask]="mascararEnteros(8)" type="text" formControlName="cantidad"
          autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
          (blur)="calcularImporte(formularioViajeGasto)" placeholder="0">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idPrecioUnitarioG" class="tamanio-label">Precio Unitario *</label>
        <input id="idPrecioUnitarioG" [textMask]="mascararImporte(8, 2)" type="text" formControlName="precioUnitario"
          autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
          placeholder="$ 0.00" (blur)="calcularImporte(formularioViajeGasto)">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idImporteG" class="tamanio-label">Importe($) *</label>
        <input id="idImporteG" [textMask]="mascararImporte(8, 2)" type="text" formControlName="importe" autocomplete="off"
          class="form-control form-control-sm number-right" [readonly]="true" placeholder="$ 0.00">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group has-float-label">
        <label for="idObservacionesG" class="tamanio-label">Observaciones</label>
        <textarea id="idObservacionesG" class="form-control form-control-sm" formControlName="observaciones" rows="2"
          [readonly]="soloLectura"></textarea>
      </div>
    </div>
    <div class="col-md-3">
      <button mat-raised-button color="primary" (click)="agregarGasto()" *ngIf="btnGasto"
        [disabled]="!formularioViajeGasto.valid">Agregar Gasto
      </button>
      <button mat-raised-button color="primary" (click)="modificarGasto()" 
        [disabled]="!formularioViajeGasto.valid" *ngIf="!btnGasto">Actualizar Gasto
      </button>
      <button mat-raised-button (click)="cancelar()">Cancelar</button>
    </div>
  </div>
  <div class="row">
    <div class="tabla">
      <div class="tabla-ancho">
        <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
            <ng-container matColumnDef="fecha" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.fecha | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="rubro" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Rubro</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.rubroProducto.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="cantidad" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.cantidad? elemento.cantidad : '--'}}</td>
            </ng-container>
            <ng-container matColumnDef="precioUnitario" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Unitario</th>
                <td mat-cell *matCellDef="let elemento">$ {{establecerCerosTabla(elemento.precioUnitario)}}</td>
            </ng-container>
            <ng-container matColumnDef="importe" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
              <td mat-cell *matCellDef="let elemento">$ {{establecerCerosTabla(elemento.importe)}}</td>
            </ng-container>
            <ng-container matColumnDef="obs" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>-</th>
                <td mat-cell *matCellDef="let elemento">
                    <span class="cursor-color" (click)="verObservacionesDialogo(elemento.observaciones)">ver</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="anulado" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Anulado</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.anulado? 'Sí':'No'}}</td>
            </ng-container>
            <ng-container matColumnDef="obsAnulado" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Obs. Anulado</th>
              <td mat-cell *matCellDef="let elemento">
                <span class="cursor-color" (click)="verObservacionesDialogo(elemento.observacionesAnulado)">ver</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="mod" sticky >
              <th mat-header-cell *matHeaderCellDef>-</th>
              <td mat-cell *matCellDef="let elemento;  let i = index;" >
                <span class="cursor-color" *ngIf="!soloLectura" (click)="modGasto(i)">mod</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="eliminar"  sticky>
                <th mat-header-cell *matHeaderCellDef>-</th>
                <td mat-cell *matCellDef="let elemento;  let i = index;" (click)="eliminarGasto(i, elemento)">
                  <span class="cursor-color-rojo" *ngIf="!soloLectura">X</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-end">
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idImporteTotalG" class="tamanio-label">Importe Total *</label>
        <input id="idImporteTotalG" [textMask]="mascararImporte(8, 2)" type="text" formControlName="importeTotal"
          autocomplete="off" class="form-control form-control-sm number-right" [readonly]="true" placeholder="$ 0.00">
      </div>
    </div>
  </div>
</form>