<form [formGroup]="formularioViajePropioGasto">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idFechaG" class="tamanio-label">Fecha</label>
        <input id="idFechaG" type="date" formControlName="fecha" autocomplete="off" class="form-control form-control-sm"
          [readonly]="soloLectura">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idRubroProductoG" class="tamanio-label">Rubro *</label>
        <mat-select id="idRubroProductoG" class="form-control form-control-sm" formControlName="rubroProducto"
          [compareWith]="compareFn">
          <mat-option *ngFor="let itemRubroProducto of resultadosRubrosProductos" [value]="itemRubroProducto">
            {{itemRubroProducto.nombre}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idCantidadG" class="tamanio-label">Cantidad *</label>
        <input id="idCantidadG" [textMask]="mascararEnteros(8)" type="text" formControlName="cantidad"
          autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
          (blur)="calcularImporte(formularioViajePropioGasto)">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idPrecioUnitarioG" class="tamanio-label">Precio Unitario *</label>
        <input id="idPrecioUnitarioG" [textMask]="mascararImporte(8)" type="text" formControlName="precioUnitario"
          autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
          placeholder="$ 0.00" (blur)="calcularImporte(formularioViajePropioGasto)">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idImporteG" class="tamanio-label">Importe($) *</label>
        <input id="idImporteG" [textMask]="mascararImporte(8)" type="text" formControlName="importe" autocomplete="off"
          class="form-control form-control-sm number-right" [readonly]="true" placeholder="$ 0.00">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group has-float-label">
        <label for="idObservacionesG" class="tamanio-label">Observaciones</label>
        <textarea id="idObservacionesG" class="form-control form-control-sm" formControlName="observaciones" rows="2"
          [readonly]="soloLectura"></textarea>
      </div>
    </div>
    <div class="col-md-1">
      <button mat-raised-button color="primary" (click)="agregarGasto()"
        [disabled]="!formularioViajePropioGasto.valid">Agregar Gasto</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="height: 200px; overflow-y: scroll;">
      <table class="table table-bordered table-striped table-sm table-condensed tabla-viaje">
        <thead>
          <tr>
            <th class="text-center" style="width:10%" scope="col">Fecha</th>
            <th class="text-center" style="width:15%" scope="col">Rubro</th>
            <th class="text-center" style="width:10%" scope="col">Cantidad</th>
            <th class="text-center" style="width:15%" scope="col">Precio Unitario</th>
            <th class="text-center" style="width:10%" scope="col">Importe</th>
            <th class="text-center" style="width:10%" scope="col">Observaciones</th>
            <th class="text-center" style="width:10%" scope="col">Anulado</th>
            <th class="text-center" style="width:15%" scope="col">Observaciones Anulado</th>
            <th class="text-center" style="width:5%" scope="col" *ngIf="!soloLectura">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaGastos; let i = index">
            <td align="center">
              <span>{{l.fecha | date: 'dd/MM/yyyy'}}</span>
            </td>
            <td align="center">
              <span>{{l.rubroProducto.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.cantidad}}</span>
            </td>
            <td align="center">
              <span>$ {{establecerCerosTabla(l.precioUnitario)}}</span>
            </td>
            <td align="center">
              <span>$ {{establecerCerosTabla(l.importe)}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="verObservacionesDialogo(l.observaciones)">ver</span>
            </td>
            <td align="center">
              <span>{{l.anulado}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="verObservacionesDialogo(l.observacionesAnulado)">ver</span>
            </td>
            <td align="center">
              <span class="cursor-color-rojo" (click)="eliminarGasto(i, l)" *ngIf="!soloLectura">X</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row justify-content-end">
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idImporteTotalG" class="tamanio-label">Importe Total *</label>
        <input id="idImporteTotalG" [textMask]="mascararImporte(8)" type="text" formControlName="importeTotal"
          autocomplete="off" class="form-control form-control-sm number-right" [readonly]="true" placeholder="$ 0.00">
      </div>
    </div>
  </div>
</form>