<div id="planillacerrada " class="row justify-content-center container-fluid padd-20">
    <div class="col-md-10 text-center">
        <form [formGroup]="formulario">
            <h5 class="text-center">Planillas Cerradas</h5>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group has-float-label margin-left">
                        <label for="idTipoViaje" class="tamanio-label">Tipo de Viaje *</label>
                        <mat-select id="idTipoViaje" class="form-control form-control-sm"
                            formControlName="esRepartoPropio" (selectionChange)="cambioTipoViaje()">
                            <mat-option [value]="true">Propio</mat-option>
                            <mat-option [value]=false>Tercierizado</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group has-float-label">
                        <label for="idFechaDesde">Fecha Desde *</label>
                        <input id="idFechaDesde" type="date" class="form-control form-control-sm"
                            formControlName="fechaDesde">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group has-float-label">
                        <label for="idFechaHasta">Fecha Hasta *</label>
                        <input id="idFechaHasta" type="date" class="form-control form-control-sm"
                            formControlName="fechaHasta" (blur)="verificarFecha()">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-float-label">
                        <label for="idChofer">Chofer</label>
                        <input id="idChofer" class="form-control form-control-sm" type="text" matInput
                            autocomplete="off" [matAutocomplete]="autoChofer"
                            placeholder="Buscar por Número, Nombre o N° Documento"
                            (blur)="verificarSeleccion(formulario.get('idChofer'))"
                            [formControl]="formulario.get('idChofer')">
                        <mat-autocomplete #autoChofer="matAutocomplete" [displayWith]="displayFn.bind(this)">
                            <mat-option *ngFor="let itemChofer of resultadosChofer" [value]="itemChofer">
                                {{itemChofer.alias}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm" [disabled]="!formulario.valid"
                        (click)="listarPorFiltros()">Buscar</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabla">
                        <div class="tabla-ancho">
                            <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                                <ng-container matColumnDef="numeroReparto">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5px;">N° Reparto
                                    </th>
                                    <td mat-cell *matCellDef="let elemento; let i=index" class="number-right">
                                        {{elemento.id}}</td>
                                </ng-container>
                                <ng-container matColumnDef="fechaRegistracion">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                                    <td mat-cell *matCellDef="let elemento">
                                        {{elemento.fechaRegistracion | date: 'dd-MM-yyyy'}}</td>
                                </ng-container>
                                <ng-container matColumnDef="zona">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Zona</th>
                                    <td mat-cell *matCellDef="let elemento">{{elemento.zona.nombre}}</td>
                                </ng-container>
                                <ng-container matColumnDef="vehiculo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehículo</th>
                                    <td mat-cell *matCellDef="let elemento">
                                        <span>{{elemento.vehiculo!=null ? elemento.vehiculo.alias: elemento.vehiculoProveedor.alias}}</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="chofer">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Chofer</th>
                                    <td mat-cell *matCellDef="let elemento">
                                        <span>{{elemento.personal!=null? elemento.personal.alias: elemento.choferProveedor.alias}}</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="fechaSalida">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Salida</th>
                                    <td mat-cell *matCellDef="let elemento">
                                        {{elemento.fechaSalida | date: 'dd-MM-yyyy'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="horaSalida">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora Salida</th>
                                    <td mat-cell *matCellDef="let elemento">
                                        {{elemento.horaSalida}} hs.
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="reabrir" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef>-</th>
                                    <td mat-cell *matCellDef="let elemento; let i=index">
                                        <span class="cursor-color" (click)="reabrirReparto(elemento.id)">
                                            Reabrir
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="reporte" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef>-</th>
                                    <td mat-cell *matCellDef="let elemento; let i=index">
                                        <span class="cursor-color-rojo" (click)="abrirReporte(elemento.id)">
                                            Reporte
                                        </span>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="show">
                <div class="col text-center">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
        </form>
    </div>
</div>