<div class="row padd-20">
    <div class="col-md-12">
        <h5 class="text-center">Totales por Conceptos</h5>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                    <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                        <td mat-cell *matCellDef="let elemento; let i= index;">
                            {{ i + 1}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>Totales </td>
                    </ng-container>
                    <ng-container matColumnDef="SEGURO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Seguro (%)</th>
                        <td mat-cell *matCellDef="let elemento">
                            {{elemento.pSeguro? (elemento.pSeguro | number: '1.2-2') : '-'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalSeguro() | number: '1.2-2'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="FLETE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Flete ($)</th>
                        <td mat-cell *matCellDef="let elemento" class="number-right">
                            {{elemento.flete? (elemento.flete | number: '1.2-2') : '-'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="number-right">
                            {{getTotalFlete() | currency}} </td>
                    </ng-container>
                    <ng-container matColumnDef="RETIRO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Retiro ($)</th>
                        <td mat-cell *matCellDef="let elemento" class="number-right">
                            {{elemento.importeRetiro? (elemento.importeRetiro | number: '1.2-2') : '-'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="number-right">
                            {{getTotalRetiro() | currency}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ENTREGA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Entrega ($)</th>
                        <td mat-cell *matCellDef="let elemento" class="number-right">
                            {{elemento.importeEntrega? (elemento.importeEntrega | number: '1.2-2') : '-'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="number-right">
                            {{getTotalEntrega() | currency}} </td>
                    </ng-container>
                    <ng-container matColumnDef="VARIOS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Varios</th>
                        <td mat-cell *matCellDef="let elemento" class="number-right">
                            {{elemento.importeTipoConceptoVenta}}</td>
                        <td mat-footer-cell *matFooterCellDef class="number-right">
                            {{getTotalVarios() | currency}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                    <tr mat-footer-row *matFooterRowDef="columnas"></tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button mat-raised-button color="accent" (click)="onNoClick()">Cerrar</button>
            </div>
        </div>
    </div>
</div>