<div id="viajeremito" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>REMITO</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8">
      <h5 class="text-center">{{pestaniaActual}} Remito</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-12">
            <!-- Autocompletado -->
            <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
              <label for="idAutocompletado" class="tamanio-label">Buscar Remito</label>
              <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" autocomplete="off"
                type="text" matInput [formControl]="autocompletado" [matAutocomplete]="auto"
                (blur)="verificarSeleccion(autocompletado)"
                placeholder="Buscar por Rem: Razón Social o N° de Doc | Des: Razón Social o N° de Doc">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"
                (optionSelected)="establecerFormulario()">
                <mat-option *ngFor="let item of resultados" [value]="item">
                  {{item.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <!-- Fecha -->
            <div class="form-group has-float-label">
              <label for="idFecha" class="tamanio-label">Fecha *</label>
              <input id="idFecha" type="date" formControlName="fecha" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <!-- Numero de Camion -->
            <div class="form-group has-float-label">
              <label for="idNumeroCamion" class="tamanio-label">Número de Camión *</label>
              <input id="idNumeroCamion" [textMask]="mascararEnteros(3)" type="text" formControlName="numeroCamion"
                autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <!-- Sucursal Destino -->
            <div class="form-group has-float-label">
              <label for="idSucursalDestino" class="tamanio-label">Sucursal Destino *</label>
              <mat-select id="idSucursalDestino" class="form-control form-control-sm" formControlName="sucursalDestino"
                [compareWith]="compareFn">
                <mat-option *ngFor="let itemSucursal of sucursales" [value]="itemSucursal">{{itemSucursal.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <!-- Tipo Comprobante -->
            <div class="form-group has-float-label">
              <label for="idTipoComprobante" class="tamanio-label">Tipo de Comprobante *</label>
              <mat-select id="idTipoComprobante" class="form-control form-control-sm" formControlName="tipoComprobante"
                [compareWith]="compareFn" (selectionChange)="cambioTipoComprobante()">
                <mat-option *ngFor="let itemTipoComprobante of tiposComprobantes" [value]="itemTipoComprobante">
                  {{itemTipoComprobante.nombre}}</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <!-- Punto de Venta -->
            <div class="form-group has-float-label">
              <label for="idPuntoVenta" class="tamanio-label">Punto de Venta *</label>
              <input id="idPuntoVenta" [textMask]="mascararEnteros(5)" type="text" formControlName="puntoVenta"
                autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
                (blur)="establecerCerosIzq(formulario.get('puntoVenta'), '0000', -5)">
            </div>
          </div>
          <div class="col-md-3">
            <!-- Letra (Remito) -->
            <div class="form-group has-float-label" *ngIf="!estadoLetra">
              <label for="idLetra" class="tamanio-label">Letra *</label>
              <input id="idLetra" type="text" formControlName="letra" autocomplete="off"
                class="form-control form-control-sm" [readonly]="true" maxlength="1">
            </div>
            <!-- Letra (Factura) -->
            <div class="form-group has-float-label" *ngIf="estadoLetra">
              <label for="idLetra" class="tamanio-label">Letra *</label>
              <mat-select id="idLetra" class="form-control form-control-sm" formControlName="letra">
                <div *ngFor="let itemLetra of letras">
                  <mat-option [value]="itemLetra">{{itemLetra}}</mat-option>
                </div>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <!-- Numero de Comprobante -->
            <div class="form-group has-float-label">
              <label for="idNumero" class="tamanio-label">N° Comprobante *</label>
              <input id="idNumero" [textMask]="mascararEnteros(8)" type="text" formControlName="numero"
                autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
                (blur)="establecerCerosIzq(formulario.get('numero'), '0000000', -8)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 input-button">
            <!-- Remitente -->
            <div class="form-group has-float-label">
              <label for="idClienteRemitente" class="tamanio-label">Remitente *</label>
              <input id="idClienteRemitente" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('clienteRemitente')" [matAutocomplete]="autoClienteRemitente"
                autocomplete="off" [readonly]="soloLectura"
                (blur)="verificarSeleccion(formulario.get('clienteRemitente'))">
              <mat-autocomplete #autoClienteRemitente="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let itemClienteRemitente of resultadosClienteRemitente"
                  [value]="itemClienteRemitente">{{itemClienteRemitente.alias}}</mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-1 button-input">
            <button mat-raised-button (click)="agregarCliente(1)" [disabled]="!mostrarBoton">+</button>
          </div>
          <div class="col-md-5 input-button">
            <!-- Destinatario -->
            <div class="form-group has-float-label">
              <label for="idClienteDestinatario" class="tamanio-label">Destinatario *</label>
              <input id="idClienteDestinatario" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('clienteDestinatario')" [matAutocomplete]="autoClienteDestinatario"
                autocomplete="off" [readonly]="soloLectura"
                (blur)="verificarSeleccion(formulario.get('clienteDestinatario'))">
              <mat-autocomplete #autoClienteDestinatario="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let itemClienteDestinatario of resultadosClienteDestinatario"
                  [value]="itemClienteDestinatario">{{itemClienteDestinatario.alias}}</mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-1 button-input">
            <button mat-raised-button (click)="agregarCliente(2)" [disabled]="!mostrarBoton">+</button>
          </div>
        </div>
        <br style="padding-top: 70px;">
        <div class="row">
          <div class="col-md-4">
            <!-- Bultos -->
            <div class="form-group has-float-label">
              <label for="idBultos" class="tamanio-label">Bultos *</label>
              <input id="idBultos" [textMask]="mascararEnterosSinDecimales(6)" type="text" formControlName="bultos"
                autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
                placeholder="0" (blur)="establecerEnteros(formulario.get('bultos'))">
            </div>
          </div>
          <div class="col-md-4">
            <!-- M3 -->
            <div class="form-group has-float-label">
              <label for="idM3" class="tamanio-label">M3</label>
              <input id="idM3" [textMask]="mascararEnterosConDecimales(3)" type="text" formControlName="m3"
                autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
                (blur)="establecerDecimales(formulario.get('m3'), 2)" placeholder="0.00">
            </div>
          </div>
          <div class="col-md-4">
            <!-- Valor Declarado -->
            <div class="form-group has-float-label">
              <label for="idValorDeclarado" class="tamanio-label">Valor Declarado</label>
              <input id="idValorDeclarado" [textMask]="mascararEnterosConDecimales(10)" type="text"
                formControlName="valorDeclarado" autocomplete="off" class="form-control form-control-sm number-right"
                [readonly]="soloLectura" (blur)="establecerDecimales(formulario.get('valorDeclarado'), 2)"
                placeholder="0.00">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <!-- Kilos Efectivo -->
            <div class="form-group has-float-label">
              <label for="idKilosEfectivo" class="tamanio-label">Kg Efectivo</label>
              <input id="idKilosEfectivo" [textMask]="mascararEnterosConDecimales(8)" type="text"
                formControlName="kilosEfectivo" autocomplete="off" class="form-control form-control-sm number-right"
                [readonly]="soloLectura" (blur)="establecerDecimales(formulario.get('kilosEfectivo'), 2)"
                placeholder="0.00">
            </div>
          </div>
          <div class="col-md-3 input-button">
            <!-- Kilos Aforado -->
            <div class="form-group has-float-label">
              <label for="idKilosAforado" class="tamanio-label">Kg Aforado</label>
              <input id="idKilosAforado" [textMask]="mascararEnterosConDecimales(8)" type="text"
                formControlName="kilosAforado" autocomplete="off" class="form-control form-control-sm number-right"
                [readonly]="soloLectura" (blur)="establecerDecimales(formulario.get('kilosAforado'), 2)"
                placeholder="0.00">
            </div>
          </div>
          <div class="col-md-1 button-input">
            <button mat-raised-button (click)="agregarAforo()" [disabled]="!mostrarBoton">Aforar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <!-- Flete por Retiro -->
            <div class="form-group has-float-label">
              <label for="idImporteRetiro" class="tamanio-label">Flete por Retiro</label>
              <input id="idImporteRetiro" [textMask]="mascararEnterosConDecimales(10)" type="text"
                formControlName="importeRetiro" autocomplete="off" class="form-control form-control-sm number-right"
                [readonly]="soloLectura" (blur)="establecerDecimales(formulario.get('importeRetiro'), 2)"
                placeholder="0.00">
            </div>
          </div>
          <div class="col-md-4">
            <!-- Flete por Entrega -->
            <div class="form-group has-float-label">
              <label for="idImporteEntrega" class="tamanio-label">Flete por Entrega</label>
              <input id="idImporteEntrega" [textMask]="mascararEnterosConDecimales(10)" type="text"
                formControlName="importeEntrega" autocomplete="off" class="form-control form-control-sm number-right"
                [readonly]="soloLectura" (blur)="establecerDecimales(formulario.get('importeEntrega'), 2)"
                placeholder="0.00">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <!-- Observaciones -->
            <div class="form-group has-float-label">
              <label for="idObservaciones" class="tamanio-label">Observaciones</label>
              <textarea id="idObservaciones" class="form-control form-control-sm" formControlName="observaciones"
                rows="3" [readonly]="soloLectura" maxlength="60"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
              (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
              {{pestaniaActual}}
            </button>
            <div class="row" *ngIf="show">
              <div class="col text-center">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <br>
      <form [formGroup]="formularioListar" class="contenedor">
        <div class="row">
          <div class="col">
            <div class="form-group has-float-label">
              <label for="idFecha" class="tamanio-label">Fecha Desde *</label>
              <input id="idFecha" type="date" formControlName="fechaDesde" autocomplete="off"
                class="form-control form-control-sm" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group has-float-label">
              <label for="idFecha" class="tamanio-label">Fecha Hasta *</label>
              <input id="idFecha" type="date" formControlName="fechaHasta" autocomplete="off"
                class="form-control form-control-sm" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group has-float-label">
              <label for="idSucursalDestino" class="tamanio-label">Sucursal Ingreso</label>
              <mat-select id="idSucursalDestino" class="form-control form-control-sm"
                formControlName="idSucursalIngreso" [compareWith]="compareFn">
                <mat-option *ngFor="let item of sucursales" [value]="item.id">{{item.nombre}}
                </mat-option>
                <mat-option [value]="0">TODAS</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col">
            <div class="form-group has-float-label">
              <label for="idSucursalDestino" class="tamanio-label">Sucursal Destino</label>
              <mat-select id="idSucursalDestino" class="form-control form-control-sm"
                formControlName="idSucursalDestino" [compareWith]="compareFn">
                <mat-option *ngFor="let item of sucursales" [value]="item.id">{{item.nombre}}
                </mat-option>
                <mat-option [value]="0">TODAS</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Remitente</label>
              <input id="idAutocompletado" class="form-control form-control-sm" autocomplete="off" type="text" matInput
                [formControl]="autocompletadoRemitente" [matAutocomplete]="autoRem"
                (blur)="verificarSeleccion(autocompletado)">
              <mat-autocomplete #autoRem="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let item of resultadosClienteRemitente" [value]="item">
                  {{item.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Destinatario</label>
              <input id="idAutocompletado" class="form-control form-control-sm" autocomplete="off" type="text" matInput
                [formControl]="autocompletadoDestinatario" [matAutocomplete]="autoDest"
                (blur)="verificarSeleccion(autocompletado)">
              <mat-autocomplete #autoDest="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let item of resultadosClienteDestinatario" [value]="item">
                  {{item.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col">
            <div class="form-group has-float-label">
              <label for="idNumeroCamion" class="tamanio-label">N° de Camión</label>
              <input id="idNumeroCamion" [textMask]="mascararEnteros(3)" type="text" formControlName="numeroCamion"
                autocomplete="off" class="form-control form-control-sm number-right">
            </div>
          </div>
          <div class="col">
            <button mat-raised-button color="primary" (click)="listar()"
              [disabled]="!formularioListar.valid">Buscar</button>
          </div>
        </div>
      </form>
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <br>
      <div class="tabla">
        <div class="tabla-ancho">
          <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
            <ng-container matColumnDef="sucursalIngreso">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal Ingreso</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.sucursalIngreso.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="sucursalDestino">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal Destino</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.sucursalDestino.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.fecha | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="puntoVenta">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Punto Venta</th>
              <td mat-cell *matCellDef="let elemento">{{displayCeros(elemento.puntoVenta, '0000', -5)}}</td>
            </ng-container>
            <ng-container matColumnDef="numero">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Comprobante</th>
              <td mat-cell *matCellDef="let elemento">{{displayCeros(elemento.numero, '0000000', -8)}}</td>
            </ng-container>
            <ng-container matColumnDef="remitente">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Remitente</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.clienteRemitente? elemento.clienteRemitente.razonSocial: ''}}</td>
            </ng-container>
            <ng-container matColumnDef="destinatario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Destinatario</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.clienteDestinatario? elemento.clienteDestinatario.razonSocial: ''}}</td>
            </ng-container>
            <ng-container matColumnDef="bultos">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Bultos</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.bultos ? elemento.bultos: ''}}</td>
            </ng-container>
            <ng-container matColumnDef="kgEfectivo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Kg efectivo</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.kilosEfectivo ? elemento.kilosEfectivo + ' Kg' : ''}}</td>
            </ng-container>
            <ng-container matColumnDef="valorDeclarado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor Declarado</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.valorDeclarado ? elemento.valorDeclarado: ''}}</td>
            </ng-container>
            <ng-container matColumnDef="observaciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.observaciones ? elemento.observaciones : ''}}</td>
            </ng-container>
            <ng-container matColumnDef="ver">
              <th mat-header-cell *matHeaderCellDef>-</th>
              <td mat-cell *matCellDef="let elemento" (click)="activarConsultar(elemento)"><span
                  class="cursor-color">ver</span></td>
            </ng-container>
            <ng-container matColumnDef="mod">
              <th mat-header-cell *matHeaderCellDef>-</th>
              <td mat-cell *matCellDef="let elemento" (click)="activarActualizar(elemento)"><span
                  class="cursor-color">editar</span></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>