<div id="agendatelefonica" class="container-fluid">
  <div class="row justify-content-center contenedor">
    <div class="col-md-12 text-center">
      <h5>Actualización de Precios</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idBuscarPor" class="tamanio-label">Buscar</label>
              <mat-select id="idBuscarPor" class="form-control form-control-sm" [formControl]="buscarPor"
                (selectionChange)="cambioDeCampo()">
                <mat-option [value]="0">Por Cliente</mat-option>
                <mat-option [value]="1">Por Empresa</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-6" *ngIf="buscarPorCliente">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Cliente</label>
              <input id="idAutocompletado" class="form-control form-control-sm " autocomplete="off" type="text" matInput
                [formControl]="autocompletado" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFa.bind(this)">
                <mat-option *ngFor="let item of resultados" [value]="item"
                  (onSelectionChange)="cargarTabla(0, item.id)">
                  {{item.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4" *ngIf="!buscarPorCliente">
            <div class="form-group has-float-label">
              <label for="idRubro" class="rubro-label">Empresa</label>
              <mat-select id="idRubro" class="form-control form-control-sm" [formControl]="empresa"
                (selectionChange)="cargarTabla(1, undefined)" [compareWith]="compareFn">
                <mat-option *ngFor="let empresa of empresas" [value]="empresa">
                  {{empresa.razonSocial}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th class="text-center" style="width:5%" scope="col">Id</th>
                  <th class="text-center" style="width:15%" scope="col">Nombre</th>
                  <th class="text-center" style="width:10%" scope="col">Vendedor</th>
                  <th class="text-center" style="width:10%" scope="col">Tarifa</th>
                  <th class="text-center" style="width:10%" scope="col">% Seguro</th>
                  <th class="text-center" style="width:10%" scope="col">% Com. C.R.</th>
                  <th class="text-center" style="width:10%" scope="col">Activa</th>
                  <th class="text-center" style="width:20%" scope="col">Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let l of listaCompleta; let i= index">
                  <tr class="ordenVta-no-seleccionada" *ngIf="l.tipoTarifa.porPorcentaje==false" id="fila{{i}}"
                    (click)="seleccionOrdenVta(i, l.id)">
                    <td align="center">
                      <span>{{l.id}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.nombre}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.vendedor.nombre}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.tipoTarifa.nombre}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.seguro}} %</span>
                    </td>
                    <td align="center">
                      <span>{{l.comisionCR}} %</span>
                    </td>
                    <td align="center">
                      <span>{{l.estaActiva? 'Sí':'No'}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.observaciones}}</span>
                    </td>
                  </tr>
                  <tr *ngIf="l.tipoTarifa.porPorcentaje==true" class="fila-bloqueada">
                    <td align="center">
                      <span>{{l.nombre}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.vendedor.nombre}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.tipoTarifa.nombre}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.seguro}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.comisionCR}} %</span>
                    </td>
                    <td align="center">
                      <span>{{l.estaActiva? 'Sí':'No'}}</span>
                    </td>
                    <td align="center">
                      <span>{{l.observaciones}}</span>
                    </td>
                    <td align="center">
                      <mat-checkbox class="" disabled="true"></mat-checkbox>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idPrecioDesde" class="tamanio-label">Precios Desde</label>
              <mat-select class="form-control form-control-sm" formControlName="fechaDesde"
                (selectionChange)="filtrarPorPrecioDesde()">
                <mat-option *ngFor="let itemOrdenVta of ordenVenta" [value]="itemOrdenVta.preciosDesde">
                  {{itemOrdenVta.preciosDesde | date: 'dd-MM-yyyy'}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group left">
              <button mat-raised-button color="accent" (click)="openListaPrecioDialogo()">Consultar Lista de
                Precios</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idActualizacion" class="tamanio-label">Actualización de Precios</label>
              <mat-select class="form-control form-control-sm" [formControl]="aumento" id="idActualizacion">
                <mat-option [value]="0">Anulación aumento de precio</mat-option>
                <mat-option [value]="1">Aumento de precio</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idPorcentaje" class="tamanio-label">Porcentaje(%)</label>
              <input id="idPorcentaje" type="text" formControlName="porcentaje" autocomplete="off"
                [textMask]="porcentajeMascara" class="form-control form-control-sm" (blur)="aplicarActualizacion()"
                placeholder="% 00.00" class="form-control form-control-sm number-right">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idNuevoPrecioDesde" class="tamanio-label">Nuevos Precios Desde</label>
              <input id="idNuevoPrecioDesde" type="date" formControlName="precioDesde" autocomplete="off"
                class="form-control form-control-sm" (blur)="validarNuevaFechaDesde()">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group left">
              <button id="btn-confirm" mat-raised-button color="primary"
                [disabled]="!formulario.valid" (click)="confirmar()">Confirmar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>