<div class="row justify-content-center contenedor">
  <div class="col-md-12 text-center" *ngIf="formulario">
    <h5>¿Está seguro que desea realizar los siguientes cambios?</h5>
    <h6>La nueva fecha desde será: {{formulario[0].preciosDesde | date: 'dd/MM/yyyy'}}</h6>
    <div class="row" *ngIf="!porEscala">
      <div class="col-md-12" style="height: 200px; overflow-y: scroll;">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th class="text-center" scope="col">Tramo Origen</th>
              <th class="text-center" scope="col">Tramo Destino</th>
              <th class="text-center" scope="col">Km</th>
              <th class="text-center" scope="col">Precio Fijo Seco</th>
              <th class="text-center" scope="col">Precio Unitario Seco</th>
              <th class="text-center" scope="col">Precio Fijo Refrigerado</th>
              <th class="text-center" scope="col">Precio Unitario Refrigerado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of formulario; let i = index">
              <td>
                <span>{{l.id}}</span>
              </td>
              <td>
                <span>{{l.tramo.origen.nombre}}</span>
              </td>
              <td>
                <span>{{l.tramo.origen.nombre}}</span>
              </td>
              <td>
                <span>{{l.tramo.km}} km</span>
              </td>
              <td>
                <span>$ {{(l.importeFijoSeco ? l.importeFijoSeco : '0.00') | number: '1.2-2'}}</span>
              </td>
              <td>
                <span>$ {{(l.precioUnitarioSeco ? l.precioUnitarioSeco : '0.00') | number: '1.2-2'}}</span>
              </td>
              <td>
                <span>$ {{(l.precioFijoRefrigerado ? l.precioFijoRefrigerado : '0.00') | number: '1.2-2'}}</span>
              </td>
              <td>
                <span>$
                  {{(l.precioUnitarioRefrigerado ? l.precioUnitarioRefrigerado : '0.00') | number: '1.2-2'}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" *ngIf="porEscala">
      <div class="col-md-12" style="height: 200px; overflow-y: scroll;">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="text-center" scope="col">Id</th>
              <th class="text-center" scope="col">Escala</th>
              <th class="text-center" scope="col">Precio Fijo</th>
              <th class="text-center" scope="col">Precio Unitario</th>
              <th class="text-center" scope="col">% Según Tarifa</th>
              <th class="text-center" scope="col">Mínimo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of formulario; let i = index">
              <td>
                <span>{{l.id}}</span>
              </td>
              <td>
                <span>{{l.escalaTarifa.valor}}</span>
              </td>
              <td>
                <span>$ {{(l.importeFijo ? l.importeFijo : '0.00') | number: '1.2-2'}}</span>
              </td>
              <td>
                <span>$ {{(l.precioUnitario ? l.precioUnitario : '0.00') | number: '1.2-2'}}</span>
              </td>
              <td>
                <span>{{(l.porcentaje ? l.porcentaje : '00.00') | number: '1.2-2'}} %</span>
              </td>
              <td>
                <span>$ {{(l.minimo ? l.minimo : '0.00') | number: '1.2-2'}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button mat-raised-button color="accent" (click)="dialogRef.close()">No</button>
    <button mat-raised-button color="primary" (click)="actualizar()" [mat-dialog-close]="1">Si</button>
  </div>
  <div class="col-md-12 text-center" *ngIf="!formulario">
    <div class="row">
      <div class="col  text-center">
          <h5>¿Está seguro?</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button mat-raised-button color="accent" (click)="dialogRef.close()">No</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="1">Si</button>
      </div>
    </div>
  </div>
</div>