<div class="container-fluid padd-20">
    <div class="row justify-content-center">
        <h4>Integración en Efectivo</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group has-float-label">
                <label for="idImporte" class="codigo-label">Importe *</label>
                <input id="idImporte" type="text" [formControl]="importe" autocomplete="off"
                    class="form-control form-control-sm number-right" [textMask]="mascararImporte(10, 2)"
                    placeholder="$ 0.00" (blur)="establecerDecimales(importe, 2)">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary" (click)="cerrar(importe.value)">Confirmar</button>
        <button class="margin-left-3" mat-raised-button (click)="cerrar(0)">Cancelar</button>
    </div>
</div>