<div class="row justify-content-center padd-20">
    <h5>Cobro Parcial</h5>
    <div class="col-md-12 text-center">
        <form [formGroup]="formulario">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-float-label">
                        <label for="idPuntoVenta" class="tamanio-label">Punto de Venta</label>
                        <input id="idPuntoVenta" type="text" [formControl]="pVenta" 
                        class="form-control form-control-sm"  readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-float-label ">
                        <label for="idLetra" class="tamanio-label">Letra</label>
                        <input id="idLetra" type="text" [formControl]="letra" 
                        class="form-control form-control-sm" readonly>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-float-label ">
                        <label for="idNumero" class="tamanio-label">Número</label>
                        <input id="idNumero" type="text" [formControl]="numero" 
                        class="form-control form-control-sm" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-float-label">
                        <label for="idSaldo" class="tamanio-label">Saldo</label>
                        <input id="idSaldo" type="text" [formControl]="importeSaldo"
                            [textMask]="mascararImporte(8, 2)" 
                            class="form-control form-control-sm" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-float-label">
                        <label for="idImporteCuenta" class="tamanio-label">Importe a Cuenta *</label>
                        <input id="idImporteCuenta" type="text" formControlName="importe"
                            [textMask]="mascararImporte(8, 2)" (blur)="cambioImporteCuenta()"
                            class="form-control form-control-sm" required>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-1">
                    <button id="idBotonConfirmar" mat-raised-button color="primary"
                        [mat-dialog-close]="formulario.value" [disabled]="listaCompleta.data">Confirmar</button>
                </div>
                <div class="col-md-1">
                    <button id="idBotonCerrar" mat-raised-button color="secondary"
                        [mat-dialog-close]="[]">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>