<div id="sindicato" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>CHEQUERA </a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">
          {{pestania.nombre}}
        </a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-4 text-center">
      <h5>{{pestaniaActual}} Chequera</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
          <label for="idAutocompletado" class="tamanio-label">Cuenta Bancaria *</label>
          <mat-select id="idAutocompletado" class="form-control form-control-sm" [formControl]="cuentaSeleccionada"
            [compareWith]="compareFn" (selectionChange)="cambioCuentaBancaria()">
            <mat-option *ngFor="let item of listaCuentasConChequeraEmpresa" [value]="item">
              {{item.sucursalBanco.banco.nombre}} - {{item.sucursalBanco.nombre}} - {{item.numeroCuenta}}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
          <label for="idChequerasAutocompletado" class="tamanio-label">Chequeras *</label>
          <mat-select id="idChequerasAutocompletado" class="form-control form-control-sm"
            [formControl]="chequeraSeleccionada" [compareWith]="compareFn" (selectionChange)="cambioChequera()">
            <mat-option *ngFor="let item of listaChequerasCuentaBancaria" [value]="item">
              {{item.tipoChequera.nombre}} - Desde: {{item.desde}} - Hasta: {{item.hasta}}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigo" class="tamanio-label">Código</label>
          <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm" readonly>
        </div>
        <div class="form-group has-float-label">
          <label id="labelEmpresa" for="idEmpresa" class="tamanio-label">Empresa</label>
          <input id="idEmpresa" type="text" [formControl]="empresaDatos" autocomplete="off"
            class="form-control form-control-sm" readonly>
        </div>
        <div class="form-group has-float-label" *ngIf="!mostrarAutocompletado">
          <label for="idCuentaBancaria" class="tamanio-label">Cuenta Bancaria *</label>
          <mat-select id="idCuentaBancaria" class="form-control form-control-sm" formControlName="cuentaBancaria"
            [compareWith]="compareFn">
            <mat-option *ngFor="let item of cuentasBancarias" [value]="item">
              {{item.sucursalBanco.banco.nombre}} - {{item.sucursalBanco.nombre}} - {{item.numeroCuenta}}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group has-float-label">
          <label for="idTipoChequera" class="tamanio-label">Tipo de Chequera *</label>
          <mat-select id="idTipoChequera" class="form-control form-control-sm" formControlName="tipoChequera"
            [compareWith]="compareFn">
            <mat-option *ngFor="let item of tiposChequeras" [value]="item">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group has-float-label">
          <label id="labelDesde" for="idDesde" class="tamanio-label">Desde *</label>
          <input id="idDesde" type="text" formControlName="desde" autocomplete="off"
            (blur)="establecerCerosIzq(formulario.get('desde'), '0000000', -8)"
            class="form-control form-control-sm number-right" [readonly]="soloLectura" [textMask]="mascararEnteros(8)">
        </div>
        <div class="form-group has-float-label">
          <label id="labelHasta" for="idHasta" class="tamanio-label">Hasta *</label>
          <input id="idHasta" type="text" formControlName="hasta" autocomplete="off" (blur)="validarMayor()"
            class="form-control form-control-sm number-right" [readonly]="soloLectura" [textMask]="mascararEnteros(8)">
        </div>
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-10">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <br>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let elemento, let i=index;" class="number-right">{{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="EMPRESA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.cuentaBancaria.empresa.razonSocial}}</td>
        </ng-container>
        <ng-container matColumnDef="CUENTA_BANCARIA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Bancaria</th>
          <td mat-cell *matCellDef="let elemento">
            {{elemento.cuentaBancaria.sucursalBanco.banco.nombre}}
            - {{elemento.cuentaBancaria.sucursalBanco.nombre}}
            - {{elemento.cuentaBancaria.numeroCuenta}}
          </td>
        </ng-container>
        <ng-container matColumnDef="TIPO_CHEQUERA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Chequera</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.tipoChequera.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="DESDE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Desde</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{establecerCerosIzqEnVista(elemento.desde, '0000000', -8)}}</td>
        </ng-container>
        <ng-container matColumnDef="HASTA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hasta</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{establecerCerosIzqEnVista(elemento.hasta, '0000000', -8)}}</td>
        </ng-container>
        <ng-container matColumnDef="EDITAR" stickyEnd>
          <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
              (click)="abrirReporte()">Reporte</button></th>
          <td mat-cell *matCellDef="let elemento" class="last-col-end">
            <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
              matTooltip="Consultar" matTooltipPosition="above">
              <mat-icon>search</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>