<form [formGroup]="formulario">
    <div class="col-md-12">
        <h5 class="text-center">Reparto</h5>
        <div class="tamanio-pantalla">
                <div class="inline">
                    <div class="form-group has-float-label margin-left">
                        <label for="idTipoViaje" class="tamanio-label">Tipo de Viaje *</label>
                        <mat-select id="idTipoViaje" class="form-control form-control-sm" [formControl]="tipoViaje" style="width: 150px;" (selectionChange)="cambioTipoViaje()">
                            <mat-option [value]="1">Propio</mat-option>
                            <mat-option [value]="2">Tercero</mat-option>
                            <mat-option [value]="3">Retiro Depósito</mat-option>
                        </mat-select>
                    </div>
                    <div class="inline" *ngIf="tipoViaje.value == 1 || tipoViaje.value == 2">
                        <div class="form-group has-float-label">
                            <label for="idZona">Zona</label>
                            <mat-select id="idZona" class="form-control form-control-sm" style="width: 150px;" formControlName="zona" [compareWith]="compareFn">
                                <mat-option *ngFor="let itemZonas of resultadosZona" [value]="itemZonas">
                                    {{itemZonas.nombre}}
                                </mat-option>
                            </mat-select>

                        </div>
                        <div class="form-group has-float-label">
                            <label for="idVehiculo">Vehículo</label>
                            <input id="idVehiculo" class="form-control form-control-sm color-busqueda" type="text" matInput
                            [formControl]="formulario.get('vehiculo')" [matAutocomplete]="autoVehiculo" autocomplete="off" style="width: 150px;">
                            <mat-autocomplete #autoVehiculo="matAutocomplete" [displayWith]="displayF.bind(this)">
                                <mat-option *ngFor="let itemVehiculo of resultadosVehiculo" [value]="itemVehiculo">
                                    {{itemVehiculo.alias}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <div class="form-group has-float-label">
                            <label for="idRemolque">Remolque</label>
                            <input id="idRemolque" class="form-control form-control-sm color-busqueda" type="text" matInput
                            [formControl]="formulario.get('remolque')" [matAutocomplete]="autoRemolque" autocomplete="off" style="width: 290px;">
                            <mat-autocomplete #autoRemolque="matAutocomplete" [displayWith]="displayF.bind(this)">
                                <mat-option *ngFor="let itemRemolque of resultadosVehiculo" [value]="itemRemolque">
                                    {{itemRemolque.alias}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <div class="form-group has-float-label">
                            <label for="idChofer">Chofer</label>
                            <input id="idChofer" class="form-control form-control-sm color-busqueda" type="text" matInput
                            [formControl]="formulario.get('chofer')" [matAutocomplete]="autoChofer" autocomplete="off" style="width: 290px;">
                            <mat-autocomplete #autoChofer="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                <mat-option *ngFor="let itemChofer of resultadosChofer" [value]="itemChofer">
                                    {{itemChofer.nombre}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <button class="btn btn-primary btn-sm" style="margin-left: 5px; height: 31px;" *ngIf="tipoViaje.value == 1" (click)="abrirAcompaniante()">
                            Acompañantes
                        </button>
                    </div>
                    <div class="inline" *ngIf="tipoViaje.value == 3">
                        <div class="form-group has-float-label">
                            <label for="idTipoDocumento">Tipo de Documento</label>
                            <input id="idTipoDocumento" type="text" class="form-control form-control-sm" formControlName="tipoDocumento" style="width: 220px;">
                        </div>
                        <div class="form-group has-float-label">
                            <label for="idNumeroDocumento">N° de Documento</label>
                            <input id="idNumeroDocumento" type="text" class="form-control form-control-sm" formControlName="numeroDocumento" style="width: 220px;">
                        </div>
                    </div>
                </div>
                <div class="inline">
                    <div class="form-group has-float-label">
                        <label for="idFechaSalida">Fecha Salida</label>
                        <input id="idFechaSalida" type="date" class="form-control form-control-sm" formControlName="fechaSalida" style="width: 150px;">
                    </div>
                    <div class="form-group has-float-label">
                        <label for="idHoraSalida">Hora Salida</label>
                        <input id="idHoraSalida" type="time" class="form-control form-control-sm" formControlName="horaSalida" style="width: 150px;">
                    </div>
                    <div class="form-group has-float-label">
                        <label for="idObservaciones">Observaciones</label>
                        <textarea type="text" class="form-control form-control-sm" rows="2" formControlName="observaciones" style="width: 443px; margin-left: 5px;"></textarea>
                    </div>
                    <button class="btn btn-primary btn-sm" style="margin-left: 5px; height: 31px;" [disabled]="!formulario.valid" (click)="agregar()">
                        Agregar
                    </button>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="height: 200px; overflow-y: scroll;">
                <table class="table table-bordered table-striped table-sm table-condensed tabla-reporte">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 30px" scope="col">N° Planilla</th>
                            <th class="text-center" style="width: 50px" scope="col">Zona</th>
                            <th class="text-center" style="width: 80px" scope="col">Vehículo</th>
                            <th class="text-center" style="width: 100px" scope="col">Chofer</th>
                            <th class="text-center" style="width: 60px" scope="col">Fecha Salida</th>
                            <th class="text-center" style="width: 60px" scope="col">Hora Salida</th>
                            <th class="text-center" style="width: 30px" scope="col">-</th>
                            <th class="text-center" style="width: 30px" scope="col">-</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="planillasPendientesPropio.length>0">
                        <tr  *ngFor="let itemPlanilla of planillasPendientesPropio; let i=index" id="fila{{i}}" (click)="cambioPlanilla(i)">
                            <td align="center">{{itemPlanilla.id}}</td>
                            <td align="center">{{itemPlanilla.zona.nombre}}</td>
                            <td align="center">{{itemPlanilla.vehiculo.alias}}</td>
                            <td align="center">{{itemPlanilla.personal.alias}}</td>
                            <td align="center">{{itemPlanilla.fechaSalida}}</td>
                            <td align="center">{{itemPlanilla.horaSalida}}</td>
                            <td align="center" class="cursor-color" (click)="cerrarPlanilla(itemPlanilla.id)">Cerrar</td>
                            <td align="center" class="cursor-color" (click)="quitarPlanilla(i)">Quitar</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="planillasPendientesTercero.length>0">
                        <tr  *ngFor="let itemPlanilla of planillasPendientesTercero; let i=index" (click)="cambioPlanilla(i)">
                            <td align="center">{{itemPlanilla.id}}</td>
                            <td align="center">{{itemPlanilla.zona.nombre}}</td>
                            <td align="center">{{itemPlanilla.vehiculoProveedor.marcaVehiculo.nombre}} - Poliza: {{itemPlanilla.vehiculoProveedor.marcaVehiculo.numeroPoliza}}</td>
                            <td align="center">{{itemPlanilla.choferProveedor.nombre}}</td>
                            <td align="center">{{itemPlanilla.fechaSalida}}</td>
                            <td align="center">{{itemPlanilla.horaSalida}}</td>
                            <td align="center" class="cursor-color" (click)="cerrarPlanilla(itemPlanilla.id)">Cerrar</td>
                            <td align="center" class="cursor-color" (click)="quitarPlanilla(i)">Quitar</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="planillasPendientesDeposito.length>0">
                        <tr  *ngFor="let itemPlanilla of planillasPendientesDeposito; let i=index" (click)="cambioPlanilla(i)">
                            <td align="center">{{itemPlanilla.id}}</td>
                            <td align="center">{{itemPlanilla.zona.nombre}}</td>
                            <td align="center">{{itemPlanilla.vehiculoProveedor.marcaVehiculo.nombre}} - Poliza: {{itemPlanilla.vehiculoProveedor.marcaVehiculo.numeroPoliza}}</td>
                            <td align="center">{{itemPlanilla.choferProveedor.nombre}}</td>
                            <td align="center">{{itemPlanilla.fechaSalida}}</td>
                            <td align="center">{{itemPlanilla.horaSalida}}</td>
                            <td align="center" class="cursor-color" (click)="cerrarPlanilla(itemPlanilla.id)">Cerrar</td>
                            <td align="center" class="cursor-color" (click)="quitarPlanilla(i)">Quitar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="inline" style="margin-top: 15px;">
            <div class="form-group has-float-label">
                <label for="idTipoItem">Tipo Item</label>
                <mat-select id="idTipoItem" class="form-control form-control-sm" style="width: 150px;" [formControl]="tipoItem" (selectionChange)="cambioTipoItem()" [compareWith]="compareFn">
                    <mat-option [value]="1">Comprobante Propio</mat-option>
                    <mat-option [value]="2">Comprobante Tercero</mat-option>
                </mat-select>
            </div>
            <div class="form-group has-float-label">
                <label for="idTipoComprobante">Tipo de Comprobante</label>
                <mat-select id="idTipoComprobante" class="form-control form-control-sm" style="width: 180px;" formControlName="tipoComprobante" (selectionChange)="cambioTipoComp()" [compareWith]="compareFn">
                    <mat-option *ngFor="let itemComprobante of listaTipoComprobantes" [value]="itemComprobante">
                    {{itemComprobante.nombre}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="form-group has-float-label">
                <label for="idPuntoVenta">Punto de Venta</label>
                <input id="idPuntoVenta" type="text" class="form-control form-control-sm" formControlName="puntoVenta" style="width: 150px;">
            </div>
            <div class="form-group has-float-label">
                <label for="idLetra">Letra</label>
                <mat-select id="idLetra" class="form-control form-control-sm" style="width: 70px;" formControlName="letra" [compareWith]="compareFn">
                    <mat-option [value]="A">A</mat-option>
                    <mat-option [value]="B">B</mat-option>
                    <mat-option [value]="R">R</mat-option>
                    <mat-option [value]="X">X</mat-option>
                </mat-select>
            </div>
            <div class="form-group has-float-label">
                <label for="idComprobante">N° de Comprobante</label>
                <input id="idComprobante" type="text" class="form-control form-control-sm" formControlName="numeroComprobante" style="width: 120px;">
            </div>
            <button class="btn btn-primary btn-sm" style="margin-left: 5px; height: 31px;">Agregar</button>
            <span class="spacer"></span>
            <button class="btn btn-primary btn-sm" style="margin-left: 5px; height: 31px;">Seleccionar Comprobantes</button>
        </div>
        <div class="row">
            <div class="col-md-12" style="height: 200px; overflow-y: scroll;">
                <table class="table table-bordered table-striped table-sm table-condensed tabla-reporte">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 30px" scope="col">Tipo Cpte.</th>
                            <th class="text-center" style="width: 30px" scope="col">N° Comprobante</th>
                            <th class="text-center" style="width: 100px" scope="col">Destinatario</th>
                            <th class="text-center" style="width: 100px" scope="col">Domicilio</th>
                            <th class="text-center" style="width: 100px" scope="col">Remitente</th>
                            <th class="text-center" style="width: 100px" scope="col" >Cta.Cte.</th>
                            <th class="text-center" style="width: 60px" scope="col" >Contado</th>
                            <th class="text-center" style="width: 60px" scope="col">Bultos</th>
                            <th class="text-center" style="width: 60px" scope="col">ContraReembolso</th>
                            <th class="text-center" style="width: 50px" scope="col">Kg</th>
                            <th class="text-center" style="width: 60px" scope="col">-</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="comprobantesPropio.length>0">
                        <ng-container *ngFor="let itemComprobante of comprobantesPropio; let i=index">
                            <tr  *ngIf="itemComprobante.ordenRecoleccion!=null">
                                <td align="center">{{itemComprobante.ordenRecoleccion.tipoComprobante.nombre}}</td>
                                <td align="center">{{itemComprobante.id}}</td>
                                <td align="center">{{itemComprobante.ordenRecoleccion.cliente.razonSocial}}</td>
                                <td align="center">{{itemComprobante.ordenRecoleccion.cliente.domicilio}}</td>
                                <td align="center">{{itemComprobante.ordenRecoleccion.empresa.razonSocial}}</td>
                                <td align="center"></td>
                                <td align="center">{{itemComprobante.ordenRecoleccion.importeRetiro}}</td>
                                <td align="center">{{itemComprobante.ordenRecoleccion.cliente.bultos}}</td>
                                <td align="center"></td>
                                <td align="center">{{itemComprobante.ordenRecoleccion.cliente.kilosEfectivo}}</td>
                                <td align="center" class="cursor-color" (click)="quitarComprobante(i)">Quitar</td>
                            </tr>
                            <tr *ngIf="itemComprobante.viajeRemito!=null">
                                <td align="center">{{itemComprobante.viajeRemito.tipoComprobante.nombre}}</td>
                                <td align="center">{{itemComprobante.id}}</td>
                                <td align="center">{{itemComprobante.viajeRemito.clienteDestinatario.razonSocial}}</td>
                                <td align="center">{{itemComprobante.viajeRemito.clienteDestinatario.domicilio}}</td>
                                <td align="center">{{itemComprobante.viajeRemito.clienteRemitente.razonSocial}}</td>
                                <td align="center"></td>
                                <td align="center">{{itemComprobante.viajeRemito.importeRetiro}}</td>
                                <td align="center">{{itemComprobante.viajeRemito.bultos}}</td>
                                <td align="center"></td>
                                <td align="center">{{itemComprobante.viajeRemito.kilosEfectivo}}</td>
                                <td align="center" class="cursor-color" (click)="quitarComprobante(i)">Quitar</td>
                            </tr>
                            <tr *ngIf="itemComprobante.ventaComprobante!=null">
                                <td align="center">{{itemComprobante.ventaComprobante.tipoComprobante.nombre}}</td>
                                <td align="center">{{itemComprobante.id}}</td>
                                <td align="center">{{itemComprobante.ventaComprobante.clienteDestinatario.razonSocial}}</td>
                                <td align="center">{{itemComprobante.ventaComprobante.clienteDestinatario.domicilio}}</td>
                                <td align="center">{{itemComprobante.ventaComprobante.clienteRemitente.razonSocial}}</td>
                                <td align="center">Si</td>
                                <td align="center">{{itemComprobante.ventaComprobante.importeTotal}}</td>
                                <td align="center">{{itemComprobante.ventaComprobante.ventaComprobanteItemFAs.bultos}}</td>
                                <td align="center">Si</td>
                                <td align="center">{{itemComprobante.ventaComprobante.ventaComprobanteItemFAs.kilosEfectivo}}</td>
                                <td align="center" class="cursor-color" (click)="quitarComprobante(i)">Quitar</td>
                            </tr> 
                        </ng-container>
                                                   
                    </tbody>
                    <!-- <tbody *ngIf="comprobantesTercero.length>0">
                        <tr  *ngFor="let itemComprobante of comprobantesTercero; let i=index">
                            <td align="center">{{itemComprobante.ordenRecoleccion.tipoComprobante.nombre}}</td>
                            <td align="center">{{itemComprobante.id}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.razonSocial}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.domicilio}}</td>
                            <td align="center">{{itemComprobante.repartoPropio.empresa.razonSocial}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.esCuentaCorriente? 'Si' : 'No'}}</td>
                            <td align="center">{{itemComprobante.personal.alias}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.bultos}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.pagoEnOrigen? 'Si' : 'No'}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.kilosEfectivo}}</td>
                            <td align="center" class="cursor-color" (click)="quitarComprobante(i)">Quitar</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="comprobantesDeposito.length>0">
                        <tr  *ngFor="let itemComprobante of comprobantesDeposito; let i=index">
                            <td align="center">{{itemComprobante.ordenRecoleccion.tipoComprobante.nombre}}</td>
                            <td align="center">{{itemComprobante.id}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.razonSocial}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.domicilio}}</td>
                            <td align="center">{{itemComprobante.repartoPropio.empresa.razonSocial}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.esCuentaCorriente? 'Si' : 'No'}}</td>
                            <td align="center">{{itemComprobante.personal.alias}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.bultos}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.pagoEnOrigen? 'Si' : 'No'}}</td>
                            <td align="center">{{itemComprobante.ordenRecoleccion.cliente.kilosEfectivo}}</td>
                            <td align="center" class="cursor-color" (click)="quitarComprobante(i)">Quitar</td>
                        </tr>
                    </tbody> -->
                </table>
            </div>
        </div>
        
        <div class="inline">
            <button class="btn btn-primary btn-sm" style="height: 31px;">Reporte</button>
        </div>
    </div>
</form>
