<div id="contactocompaniaseguro" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>CONTACTO COMPAÑIA SEGURO</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-6 text-center">
      <h5>{{pestaniaActual}} Contacto de Compañia de Seguro</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label for="idCompaniaSeguro" class="tamanio-label">Compañia de Seguro *</label>
              <input id="idCompaniaSeguro" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('companiaSeguro')" [matAutocomplete]="autoCompaniaSeguro"
                autocomplete="off">
              <mat-autocomplete #autoCompaniaSeguro="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let itemCompaniaSeguro of resultadosCompaniasSeguros" [value]="itemCompaniaSeguro"
                  (onSelectionChange)="listarPorCompaniaSeguro(itemCompaniaSeguro)">
                  {{itemCompaniaSeguro.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="mostrarAutocompletado">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Contactos</label>
              <mat-select id="idAutocompletado" class="form-control form-control-sm" [formControl]="autocompletado"
                [compareWith]="compareFn" (selectionChange)="cambioAutocompletado()">
                <mat-option *ngFor="let item of contactos" [value]="item">
                  {{item.nombre}} - {{item.tipoContacto.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idTipoContacto" class="tamanio-label">Tipo de Contacto *</label>
              <mat-select id="idTipoContacto" class="form-control form-control-sm" formControlName="tipoContacto"
                [compareWith]="compareFn">
                <mat-option *ngFor="let itemTipoContacto of tiposContactos" [value]="itemTipoContacto">
                  {{itemTipoContacto.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNombre" class="tamanio-label">Nombre del Contacto *</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelTelefonoFijo" for="idTelefonoFijo" class="tamanio-label">Teléfono Fijo</label>
              <input id="idTelefonoFijo" type="tel" formControlName="telefonoFijo" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelTelefonoMovil" for="idTelefonoMovil" class="tamanio-label">Teléfono Móvil</label>
              <input id="idTelefonoMovil" type="tel" formControlName="telefonoMovil" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelCorreoelectronico" for="idCorreoelectronico" class="tamanio-label">
                Correo Electrónico</label>
              <input id="idCorreoelectronico" type="email" formControlName="correoelectronico" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura"
                (ngModelChange)="cambioCampo('idCorreoelectronico', 'labelCorreoelectronico')">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <app-progreso></app-progreso>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" [hidden]="indiceSeleccionado != 5">
    <div class="col-md-10">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <app-progreso></app-progreso>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-float-label">
            <label for="idCompaniaSeguro" class="tamanio-label">Compañia de Seguro *</label>
            <input id="idCompaniaSeguro" class="form-control form-control-sm" type="text" matInput
              [formControl]="formulario.get('companiaSeguro')" [matAutocomplete]="autoCompaniaSeguro"
              autocomplete="off">
            <mat-autocomplete #autoCompaniaSeguro="matAutocomplete" [displayWith]="displayF.bind(this)"
              (optionSelected)="listarPorCompaniaSeguro()">
              <mat-option *ngFor="let itemCompaniaSeguro of resultadosCompaniasSeguros" [value]="itemCompaniaSeguro">
                {{itemCompaniaSeguro.nombre}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="id" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="tipo contacto" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Contacto</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.tipoContacto.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="teléfono fijo" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono Fijo</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.telefonoFijo}}</td>
        </ng-container>
        <ng-container matColumnDef="teléfono movil" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono Movil</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.telefonoMovil}}</td>
        </ng-container>
        <ng-container matColumnDef="correo electrónico" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo Electrónico</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.correoelectronico}}</td>
        </ng-container>
        <ng-container matColumnDef="ver" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarConsultar(elemento)"><span
              class="cursor-color">ver</span></td>
        </ng-container>
        <ng-container matColumnDef="mod" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarActualizar(elemento)"><span
              class="cursor-color">editar</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div>
  </div>
</div>