<br>
<div id="escalatarifa" class="container-fluid">
  <div class="row justify-content-center">
    <h5>Escala de Tarifas</h5>
  </div>
  <form [formGroup]="formulario">
    <div class="row justify-content-center">
      <div class="col-md-2">
        <div id="divValor" class="form-group has-float-label">
          <label id="labelValor" for="idValor" class="tamanio-label">Valor *</label>
          <input id="idValor" type="text" formControlName="valor" autocomplete="off" placeholder="0.00"
            class="form-control form-control-sm number-right" (blur)="cambioValor()"
            [textMask]="obtenerMascaraEnteroConDecimales(10)" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group has-float-label">
          <label for="idDescripcion" class="tamanio-label">Descripción</label>
          <input id="idDescripcion" type="text" formControlName="descripcion" autocomplete="off"
            class="form-control form-control-sm" readonly>
        </div>
      </div>
      <div class="col-md-1">
        <button id="idBoton" mat-raised-button color="primary" formnovalidate (click)="agregar()"
          [disabled]="!formulario.valid">
          Agregar
        </button>
      </div>
    </div>
    <div class="row" *ngIf="show">
      <div class="col text-center">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    <div class="row justify-content-center contenedor">
      <div class="col-md-3">
        <br>
        <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
          <ng-container matColumnDef="HASTA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>-</th>
            <td mat-cell *matCellDef="let elemento" class="number-right">Hasta</td>
          </ng-container>
          <ng-container matColumnDef="VALOR">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
            <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.valor | number:'1.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="ELIMINAR" stickyEnd>
            <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
              [disabled]="listaCompleta.data.length==0" (click)="abrirReporte()">Reporte</button></th>
            <td mat-cell *matCellDef="let elemento" class="last-col-end">
              <button mat-icon-button class="mat-icon-button-table" (click)="eliminar(elemento.id)"
                matTooltip="Eliminar" matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </form>
</div>