<div class="{{tema}}">
  <mat-toolbar class="alto-primer-toolbar" color="primary" *ngIf="visible">
    <mat-toolbar-row>
      <span>JIT Logistica</span>
      <span class="spacer"></span>
      <div class="text-center">
        <span style="float:left;clear:left;font-size:25px;font-weight: bold;">{{empresa.razonSocial}}</span>
        <div><span style="float:right;clear:right;font-size:16px;margin-top:-10px;">Sucursal: {{getUsuario().sucursal.nombre}}</span></div>
      </div>
      <span class="spacer"></span>
      <div>
        <button mat-raised-button [matMenuTriggerFor]="lusuario">{{getUsuario().nombre}} <mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #lusuario="matMenu">
          <div class="container text-center titulo-menu">{{getUsuario().nombre}}</div>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="nuevoIngreso()">
            <mat-icon>tab</mat-icon><span style="margin-left: 10px;">Nuevo Ingreso</span>
          </button>
          <button mat-menu-item (click)="cambiarContrasenia()">
            <mat-icon>https</mat-icon><span style="margin-left: 10px;">Contraseña</span>
          </button>
          <button mat-menu-item (click)="soporte()">
            <mat-icon>contact_support</mat-icon><span style="margin-left: 10px;">Soporte</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon><span style="margin-left: 10px;">Salir</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar class="alto-segundo-toolbar" *ngIf="visible">
    <div class="centrar" *ngFor="let modulo of modulos">
      <button mat-menu-item [matMenuTriggerFor]="lmodulo">{{modulo.modulo}}</button>
      <mat-menu #lmodulo="matMenu">
        <div class="container text-center titulo-menu">{{modulo.modulo}}</div>
        <mat-divider></mat-divider>
        <div *ngFor="let submodulo of modulo.submodulos">
          <button mat-menu-item [matMenuTriggerFor]="lsubmodulo">{{submodulo.submodulo}}</button>
          <mat-menu #lsubmodulo="matMenu">
            <button *ngFor="let subopcion of submodulo.subopciones" mat-menu-item
              (click)="navegar(submodulo.submodulo, subopcion.subopcion, subopcion.id)">{{subopcion.subopcion}}</button>
          </mat-menu>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>