<div class="container-fluid">
  <div class="row justify-content-center margin-top">
    <div class="col-md-4">
      <img src="assets/soporte.png" alt="soporte-jit" width="100%">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h4><b>¿Tiene alguna consulta o sugerencia acerca del sistema?</b></h4>
      <p>Por favor, escribanos a:</p>
      <ul>
        <li>nestor@codigo01.com.ar</li>
        <li>blas@draimo.com</li>
      </ul>
      <p>Gracias.</p>
    </div>
  </div>
</div>