<div id="choferproveedor" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>CHOFER PROVEEDOR</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-10 text-center">
      <h5>{{pestaniaActual}} Chofer de Proveedor</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group has-float-label">
              <label for="idProveedor" class="tamanio-label">Proveedor *</label>
              <input id="idProveedor" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('proveedor')" [matAutocomplete]="autoProveedor" autocomplete="off"
                (blur)="verificarSeleccion(formulario.get('proveedor'))" placeholder="Buscar por Alias">
              <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayF.bind(this)"
                (optionSelected)="listarPorProveedor()">
                <mat-option *ngFor="let itemProveedor of resultadosProveedores" [value]="itemProveedor">
                  {{itemProveedor.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" *ngIf="mostrarAutocompletado">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Choferes *</label>
              <input id="idAutocompletado" class="form-control form-control-sm" type="text" matInput
                [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off"
                [required]="mostrarAutocompletado" (blur)="verificarSeleccion(autocompletado)">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayF.bind(this)"
                (optionSelected)="establecerValores()">
                <mat-option *ngFor="let item of resultadosChoferes" [value]="item">
                  {{item.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idNombre" class="tamanio-label">Nombre *</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" maxlength="45">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idDomicilio" class="tamanio-label">Domicilio *</label>
              <input id="idDomicilio" type="text" formControlName="domicilio" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" maxlength="60">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idBarrio" class="tamanio-label">Barrio</label>
              <input id="idBarrio" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('barrio')" [matAutocomplete]="autoBarrio" autocomplete="off"
                [readonly]="soloLectura" (blur)="verificarSeleccion(formulario.get('barrio'))"
                placeholder="Buscar por Nombre">
              <mat-autocomplete #autoBarrio="matAutocomplete" [displayWith]="displayFa.bind(this)">
                <mat-option *ngFor="let itemBarrio of resultadosBarrios" [value]="itemBarrio">
                  {{itemBarrio.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idLocalidad" class="tamanio-label">Localidad *</label>
              <input id="idLocalidad" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('localidad')" [matAutocomplete]="autoLocalidad" autocomplete="off"
                [readonly]="soloLectura" (blur)="verificarSeleccion(formulario.get('localidad'))" 
                placeholder="Buscar por Nombre">
              <mat-autocomplete #autoLocalidad="matAutocomplete" [displayWith]="displayFb.bind(this)">
                <mat-option *ngFor="let itemLocalidad of resultadosLocalidades" [value]="itemLocalidad">
                  {{itemLocalidad.nombre}}, {{itemLocalidad.provincia.nombre}},
                  {{itemLocalidad.provincia.pais.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelTelefonoFijo" for="idTelefonoFijo" class="tamanio-label">Teléfono Fijo</label>
              <input id="idTelefonoFijo" type="tel" formControlName="telefonoFijo" autocomplete="off"
                class="form-control form-control-sm number-right" [readonly]="soloLectura" maxlength="45">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelTelefonoMovil" for="idTelefonoMovil" class="tamanio-label">Teléfono Móvil</label>
              <input id="idTelefonoMovil" type="tel" formControlName="telefonoMovil" autocomplete="off"
                class="form-control form-control-sm number-right" [readonly]="soloLectura" maxlength="45">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idFechaNacimiento" class="tamanio-label">Fecha de Nacimiento *</label>
              <input id="idFechaNacimiento" type="date" formControlName="fechaNacimiento" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idTipoDocumento" class="tamanio-label">Tipo de Documento *</label>
              <mat-select id="idTipoDocumento" class="form-control form-control-sm" formControlName="tipoDocumento"
                [compareWith]="compareFn">
                <mat-option *ngFor="let itemTipoDocumento of tiposDocumentos" [value]="itemTipoDocumento">
                  {{itemTipoDocumento.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelNumeroDocumento" for="idNumeroDocumento" class="tamanio-label">N° de Documento *</label>
              <input id="idNumeroDocumento" type="text" formControlName="numeroDocumento" autocomplete="off"
                class="form-control form-control-sm number-right" [readonly]="soloLectura" (blur)="formulario.value.numeroDocumento? validarDocumento() : ''"
                (ngModelChange)="cambioCampo('idNumeroDocumento', 'labelNumeroDocumento')" maxlength="15">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoCarnet" class="tamanio-label">Vto. Licencia de Conducir *</label>
              <input id="idVtoCarnet" type="date" formControlName="vtoLicenciaConducir" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoCurso" class="tamanio-label">Vto. Curso *</label>
              <input id="idVtoCurso" type="date" formControlName="vtoCurso" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoCurso" class="tamanio-label">Vto. Curso Carga Peligrosa</label>
              <input id="idVtoCurso" type="date" formControlName="vtoCursoCargaPeligrosa" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLNH" class="tamanio-label">Vto. LINTI *</label>
              <input id="idVtoLNH" type="date" formControlName="vtoLINTI" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLibretaSanidad" class="tamanio-label">Vto. Lib. Sanidad </label>
              <input id="idVtoLibretaSanidad" type="date" formControlName="vtoLibretaSanidad" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoPsicoFísico" class="tamanio-label">Vto. PsicoFísico *</label>
              <input id="idVtoPsicoFísico" type="date" formControlName="vtoPsicoFisico" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" [hidden]="indiceSeleccionado != 5">
    <div class="col-md-10">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-float-label">
            <label for="idProveedor" class="tamanio-label">Proveedor *</label>
            <input id="idProveedor" class="form-control form-control-sm" type="text" matInput
              [formControl]="formulario.get('proveedor')" [matAutocomplete]="autoProveedor" autocomplete="off"
              placeholder="Buscar por alias">
            <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayF.bind(this)"
              (optionSelected)="listarPorProveedor()" (blur)="verificarSeleccion(formulario.get('proveedor'))">
              <mat-option *ngFor="let itemProveedor of resultadosProveedores" [value]="itemProveedor">
                {{itemProveedor.alias}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <table mat-table [dataSource]="resultados" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-id-width">#</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="NOMBRE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="PROVEEDOR">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.proveedor.razonSocial}}</td>
        </ng-container>
        <ng-container matColumnDef="TIPO_DOCUMENTO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.tipoDocumento.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="NUMERO_DOCUMENTO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Documento</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">
            {{elemento.numeroDocumento}}
          </td>
        </ng-container>
        <ng-container matColumnDef="LOCALIDAD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Localidad</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.localidad.nombre}}, {{elemento.localidad.provincia.nombre}}
          </td>
        </ng-container>
        <ng-container matColumnDef="EDITAR" stickyEnd>
          <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
            [disabled]="listaCompleta.data.length==0" (click)="abrirReporte()">Reporte</button></th>
          <td mat-cell *matCellDef="let elemento">
            <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
              matTooltip="Consultar" matTooltipPosition="above">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-button-table margin-left-3" (click)="activarActualizar(elemento)"
              matTooltip="Editar" matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>