<div id="choferproveedor" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>CHOFER PROVEEDOR</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8 text-center">
      <h5>{{pestaniaActual}} Chofer de Proveedor</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group has-float-label">
              <label for="idProveedor" class="tamanio-label">Proveedor *</label>
              <input id="idProveedor" class="form-control form-control-sm" type="text" matInput 
                [formControl]="formulario.get('proveedor')" [matAutocomplete]="autoProveedor" autocomplete="off">
              <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let itemProveedor of resultadosProveedores" [value]="itemProveedor"
                  (onSelectionChange)="listarPorProveedor(itemProveedor)">
                  {{itemProveedor.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" *ngIf="mostrarAutocompletado">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Lista de Choferes</label>
              <input id="idAutocompletado" class="form-control form-control-sm" type="text" matInput 
                [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off"
                [required]="mostrarAutocompletado">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let item of resultados" [value]="item"
                  (onSelectionChange)="formulario.setValue(item)">
                  {{item.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idNombre" class="tamanio-label">Nombre *</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idDomicilio" class="tamanio-label">Domicilio *</label>
              <input id="idDomicilio" type="text" formControlName="domicilio" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idBarrio" class="tamanio-label">Barrio</label>
              <input id="idBarrio" class="form-control form-control-sm" type="text" matInput 
                [formControl]="formulario.get('barrio')" [matAutocomplete]="autoBarrio" 
                autocomplete="off" [readonly]="soloLectura" (blur)="verificarSeleccion(formulario.get('barrio'))">
              <mat-autocomplete #autoBarrio="matAutocomplete" [displayWith]="displayFa.bind(this)">
                <mat-option *ngFor="let itemBarrio of resultadosBarrios" [value]="itemBarrio">
                  {{itemBarrio.nombre}}
                </mat-option>
                </mat-autocomplete>
                  </div>
            </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idLocalidad" class="tamanio-label">Localidad *</label>
              <input id="idLocalidad" class="form-control form-control-sm" type="text" matInput 
                [formControl]="formulario.get('localidad')" [matAutocomplete]="autoLocalidad" 
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoLocalidad="matAutocomplete" [displayWith]="displayFb.bind(this)">
                <mat-option *ngFor="let itemLocalidad of resultadosLocalidades" [value]="itemLocalidad">
                  {{itemLocalidad.nombre}}, {{itemLocalidad.provincia.nombre}},
                  {{itemLocalidad.provincia.pais.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelTelefonoFijo" for="idTelefonoFijo" class="tamanio-label">Teléfono Fijo</label>
              <input id="idTelefonoFijo" type="tel" formControlName="telefonoFijo" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelTelefonoMovil" for="idTelefonoMovil" class="tamanio-label">Teléfono Móvil</label>
              <input id="idTelefonoMovil" type="tel" formControlName="telefonoMovil" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idFechaNacimiento" class="tamanio-label">Fecha de Nacimiento *</label>
              <input id="idFechaNacimiento" type="date" formControlName="fechaNacimiento" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idTipoDocumento" class="tamanio-label">Tipo Documento *</label>
              <input id="idTipoDocumento" class="form-control form-control-sm" type="text" matInput 
                [formControl]="formulario.get('tipoDocumento')" [matAutocomplete]="autoTipoDocumento" 
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoTipoDocumento="matAutocomplete" [displayWith]="displayFa.bind(this)">
                <mat-option *ngFor="let itemTipoDocumento of tiposDocumentos" [value]="itemTipoDocumento">
                  {{itemTipoDocumento.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelNumeroDocumento" for="idNumeroDocumento" class="tamanio-label">N° de Documento *</label>
              <input id="idNumeroDocumento" type="number" formControlName="numeroDocumento" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura" (blur)="validarDocumento()"
                (ngModelChange)="cambioCampo('idNumeroDocumento', 'labelNumeroDocumento')">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoCarnet" class="tamanio-label">Vto. Licencia de Conducir *</label>
              <input id="idVtoCarnet" type="date" formControlName="vtoCarnet" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoCurso" class="tamanio-label">Vto. Curso CNRT *</label>
              <input id="idVtoCurso" type="date" formControlName="vtoCurso" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLNH" class="tamanio-label">Vto. LNH *</label>
              <input id="idVtoLNH" type="date" formControlName="vtoLNH" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLibretaSanidad" class="tamanio-label">Vto. Libreta de Sanidad</label>
              <input id="idVtoLibretaSanidad" type="date" formControlName="vtoLibretaSanidad" autocomplete="off" 
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group has-float-label">
            <label for="idProveedor" class="tamanio-label">Proveedor *</label>
            <input id="idProveedor" class="form-control form-control-sm" type="text" matInput
              [formControl]="formulario.get('proveedor')" [matAutocomplete]="autoProveedor" autocomplete="off">
            <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayF.bind(this)">
              <mat-option *ngFor="let itemProveedor of resultadosProveedores" [value]="itemProveedor"
                (onSelectionChange)="listarPorProveedor(itemProveedor)">
                {{itemProveedor.alias}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:5%" scope="col">id</th>
            <th class="text-center" style="width:20%" scope="col">Nombre</th>
            <th class="text-center" style="width:20%" scope="col">Proveedor</th>
            <th class="text-center" style="width:10%" scope="col">Tipo Documento</th>
            <th class="text-center" style="width:15%" scope="col">N° Documento</th>
            <th class="text-center" style="width:20%" scope="col">Localidad</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of resultados">
            <td align="center">
              <span>{{l.id}}</span>
            </td>
            <td align="center">
              <span>{{l.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.proveedor.razonSocial}}</span>
            </td>
            <td align="center">
              <span>{{l.tipoDocumento.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.numeroDocumento}}</span>
            </td>
            <td align="center">
              <span>{{l.localidad.nombre}}, {{l.localidad.provincia.nombre}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
