<div id="idContenedor">
  <mat-toolbar color="primary" class="toolbar">
    <h4>{{empresa}}</h4>
    <span class="spacer"></span>
    <h4>Listado de {{nombre}}</h4>
    <span class="spacer"></span>
    <button mat-mini-fab matTooltip="Descargar" (click)="descargar()" *ngIf="mostrar">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button style="margin-left: 10px;" mat-mini-fab matTooltip="Minimizar" [mat-dialog-close]="true" *ngIf="mostrar">
      <mat-icon>minimize</mat-icon>
    </button>
    <button style="margin-left: 10px;" mat-mini-fab matTooltip="Cerrar" [mat-dialog-close]="false" *ngIf="mostrar">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="contenedor">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <table mat-table [dataSource]="lista" matSort class="mat-elevation-z1">
          <ng-container [matColumnDef]="columna" *ngFor="let columna of columnas ; let i = index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columna}}</th>
            <td class="mat-cell-left" mat-cell *matCellDef="let elemento">{{elemento[eliminarEspaciosBlanco(columna)]}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>