<div id="usuario" class="container-fluid">
  <div class="row justify-content-center contenedor">
    <div class="col-md-4 text-center">
      <h5>Actualizar Contraseña</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Usuario</label>
              <input id="idAutocompletado" class="form-control form-control-sm" type="text" matInput
                [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off"
                (blur)="verificarSeleccion(autocompletado)" placeholder="Buscar por Nombre"
                [readonly]="estadoAutocompletado">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"
                (optionSelected)="establecerFormulario()">
                <mat-option *ngFor="let item of resultados" [value]="item">
                  {{item.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group has-float-label">
              <label for="idPassword" class="tamanio-label">Nueva Contraseña *</label>
              <input id="idPassword" type="password" formControlName="password" autocomplete="off"
                class="form-control form-control-sm" maxlength="20" (blur)="verificarContrasenia()">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group has-float-label">
              <label id="labelPasswordRepeat" for="idPasswordRepeat" class="tamanio-label">Repetir Contraseña *</label>
              <input id="idPasswordRepeat" type="password" [formControl]="passwordRepeat" autocomplete="off"
                class="form-control form-control-sm" maxlength="20" (blur)="verificarContrasenia()"
                (ngModelChange)="cambioRepetirContrasenia()">
            </div>
          </div>
        </div>
        <button id="idBoton" mat-raised-button color="primary" formnovalidate (click)="actualizarContrasenia()"
          [disabled]="habilitarBoton()">
          Actualizar
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>