<div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;
      background-image: url('/assets/back.jpg');background-size:cover;" class="vcontainer">
  <div style="width: 350px">
    <div class="row justify-content-center">
      <div class="col">
        <mat-card>
          <div class="row justify-content-center">
            <img width="40px" height="35px" src="/assets/logo.png" alt="Logo">
            <h2 style="padding-left: 10px; font-weight: bold;">NEUROJIT</h2>
            <h4 style="padding-left: 40px;">Logística</h4>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <form [formGroup]="formulario">
                <div id="divUsername" class="form-group has-float-label">
                  <label id="labelUsername" for="idUsername" class="tamanio-label">Usuario *</label>
                  <input id="idUsername" type="text" formControlName="username" autocomplete="off" class="form-control"
                    required autofocus>
                </div>
                <div id="divPassword" class="form-group has-float-label">
                  <label id="labelPassword" for="idPassword" class="tamanio-label">Contraseña *</label>
                  <input id="idPassword" type="password" formControlName="password" autocomplete="off"
                    class="form-control" required>
                </div>
                <div *ngIf="estaAutenticado" class="form-group has-float-label">
                  <label for="idEmpresa" class="tamanio-label">Empresa *</label>
                  <mat-select id="idEmpresa" class="form-control" formControlName="empresa" [compareWith]="compareFn">
                    <mat-option *ngFor="let empresa of empresas" [value]="empresa">
                      {{empresa.razonSocial}}
                    </mat-option>
                  </mat-select>
                </div>
                <div *ngIf="estaAutenticado && rolSecundario" class="form-group has-float-label">
                  <label for="idRol" class="tamanio-label">Rol *</label>
                  <mat-select id="idRol" class="form-control" formControlName="rol" [compareWith]="compareFn">
                    <mat-option *ngFor="let rol of roles" [value]="rol">
                      {{rol.nombre}}
                    </mat-option>
                  </mat-select>
                </div>
                <hr />
                <div class="row justify-content-center">
                  <button *ngIf="!estaAutenticado && !show" id="idBotonA" mat-raised-button color="primary"
                    name="buttonA" (click)="login()" [disabled]="!formulario.valid">Autenticarse</button>
                  <div class="row justify-content-center">
                    <mat-spinner diameter="40" *ngIf="show"></mat-spinner>
                  </div>
                  <button *ngIf="estaAutenticado && !show" id="idBotonI" mat-raised-button color="primary"
                    name="buttonI" (click)="ingresar()" [disabled]="!formulario.valid">Ingresar</button>
                </div>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>