<div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;
      background-image: url('/assets/rigar.jpg');background-size:cover;" class="vcontainer">
  <div style="width: 350px">
    <div class="row justify-content-center">
      <div class="col">
        <mat-card>
          <div class="row justify-content-center">
            <img width="40px" height="35px" src="/assets/logo.png" alt="Logo">
            <h2 style="padding-left: 10px;font-weight: bold;">JIT</h2><h4 style="padding-top: 8px; padding-left: 5px;">Logistica</h4>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <form [formGroup]="formulario">
                <div id="divUsername" class="form-group has-float-label">
                  <label id="labelUsername" for="idUsername" class="tamanio-label">Usuario</label>
                  <input id="idUsername" type="text" formControlName="username" autocomplete="off"
                  class="form-control" required [(ngModel)]="elemento.username" autofocus>
                </div>
                <div id="divPassword" class="form-group has-float-label">
                  <label id="labelPassword" for="idPassword" class="tamanio-label">Contraseña</label>
                  <input id="idPassword" type="password" formControlName="password" autocomplete="off"
                  class="form-control" required [(ngModel)]="elemento.password">
                </div>
                <div *ngIf="estaAutenticado" class="form-group has-float-label">
                  <label for="idEmpresa" class="tamanio-label">Empresa</label>
                  <select id="idEmpresa" class="form-control" formControlName="empresa" [(ngModel)]="elemento.empresa">
                    <option *ngFor="let empresa of empresas" [ngValue]="empresa">{{empresa.razonSocial}}</option>
                  </select>
                </div>
                <hr />
                <button *ngIf="!estaAutenticado" id="idBotonA" class="btn btn-primary btn-block" type="button"
                name="buttonA" (click)="login()" [disabled]="!formulario.valid">Autenticarse</button>
                <button *ngIf="estaAutenticado" id="idBotonI" class="btn btn-primary btn-block" type="button"
                name="buttonI" (click)="ingresar(elemento)" [disabled]="!formulario.valid">Ingresar</button>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
