<div id="provincia" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>PROVINCIA</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-4 text-center">
      <h5>{{pestaniaActual}} Provincia</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
          <label for="idAutocompletado" class="tamanio-label">Buscar por Nombre</label>
          <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" type="text" matInput
            [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off"
            (blur)="verificarSeleccion(autocompletado)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFa.bind(this)"
            (optionSelected)="cambioAutocompletado()">
            <mat-option *ngFor="let item of resultados" [value]="item">
              {{item.nombre}}, {{item.pais.nombre}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigo" class="tamanio-label">Código</label>
          <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm" readonly>
        </div>
        <div id="divNombre" class="form-group has-float-label">
          <label id="labelNombre" for="idNombre" class="tamanio-label">Nombre *</label>
          <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
            class="form-control form-control-sm" [readonly]="soloLectura"
            (ngModelChange)="cambioCampo('idNombre', 'labelNombre')" maxlength="45">
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigoIIBB" class="tamanio-label">Código IIBB</label>
          <input id="idCodigoIIBB" type="text" formControlName="codigoIIBB" autocomplete="off" maxlength="3"
            class="form-control form-control-sm number-right" [readonly]="soloLectura">
        </div>
        <div class="form-group has-float-label">
          <label for="idCodigoAfip" class="tamanio-label">Código Afip</label>
          <input id="idCodigoAfip" type="text" formControlName="codigoAfip" autocomplete="off"
            class="form-control form-control-sm number-right" [textMask]="mascararEnteros(3)" [readonly]="soloLectura">
        </div>
        <div class="form-group has-float-label">
          <label for="idPais" class="rubro-label">País *</label>
          <mat-select id="idPais" class="form-control form-control-sm" formControlName="pais" [compareWith]="compareFn">
            <mat-option *ngFor="let pais of paises" [value]="pais">
              {{pais.nombre}}
            </mat-option>
          </mat-select>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-6">
      <div class="form-group has-float-label">
        <label for="idPais" class="rubro-label">País *</label>
        <mat-select id="idPais" class="form-control form-control-sm" [formControl]="formulario.get('pais')"
          [compareWith]="compareFn" (selectionChange)="listarPorPais()">
          <mat-option *ngFor="let pais of paises" [value]="pais">
            {{pais.nombre}}
          </mat-option>
        </mat-select>
      </div>
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let elemento; let i= index" class="number-right">
            {{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="NOMBRE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="CODIGO_IIBB">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Código IIBB</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.codigoIIBB}}</td>
        </ng-container>
        <ng-container matColumnDef="CODIGO_AFIP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Código Afip</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.codigoAfip}}</td>
        </ng-container>
        <ng-container matColumnDef="EDITAR" stickyEnd>
          <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
              (click)="abrirReporte()">Reporte</button></th>
          <td mat-cell *matCellDef="let elemento" class="last-col-end">
            <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
              matTooltip="Consultar" matTooltipPosition="above">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-button-table margin-left-3" (click)="activarActualizar(elemento)"
              matTooltip="Editar" matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>