<form [formGroup]="formularioViajePropioEfectivo">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idFechaCajaAE" class="tamanio-label">Fecha Caja *</label>
        <input id="idFechaCajaAE" type="date" formControlName="fechaCaja" autocomplete="off"
          class="form-control form-control-sm" [readonly]="soloLectura" aria-describedby="idSigno">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group has-float-label">
        <label for="idEmpresaAE" class="tamanio-label">Caja Viajes *</label>
        <mat-select id="idEmpresaAE" class="form-control form-control-sm" formControlName="empresa"
          [compareWith]="compareFn">
          <mat-option *ngFor="let itemEmpresa of empresas" [value]="itemEmpresa">
            {{itemEmpresa.razonSocial}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idImporteAE" class="tamanio-label">Importe *</label>
        <input id="idImporteAE" [textMask]="mascararImporte(8)" type="text" formControlName="importe" autocomplete="off"
            class="form-control form-control-sm number-right" [readonly]="soloLectura" placeholder="$ 0.00"
            (blur)="establecerDecimales(formularioViajePropioEfectivo.get('importe'), 2)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="form-group has-float-label">
        <label for="idObservaciones" class="tamanio-label">Observaciones</label>
        <textarea id="idObservaciones" class="form-control form-control-sm" formControlName="observaciones" rows="2"
          [readonly]="soloLectura"></textarea>
      </div>
    </div>
    <div class="col-md-2">
      <button mat-raised-button color="primary" (click)="agregarEfectivo()"
        [disabled]="!formularioViajePropioEfectivo.valid" *ngIf="btnEfectivo">Agregar Adelanto</button>
      <button mat-raised-button color="primary" (click)="modificarEfectivo()"
        [disabled]="!formularioViajePropioEfectivo.valid" *ngIf="!btnEfectivo">Actualizar Adelanto</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="height: 200px; overflow-y: scroll;">
      <table class="table table-bordered table-striped table-sm table-condensed tabla-viaje">
        <thead>
          <tr>
            <th class="text-center" style="width:10%" scope="col">Sucursal</th>
            <th class="text-center" style="width:6%" scope="col">Adelanto</th>
            <th class="text-center" style="width:8%" scope="col">Fecha</th>
            <th class="text-center" style="width:10%" scope="col">Usuario</th>
            <th class="text-center" style="width:20%" scope="col">Empresa</th>
            <th class="text-center" style="width:8%" scope="col">Importe</th>
            <th class="text-center" style="width:10%" scope="col">Observaciones</th>
            <th class="text-center" style="width:8%" scope="col">Anulado</th>
            <th class="text-center" style="width:10%" scope="col">Observ. Anulado</th>
            <th class="text-center" style="width:5%" scope="col" *ngIf="!soloLectura">-</th>
            <th class="text-center" style="width:5%" scope="col" *ngIf="!soloLectura">-</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let l of listaEfectivos; let i = index">
            <tr *ngIf="l.id > 0 || l.id == null">
              <td align="center">
                <span>{{l.sucursal.nombre}}</span>
              </td>
              <td align="center">
                <span>{{i+1}}</span>
              </td>
              <td align="center">
                <span>{{l.fechaCaja | date: 'dd/MM/yyyy'}}</span>
              </td>
              <td align="center">
                <span>{{l.usuario.nombre}}</span>
              </td>
              <td align="center">
                <span>{{l.empresa.razonSocial}}</span>
              </td>
              <td align="center">
                <span>$ {{establecerCerosTabla(l.importe)}}</span>
              </td>
              <td align="center">
                <span class="cursor-color" (click)="verObservacionesDialogo(l.observaciones)">ver</span>
              </td>
              <td align="center">
                <span>{{l.anulado}}</span>
              </td>
              <td align="center">
                <span class="cursor-color" (click)="verObservacionesDialogo(l.observacionesAnulado)">ver</span>
              </td>
              <td align="center">
                <span class="cursor-color" (click)="modEfectivo(i)" *ngIf="!soloLectura">editar</span>
              </td>
              <td align="center">
                <span class="cursor-color-rojo" (click)="eliminarEfectivo(i, l)" *ngIf="!soloLectura">X</span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row justify-content-end">
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idImporteAE" class="tamanio-label">Importe Total *</label>
        <input id="idImporteAE" [textMask]="mascararImporte(8)" type="text" formControlName="importeTotal" 
          autocomplete="off" class="form-control form-control-sm number-right" [readonly]="true">
      </div>
    </div>
  </div>
</form>