<form [formGroup]="formularioViajeEfectivo">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idFechaCajaAE" class="tamanio-label">Fecha Caja *</label>
        <input id="idFechaCajaAE" type="date" formControlName="fechaCaja" autocomplete="off"
          class="form-control form-control-sm" [readonly]="soloLectura" aria-describedby="idSigno">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group has-float-label">
        <label for="idEmpresaAE" class="tamanio-label">Caja Viajes *</label>
        <mat-select id="idEmpresaAE" class="form-control form-control-sm" formControlName="empresa"
          [compareWith]="compareFn" required>
          <mat-option *ngFor="let itemEmpresa of empresas" [value]="itemEmpresa">
            {{itemEmpresa.razonSocial}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idImporteAE" class="tamanio-label">Importe *</label>
        <input id="idImporteAE" [textMask]="mascararImporte(8, 2)" type="text" formControlName="importe" autocomplete="off"
            class="form-control form-control-sm number-right" [readonly]="soloLectura" placeholder="$ 0.00"
            (blur)="establecerDecimales(formularioViajeEfectivo.get('importe'), 2)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="form-group has-float-label">
        <label for="idObservaciones" class="tamanio-label">Observaciones</label>
        <textarea id="idObservaciones" class="form-control form-control-sm" formControlName="observaciones" rows="2"
          [readonly]="soloLectura"></textarea>
      </div>
    </div>
    <div class="col-md-3">
      <button mat-raised-button color="primary" (click)="agregarEfectivo()"
        [disabled]="!formularioViajeEfectivo.valid || indiceSeleccionado==2 || indiceSeleccionado==4" *ngIf="btnEfectivo">Agregar Adelanto
      </button>
      <button mat-raised-button color="primary" (click)="modificarEfectivo()"
        [disabled]="!formularioViajeEfectivo.valid" *ngIf="!btnEfectivo">Actualizar Adelanto
      </button>
      <button mat-raised-button (click)="cancelar()" [disabled]="indiceSeleccionado==2 || indiceSeleccionado==4 || btnEfectivo">Cancelar</button>
    </div>
  </div>
  <div class="row">
    <div class="tabla">
      <div class="tabla-ancho">
        <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
          <ng-container matColumnDef="sucursal" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal</th>
            <td mat-cell *matCellDef="let elemento; let i=index">{{elemento.sucursal.nombre}}</td>
          </ng-container>
          <ng-container matColumnDef="adelanto" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Adelanto</th>
            <td mat-cell *matCellDef="let elemento; let i=index">{{i+1}}</td>
          </ng-container>
          <ng-container matColumnDef="fecha" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let elemento">{{elemento.fechaCaja | date: 'dd/MM/yyyy'}}</td>
          </ng-container>
          <ng-container matColumnDef="empresa" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
            <td mat-cell *matCellDef="let elemento">{{elemento.empresa.razonSocial}}</td>
          </ng-container>
          <ng-container matColumnDef="importe" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
            <td mat-cell *matCellDef="let elemento">$ {{establecerCerosTabla(elemento.importe)}}</td>
          </ng-container>
          <ng-container matColumnDef="observaciones" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
              <td mat-cell *matCellDef="let elemento">
                <span class="cursor-color" (click)="verObservacionesDialogo(elemento.observaciones)">ver</span>
              </td>
          </ng-container>
          <ng-container matColumnDef="anulado" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Anulado</th>
            <td mat-cell *matCellDef="let elemento">{{elemento.estaAnulado? 'Sí' : 'No'}}</td>
          </ng-container>
          <ng-container matColumnDef="obsAnulado" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Obs. Anulado</th>
            <td mat-cell *matCellDef="let elemento">
              <span class="cursor-color" (click)="verObservacionesDialogo(elemento.observacionesAnulado)">ver</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="mod" sticky >
            <th mat-header-cell *matHeaderCellDef>-</th>
            <td mat-cell *matCellDef="let elemento;  let i = index;" >
              <span class="cursor-color" *ngIf="!soloLectura" (click)="modEfectivo(i)">mod</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="anular" sticky>
              <th mat-header-cell *matHeaderCellDef>-</th>
              <td mat-cell *matCellDef="let elemento;  let i = index;">
                <span class="cursor-color-rojo" *ngIf="!soloLectura" (click)="anularEfectivo(elemento)">anular</span>
              </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-end">
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idImporteAE" class="tamanio-label">Importe Total *</label>
        <input id="idImporteAE" [textMask]="mascararImporte(8, 2)" type="text" [formControl]="importeTotal" 
          autocomplete="off" class="form-control form-control-sm number-right" [readonly]="true">
      </div>
    </div>
  </div>
</form>