<div class="container-fluid padd-20">
    <div class="row justify-content-center">
        <h4>Anticipos Disponibles</h4>
    </div>
    <form [formGroup]="formulario">
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idTotalDisponible" class="codigo-label">Total Disponible</label>
                    <input id="idTotalDisponible" type="text" formControlName="totalDisponible" readonly
                        class="form-control form-control-sm number-right">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idSaldo" class="codigo-label">Saldo</label>
                    <input id="idSaldo" type="text" formControlName="saldo" readonly
                        class="form-control form-control-sm number-right">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idImporte" class="codigo-label">Importe</label>
                    <input id="idImporte" type="text" formControlName="importe" 
                        class="form-control form-control-sm number-right">
                </div>
            </div>
            <div class="col-md-4">
                <button mat-raised-button color="primary">Aceptar</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="tabla">
            <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                <ng-container matColumnDef="FECHA" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let elemento"></td>
                </ng-container>
                <ng-container matColumnDef="ORDEN_PAGO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Orden Pago</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.numero}}</td>
                </ng-container>
                <ng-container matColumnDef="OBSERVACIONES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.observaciones}}</td>
                </ng-container>
                <ng-container matColumnDef="ANTICIPO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Anticipo</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.anticipo}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="SALDO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.saldo}}</td>
                </ng-container>
                <ng-container matColumnDef="IMPORTE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.importe}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-4">
            <div class="form-group has-float-label">
                <label for="idTotal" class="codigo-label">Total</label>
                <input id="idTotal" type="text" [formControl]="total" readonly 
                    class="form-control form-control-sm number-right">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary">Confirmar</button>
        <button class="margin-left-3" mat-raised-button (click)="cerrar()">Cancelar</button>
    </div>
</div>