<div id="puntoventa" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>PUNTO VENTA</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8 text-center">
      <h5>{{pestaniaActual}} Punto de Venta</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idSucursal" class="tamanio-label">Sucursal *</label>
              <mat-select id="idSucursal" class="form-control form-control-sm" 
                formControlName="sucursal" [compareWith]="compareFn">
                <mat-option *ngFor="let itemSucursal of sucursales" [value]="itemSucursal"
                  (onSelectionChange)="listarPorSucursal(itemSucursal)">
                  {{itemSucursal.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-6" *ngIf="mostrarAutocompletado">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Punto de Venta</label>
              <mat-select id="idAutocompletado" class="form-control form-control-sm" 
                formControlName="autocompletado" [compareWith]="compareFn">
                <mat-option *ngFor="let item of puntosVentas" [value]="item"
                  (onSelectionChange)="establecerFormulario(item)">
                  {{displayFb(item)}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idEmpresa" class="tamanio-label">Empresa *</label>
              <mat-select id="idEmpresa" class="form-control form-control-sm" 
                formControlName="empresa" [compareWith]="compareFn">
                <mat-option *ngFor="let itemEmpresa of empresas" [value]="itemEmpresa">
                  {{itemEmpresa.razonSocial}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idPuntoVenta" class="tamanio-label">Punto de Venta *</label>
              <input id="idPuntoVenta" type="number" formControlName="puntoVenta" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCodigoAfip" class="tamanio-label">Código de Afip *</label>
              <input id="idCodigoAfip" type="number" formControlName="codigoAfip" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idFe" class="tamanio-label">Es Comprobante Electrónico *</label>
              <mat-select id="idFe" class="form-control form-control-sm" 
                formControlName="fe" [compareWith]="compareFn">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idFeEnLinea" class="tamanio-label">Es Punto de Venta en Línea *</label>
              <mat-select id="idFeEnLinea" class="form-control form-control-sm" 
                formControlName="feEnLinea" [compareWith]="compareFn">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idFeCAEA" class="tamanio-label">Es CAE Anticipado *</label>
              <mat-select id="idFeCAEA" class="form-control form-control-sm" 
                formControlName="feCAEA" [compareWith]="compareFn">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCuentaOrden" class="tamanio-label">Es por Cuenta y Orden *</label>
              <mat-select id="idCuentaOrden" class="form-control form-control-sm" 
                formControlName="esCuentaOrden" [compareWith]="compareFn">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idUltimoNumero" class="tamanio-label">Ultimo Número *</label>
              <input id="idUltimoNumero" type="number" formControlName="ultimoNumero" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCopias" class="tamanio-label">Copias *</label>
              <input id="idCopias" type="number" formControlName="copias" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idImprime" class="tamanio-label">Imprime *</label>
              <mat-select id="idImprime" class="form-control form-control-sm" 
                formControlName="imprime" [compareWith]="compareFn">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idEstaHabilitado" class="tamanio-label">Habilitado *</label>
              <mat-select id="idEstaHabilitado" class="form-control form-control-sm" 
                formControlName="estaHabilitado" [compareWith]="compareFn">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:10%" scope="col">Sucursal</th>
            <th class="text-center" style="width:10%" scope="col">Empresa</th>
            <th class="text-center" style="width:10%" scope="col">Punto Venta</th>
            <th class="text-center" style="width:5%" scope="col">Es FE</th>
            <th class="text-center" style="width:10%" scope="col">es FE en Línea</th>
            <th class="text-center" style="width:5%" scope="col">Es CAEA</th>
            <th class="text-center" style="width:10%" scope="col">Es Cuenta y Orden</th>
            <th class="text-center" style="width:10%" scope="col">Ultimo Número</th>
            <th class="text-center" style="width:5%" scope="col">Copias</th>
            <th class="text-center" style="width:5%" scope="col">Imprime</th>
            <th class="text-center" style="width:10%" scope="col">Esta Habilitado</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td align="center">
              <span>{{l.sucursal.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.empresa.razonSocial}}</span>
            </td>
            <td align="center">
              <span>{{displayFb(l)}}</span>
            </td>
            <td align="center">
              <span>{{l.fe ? 'Si' : 'No'}}</span>
            </td>
            <td align="center">
              <span>{{l.feEnLinea ? 'Si' : 'No'}}</span>
            </td>
            <td align="center">
              <span>{{l.feCAEA ? 'Si' : 'No'}}</span>
            </td>
            <td align="center">
              <span>{{l.esCuentaOrden ? 'Si' : 'No'}}</span>
            </td>
            <td align="center">
              <span>{{l.ultimoNumero}}</span>
            </td>
            <td align="center">
              <span>{{l.copias}}</span>
            </td>
            <td align="center">
              <span>{{l.imprime ? 'Si' : 'No'}}</span>
            </td>
            <td align="center">
              <span>{{l.estaHabilitado ? 'Si' : 'No'}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
