<div id="" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
    <div class="row">
      <div class="centrar">
        <nav mat-tab-nav-bar>
          <a mat-tab-link disabled>ADELANTOS SUELDOS</a>
          <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
            (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
      <div class="col-md-10 text-center">
        <h5>Adelanto Sueldos en Lote</h5>
        <form [formGroup]="formulario" class="contenedor">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
                <label for="idAutocompletado" class="tamanio-label">Buscar Personal</label>
                <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" type="text" matInput
                  [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off" (blur)="verificarSeleccion(autocompletado)">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                  <mat-option *ngFor="let item of resultados" [value]="item" (onSelectionChange)="cambioAutocompletado(item)">
                    {{item.nombreCompleto}}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group has-float-label">
                <label id="labelLegajo" for="idLegajo" class="tamanio-label">N° de Legajo *</label>
                <input id="idLegajo" type="text" [formControl]="legajo" readonly
                  class="form-control form-control-sm ">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group has-float-label">
                <label id="labelApellido" for="idApellido" class="tamanio-label">Apellido *</label>
                <input id="idApellido" type="text" [formControl]="apellido" readonly [textMask]="mascararImporte(10)"
                  class="form-control form-control-sm ">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group has-float-label">
                <label id="labelNombre" for="idNombre" class="tamanio-label">Nombre *</label>
                <input id="idNombre" type="text" [formControl]="nombre" readonly [textMask]="mascararImporte(10)"
                  class="form-control form-control-sm ">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
                <div class="form-group has-float-label">
                  <label id="labelCategoria" for="idCategoria" class="tamanio-label">Categoría *</label>
                  <input id="idCategoria" type="text" [formControl]="categoria" readonly 
                    class="form-control form-control-sm ">
              </div>
            </div>
            <div class="col-md-5">
                <div class="form-group has-float-label">
                  <label id="labelBasicoCategoria" for="idBasicoCategoria" class="tamanio-label">Básico Categoría *</label>
                  <input id="idBasicoCategoria" type="text" [formControl]="basicoCategoria" readonly [textMask]="mascararImporte(10)"
                    class="form-control form-control-sm number-right">
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group has-float-label">
                  <label id="labelTopeAdelanto" for="idTopeAdelanto" class="descripcion-label">% Tope Adelanto *</label>
                  <input id="idTopeAdelanto" type="text" [formControl]="topeAdelanto"
                   autocomplete="off" [textMask]="mascararPorcentaje()" class="form-control form-control-sm number-right" placeholder="00.00%">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group has-float-label">
                  <label id="labelSaldoActual" for="idSaldoActual" class="descripcion-label">Saldo Actual *</label>
                  <input id="idSaldoActual" type="text" [formControl]="saldoActual" autocomplete="off" 
                  [textMask]="mascararImporte(10)" class="form-control form-control-sm number-right" placeholder="$0.00">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group has-float-label">
                  <label id="labelImporteDisponible" for="idImporteDisponible" class="descripcion-label">Importe Disponible *</label>
                  <input id="idImporteDisponible" type="text" [formControl]="importeDisponible" autocomplete="off" 
                  [textMask]="mascararImporte(10)" class="form-control form-control-sm number-right" placeholder="$0.00">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group has-float-label">
                  <label id="labelFechaEmision" for="idFechaEmision" class="tamanio-label">Fecha de Emisión *</label>
                  <input id="idFechaEmision" type="date" formControlName="fechaEmision" readonly
                    class="form-control form-control-sm">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group has-float-label">
                  <label id="labelObservacion" for="idObservacion" class="tamanio-label">Observaciones</label>
                  <textarea id="idObservacion" type="text" formControlName="observaciones" maxlength="60" rows="3"
                    class="form-control form-control-sm"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group has-float-label">
                  <label id="labelImporte" for="idImporte" class="descripcion-label">Importe *</label>
                  <input id="idImporte" type="text" formControlName="importe" autocomplete="off" (blur)="controlarImporte()"
                  [textMask]="mascararImporte(10)" class="form-control form-control-sm number-right" placeholder="$0.00">
                </div>
              </div>
              <div class="col-md-1">
                <button id="idBotonPrestamo"  mat-raised-button color="primary" formnovalidate >
                  Préstamo
                </button>
              </div>
            </div>
          <div class="row text-center">
            <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
              (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
              {{pestaniaActual}}
            </button>
          </div>
          <div class="row" *ngIf="show">
            <div class="col text-center">
              <app-progreso></app-progreso>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="row justify-content-center contenedor" [hidden]="indiceSeleccionado != 5">
      <div class="col-md-6">
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <app-progreso></app-progreso>
          </div>
        </div>
        <br>
        <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
          <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
          </ng-container>
          <ng-container matColumnDef="nombre" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let elemento">{{elemento.nombre}}</td>
          </ng-container>
          <ng-container matColumnDef="ver" sticky>
            <th mat-header-cell *matHeaderCellDef>-</th>
            <td mat-cell *matCellDef="let elemento" (click)="activarConsultar(elemento)"><span
                class="cursor-color">ver</span></td>
          </ng-container>
          <ng-container matColumnDef="mod" sticky>
            <th mat-header-cell *matHeaderCellDef>-</th>
            <td mat-cell *matCellDef="let elemento" (click)="activarActualizar(elemento)"><span
                class="cursor-color">editar</span></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
      </div>
    </div> -->
  </div>