<div id="" class="container-fluid">
  <div class="row justify-content-center contenedor">
    <div class="col-md-10 text-center">
      <h5>Detalle del Adelanto</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelFechaLiquidacion" for="idFechaLiquidacion" class="tamanio-label">Fecha Liquidación</label>
              <input id="idFechaLiquidacion" type="text" formControlName="fechaLiquidacion" readonly
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelNumeroLiquidacion" for="idNumeroLiquidacion" class="tamanio-label">N° Liquidación</label>
              <input id="idNumeroLiquidacion" type="text" formControlName="numeroLiquidacion" readonly
                class="form-control form-control-sm number-right">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelNumeroViaje" for="idNumeroViaje" class="tamanio-label">N° Viaje</label>
              <input *ngIf="!formulario.value.viaje" id="idNumeroViaje" type="text" formControlName="viaje" readonly
                class="form-control form-control-sm number-right">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelNumeroReparto" for="idNumeroReparto" class="tamanio-label">N° Reparto</label>
              <input *ngIf="!formulario.value.reparto" id="idNumeroReparto" type="text" formControlName="reparto"
                readonly class="form-control form-control-sm number-right">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelObservacionesAnulado" for="idObservacionesAnulado" class="tamanio-label">Observaciones
                Anulado</label>
              <input id="idObservacionesAnulado" type="text" formControlName="observacionesAnulado" readonly
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelNumeroLiquidacion" for="idNumeroLiquidacion" class="tamanio-label">Usuario
                Anulación</label>
              <input id="idNumeroLiquidacion" type="text" formControlName="usuarioBaja" readonly
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label id="labelNumeroViaje" for="idNumeroViaje" class="tamanio-label">Usuario última modificación</label>
              <input id="idNumeroViaje" type="text" formControlName="usuarioMod" readonly
                class="form-control form-control-sm">
            </div>
          </div>
        </div>
        <div class="row text-center">
          <button id="idBotonCancelar" mat-raised-button color="primary" formnovalidate
            (click)="closeDialog()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>