<div id="" class="container-fluid" >
    <div class="row justify-content-center contenedor" >
      <div class="col-md-10 text-center">
        <h5>Detalle Préstamo</h5>
        <form [formGroup]="formulario" class="contenedor">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-float-label">
                <label id="labelTotalPrestamo" for="idTotalPrestamo" class="tamanio-label">Total Préstamo *</label>
                <input id="idTotalPrestamo" type="text" [formControl]="totalPrestamo" class="form-control form-control-sm number-right"
                [textMask]="mascararImporte(10)" (blur)="establecerDecimales(totalPrestamo, 2)" placeholder="$0.00">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-float-label">
                <label id="labelCantidadCuotas" for="idCantidadCuotas" class="tamanio-label">Cantidad de Cuotas *</label>
                <input id="idCantidadCuotas" type="number" [formControl]="totalCuotas" readonly 
                class="form-control form-control-sm number-right" placeholder="00">
              </div>
            </div>
            <div class="col-md-2">
                <button id="idBotonConfirmar"  mat-raised-button color="primary" formnovalidate (click)="confirmar()"
                [disabled]="!totalPrestamo.valid || !totalCuotas.valid">
                  Confirmar
                </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                  <label id="labelNumeroCuota" for="idNumeroCuota" class="tamanio-label">N° de Cuota</label>
                  <input id="idNumeroCuota" type="text" formControlName="cuota" readonly 
                    class="form-control form-control-sm ">
              </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-float-label">
                  <label id="labelFechaVencimiento" for="idFechaVencimiento" class="tamanio-label">Fecha Vencimiento *</label>
                  <input id="idFechaVencimiento" type="date" formControlName="fechaVto"  
                    class="form-control form-control-sm ">
              </div>
            </div>
            <div class="col-md-2">
                <div class="form-group has-float-label">
                  <label id="labelImporte" for="idImporte" class="tamanio-label">Importe *</label>
                  <input id="idImporte" type="text" formControlName="importe" class="form-control form-control-sm number-right"
                [textMask]="mascararImporte(10)" (blur)="establecerDecimales(formulario.get('importe'), 2)" placeholder="$0.00">
              </div>
            </div>
            <div class="col-md-4">
                <button id="idBotonActualizar"  mat-raised-button color="primary" formnovalidate (click)="actualizar()">
                  Actualizar
                </button>
                <button id="idBotonCancelar"  mat-raised-button color="primary" formnovalidate (click)="cancelar()">
                  Cancelar
                </button>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                    <ng-container matColumnDef="numeroCuota" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>N° de Cuota</th>
                        <td mat-cell *matCellDef="let elemento">{{elemento.cuota}}</td>
                    </ng-container>
                    <ng-container matColumnDef="fechaVencimiento" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Vencimiento</th>
                        <td mat-cell *matCellDef="let elemento">{{elemento.fechaVto | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="importe" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                        <td mat-cell *matCellDef="let elemento">${{elemento.importe | number: '1.2-2'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="mod" sticky>
                        <th mat-header-cell *matHeaderCellDef>-</th>
                        <td mat-cell *matCellDef="let elemento; let i=index" (click)="activarActualizar(elemento, i)"><span
                            class="cursor-color">editar</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                    </table>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col"></div>
              <div class="col-md-4">
                <div class="form-group has-float-label">
                  <label id="labelImporte" for="idImporte" class="tamanio-label">Diferencia</label>
                  <input id="idImporte" type="text" [formControl]="diferencia" readonly [textMask]="mascararImporte(10)"
                    class="form-control form-control-sm number-right">
                </div>
              </div>
          </div>
          <div class="row text-center">
            <button id="idBotonAceptar" *ngIf="!show" mat-raised-button color="primary" formnovalidate 
            [disabled]="!btnAceptar" (click)="closeDialog('aceptar')">
              Aceptar            
            </button>
            <button id="idBotonCancelar" *ngIf="!show" mat-raised-button color="primary" formnovalidate (click)="closeDialog('cerrar')">
              Cancelar            
            </button>
          </div>
          <div class="row" *ngIf="show">
            <div class="col text-center">
              <app-progreso></app-progreso>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>