<div class="container-fluid"><br>
    <form [formGroup]="formulario">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idtipoConceptoSueldo" class="tamanio-label">Tipo de Concepto *</label>
                    <mat-select id="idtipoConceptoSueldo" class="form-control form-control-sm"
                        [formControl]="tipoConceptoSueldo" [compareWith]="compareFn"
                        (selectionChange)= "listarAfipConceptoSueldoGrupo()">
                        <mat-option *ngFor="let itemTipoConceptoSueldo of tiposConceptosSueldos"
                            [value]="itemTipoConceptoSueldo">
                            {{itemTipoConceptoSueldo.nombre}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group has-float-label">
                    <label for="idAfipGrupoConcepto" class="tamanio-label">Afip Grupo Concepto *</label>
                    <mat-select id="idAfipGrupoConcepto" class="form-control form-control-sm"
                        [formControl]="afipGrupoConcepto" [compareWith]="compareFn" (selectionChange)= "listarAfipConceptoSueldo()">
                        <mat-option *ngFor="let itemGrupoConcepto of gruposConceptos" [value]="itemGrupoConcepto">
                            {{itemGrupoConcepto.nombre}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idCodigoAfip" class="tamanio-label">Código Afip *</label>
                    <input id="idCodigoAfip" type="text" [formControl]="codigoAfip" autocomplete="off"
                        class="form-control form-control-sm" readonly>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group has-float-label">
                    <label for="idAfipConceptoSueldo" class="tamanio-label">Afip Concepto *</label>
                    <mat-select id="idAfipConceptoSueldo" class="form-control form-control-sm"
                        formControlName="afipConceptoSueldo" [compareWith]="compareFn" (selectionChange)= "seleccionarCodigoAfip()">
                        <mat-option *ngFor="let itemAfipConceptoSueldo of afipConceptosSueldo"
                            [value]="itemAfipConceptoSueldo">
                            {{itemAfipConceptoSueldo.nombre}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idCodigoEmpleador" class="tamanio-label">Código Empleador *</label>
                    <input id="idCodigoEmpleador" type="text" formControlName="codigoEmpleador" autocomplete="off"
                        class="form-control form-control-sm" readonly>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group has-float-label">
                    <label for="idDescripcion" class="tamanio-label">Descripción *</label>
                    <input id="idDescripcion" type="text" formControlName="nombre" autocomplete="off"
                        class="form-control form-control-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idUnidadMedida" class="tamanio-label">Unidad de medida *</label>
                    <mat-select id="idUnidadMedida" class="form-control form-control-sm"
                        formControlName="unidadMedidaSueldo" [compareWith]="compareFn">
                        <mat-option *ngFor="let itemUnidadMedidaSueldo of unidadesMedidasSueldos"
                            [value]="itemUnidadMedidaSueldo">
                            {{itemUnidadMedidaSueldo.nombre}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group has-float-label">
                            <label for="idIngresaCantidad" class="tamanio-label">Ingresa Cantidad *</label>
                            <mat-select id="idIngresaCantidad" class="form-control form-control-sm"
                                formControlName="ingresaCantidad" [compareWith]="compareFn">
                                <mat-option [value]="true">Sí</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-float-label">
                            <label for="idIngresaValorUnitario" class="tamanio-label">Ingresa Valor Unitario
                                *</label>
                            <mat-select id="idIngresaValorUnitario" class="form-control form-control-sm"
                                formControlName="ingresaValorUnitario" [compareWith]="compareFn">
                                <mat-option [value]="true">Sí</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-float-label">
                            <label for="idIngresaImporte" class="tamanio-label">Ingresa Importe *</label>
                            <mat-select id="idIngresaImporte" class="form-control form-control-sm"
                                formControlName="ingresaImporte" [compareWith]="compareFn">
                                <mat-option [value]="true">Sí</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idEsRepetible" class="tamanio-label">Es repetible *</label>
                    <mat-select id="idEsRepetible" class="form-control form-control-sm" formControlName="esRepetible"
                        [compareWith]="compareFn">
                        <mat-option [value]="true">Sí</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group has-float-label">
                            <label for="idImprimeValorUnitario" class="tamanio-label">Imprime Valor Unitario
                                *</label>
                            <mat-select id="idImprimeValorUnitario" class="form-control form-control-sm"
                                formControlName="imprimeValorUnitario" [compareWith]="compareFn">
                                <mat-option [value]="true">Sí</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button color="primary" (click)="liquidacion()">Liquidaciones
                            Asociadas</button>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button color="primary" (click)="subSistema()">SubSistemas AFIP</button>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button color="primary" (click)="formula()">Fórmula</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>