<div class="{{tema}} padd-20">
    <h5 class="text-center">Dador - Destinatario</h5>
    <h6>Tramo: {{tramo}}</h6>
    <div class="row">
        <div class="col">
            <form [formGroup]="formulario">
                <div class="row" *ngIf="!soloLectura">
                    <div class="col-md-5">
                        <div class="form-group has-float-label">
                            <label for="idTramoDadorCarga" class="tamanio-label">Dador de Carga *</label>
                            <input id="idTramoDadorCarga" class="form-control form-control-sm" type="text" matInput
                                [formControl]="formulario.get('clienteDador')" [matAutocomplete]="autoDadorCarga"
                                autocomplete="off" (blur)="verificarSeleccion(formulario.get('clienteDador'))"
                                placeholder="Buscar por N° Cuenta, Razón Social, Nombre Fantasía o Número Documento">
                            <mat-autocomplete #autoDadorCarga="matAutocomplete" [displayWith]="displayFb.bind(this)">
                                <mat-option *ngFor="let itemDadorCarga of resultadosClientes" [value]="itemDadorCarga">
                                    {{itemDadorCarga.alias}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group has-float-label">
                            <label for="idTramoDestinatario" class="tamanio-label">Destinatario *</label>
                            <input id="idTramoDestinatario" class="form-control form-control-sm" type="text" matInput
                                [formControl]="formulario.get('clienteDestinatario')"
                                [matAutocomplete]="autoDestinatario" autocomplete="off"
                                (blur)="verificarSeleccion(formulario.get('clienteDestinatario'))"
                                placeholder="Buscar por N° Cuenta, Razón Social, Nombre Fantasía o Número Documento">
                            <mat-autocomplete #autoDestinatario="matAutocomplete" [displayWith]="displayFb.bind(this)">
                                <mat-option *ngFor="let itemDestinatario of resultadosClientes"
                                    [value]="itemDestinatario">
                                    {{itemDestinatario.alias}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button mat-raised-button color="primary" (click)="agregarDadorDestinatario()"
                            [disabled]="!formulario.valid" *ngIf="!show">Agregar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                            <ng-container matColumnDef="dador">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Dador</th>
                                <td mat-cell *matCellDef="let elemento">
                                    {{elemento.clienteDador? elemento.clienteDador.razonSocial : '--'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="destinatario">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Destinatario</th>
                                <td mat-cell *matCellDef="let elemento">
                                    {{elemento.clienteDestinatario? elemento.clienteDestinatario.razonSocial : '--'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="remitos">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let elemento; let i = index;">
                                    <button mat-icon-button class="mat-icon-button-table" *ngIf="modalidadCarga"
                                        (click)="verRemitos(elemento)" matTooltip="Cargar Remitos"
                                        matTooltipPosition="above">
                                        <mat-icon>unarchive</mat-icon>
                                    </button>
                                    <button mat-icon-button class="mat-icon-button-table" *ngIf="!modalidadCarga"
                                        (click)="verVacioFacturado(elemento)" matTooltip="Valorizar Vacio Facturado"
                                        matTooltipPosition="above">
                                        <mat-icon>unarchive</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="eliminar">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let elemento">
                                    <button mat-icon-button class="mat-icon-button-table"
                                        *ngIf="!soloLectura" (click)="eliminarDadorDestinatario(elemento)" 
                                        matTooltip="Eliminar" matTooltipPosition="above">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-center">
            <button mat-raised-button (click)="onNoClick()" *ngIf="!show">Cerrar</button>
            <mat-progress-bar mode="indeterminate" *ngIf="show"></mat-progress-bar>
        </div>
    </div>
</div>