<form class="margin-top-10" [formGroup]="formularioViajeTramo">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoFecha" class="tamanio-label">Fecha *</label>
                <input id="idTramoFecha" type="date" formControlName="fechaTramo" autocomplete="off"
                    class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group has-float-label">
                <label for="idTramo" class="tamanio-label">Tramo *</label>
                <input id="idTramo" class="form-control form-control-sm" type="text" matInput
                    [formControl]="formularioViajeTramo.get('tramo')" [matAutocomplete]="autoTramo" autocomplete="off"
                    [readonly]="soloLectura" placeholder="Buscar por Origen"
                    (blur)="verificarSeleccion(formularioViajeTramo.get('tramo'))">
                <mat-autocomplete #autoTramo="matAutocomplete" [displayWith]="displayFn.bind(this)"
                    (optionSelected)="establecerKm()">
                    <mat-option *ngFor="let itemTramo of resultadosTramos" [value]="itemTramo">
                        {{itemTramo.origen.nombre}},
                        {{itemTramo.origen.provincia.nombre}} ->
                        {{itemTramo.destino.nombre}},
                        {{itemTramo.destino.provincia.nombre}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group has-float-label">
                <label for="idKm" class="tamanio-label">Km</label>
                <input id="idKm" [textMask]="mascararKm(6)" type="text" formControlName="km" autocomplete="off"
                    class="form-control form-control-sm number-right" [readonly]="true" placeholder="0 km">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoEmpresa" class="tamanio-label">Empresa *</label>
                <mat-select id="idTramoEmpresa" class="form-control form-control-sm" formControlName="empresa"
                    [compareWith]="compareFn">
                    <mat-option *ngFor="let itemEmpresa of empresas" [value]="itemEmpresa">
                        {{itemEmpresa.razonSocial}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoUnidadNegocio" class="tamanio-label">Unidad de Negocio *</label>
                <mat-select id="idTramoUnidadNegocio" class="form-control form-control-sm"
                    formControlName="viajeUnidadNegocio" [compareWith]="compareFn">
                    <mat-option *ngFor="let itemUnidadNegocio of unidadesNegocios" [value]="itemUnidadNegocio">
                        {{itemUnidadNegocio.nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoTipoViaje" class="tamanio-label">Modalidad de Carga *</label>
                <mat-select id="idTramoTipoViaje" class="form-control form-control-sm" formControlName="viajeTipo"
                    [compareWith]="compareFn" (selectionChange)="establecerEstadoTipoCarga(false)">
                    <mat-option *ngFor="let itemViajeTipo of viajesTipos" [value]="itemViajeTipo">
                        {{itemViajeTipo.nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoViajeTipoCarga" class="tamanio-label">Tipo de Carga *</label>
                <mat-select id="idTramoViajeTipoCarga" class="form-control form-control-sm"
                    formControlName="viajeTipoCarga" [compareWith]="compareFn">
                    <mat-option *ngFor="let itemViajeTipoCarga of viajesTiposCargas" [value]="itemViajeTipoCarga">
                        {{itemViajeTipoCarga.nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoViajeTarifa" class="tamanio-label">Tarifa *</label>
                <mat-select id="idTramoViajeTarifa" class="form-control form-control-sm" formControlName="viajeTarifa"
                    [compareWith]="compareFn" (selectionChange)="establecerTipoViaje(tipoViaje)">
                    <mat-option *ngFor="let itemViajeTarifa of viajesTarifas" [value]="itemViajeTarifa">
                        {{itemViajeTarifa.nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group has-float-label">
                <label for="idTramoCantidad" class="tamanio-label">Cantidad *</label>
                <input id="idTramoCantidad" [textMask]="mascararEnteros(4)" type="text" formControlName="cantidad"
                    autocomplete="off" class="form-control form-control-sm number-right"
                    [readonly]="soloLectura || soloLecturaPrecioCantidad"
                    (blur)="calcularImporte(formularioViajeTramo, null, 3)" placeholder="0">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group has-float-label">
                <label for="idTramoPrecioUnitario" class="tamanio-label">Precio Unitario *</label>
                <input id="idTramoPrecioUnitario" [textMask]="mascararImporte(8, 3)" type="text"
                    formControlName="precioUnitario" autocomplete="off"
                    class="form-control form-control-sm number-right"
                    [readonly]="soloLectura || soloLecturaPrecioCantidad" placeholder="$ 0.00"
                    (blur)="calcularImporte(formularioViajeTramo, formularioViajeTramo.get('precioUnitario'), 2)">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group has-float-label">
                <label for="idTramoImporte" class="tamanio-label">Importe *</label>
                <input id="idTramoImporte" [textMask]="mascararImporte(8, 2)" type="text" formControlName="importe"
                    autocomplete="off" class="form-control form-control-sm number-right" readonly
                    (blur)="establecerDecimales(formularioViajeTramo.get('importe'), 2)" placeholder="$ 0.00">
            </div>
        </div>
        <div class="col-md-6">
            <div class="inline">
                <button class="margin-left-3" mat-raised-button (click)="verDadorDestinatarioDialogo()"
                    [disabled]="soloLecturaDadorDestinatario">
                    Dador-Destinatario
                </button>
                <button class="margin-left-3" mat-raised-button
                    (click)="abrirObservacionesDialogo()">Observaciones</button>
                <button class="margin-left-3" mat-raised-button color="primary" (click)="agregarTramo()"
                    [disabled]="!formularioViajeTramo.valid"
                    *ngIf="btnTramo && !soloLectura && listaTramos.length > 0 && !show">Agregar Tramo
                </button>
                <button class="margin-left-3" mat-raised-button color="primary" (click)="agregarTramo()"
                    [disabled]="!formularioViaje.valid || !formularioViajeTramo.valid"
                    *ngIf="btnTramo && !soloLectura && listaTramos.length == 0 && !show">Agregar Tramo
                </button>
                <button class="margin-left-3" mat-raised-button color="primary" (click)="modificarTramo()"
                    [disabled]="!formularioViajeTramo.valid" *ngIf="!btnTramo && !soloLectura && !show">Actualizar Tramo
                </button>
                <mat-progress-bar mode="indeterminate" *ngIf="show"></mat-progress-bar>
                <button class="margin-left-3" mat-raised-button (click)="cancelar()"
                    [disabled]="indiceSeleccionado==2 || indiceSeleccionado==4 || btnTramo">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="tabla mat-elevation-z1">
            <!-- <div class="tabla-ancho"> -->
                <table mat-table [dataSource]="listaCompleta" matSort>
                    <ng-container matColumnDef="id" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                        <td mat-cell *matCellDef="let elemento; let i=index">{{elemento.numeroOrden}}</td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                        <td mat-cell *matCellDef="let elemento">{{elemento.fechaTramo | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="tramo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tramo</th>
                        <td mat-cell *matCellDef="let elemento">{{elemento.tramo.origen.nombre}} ->
                            {{elemento.tramo.destino.nombre}}</td>
                    </ng-container>
                    <ng-container matColumnDef="km">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Km</th>
                        <td mat-cell *matCellDef="let elemento">{{elemento.tramo? elemento.tramo.km : '--'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="empresa">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
                        <td mat-cell *matCellDef="let elemento">
                            {{elemento.empresa? elemento.empresa.razonSocial : '--'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="tipoCarga">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Carga</th>
                        <td mat-cell *matCellDef="let elemento">
                            {{elemento.viajeTipoCarga? elemento.viajeTipoCarga.nombre : '--'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="tipoViaje">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Viaje</th>
                        <td mat-cell *matCellDef="let elemento">{{elemento.viajeTipo? elemento.viajeTipo.nombre : '--'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="tarifa">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tarifa</th>
                        <td mat-cell *matCellDef="let elemento">
                            {{elemento.viajeTarifa? elemento.viajeTarifa.nombre : '--'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="destinatario">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dador - Destinatario</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span class="cursor-color" (click)="verDadorDestTablaDialogo(elemento)">ver</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="unidadNegocio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Un. Negocio</th>
                        <td mat-cell *matCellDef="let elemento">
                            {{elemento.viajeUnidadNegocio? elemento.viajeUnidadNegocio.nombre : '--'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="obs">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Obs.</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span class="cursor-color"
                                (click)="verObservacionesDialogo(elemento.observaciones)">ver</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="editar" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>-</th>
                        <td mat-cell *matCellDef="let elemento; let i = index">
                            <button mat-icon-button class="mat-icon-button-table"
                                *ngIf="!soloLectura && !elemento.estaAnulado" (click)="modTramo(i, elemento)"
                                matTooltip="Editar" matTooltipPosition="above">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="mat-icon-button-table margin-left-3" *ngIf="!soloLectura"
                                (click)="eliminarTramo(elemento)" matTooltip="Eliminar" matTooltipPosition="above">
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>
            <!-- </div> -->
        </div>
    </div>
</form>