<form [formGroup]="formularioViajeTramo">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoFecha" class="tamanio-label">Fecha *</label>
                <input id="idTramoFecha" type="date" formControlName="fechaTramo" autocomplete="off"
                    class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group has-float-label">
                <label for="idTramo" class="tamanio-label">Tramo *</label>
                <input id="idTramo" class="form-control form-control-sm" type="text" matInput
                    [formControl]="formularioViajeTramo.get('tramo')" [matAutocomplete]="autoTramo"
                    autocomplete="off" [readonly]="soloLectura" placeholder="Buscar por Origen"
                    (blur)="verificarSeleccion(formularioViajeTramo.get('tramo'))">
                <mat-autocomplete #autoTramo="matAutocomplete" [displayWith]="displayFn.bind(this)"
                    (optionSelected)="establecerKm()">
                    <mat-option *ngFor="let itemTramo of resultadosTramos" [value]="itemTramo">
                        {{itemTramo.origen.nombre}},
                        {{itemTramo.origen.provincia.nombre}} ->
                        {{itemTramo.destino.nombre}},
                        {{itemTramo.destino.provincia.nombre}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group has-float-label">
                <label for="idKm" class="tamanio-label">Km</label>
                <input id="idKm" [textMask]="mascararKm(6)" type="text" formControlName="km" autocomplete="off"
                    class="form-control form-control-sm number-right" [readonly]="true" placeholder="0 km">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoEmpresa" class="tamanio-label">Empresa *</label>
                <mat-select id="idTramoEmpresa" class="form-control form-control-sm" formControlName="empresa"
                    [compareWith]="compareFn">
                    <mat-option *ngFor="let itemEmpresa of empresas" [value]="itemEmpresa">
                        {{itemEmpresa.razonSocial}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoUnidadNegocio" class="tamanio-label">Unidad de Negocio *</label>
                <mat-select id="idTramoUnidadNegocio" class="form-control form-control-sm"
                    formControlName="viajeUnidadNegocio" [compareWith]="compareFn">
                    <mat-option *ngFor="let itemUnidadNegocio of unidadesNegocios" [value]="itemUnidadNegocio">
                        {{itemUnidadNegocio.nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoTipoViaje" class="tamanio-label">Modalidad de Carga *</label>
                <mat-select id="idTramoTipoViaje" class="form-control form-control-sm" formControlName="viajeTipo"
                    [compareWith]="compareFn" (selectionChange)="establecerEstadoTipoCarga()">
                    <mat-option *ngFor="let itemViajeTipo of viajesTipos" [value]="itemViajeTipo">
                        {{itemViajeTipo.nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoViajeTipoCarga" class="tamanio-label">Tipo de Carga *</label>
                <mat-select id="idTramoViajeTipoCarga" class="form-control form-control-sm"
                    formControlName="viajeTipoCarga" [compareWith]="compareFn">
                    <mat-option *ngFor="let itemViajeTipoCarga of viajesTiposCargas" [value]="itemViajeTipoCarga">
                        {{itemViajeTipoCarga.nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoViajeTarifa" class="tamanio-label">Tarifa *</label>
                <mat-select id="idTramoViajeTarifa" class="form-control form-control-sm" formControlName="viajeTarifa"
                    [compareWith]="compareFn" (selectionChange)="establecerTipoViaje(tipoViaje)">
                    <mat-option *ngFor="let itemViajeTarifa of viajesTarifas" [value]="itemViajeTarifa">
                        {{itemViajeTarifa.nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group has-float-label">
                <label for="idTramoCantidad" class="tamanio-label">Cantidad *</label>
                <input id="idTramoCantidad" [textMask]="mascararEnteros(4)" type="text" formControlName="cantidad"
                    autocomplete="off" class="form-control form-control-sm number-right"
                    [readonly]="soloLectura"
                    (blur)="calcularImporte(formularioViajeTramo, null, null)" placeholder="0">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoPrecioUnitario" class="tamanio-label">Precio Unitario *</label>
                <input id="idTramoPrecioUnitario" [textMask]="mascararImporte(8, 3)" type="text"
                    formControlName="precioUnitario" autocomplete="off"
                    class="form-control form-control-sm number-right" [readonly]="soloLectura"
                    placeholder="$ 0.000"
                    (blur)="calcularImporte(formularioViajeTramo, formularioViajeTramo.get('precioUnitario'), 3)">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="idTramoImporte" class="tamanio-label">Importe *</label>
                <input id="idTramoImporte" [textMask]="mascararImporte(8, 2)" type="text" formControlName="importe"
                    autocomplete="off" class="form-control form-control-sm number-right" [readonly]="soloLectura"
                    placeholder="$ 0.00">
            </div>
        </div>
        <div class="col-md-4">
            <div class="inline">
                <button mat-raised-button (click)="verDadorDestinatarioDialogo()"
                    [disabled]="soloLectura">Dador-Destinatario 
                    <span *ngIf="formularioViajeTramo.get('viajeTipo').value ? formularioViajeTramo.get('viajeTipo').value.id != 3 : false">*</span>
                </button>
                <button mat-raised-button (click)="abrirObservacionesDialogo()">Observaciones</button>
                <button mat-raised-button color="primary" (click)="agregarTramo()"
                    [disabled]="!formularioViajeTramo.valid" *ngIf="btnTramo">Agregar Tramo</button>
                <button mat-raised-button color="primary" (click)="modificarTramo()"
                    [disabled]="!formularioViajeTramo.valid" *ngIf="!btnTramo">Actualizar Tramo</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="height: 250px; overflow-y: scroll;">
            <!-- <table class="table table-bordered table-striped table-sm table-condensed tabla-viaje">
                <thead>
                    <tr>
                        <th class="text-center" style="width:2%" scope="col">#</th>
                        <th class="text-center" style="width:5%" scope="col">Fecha</th>
                        <th class="text-center" style="width:18%" scope="col">Tramo</th>
                        <th class="text-center" style="width:3%" scope="col">Km</th>
                        <th class="text-center" style="width:15%" scope="col">Empresa</th>
                        <th class="text-center" style="width:5%" scope="col">Tipo Carga</th>
                        <th class="text-center" style="width:10%" scope="col">Tipo Viaje</th>
                        <th class="text-center" style="width:8%" scope="col">Tarifa</th>
                        <th class="text-center" style="width:10%" scope="col">Dador-Destinatario</th>
                        <th class="text-center" style="width:10%" scope="col">Unidad Negocio</th>
                        <th class="text-center" style="width:5%" scope="col">Obs.</th>
                        <th class="text-center" style="width:4%" scope="col" *ngIf="!soloLectura">-</th>
                        <th class="text-center" style="width:2%" scope="col" *ngIf="!soloLectura">-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of listaTramos; let i = index">
                        <td align="center">
                            <span>{{l.numeroOrden}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.fechaTramo| date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.tramo.origen.nombre}} ->
                                {{l.tramo.destino.nombre}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.tramo.km}} km</span>
                        </td>
                        <td align="center">
                            <span>{{l.empresa.razonSocial}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.viajeTipoCarga.nombre}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.viajeTipo.nombre}}</span>
                        </td>
                        <td align="center">
                            <span>{{l.viajeTarifa.nombre}}</span>
                        </td>
                        <td align="center">
                            <span class="cursor-color" (click)="verDadorDestTablaDialogo(l)">ver</span>
                        </td>
                        <td align="center">
                            <span>{{l.viajeUnidadNegocio.nombre}}</span>
                        </td>
                        <td align="center">
                            <span class="cursor-color" (click)="verObservacionesDialogo(l.observaciones)">ver</span>
                        </td>
                        <td align="center" *ngIf="!soloLectura">
                            <span class="cursor-color" (click)="modTramo(i)">editar</span>
                        </td>
                        <td align="center" *ngIf="!soloLectura">
                            <span class="cursor-color-rojo" (click)="eliminarTramo(i, l)">X</span>
                        </td>
                    </tr>
                </tbody>
            </table> -->

            <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                <ng-container matColumnDef="id" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                  <td mat-cell *matCellDef="let elemento; let i=index">{{elemento.numeroOrden}}</td>
                </ng-container>
                <ng-container matColumnDef="fecha" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.fechaTramo | date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="tramo" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Tramo</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.tramo.origen.nombre}} -> {{elemento.tramo.destino.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="km" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Km</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.tramo? elemento.tramo.km : '--'}}</td>
                </ng-container>
                <ng-container matColumnDef="empresa" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.empresa? elemento.empresa.razonSocial : '--'}}</td>
                </ng-container>
                <ng-container matColumnDef="tipoCarga" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Carga</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.viajeTipoCarga? elemento.viajeTipoCarga.nombre : '--'}}</td>
                </ng-container>
                <ng-container matColumnDef="tipoViaje" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Viaje</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.viajeTipo? elemento.viajeTipo.nombre : '--'}}</td>
                </ng-container>
                <ng-container matColumnDef="tarifa" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Tarifa</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.viajeTarifa? elemento.viajeTarifa.nombre : '--'}}</td>
                </ng-container>
                <ng-container matColumnDef="destinatario" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Dador - Destinatario</th>
                  <td mat-cell *matCellDef="let elemento">
                    <span class="cursor-color" (click)="verDadorDestTablaDialogo(elemento)">ver</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="unidadNegocio" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Un. Negocio</th>
                  <td mat-cell *matCellDef="let elemento">{{elemento.viajeUnidadNegocio? elemento.viajeUnidadNegocio.nombre : '--'}}</td>
                </ng-container>
                <ng-container matColumnDef="obs" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
                    <td mat-cell *matCellDef="let elemento">
                        <span class="cursor-color" (click)="verObservacionesDialogo(elemento.observaciones)">ver</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="mod" sticky >
                  <th mat-header-cell *matHeaderCellDef>-</th>
                  <td mat-cell *matCellDef="let elemento;  let i = index;" (click)="modTramo(i)"><span
                      class="cursor-color" *ngIf="!soloLectura">mod</span></td>
                </ng-container>
                <ng-container matColumnDef="eliminar" sticky >
                    <th mat-header-cell *matHeaderCellDef>-</th>
                    <td mat-cell *matCellDef="let elemento;  let i = index;" (click)="eliminarTramo(i, elemento)"><span
                        class="cursor-color-rojo" *ngIf="!soloLectura">X</span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
          </table>


        </div>
    </div>
</form>