<div id="banco" class="container-fluid" >
  <div class="row">
    <div class="centrar">
    </div>
  </div>
  <div class="row justify-content-center contenedor" >
    <div class="col-md-10 text-center">
      <h5>Aforar</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row">
          <div class="form-group has-float-label col-md-2">
            <label for="idCodigo" class="tamanio-label">Aforo kg/m3</label>
            <input id="idCodigo" type="number" formControlName="aforo" class="form-control form-control-sm" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Cantidad</label>
              <input id="idCodigo" type="number" formControlName="cantidad" class="form-control form-control-sm" >
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Alto (m)</label>
              <input id="idCodigo" type="number" formControlName="alto" class="form-control form-control-sm" (blur)="setDecimales($event, 2)">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Ancho (m)</label>
              <input id="idCodigo" type="number" formControlName="ancho" class="form-control form-control-sm" (blur)="setDecimales($event, 2)">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Largo (m)</label>
              <input id="idCodigo" type="number" formControlName="largo" class="form-control form-control-sm" (blur)="setDecimales($event, 2)">
            </div>
          </div>
          <div class="col-md-1">
            <button id="idBoton" class="btn btn-primary btn-sm" type="button" (click)="calcularTotal()" >
              Calcular
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Total kg Aforado</label>
              <input id="idCodigo" type="number" formControlName="kiloAforadoTotal" class="form-control form-control-sm" >
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button mat-raised-button color="accent" [mat-dialog-close]="data.formulario" (click)="reestablecerFormulario()" [disabled]="!formulario.valid">
                  Agregar
                </button>
                <button mat-raised-button color="accent"  (click)="onNoClick()">
                  Cerrar
                </button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
