<form [formGroup]="formularioViajePropioInsumo">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-float-label">
        <label for="idProveedor" class="tamanio-label">Proveedor *</label>
        <input id="idProveedor" class="form-control form-control-sm" type="text" matInput [formControl]="formularioViajePropioInsumo.get('proveedor')"
          [matAutocomplete]="autoProveedor" autocomplete="off" [readonly]="soloLectura">
        <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayFn.bind(this)">
          <mat-option *ngFor="let itemProveedor of resultadosProveedores" [value]="itemProveedor">
            {{itemProveedor.alias}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <button mat-raised-button>Consultar Ultimas Cargas</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group has-float-label-icon">
        <label for="idFecha" class="tamanio-label">Fecha</label>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <mat-icon>date_range</mat-icon>
            </span>
          </div>
          <input id="idFecha" type="date" formControlName="fecha" autocomplete="off" class="form-control form-control-sm"
            [readonly]="soloLectura">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idInsumoProducto" class="tamanio-label">Insumo *</label>
        <mat-select id="idInsumoProducto" class="form-control form-control-sm" formControlName="insumoProducto" [compareWith]="compareFn"
          (selectionChange)="establecerPrecioUnitario(formularioViajePropioInsumo, 'insumoProducto')">
          <mat-option *ngFor="let itemInsumo of insumos" [value]="itemInsumo">
            {{itemInsumo.nombre}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idCantidadAV" class="tamanio-label">Cantidad *</label>
        <input id="idCantidadAV" type="number" formControlName="cantidad" autocomplete="off" class="form-control form-control-sm"
          [readonly]="soloLectura" (blur)="calcularImporte(formularioViajePropioInsumo)">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idPrecioUnitarioAV" class="tamanio-label">Precio Unitario *</label>
        <input id="idPrecioUnitarioAV" type="text" formControlName="precioUnitario" autocomplete="off" 
          (blur)="calcularImporte(formularioViajePropioInsumo)"
          class="form-control form-control-sm number-right" placeholder="$ 0.00">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group has-float-label">
        <label for="idImporteAV" class="tamanio-label">Importe *</label>
        <input id="idImporteAV" type="number" formControlName="importe" autocomplete="off" 
          class="form-control form-control-sm" [readonly]="true">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group has-float-label">
        <label for="idObservaciones" class="tamanio-label">Observaciones</label>
        <textarea id="idObservaciones" class="form-control form-control-sm" formControlName="observaciones" rows="2"
          [readonly]="soloLectura"></textarea>
      </div>
    </div>
    <div class="col-md-1">
      <button mat-raised-button color="primary" (click)="agregarInsumo()" [disabled]="soloLectura" *ngIf="btnInsumo">Agregar Orden</button>
      <button mat-raised-button color="primary" (click)="modificarInsumo()" [disabled]="soloLectura" *ngIf="!btnInsumo">Actualizar Orden</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="height: 200px; overflow-y: scroll;">
      <table class="table table-bordered table-striped table-sm table-condensed tabla-viaje">
        <thead>
          <tr>
            <th class="text-center" style="width:10%" scope="col">Sucursal</th>
            <th class="text-center" style="width:5%" scope="col">Orden</th>
            <th class="text-center" style="width:5%" scope="col">Fecha</th>
            <th class="text-center" style="width:10%" scope="col">Usuario</th>
            <th class="text-center" style="width:10%" scope="col">Proveedor</th>
            <th class="text-center" style="width:10%" scope="col">Insumo</th>
            <th class="text-center" style="width:5%" scope="col">Cantidad</th>
            <th class="text-center" style="width:10%" scope="col">Precio Unitario</th>
            <th class="text-center" style="width:5%" scope="col">Importe</th>
            <th class="text-center" style="width:10%" scope="col">Observaciones</th>
            <th class="text-center" style="width:5%" scope="col">Anulado</th>
            <th class="text-center" style="width:7%" scope="col">Obs. Anulado</th>
            <th class="text-center" style="width:4%" scope="col" *ngIf="!soloLectura">-</th>
            <th class="text-center" style="width:4%" scope="col" *ngIf="!soloLectura">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaInsumos; let i = index">
            <td align="center">
              <span>{{l.sucursal.nombre}}</span>
            </td>
            <td align="center">
              <span>{{i + 1}}</span>
            </td>
            <td align="center">
              <span>{{l.fecha | date: 'dd/MM/yyyy'}}</span>
            </td>
            <td align="center">
              <span>{{l.usuario.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.proveedor.razonSocial}}</span>
            </td>
            <td align="center">
              <span>{{l.insumoProducto.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.cantidad}}</span>
            </td>
            <td align="center">
              <span>{{establecerCerosTabla(l.precioUnitario)}}</span>
            </td>
            <td align="center">
              <span>{{establecerCerosTabla(l.importe)}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="verObservacionesDialogo(l.observaciones)">ver</span>
            </td>
            <td align="center">
              <span>{{l.anulado}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="verObservacionesDialogo(l.observacionesAnulado)">ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="modInsumo(i)" *ngIf="!soloLectura">Mod</span>
            </td>
            <td align="center">
              <span class="cursor-color-rojo" (click)="eliminarInsumo(i, l)" *ngIf="!soloLectura">X</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row justify-content-end">
    <div class="col-md-2">
      <div class="form-group has-float-label-icon">
        <label for="idImporteTotalOI" class="tamanio-label">Importe Total *</label>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input id="idImporteTotalOI" type="number" formControlName="importeTotal" autocomplete="off" class="form-control form-control-sm"
            [readonly]="true">
        </div>
      </div>
    </div>
  </div>
</form>