<div id="personal" class="container-fluid">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>PERSONAL</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-10">
      <h5 class="text-center">{{pestaniaActual}} Vencimientos Choferes</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="contenedor-top-titulo">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group has-float-label">
                <label for="idAutocompletado" class="tamanio-label">Choferes</label>
                <mat-select id="idAutocompletado" class="form-control form-control-sm" [formControl]="autocompletado"
                  [compareWith]="compareFn" (selectionChange)="cambioAutocompletado()">
                  <mat-option *ngFor="let item of listaChoferes" [value]="item">
                    {{item.alias}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idLegajo" class="tamanio-label">N° Legajo *</label>
              <input id="idLegajo" type="text" formControlName="id" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idApellido" class="tamanio-label">Apellido *</label>
              <input id="idApellido" type="text" formControlName="apellido" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idNombre" class="tamanio-label">Nombre *</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelCuil" for="idCuil" class="tamanio-label">CUIL *</label>
              <input id="idCuil" type="text" formControlName="cuil" autocomplete="off"
                class="form-control form-control-sm number-right" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="idTipoDocumento" class="tamanio-label">Tipo Documento *</label>
              <input id="idTipo" type="text" formControlName="tipoDocumento" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelNumeroDocumento" for="idNumeroDocumento" class="tamanio-label">N° de
                Documento *</label>
              <input id="idNumeroDocumento" type="number" formControlName="numeroDocumento" autocomplete="off"
                class="form-control form-control-sm number-right" readonly>
            </div>
          </div>
          <div class="col-md-3">
              <div class="row justify-content-center">
                <input style="display: none;" type="file" (change)="readURL($event,'pdfDni')" #fileInputDni />
                <button class="btn-height" mat-raised-button color="primary" (click)="fileInputDni.click()"
                  [disabled]="indiceSeleccionado == 2 || indiceSeleccionado == 4" matTooltip="Adjuntar DNI">
                  <i class="material-icons" *ngIf="!formulario.get('pdfDni.nombre').value">cloud_upload</i>
                  <i class="material-icons" *ngIf="formulario.get('pdfDni.nombre').value"
                    style="color: lightgreen">cloud_done</i>
                </button>
                <button class="btn-height" mat-raised-button color="warn"  (click)="eliminarPdf('pdfDni.nombre')"
                  [disabled]="!formulario.get('pdfDni.nombre').value" style="width: 40px;" matTooltip="Quitar">
                  <i class="material-icons">close</i>
                </button>
                <button class="btn-height" mat-raised-button color="primary" (click)="verPDF()"
                  [disabled]="!formulario.get('pdfDni.nombre').value" style="width: 40px;" matTooltip="Ver">
                  <i class="material-icons">visibility</i>
                </button>
              </div>
            </div>
            <div class="col-md-3">
                <div class="row justify-content-center">
                  <input style="display: none;" type="file" (change)="readURL($event, 'pdfAltaTemprana')" #fileInputAtaTemprana />
                  <button class="btn-height" mat-raised-button color="primary" (click)="fileInputAtaTemprana.click()"
                    [disabled]="indiceSeleccionado == 2 || indiceSeleccionado == 4" matTooltip="Adjuntar Alta Temprana">
                    <i class="material-icons" *ngIf="!formulario.get('pdfAltaTemprana.nombre').value">cloud_upload</i>
                    <i class="material-icons" *ngIf="formulario.get('pdfAltaTemprana.nombre').value"
                      style="color: lightgreen">cloud_done</i>
                  </button>
                  <button class="btn-height" mat-raised-button color="warn"  (click)="eliminarPdf('pdfAltaTemprana.nombre')"
                    [disabled]="!formulario.get('pdfAltaTemprana.nombre').value" style="width: 60px;" matTooltip="Quitar">
                    <i class="material-icons">close</i>
                  </button>
                  <button class="btn-height" mat-raised-button color="primary" (click)="verPDF()"
                    [disabled]="!formulario.get('pdfAltaTemprana.nombre').value" style="width: 60px;" matTooltip="Ver">
                    <i class="material-icons">visibility</i>
                  </button>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="idEsChofer" class="tamanio-label">Es Chofer *</label>
              <input id="idChofer" type="text" formControlName="esChofer" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="idEsChoferLargaDistancia" class="tamanio-label">Es Chofer Larga Distancia *</label>
              <input id="idChoferLargaDistancia" type="text" formControlName="esChoferLargaDistancia" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoPsicoFísico" class="tamanio-label">Vto. PsicoFísico *</label>
              <input id="idVtoPsicoFísico" type="date" formControlName="vtoPsicoFisico" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" required>
            </div>
            </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoCurso" class="tamanio-label">Vto. Curso *</label>
              <input id="idVtoCurso" type="date" formControlName="vtoCurso" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoCursoCP" class="tamanio-label">Vto. Curso Carga Peligrosa</label>
              <input id="idVtoCursoCP" type="date" formControlName="vtoCursoCargaPeligrosa" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group has-float-label">
          <label for="idVtoLicenciaConducir" class="tamanio-label">Vto. Licencia de Conducir *</label>
          <input id="idVtoLicenciaConducir" type="date" formControlName="vtoLicenciaConducir" autocomplete="off"
            class="form-control form-control-sm" [readonly]="soloLectura" required>
        </div>
      </div>
      <div class="col-md-3">
          <div class="row justify-content-center">
            <input style="display: none;" type="file" (change)="readURL($event, 'pdfLicConducir')" #fileInputLicCond />
            <button class="btn-height" mat-raised-button color="primary" (click)="fileInputLicCond.click()"
              [disabled]="indiceSeleccionado == 2 || indiceSeleccionado == 4" matTooltip="Adjuntar Licencia de Conducir">
              <i class="material-icons" *ngIf="!formulario.get('pdfLicConducir.nombre').value">cloud_upload</i>
              <i class="material-icons" *ngIf="formulario.get('pdfLicConducir.nombre').value"
                style="color: lightgreen">cloud_done</i>
            </button>
            <button class="btn-height" mat-raised-button color="warn"  (click)="eliminarPdf('pdfLicConducir.nombre')"
              [disabled]="!formulario.get('pdfLicConducir.nombre').value" style="width: 60px;" matTooltip="Quitar">
              <i class="material-icons">close</i>
            </button>
            <button class="btn-height" mat-raised-button color="primary" (click)="verPDF()"
              [disabled]="!formulario.get('pdfLicConducir.nombre').value" style="width: 60px;" matTooltip="Ver">
              <i class="material-icons">visibility</i>
            </button>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group has-float-label">
          <label for="idVtoLINTI" class="tamanio-label">Vto. LINTI *</label>
          <input id="idVtoLINTI" type="date" formControlName="vtoLINTI" autocomplete="off"
            class="form-control form-control-sm" [readonly]="soloLectura" required>
        </div>
      </div>
      <div class="col-md-3">
          <div class="row justify-content-center">
            <input style="display: none;" type="file" (change)="readURL($event, 'pdfLinti')" #fileInputLINTI />
            <button class="btn-height" mat-raised-button color="primary" (click)="fileInputLINTI.click()"
              [disabled]="indiceSeleccionado == 2 || indiceSeleccionado == 4" matTooltip="Adjuntar LINTI">
              <i class="material-icons" *ngIf="!formulario.get('pdfLinti.nombre').value">cloud_upload</i>
              <i class="material-icons" *ngIf="formulario.get('pdfLinti.nombre').value"
                style="color: lightgreen">cloud_done</i>
            </button>
            <button class="btn-height" mat-raised-button color="warn" (click)="eliminarPdf('pdfLinti.nombre')"
              [disabled]="!formulario.get('pdfLinti.nombre').value" style="width: 60px;" matTooltip="Quitar">
              <i class="material-icons">close</i>
            </button>
            <button class="btn-height" mat-raised-button color="primary" (click)="verPDF()"
              [disabled]="!formulario.get('pdfLinti.nombre').value" style="width: 60px;" matTooltip="Ver">
              <i class="material-icons">visibility</i>
            </button>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group has-float-label">
          <label for="idVtoLibretaSanidad" class="tamanio-label">Vto. Lib. Sanidad</label>
          <input id="idVtoLibretaSanidad" type="date" formControlName="vtoLibretaSanidad" autocomplete="off"
            class="form-control form-control-sm" [readonly]="soloLectura">
        </div>
      </div>
      <div class="col-md-3">
          <div class="row justify-content-center">
            <input style="display: none;" type="file" (change)="readURL($event, 'pdfLibSanidad')" #fileInputLibSanidad />
            <button class="btn-height" mat-raised-button color="primary" (click)="fileInputLibSanidad.click()"
              [disabled]="indiceSeleccionado == 2 || indiceSeleccionado == 4" matTooltip="Adjuntar Libreta de Sanidad">
              <i class="material-icons" *ngIf="!formulario.get('pdfLibSanidad.nombre').value">cloud_upload</i>
              <i class="material-icons" *ngIf="formulario.get('pdfLibSanidad.nombre').value"
                style="color: lightgreen">cloud_done</i>
            </button>
            <button class="btn-height" mat-raised-button color="warn"  (click)="eliminarPdf('pdfLibSanidad.nombre')"
              [disabled]="!formulario.get('pdfLibSanidad.nombre').value" style="width: 60px;" matTooltip="Quitar">
              <i class="material-icons">close</i>
            </button>
            <button class="btn-height" mat-raised-button color="primary" (click)="verPDF()"
              [disabled]="!formulario.get('pdfLibSanidad.nombre').value" style="width: 60px;" matTooltip="Ver">
              <i class="material-icons">visibility</i>
            </button>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="centrar">
        <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
          (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <app-progreso></app-progreso>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
<div class="row justify-content-center contenedor" [hidden]="indiceSeleccionado != 5">
  <div class="col-md-12">
    <div class="row" *ngIf="show">
      <div class="col text-center">
        <app-progreso></app-progreso>
      </div>
    </div>
    <br>
    <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
      <ng-container matColumnDef="legajo" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Legajo</th>
        <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
      </ng-container>
      <ng-container matColumnDef="nombre" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let elemento">{{elemento.nombreCompleto}}</td>
      </ng-container>
      <ng-container matColumnDef="esChofer" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Es Chofer</th>
        <td mat-cell *matCellDef="let elemento">{{elemento.esChofer? 'Sí' : 'No'}}</td>
      </ng-container>
      <ng-container matColumnDef="choferLargaDistancia" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Chofer Larga Distancia</th>
        <td mat-cell *matCellDef="let elemento">{{elemento.esChoferLargaDistancia? 'Sí' : 'No'}}</td>
      </ng-container>
      <ng-container matColumnDef="vtoLicencia" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vto. Lic. Conducir</th>
        <td mat-cell *matCellDef="let elemento">{{elemento.vtoLicenciaConducir? elemento.vtoLicenciaConducir : '--'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="vtoCurso" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vto. Curso</th>
        <td mat-cell *matCellDef="let elemento">{{elemento.vtoCurso? elemento.vtoCurso : '--'}}</td>
      </ng-container>
      <ng-container matColumnDef="vtoCursoCargaPeligrosa" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vto. Curso Carga Peligrosa</th>
        <td mat-cell *matCellDef="let elemento">
          {{elemento.vtoCursoCargaPeligrosa? elemento.vtoCursoCargaPeligrosa : '--'}}</td>
      </ng-container>
      <ng-container matColumnDef="vtoCursoLINTI" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vto. Lib. Sanidad</th>
        <td mat-cell *matCellDef="let elemento">{{elemento.vtoLibretaSanidad? elemento.vtoLibretaSanidad : '--'}}</td>
      </ng-container>
      <ng-container matColumnDef="ver" sticky>
        <th mat-header-cell *matHeaderCellDef>-</th>
        <td mat-cell *matCellDef="let elemento" (click)="activarConsultar(elemento)"><span
            class="cursor-color">ver</span></td>
      </ng-container>
      <ng-container matColumnDef="mod" sticky>
        <th mat-header-cell *matHeaderCellDef>-</th>
        <td mat-cell *matCellDef="let elemento" (click)="activarActualizar(elemento)"><span
            class="cursor-color">editar</span></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
  </div>
</div>
</div>