<div id="personal" class="container-fluid">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>PERSONAL</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-10">
      <h5 class="text-center">{{pestaniaActual}} Vencimientos Choferes</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="contenedor-top-titulo">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group has-float-label">
                <label for="idAutocompletado" class="tamanio-label">Choferes</label>
                <mat-select id="idAutocompletado" class="form-control form-control-sm" [formControl]="autocompletado"
                  [compareWith]="compareFn" (selectionChange)="cambioAutocompletado()">
                  <mat-option *ngFor="let item of listaChoferes" [value]="item">
                    {{item.alias}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idLegajo" class="tamanio-label">N° Legajo *</label>
              <input id="idLegajo" type="text" formControlName="id" autocomplete="off"
                class="form-control form-control-sm number-right" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idApellido" class="tamanio-label">Apellido *</label>
              <input id="idApellido" type="text" formControlName="apellido" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idNombre" class="tamanio-label">Nombre *</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelCuil" for="idCuil" class="tamanio-label">CUIL *</label>
              <input id="idCuil" type="text" formControlName="cuil" autocomplete="off"
                class="form-control form-control-sm number-right" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="idTipoDocumento" class="tamanio-label">Tipo Documento *</label>
              <input id="idTipo" type="text" [formControl]="tipoDocumento" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelNumeroDocumento" for="idNumeroDocumento" class="tamanio-label">N° de
                Documento *</label>
              <input id="idNumeroDocumento" type="number" formControlName="numeroDocumento" autocomplete="off"
                class="form-control form-control-sm number-right" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label id="labelMovilEmpresa" for="idMovilEmpresa" class="tamanio-label">Móvil Empresa</label>
              <input id="idMovilEmpresa" type="number" formControlName="telefonoMovilEmpresa" autocomplete="off"
                class="form-control form-control-sm number-right" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idEsChofer" class="tamanio-label">Es Chofer *</label>
              <mat-select id="idEsChofer" class="form-control form-control-sm" formControlName="esChofer"
                (selectionChange)="cambioEsChofer()">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idEsChoferLargaDistancia" class="tamanio-label">Es Chofer Larga Distancia *</label>
              <mat-select id="idEsChoferLargaDistancia" class="form-control form-control-sm"
                formControlName="esChoferLargaDistancia" (selectionChange)="cambioEsChofer()">
                <mat-option [value]="false">No</mat-option>
                <mat-option [value]="true">Si</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row justify-content-center">
              <input style="display: none;" type="file" (change)="controlAdjunto($event)" #fileInputDni />
              <button class="btn-height" mat-raised-button color="primary" (click)="fileInputDni.click()"
                [disabled]="!btnPdfDni || indiceSeleccionado == 2" matTooltip="Adjuntar DNI">
                <i class="material-icons" *ngIf="!formulario.get('pdfDni.nombre').value">cloud_upload</i>
                <i class="material-icons" *ngIf="formulario.get('pdfDni.nombre').value"
                  style="color: lightgreen">cloud_done</i>
              </button>
              <button class="btn-height" mat-raised-button color="warn" (click)="eliminarPdf('pdfDni.nombre')"
                [disabled]="!formulario.get('pdfDni.nombre').value || indiceSeleccionado == 2" style="width: 40px;"
                matTooltip="Quitar">
                <i class="material-icons">close</i>
              </button>
              <button class="btn-height" mat-raised-button color="primary" (click)="verDni()"
                [disabled]="!formulario.get('pdfDni.nombre').value" style="width: 40px;" matTooltip="Ver">
                <i class="material-icons">visibility</i>
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row justify-content-center">
              <input style="display: none;" type="file" (change)="readPdfURL($event, 'pdfAltaTemprana')"
                #fileInputAtaTemprana />
              <button class="btn-height" mat-raised-button color="primary" (click)="fileInputAtaTemprana.click()"
                [disabled]="!btnPdfAltaTemprana || indiceSeleccionado == 2 " matTooltip="Adjuntar Alta Temprana">
                <i class="material-icons" *ngIf="!formulario.get('pdfAltaTemprana.nombre').value">cloud_upload</i>
                <i class="material-icons" *ngIf="formulario.get('pdfAltaTemprana.nombre').value"
                  style="color: lightgreen">cloud_done</i>
              </button>
              <button class="btn-height" mat-raised-button color="warn" (click)="eliminarPdf('pdfAltaTemprana.nombre')"
                [disabled]="!formulario.get('pdfAltaTemprana.nombre').value ||indiceSeleccionado == 2"
                style="width: 60px;" matTooltip="Quitar">
                <i class="material-icons">close</i>
              </button>
              <button class="btn-height" mat-raised-button color="primary" (click)="verPDF('pdfAltaTemprana')"
                [disabled]="!formulario.get('pdfAltaTemprana.nombre').value" style="width: 60px;" matTooltip="Ver">
                <i class="material-icons">visibility</i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoPsicoFísico" class="tamanio-label">Vto. PsicoFísico *</label>
              <input id="idVtoPsicoFísico" type="date" formControlName="vtoPsicoFisico" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoCurso" class="tamanio-label">Vto. Curso *</label>
              <input id="idVtoCurso" type="date" formControlName="vtoCurso" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoCursoCP" class="tamanio-label">Vto. Curso Carga Peligrosa</label>
              <input id="idVtoCursoCP" type="date" formControlName="vtoCursoCargaPeligrosa" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLicenciaConducir" class="tamanio-label">Vto. Licencia de Conducir *</label>
              <input id="idVtoLicenciaConducir" type="date" formControlName="vtoLicenciaConducir" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row justify-content-center">
              <input style="display: none;" type="file" (change)="readPdfURL($event, 'pdfLicConducir')"
                #fileInputLicCond />
              <button class="btn-height" mat-raised-button color="primary" (click)="fileInputLicCond.click()"
                [disabled]="!btnPdfLicConducir || indiceSeleccionado == 2" matTooltip="Adjuntar Licencia de Conducir">
                <i class="material-icons" *ngIf="!formulario.get('pdfLicConducir.nombre').value">cloud_upload</i>
                <i class="material-icons" *ngIf="formulario.get('pdfLicConducir.nombre').value"
                  style="color: lightgreen">cloud_done</i>
              </button>
              <button class="btn-height" mat-raised-button color="warn" (click)="eliminarPdf('pdfLicConducir.nombre')"
                [disabled]="!btnPdfLicConducir || !formulario.get('pdfLicConducir.nombre').value || indiceSeleccionado == 2"
                style="width: 60px;" matTooltip="Quitar">
                <i class="material-icons">close</i>
              </button>
              <button class="btn-height" mat-raised-button color="primary" (click)="verPDF('pdfLicConducir')"
                [disabled]="!btnPdfLicConducir || !formulario.get('pdfLicConducir.nombre').value" style="width: 60px;"
                matTooltip="Ver">
                <i class="material-icons">visibility</i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLINTI" class="tamanio-label">Vto. LINTI *</label>
              <input id="idVtoLINTI" type="date" formControlName="vtoLINTI" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row justify-content-center">
              <input style="display: none;" type="file" (change)="readPdfURL($event, 'pdfLinti')" #fileInputLINTI />
              <button class="btn-height" mat-raised-button color="primary" (click)="fileInputLINTI.click()"
                [disabled]="!btnPdflinti || indiceSeleccionado == 2 " matTooltip="Adjuntar LINTI">
                <i class="material-icons" *ngIf="!formulario.get('pdfLinti.nombre').value">cloud_upload</i>
                <i class="material-icons" *ngIf="formulario.get('pdfLinti.nombre').value"
                  style="color: lightgreen">cloud_done</i>
              </button>
              <button class="btn-height" mat-raised-button color="warn" (click)="eliminarPdf('pdfLinti.nombre')"
                [disabled]="!btnPdflinti || !formulario.get('pdfLinti.nombre').value || indiceSeleccionado == 2"
                style="width: 60px;" matTooltip="Quitar">
                <i class="material-icons">close</i>
              </button>
              <button class="btn-height" mat-raised-button color="primary" (click)="verPDF('pdfLinti')"
                [disabled]="!btnPdflinti || !formulario.get('pdfLinti.nombre').value" style="width: 60px;"
                matTooltip="Ver">
                <i class="material-icons">visibility</i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLibretaSanidad" class="tamanio-label">Vto. Lib. Sanidad</label>
              <input id="idVtoLibretaSanidad" type="date" formControlName="vtoLibretaSanidad" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-3">
            <div class="row justify-content-center">
              <input style="display: none;" type="file" (change)="readPdfURL($event, 'pdfLibSanidad')"
                #fileInputLibSanidad />
              <button class="btn-height" mat-raised-button color="primary" (click)="fileInputLibSanidad.click()"
                [disabled]="!btnPdfLibSanidad || indiceSeleccionado == 2" matTooltip="Adjuntar Libreta de Sanidad">
                <i class="material-icons" *ngIf="!formulario.get('pdfLibSanidad.nombre').value">cloud_upload</i>
                <i class="material-icons" *ngIf="formulario.get('pdfLibSanidad.nombre').value"
                  style="color: lightgreen">cloud_done</i>
              </button>
              <button class="btn-height" mat-raised-button color="warn" (click)="eliminarPdf('pdfLibSanidad.nombre')"
                [disabled]="!btnPdfLibSanidad || !formulario.get('pdfLibSanidad.nombre').value || indiceSeleccionado == 2"
                style="width: 60px;" matTooltip="Quitar">
                <i class="material-icons">close</i>
              </button>
              <button class="btn-height" mat-raised-button color="primary" (click)="verPDF('pdfLibSanidad')"
                [disabled]="!btnPdfLibSanidad || !formulario.get('pdfLibSanidad.nombre').value" style="width: 60px;"
                matTooltip="Ver">
                <i class="material-icons">visibility</i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="centrar">
            <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
              (click)="actualizar()" [disabled]="!formulario.valid">
              {{pestaniaActual}}
            </button>
            <div class="row" *ngIf="show">
              <div class="col text-center">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" [hidden]="indiceSeleccionado != 5">
    <div class="col-md-12">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        </div>
        <br>
        <div class="row">
        <div class="col-md-3">
          <div class="form-group has-float-label ">
            <label for="idTipoEmpleadoFlitro" class="tamanio-label">Choferes *</label>
            <mat-select id="idTipoEmpleadoFlitro" class="form-control form-control-sm"
              [formControl]="formularioFiltro.get('chofer')" [compareWith]="compareFn">
              <mat-option [value]="0">TODOS</mat-option>
              <mat-option [value]="1">CHOFERES CORTA DISTANCIA</mat-option>
              <mat-option [value]="2">CHOFERES LARGA DISTANCIA</mat-option>
            </mat-select>
          </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLINTI" class="tamanio-label">Vto. PsicoFísico *</label>
              <input id="idVtoLINTI" type="date" [formControl]="formularioFiltro.get('vtoFisico')" autocomplete="off"
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLINTI" class="tamanio-label">Vto. Curso *</label>
              <input id="idVtoLINTI" type="date" [formControl]="formularioFiltro.get('vtoCurso')" autocomplete="off"
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLINTI" class="tamanio-label">Vto. Curso Carga Peligrosa *</label>
              <input id="idVtoLINTI" type="date" [formControl]="formularioFiltro.get('vtoCargaPeligrosa')" autocomplete="off"
                class="form-control form-control-sm">
            </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLINTI" class="tamanio-label">Vto. Licencia de Conducir *</label>
              <input id="idVtoLINTI" type="date" [formControl]="formularioFiltro.get('vtoLicConducir')" autocomplete="off"
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLINTI" class="tamanio-label">Vto. LINTI *</label>
              <input id="idVtoLINTI" type="date" [formControl]="formularioFiltro.get('vtoLinti')" autocomplete="off"
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idVtoLINTI" class="tamanio-label">Vto. Lib. Sanidad *</label>
              <input id="idVtoLINTI" type="date" [formControl]="formularioFiltro.get('vtoLibSanidad')" autocomplete="off"
                class="form-control form-control-sm">
            </div>
          </div>
        <div class="col-md-1">
          <button id="idBoton" mat-raised-button color="primary" formnovalidate (click)="listarChoferesPorFiltros()"
            [disabled]="!formularioFiltro.valid">Listar
          </button>
        </div>
      </div>
      <br>
      <br>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="LEGAJO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Legajo</th>
          <td mat-cell *matCellDef="let elemento" class="number-right">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="NOMBRE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.nombreCompleto}}</td>
        </ng-container>
        <ng-container matColumnDef="CHOFER_LARGA_DISTANCIA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Chofer Larga Distancia</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.esChoferLargaDistancia? 'Sí' : 'No'}}</td>
        </ng-container>
        <ng-container matColumnDef="VTO_LICENCIA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vto. Lic. Conducir</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.vtoLicenciaConducir? elemento.vtoLicenciaConducir : '--'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="VTO_CURSO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vto. Curso</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.vtoCurso? elemento.vtoCurso : '--'}}</td>
        </ng-container>
        <ng-container matColumnDef="VTO_CURSO_CARGA_PELIGROSA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vto. Curso Carga Peligrosa</th>
          <td mat-cell *matCellDef="let elemento">
            {{elemento.vtoCursoCargaPeligrosa? elemento.vtoCursoCargaPeligrosa : '--'}}</td>
        </ng-container>
        <ng-container matColumnDef="VTO_CURSO_LINTI">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vto. Lib. Sanidad</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.vtoLibretaSanidad? elemento.vtoLibretaSanidad : '--'}}</td>
        </ng-container>
        <ng-container matColumnDef="EDITAR" stickyEnd>
          <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
            [disabled]="listaCompleta.data.length==0" (click)="abrirReporte()">Reporte</button></th>
          <td mat-cell *matCellDef="let elemento">
            <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
              matTooltip="Consultar" matTooltipPosition="above">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button class="mat-icon-button-table margin-left-3" (click)="activarActualizar(elemento)"
              matTooltip="Editar" matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>