<div id="vehiculo" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>VEHICULO PROPIO</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8 text-center">
      <h5>{{pestaniaActual}} Vehículo</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row" *ngIf="mostrarAutocompletado">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label for="idAutocompletado" class="tamanio-label">Buscar Vehículo</label>
              <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" type="text" matInput 
                [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let item of resultados" [value]="item"
                  (onSelectionChange)="establecerFormulario(item)">
                  {{item.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idTipoVehiculo" class="tamanio-label">Tipo de Vehículo *</label>
              <mat-select id="idTipoVehiculo" class="form-control form-control-sm" [formControl]="tipoVehiculo" [compareWith]="compareFn"
                (selectionChange)="listarConfiguracionesPorTipoVehiculoMarcaVehiculo()">
                <mat-option *ngFor="let itemTipoVehiculo of tiposVehiculos" [value]="itemTipoVehiculo">
                  {{itemTipoVehiculo.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idMarcaVehiculo" class="tamanio-label">Marca de Vehículo *</label>
              <mat-select id="idMarcaVehiculo" class="form-control form-control-sm" [formControl]="marcaVehiculo" [compareWith]="compareFn"
                (selectionChange)="listarConfiguracionesPorTipoVehiculoMarcaVehiculo()">
                <mat-option *ngFor="let itemMarcaVehiculo of marcasVehiculos" [value]="itemMarcaVehiculo">
                  {{itemMarcaVehiculo.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-8" *ngIf="mostrarConfiguracionVehiculo">
            <div class="form-group has-float-label">
              <label for="idConfiguracionVehiculo" class="tamanio-label">Lista de Configuraciones</label>
              <mat-select id="idConfiguracionVehiculo" class="form-control form-control-sm" formControlName="configuracionVehiculo" [compareWith]="compareFn">
                <mat-option *ngFor="let itemConfiguracionVehiculo of configuracionesVehiculos" [value]="itemConfiguracionVehiculo"
                  (onSelectionChange)="establecerConfiguracion(itemConfiguracionVehiculo)">
                  Modelo: {{itemConfiguracionVehiculo.modelo}} -
                  Cantidad Ejes: {{itemConfiguracionVehiculo.cantidadEjes}} -
                  Capacidad Carga: {{itemConfiguracionVehiculo.capacidadCarga}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label for="idConfiguracion" class="tamanio-label">Configuración *</label>
              <textarea id="idConfiguracion" class="form-control form-control-sm" [formControl]="configuracion"
                rows="3" readonly></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idDominio" class="tamanio-label">Dominio *</label>
              <input id="idDominio" type="text" formControlName="dominio" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNumeroInterno" class="tamanio-label">Número Interno</label>
              <input id="idNumeroInterno" type="number" formControlName="numeroInterno" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNumeroMotor" class="tamanio-label">Número de Motor <span *ngIf="esVehiculoRemolque">*</span></label>
              <input id="idNumeroMotor" type="number" formControlName="numeroMotor" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura" [required]="esVehiculoRemolque">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idEmpresa" class="tamanio-label">Titular *</label>
              <input id="idEmpresa" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('empresa')" [matAutocomplete]="autoEmpresa"
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoEmpresa="matAutocomplete" [displayWith]="displayFd.bind(this)">
                <mat-option *ngFor="let itemEmpresa of empresas" [value]="itemEmpresa"
                  (onSelectionChange)="listarCompaniasSeguroPolizaPorEmpresa(itemEmpresa)">
                  {{itemEmpresa.razonSocial}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idAnioFabricacion" class="tamanio-label">Año de Fabricación *</label>
              <input id="idAnioFabricacion" type="number" formControlName="anioFabricacion"
                autocomplete="off" class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNumeroChasis" class="tamanio-label">Número de Chasis</label>
              <input id="idNumeroChasis" type="number" formControlName="numeroChasis" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idPersonal" class="tamanio-label">Chofer Habitual</label>
              <input id="idPersonal" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('personal')" [matAutocomplete]="autoPersonal"
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoPersonal="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let itemPersonal of resultadosPersonales" [value]="itemPersonal">
                  {{itemPersonal.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVehiculoRemolque" class="tamanio-label">Remolque Habitual</label>
              <input id="idVehiculoRemolque" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('vehiculoRemolque')" [matAutocomplete]="autoVehiculoRemolque"
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoVehiculoRemolque="matAutocomplete" [displayWith]="displayF.bind(this)">
                <mat-option *ngFor="let itemVehiculoRemolque of resultadosVehiculosRemolques"
                  [value]="itemVehiculoRemolque">
                  {{itemVehiculoRemolque.alias}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idLocalidad" class="tamanio-label">Radicación Localidad *</label>
              <input id="idLocalidad" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('localidad')" [matAutocomplete]="autoLocalidad"
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoLocalidad="matAutocomplete" [displayWith]="displayFb.bind(this)">
                <mat-option *ngFor="let itemLocalidad of resultadosLocalidades" [value]="itemLocalidad">
                  {{itemLocalidad.nombre}}, {{itemLocalidad.provincia.nombre}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-float-label">
              <label for="idCompaniaSeguro" class="tamanio-label">Compañia de Seguro *</label>
              <input id="idCompaniaSeguro" class="form-control form-control-sm" type="text" matInput
                [formControl]="formulario.get('companiaSeguroPoliza')" [matAutocomplete]="autoCompaniaSeguro"
                autocomplete="off" [readonly]="soloLectura">
              <mat-autocomplete #autoCompaniaSeguro="matAutocomplete" [displayWith]="displayFe.bind(this)">
                <mat-option *ngFor="let itemCompaniaSeguro of resultadosCompaniasSegurosPolizas" [value]="itemCompaniaSeguro">
                  {{itemCompaniaSeguro.companiaSeguro.nombre}} - Empresa: {{itemCompaniaSeguro.empresa.razonSocial}} 
                  - N° Póliza: {{itemCompaniaSeguro.numeroPoliza}}
                  - Vto. Póliza: {{itemCompaniaSeguro.vtoPoliza}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNumeroPoliza" class="tamanio-label">Número de Póliza</label>
              <input id="idNumeroPoliza" type="number" formControlName="numeroPoliza" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoPoliza" class="tamanio-label">Vto. Póliza</label>
              <input id="idVtoPoliza" type="date" formControlName="vtoPoliza"
                autocomplete="off" class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNumeroRuta" class="tamanio-label">Número de Ruta *</label>
              <input id="idNumeroRuta" type="number" formControlName="numeroRuta" autocomplete="off"
                class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoRuta" class="tamanio-label">Vto. Ruta *</label>
              <input id="idVtoRuta" type="date" formControlName="vtoRuta"
                autocomplete="off" class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoRTO" class="tamanio-label">Vto. Inspección Técnica *</label>
              <input id="idVtoRTO" type="date" formControlName="vtoRTO"
                autocomplete="off" class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoSenasa" class="tamanio-label">Vto. Senasa</label>
              <input id="idVtoSenasa" type="date" formControlName="vtoSenasa"
                autocomplete="off" class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idVtoHabBromatologica" class="tamanio-label">Vto. Hab. Bromatologica</label>
              <input id="idVtoHabBromatologica" type="date" formControlName="vtoHabBromatologica"
                autocomplete="off" class="form-control form-control-sm" [readonly]="soloLectura">
            </div>
          </div>
        </div>
        <button id="idBoton" *ngIf="mostrarBoton" class="btn btn-primary" type="button"
          formnovalidate (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
          {{pestaniaActual}}
        </button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:5%" scope="col">id</th>
            <th class="text-center" style="width:15%" scope="col">Tipo Vehículo</th>
            <th class="text-center" style="width:15%" scope="col">Marca Vehículo</th>
            <th class="text-center" style="width:15%" scope="col">Dominio</th>
            <th class="text-center" style="width:20%" scope="col">Titular</th>
            <th class="text-center" style="width:20%" scope="col">Radicación Localidad</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td align="center">
              <span>{{l.id}}</span>
            </td>
            <td align="center">
              <span>{{l.configuracionVehiculo.tipoVehiculo.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.configuracionVehiculo.marcaVehiculo.nombre}}</span>
            </td>
            <td align="center">
              <span>{{l.dominio}}</span>
            </td>
            <td align="center">
              <span>{{l.empresa.razonSocial}}</span>
            </td>
            <td align="center">
              <span>{{l.localidad.nombre}}, {{l.localidad.provincia.nombre}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
