.tabla {
    width: 100%;
    height: ;
    overflow: auto !important;
    overflow-y: scroll;
}
.tabla-ancho {
    width: 1100px !important;
}
td.tarifa {
    width: 50%;
}
td.escala{
    width: 25%;
}
td.porcentaje{
    width: 25%;
}