.tabla {
    width: 100%;
    height: 300px;
    overflow: auto !important;
    overflow-y: scroll;
}
.tabla-ancho {
    width: 1000px !important;
}
.mat-raised-button-icon {
    min-width: 50px !important;
}
td.tarifa {
    width: 50%;
}
td.escala {
    width: 25%;
}
td.porcentaje {
    width: 25%;
}
.cdk-overlay-pane {
    max-width: 90vw !important;
}