<div class="container-fluid padd-20">
    <div class="row justify-content-center">
        <h4>Integración de Documentos</h4>
    </div>
    <form [formGroup]="formulario">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label for="idDocumento" class="tamanio-label">Tipo de Documento *</label>
                    <mat-select id="idDocumento" class="form-control form-control-sm"
                        [compareWith]="compareFn" formControlName="documento">
                        <mat-option *ngFor="let itemTipoDocumento of tiposDocumentos" [value]="itemTipoDocumento">
                            {{itemTipoDocumento.nombre}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label id="labelNumeroDocumento" for="idNumeroDocumento" class="codigo-label">N° de Documento *</label>
                    <input id="idNumeroDocumento" type="number" formControlName="numero" autocomplete="off"
                          class="form-control form-control-sm number-right" 
                          (blur)="formulario.get('numero').value ? validarDocumento() : ''"
                          (ngModelChange)="cambioCampo('idNumeroDocumento', 'labelNumeroDocumento')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label id="labelFechaPagoD" for="idFechaPagoD" class="codigo-label">Fecha Pago *</label>
                    <input id="idFechaPagoD" type="date" formControlName="fechaPago" 
                        class="form-control form-control-sm" min="{{fechaActual}}"
                        (blur)="verificarFecha(formulario.get('fechaPago').value)"
                        (ngModelChange)="cambioCampo('idFechaPagoD', 'labelFechaPagoD')">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group has-float-label">
                    <label id="labelImporteD" for="idImporteD" class="codigo-label">Importe *</label>
                    <input id="idImporteD" type="text" formControlName="importe" 
                        class="form-control form-control-sm number-right" placeholder="$ 0.00"
                        [textMask]="mascararImporte(10, 2)" (blur)="verificarImporteMayorCero(formulario.get('importe').value, 2)"
                        (ngModelChange)="cambioCampo('idImporteD', 'labelImporteD')">
                </div>
            </div>
            <div class="col-md-4">
                <button mat-raised-button color="primary" [disabled]="!formulario.valid" (click)="agregar()">Agregar</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="tabla">
            <table mat-table [dataSource]="documentos" matSort class="mat-elevation-z1">
                <ng-container matColumnDef="DOCUMENTO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.documento.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="NUMERO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>N° de Documento</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.numero}}</td>
                </ng-container>
                <ng-container matColumnDef="FECHA_PAGO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Pago</th>
                    <td mat-cell *matCellDef="let elemento">{{elemento.fechaPago}}</td>
                </ng-container>
                <ng-container matColumnDef="IMPORTE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
                    <td class="number-right" mat-cell *matCellDef="let elemento">{{establecerDecimalesTabla(elemento.importe, 2)}}</td>
                </ng-container>
                <ng-container matColumnDef="ELIMINAR">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let elemento ; let i = index">
                        <button mat-icon-button (click)="eliminarItemTabla(i)" matTooltip="Eliminar" 
                            matTooltipPosition="above">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-4">
            <div class="form-group has-float-label">
                <label for="idTotal" class="codigo-label">Total</label>
                <input id="idTotal" type="text" [formControl]="total" readonly 
                    class="form-control form-control-sm number-right" placeholder="$ 0.00"
                    [textMask]="mascararImporte(10, 2)">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary" (click)="cerrar(total.value)">Confirmar y Cerrar</button>
    </div>
</div>