<div class="row justify-content-center contenedor">
  <div class="col-md-12 text-center">
    <h5>Emitir Nota de Débito</h5>
    <form [formGroup]="formulario">
      <div class="row contenedor">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-float-label">
                <label for="idFecha" class="tamanio-label">Fecha</label>
                <input id="idFecha" type="date" formControlName="fechaEmision" class="form-control form-control-sm">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-float-label">
                <label for="idPuntoVenta" class="tamanio-label">Punto de venta</label>
                <mat-select id="idPuntoVenta" class="form-control form-control-sm" formControlName="puntoVenta"
                  (selectionChange)="comprobarCodAfip()" [compareWith]="compareFn">
                  <mat-option *ngFor="let itemPuntoVenta of resultadosPuntoVenta" [value]="itemPuntoVenta">
                    {{establecerCerosIzq(itemPuntoVenta.puntoVenta, "0000", -5)}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-float-label">
                <label for="idJurisdiccion" class="tamanio-label">Jurisdicción</label>
                <mat-select id="idJurisdiccion" class="form-control form-control-sm" formControlName="jurisdiccion"
                  [compareWith]="compareFn">
                  <mat-option *ngFor="let itemProvincia of resultadosProvincias" [value]="itemProvincia">
                    {{itemProvincia.nombre}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group has-float-label">
                <label for="idPuntoVenta" class="tamanio-label">Punto de Venta</label>
                <input id="idPuntoVenta" type="text" [formControl]="puntoVenta" class="form-control form-control-sm"
                  readonly>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group has-float-label">
                <label for="idLetra" class="tamanio-label">Letra</label>
                <input id="idLetra" type="text" formControlName="letra" class="form-control form-control-sm" readonly>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group has-float-label">
                <label for="idNumero" class="tamanio-label">Número</label>
                <input id="idNumero" type="number" formControlName="numero" class="form-control form-control-sm"
                  readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group has-float-label">
                <label for="idCodigoAfip" class="tamanio-label">Código Afip</label>
                <input id="idCodigoAfip" type="text" formControlName="codigoAfip" class="form-control form-control-sm"
                  readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group has-float-label">
                <label for="idTipoComprobante" class="tamanio-label">Tipo Comprobante</label>
                <input id="idTipoComprobante" type="text" [formControl]="tipoComprobante"
                  class="form-control form-control-sm" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin-top: 0px; margin-bottom: 10px;">
      <div class="tamanio-pantalla " formGroupName="cli">
        <div class="row">
          <div class="form-group has-float-label col-md-5">
            <label for="idCliente" class="tamanio-label">Cliente</label>
            <input id="idCliente" type="text" class="form-control form-control-sm" matInput
              [formControl]="formulario.get('cliente')" [matAutocomplete]="autoCliente" autocomplete="off">
            <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayF.bind(this)"
              (optionSelected)="cargarDatosCliente()">
              <mat-option *ngFor="let itemCliente of resultadosClientes" [value]="itemCliente">
                {{itemCliente.alias}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="row">
          <div class="form-group has-float-label col-md-3">
            <label for="idDomicilio" class="tamanio-label">Domicilio</label>
            <input id="idDomicilio" type="text" formControlName="domicilio" class="form-control form-control-sm"
              readonly >
          </div>
          <div class="form-group has-float-label col-md-3">
            <label for="idTipoDocumento" class="tamanio-label">Tipo Documento</label>
            <input id="idTipoDocumento" type="text" formControlName="tipoDocumento"
              class="form-control form-control-sm" readonly >
          </div>
          <div class="form-group has-float-label col-md-3">
            <label for="idCondicionIva" class="tamanio-label">Condición de IVA</label>
            <input id="idCondicionIva" type="text" formControlName="afipCondicionIva"
              class="form-control form-control-sm" readonly >
          </div>
        </div>
        <div class="row">
          <div class="form-group has-float-label col-md-3">
            <label for="idLocalidad" class="tamanio-label">Localidad</label>
            <input id="idLocalidad" type="text" formControlName="localidad" class="form-control form-control-sm"
              readonly >
          </div>
          <div class="form-group has-float-label col-md-3">
            <label for="idNumeroDocumento" class="tamanio-label">N° Documento</label>
            <input id="idNumeroDocumento" type="text" formControlName="numeroDocumento"
              class="form-control form-control-sm" readonly>
          </div>
          <div class="form-group has-float-label col-md-3">
            <label for="idCondicionesVenta" class="tamanio-label">Condiciones de Venta</label>
            <input id="idCondicionesVenta" type="text" formControlName="condicionVenta"
              class="form-control form-control-sm" readonly>
          </div>
        </div>
      </div> 
      <hr style="margin-top: 0px; margin-bottom: 10px;">
      <div class="inline">
        <button class="btn btn-primary btn-sm" type="button" (click)="verChequesRechazados()" disabled>Cheques
          Rechazados</button>
      </div>
      <br>
      <form [formGroup]="formularioItem">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idMotivo" class="tamanio-label">Motivo</label>
              <mat-select id="idMotivo" class="form-control form-control-sm" formControlName="itemTipo"
                [compareWith]="compareFn">
                <mat-option *ngFor="let item of resultadosItems" [value]="item">
                  {{item.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idSubtotalNC" class="tamanio-label">Subtotal N.D.</label>
              <input id="idSubtotalNC" type="number" formControlName="subtotalND" class="form-control form-control-sm"
                (blur)="setDecimales($event, 2)" (change)="calcularSubtotalND()">
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group has-float-label">
              <label for="idAlicuotaIVA" class="tamanio-label">Alicuota IVA</label>
              <mat-select id="idAlicuota" type="number" formControlName="alicuotaIva"
                class="form-control form-control-sm" (selectionChange)="calcularSubtotalND()">
                <mat-option *ngFor="let itemAlicuota of resultadosAlicuotasIva" [value]="itemAlicuota.alicuota">
                  {{appService.setDecimales(itemAlicuota.alicuota, 2)}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idSubtotalCIVA" class="tamanio-label">Subtotal c/IVA</label>
              <input id="idSubtotalCIVA" type="number" formControlName="importeTotal"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-sm" type="button" (click)="agregarItem()"
              [disabled]="!formularioItem.valid">Aceptar</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-6 margin-right" style="height: 200px; overflow-y: scroll;">
          <table class="table table-bordered table-striped table-sm table-condensed primera-tabla"
            id="tablaComprobante">
            <thead>
              <tr>
                <th class="text-center" style="width:10%;" scope="col">Banco</th>
                <th class="text-center" style="width:10%" scope="col">N° de Cheque</th>
                <th class="text-center" style="width:5%" scope="col">Fecha</th>
                <th class="text-center" style="width:5%" scope="col">Importe</th>
                <th class="text-center" style="width:5%" scope="col">Cliente</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5 margin-right" style=" height: 200px; overflow-y: scroll;">
          <table class="table table-bordered table-striped table-sm table-condensed segunda-tabla" id="tablaCuenta">
            <thead>
              <tr>
                <th class="text-center" style="width:3%" scope="col">-</th>
                <th class="text-center" style="width:3%" scope="col">-</th>
                <th class="text-center" style="width:20%" scope="col">Concepto</th>
                <th class="text-center" style="width:10%" scope="col">Subtotal N.D.</th>
                <th class="text-center" style="width:10%" scope="col">Alicuota IVA</th>
                <th class="text-center" style="width:10%" scope="col">Importe IVA</th>
                <th class="text-center" style="width:10%" scope="col">Subtotal c/IVA</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaItem; let i= index">
                <td align="center"><span class="cursor-color" (click)="seleccionarItem(i, item)">Mod</span></td>
                <td align="center"><span class="cursor-color" (click)="eliminarItem(i)">X</span></td>
                <td align="center">{{item.itemTipo.nombre}}</td>
                <td align="center">{{appService.setDecimales(item.subtotalND, 2)}}</td>
                <td align="center">{{item.alicuotaIva}}</td>
                <td align="center">{{item.importeIva}}</td>
                <td align="center">{{item.importeTotal}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="inline">
        <div class="form-group has-float-label">
          <label for="idObservaciones" class="tamanio-label">Observaciones</label>
          <textarea id="idObservaciones" class="form-control form-control-sm" formControlName="observaciones" rows="3"
            autocomplete="off" style="width: 560px;"></textarea>
        </div>
        <span class="spacer"></span>
        <div class="form-group has-float-label">
          <label for="idImporteNoGravado" class="tamanio-label">Importe No Grav/Exento ($)</label>
          <input id="idImporteNoGravado" type="text" formControlName="importeNoGravado"
            class="form-control form-control-sm" style="width: 197px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idImporteGravado" class="tamanio-label">Importe Neto Gravado ($)</label>
          <input id="idImporteGravado" type="text" formControlName="importeNetoGravado"
            class="form-control form-control-sm" style="width: 182px;">
        </div>
        <div class="form-group has-float-label">
          <label for="idImporteIva" class="tamanio-label">Importe IVA ($)</label>
          <input id="idImporteIva" type="text" formControlName="importeIva" class="form-control form-control-sm"
            style="width: 116px;">
        </div>
        <div>
          <div class="form-group has-float-label">
            <label for="idImporteTotal" class="tamanio-label">Importe Total ($)</label>
            <input id="idImporteTotal" type="text" formControlName="importeTotal" class="form-control form-control-sm"
              style="width: 125px;">
          </div>
          <button class="btn btn-primary" type="button" style="width: 125px;" (click)="emitir()">Emitir</button>
        </div>
      </div>
    </form>
  </div>
</div>