<div id="companiaseguropoliza" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>IMP. A LA GANANCIA</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-12 text-center">
      <h5>{{pestaniaActual}} Ganancia Neta</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="row" *ngIf="indiceSeleccionado > 1">
          <div class="col-md-2">
            <div class="form-group has-float-label">
                <label id="labelAnio" for="idAnio" class="descripcion-label">Año Fiscal *</label>
                <input id="idAnio" type="number" [formControl]="anio" autocomplete="off" 
                 class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-2">
            <button id="idBoton" mat-raised-button color="primary" formnovalidate
              (click)="listarPorAnio()" [disabled]="!anio.valid">
              Buscar
            </button>
          </div>
        </div>
        <div class="row" [hidden]="indiceSeleccionado == 2 || indiceSeleccionado == 5">
          <div class="col-md-2" *ngIf="indiceSeleccionado == 1">
            <div class="form-group has-float-label">
              <label for="idAnioFiscal" class="tamanio-label">Año Fiscal *</label>
              <mat-select id="idAnioFiscal" class="form-control form-control-sm" formControlName="anio"
                [compareWith]="compareFn">
                <mat-option *ngFor="let item of anioFiscal" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label id="labelImporte" for="idImporte" class="descripcion-label">Ganancia Neta Acumulada *</label>
              <input id="idImporte" type="text" formControlName="importe" autocomplete="off" class="form-control form-control-sm"
                [readonly]="soloLectura" [textMask]="mascararEnterosConDecimales(10)" (blur)="controlImporte()" placeholder="$0.00"
                >
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label id="labelImporteFijo" for="idImporteFijo" class="descripcion-label">Importe Fijo a Pagar *</label>
              <input id="idImporteFijo" type="text" formControlName="importeFijo" autocomplete="off" class="form-control form-control-sm"
                [readonly]="soloLectura" [textMask]="mascararEnterosConDecimales(10)" (blur)="controlImporteFijo()" placeholder="$0.00"
                 >
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group has-float-label">
              <label for="idAlicuotaPagar" class="tamanio-label">Alicuota a Pagar s/Excedente *</label>
              <mat-select id="idAlicuotaPagar" class="form-control form-control-sm" formControlName="afipAlicuotaGanancia"
                [compareWith]="compareFn" >
                  <mat-option *ngFor="let item of alicuotasGanancia" [value]="item">
                    {{item.alicuota}}
                  </mat-option>
                </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <button id="idBoton" *ngIf="mostrarBoton && !show && !idMod" mat-raised-button color="primary" formnovalidate
              (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
              {{pestaniaActual}}
            </button>
            <button id="idBoton" *ngIf="idMod" mat-raised-button color="primary" formnovalidate
              (click)="actualizar()" [disabled]="!formulario.valid">
              Actualizar
            </button>
            <button id="idBoton" *ngIf="idMod" mat-raised-button formnovalidate (click)="cancelar()" >
              Cancelar
            </button>
          </div>
        </div>

        <div class="row ">
          <div class="col-md-12">
            <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
              <ng-container matColumnDef="anio" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
              </ng-container>
              <ng-container matColumnDef="gananciaNetaAcumulada" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ganancia Neta Acumulada</th>
                <td mat-cell *matCellDef="let elemento">$ {{elemento.importe | number: '1.2-2'}}</td>
              </ng-container>
              <ng-container matColumnDef="importeFijo" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe Fijo a Pagar</th>
                <td mat-cell *matCellDef="let elemento">$ {{elemento.importeFijo | number: '1.2-2'}}</td>
              </ng-container>
              <ng-container matColumnDef="alicuotaSinExcedente" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Alicuota a Pagar s/Exced.</th>
                <td mat-cell *matCellDef="let elemento">{{elemento.afipAlicuotaGanancia.alicuota}}</td>
              </ng-container>
              <ng-container matColumnDef="mod" sticky>
                <th mat-header-cell *matHeaderCellDef>-</th>
                <td mat-cell *matCellDef="let elemento" >
                  <span class="cursor-color" (click)="activarActualizar(elemento)" *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3">
                    editar
                  </span>
                </td>
              </ng-container>
               <ng-container matColumnDef="eliminar" sticky>
                <th mat-header-cell *matHeaderCellDef>-</th>
                <td mat-cell *matCellDef="let elemento" >
                  <span class="cursor-color-rojo" (click)="activarEliminar(elemento.id)" *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3" >
                    x
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnas"></tr>
              <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
          </div>
        </div>
        
        <div class="row" *ngIf="show">
          <div class="col text-center">
            <app-progreso></app-progreso>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-12">
      <form [formGroup]="formularioListar" class="contenedor">
        <br>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group has-float-label">
                <label id="labelAnioListar" for="idAnioListar" class="descripcion-label">Año Fiscal *</label>
                <input id="idAnioListar" type="number" formControlName="anio" autocomplete="off" 
                 class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
            <label for="idGananciaNetaListar" class="tamanio-label">Ganancia Neta *</label>
              <mat-select id="idGananciaNetaListar" class="form-control form-control-sm" formControlName="gananciaNeta" (selectionChange)="cambioGananciaNeta()" >
                <mat-option [value]="false">Anual</mat-option>
                <mat-option [value]="true">Mes</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-float-label">
              <label for="idMesListar" class="tamanio-label">Mes *</label>
              <mat-select id="idMesListar" class="form-control form-control-sm" formControlName="mes"
                [compareWith]="compareFn" [disabled]="formularioListar.value.gananciaNeta == false">
                  <mat-option *ngFor="let item of meses" [value]="item">
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <button id="idBoton" mat-raised-button color="primary" formnovalidate
              (click)="listarPorFiltro()" [disabled]="!anio.valid">
              Buscar
            </button>
          </div>
        </div>
      </form>
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <app-progreso></app-progreso>
        </div>
      </div>
      <br>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="anioMes" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{formularioListar.value.gananciaNeta == false? 'Año':'Mes'}}</th>
          <td mat-cell *matCellDef="let elemento">
            <span *ngIf="!formularioListar.value.gananciaNeta">{{formularioListar.value.anio}}</span>
            <span *ngIf="formularioListar.value.gananciaNeta">{{formularioListar.value.mes.nombre}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="gananciaNetaDeMas" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ganancia Neta de más de $</th>
          <td mat-cell *matCellDef="let elemento; let i=index">
            <span *ngIf="i == 0">$ 0</span>
            <span *ngIf="i > 0">{{resultadosPorFiltro[i-1].importe}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="gananciaNetaA" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ganancia Neta A $</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.importe}}</td>
        </ng-container>
        <ng-container matColumnDef="importeFijo" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe Fijo a Pagar</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.importeFijo}}</td>
        </ng-container>
        <ng-container matColumnDef="alicuota" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Alicuota a Pagar s/Exced.</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.afipAlicuotaGanancia.alicuota}}</td>
        </ng-container>
        <ng-container matColumnDef="excedente" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Excedente de $</th>
          <td mat-cell *matCellDef="let elemento; let i=index">
            <span *ngIf="i == 0">$ 0</span>
            <span *ngIf="i > 0">{{resultadosPorFiltro[i-1].importe}}</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnasListar"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasListar;"></tr> 
      </table>
    </div>
  </div>
</div>