<div id="personal" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>COSTO INS. PROD</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center contenedor" *ngIf="indiceSeleccionado < 5">
    <div class="col-md-8">
      <h5 class="text-center">{{pestaniaActual}} Costo Insumo/Producto</h5>
      <form [formGroup]="formulario" class="contenedor">
        <div class="contenedor-top-titulo">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
                <label for="idAutocompletado" class="tamanio-label">Buscar</label>
                <input id="idAutocompletado" class="form-control form-control-sm color-busqueda" type="text" matInput
                  [formControl]="autocompletado" [matAutocomplete]="auto" autocomplete="off">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"
                  (optionSelected)="cambioAutocompletado()">
                  <mat-option *ngFor="let item of resultados" [value]="item">{{item.alias}}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCodigo" class="tamanio-label">Código *</label>
              <input id="idCodigo" type="text" formControlName="id" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idNombre" class="tamanio-label">Nombre *</label>
              <input id="idNombre" type="text" formControlName="nombre" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idRubro" class="tamanio-label">Rubro *</label>
              <mat-select id="idRubro" class="form-control form-control-sm" formControlName="rubroProducto"
                [compareWith]="compareFn">
                <mat-option *ngFor="let rubro of rubros" [value]="rubro">
                  {{rubro.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idMarca" class="tamanio-label">Marca *</label>
              <mat-select id="idMarca" class="form-control form-control-sm" formControlName="marcaProducto"
                [compareWith]="compareFn">
                <mat-option *ngFor="let marca of marcas" [value]="marca">
                  {{marca.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idUnidadMedida" class="tamanio-label">Unidad Medida *</label>
              <mat-select id="idUnidadMedida" class="form-control form-control-sm" formControlName="unidadMedida"
                [compareWith]="compareFn">
                <mat-option *ngFor="let medida of unidadesMedidas" [value]="medida">
                  {{medida.nombre}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idModelo" class="tamanio-label">Modelo</label>
              <input id="idModelo" type="text" formControlName="modelo" autocomplete="off"
                class="form-control form-control-sm" readonly>
            </div>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idPrecioUnViaje" class="tamanio-label">Precio Unitario Viaje</label>
              <input id="idPrecioUnViaje" type="text" formControlName="precioUnitarioViaje" autocomplete="off"
                placeholder="$ 0.00" [textMask]="mascararImporte(8, 2)" class="form-control form-control-sm number-right"
                [readonly]="soloLectura" maxlength="45"
                (blur)="establecerDecimales(formulario.get('precioUnitarioViaje'), 2)">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idPrecioUnVenta" class="tamanio-label">Precio Unitario de Venta</label>
              <input id="idPrecioUnVenta" type="text" formControlName="precioUnitarioVenta" autocomplete="off"
                placeholder="$ 0.00" [textMask]="mascararImporte(8, 2)" class="form-control form-control-sm number-right"
                [readonly]="soloLectura" maxlength="45"
                (blur)="establecerDecimales(formulario.get('precioUnitarioVenta'), 2)">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCoeficienteITC" class="tamanio-label">ITC por Litro</label>
              <input id="idCoeficienteITC" type="text" formControlName="itcPorLitro" autocomplete="off"
                placeholder="00.0000" [textMask]="mascararCoeficiente(3)" class="form-control form-control-sm number-right"
                [readonly]="soloLectura" maxlength="45"
                (blur)="establecerDecimales(formulario.get('itcPorLitro'), 4)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col-md-4">
            <div class="form-group has-float-label">
              <label for="idCoeficienteITCNeto" class="tamanio-label">ITC Neto (%)</label>
              <input id="idCoeficienteITCNeto" type="text" formControlName="itcNeto" autocomplete="off"
                [textMask]="mascararPorcentaje()" class="form-control form-control-sm number-right"
                [readonly]="soloLectura" maxlength="45" placeholder="% 00.00"
                (blur)="establecerPorcentaje(formulario.get('itcNeto'), 2)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="centrar">
            <button id="idBoton" *ngIf="mostrarBoton && !show" mat-raised-button color="primary" formnovalidate
              (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
              {{pestaniaActual}}
            </button>
            <div class="row" *ngIf="show">
              <div class="col text-center">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center contenedor" [hidden]="indiceSeleccionado != 5">
    <div class="col-md-12">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <br>
      <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="rubro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rubro</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.rubroProducto.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.marcaProducto.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="unidadMedida">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad Medida</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.unidadMedida.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
          <td mat-cell *matCellDef="let elemento">{{elemento.modelo}}</td>
        </ng-container>
        <ng-container matColumnDef="precioUnitarioViaje">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Unitario Viaje</th>
          <td mat-cell *matCellDef="let elemento">$ {{elemento.precioUnitarioViaje | number: '1.2-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="precioUnitarioVenta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Unitario Venta</th>
          <td mat-cell *matCellDef="let elemento">$ {{elemento.precioUnitarioVenta | number: '1.2-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="ITCPorLitro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ITC por Litro</th>
          <td mat-cell *matCellDef="let elemento"> {{elemento.itcPorLitro | number: '1.4-5'}}</td>
        </ng-container>
        <ng-container matColumnDef="ITCNeto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ITC Neto</th>
          <td mat-cell *matCellDef="let elemento">% {{elemento.itcNeto | number: '1.2-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarConsultar(elemento)"><span
              class="cursor-color">ver</span></td>
        </ng-container>
        <ng-container matColumnDef="mod">
          <th mat-header-cell *matHeaderCellDef>-</th>
          <td mat-cell *matCellDef="let elemento" (click)="activarActualizar(elemento)"><span
              class="cursor-color">editar</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div>
  </div>
</div>