<form class="margin-top-10 padd-20" [formGroup]="formulario">
    <div class="row" *ngIf="data">
        <div class="col-md-3 text-center">
            <h5>Comprobantes</h5>
        </div>
        <div class="col-md-9 text-center">
            <h6 class="text-center" *ngIf="data.elemento.esRepartoPropio">
                Vehículo: {{data.elemento.vehiculo.dominio}} : {{data.elemento.vehiculo.numeroInterno}} - Chofer:
                {{data.elemento.personal.alias}}
            </h6>
            <h6 class="text-center" *ngIf="!data.elemento.esRepartoPropio">
                Vehículo: {{data.elemento.vehiculoProveedor.dominio}} :
                {{data.elemento.vehiculoProveedor.numeroInterno}} -
                Chofer: {{data.elemento.proveedor.alias}}
            </h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group has-float-label">
                <label for="idTipoComprobante" class="tamanio-label">Tipo Comprobante *</label>
                <mat-select id="idTipoComprobante" class="form-control form-control-sm"
                    formControlName="tipoComprobante" [compareWith]="compareFn"
                    (selectionChange)="cambioTipoComprobante()">
                    <mat-option *ngFor="let item of tipoComprobantes" [value]="item">
                        {{item.nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group has-float-label">
                <label id="labelPuntoVenta" for="idPuntoVenta" class="descripcion-label">Punto Vta. *</label>
                <input id="idPuntoVenta" type="text" formControlName="puntoVenta" autocomplete="off"
                    [readOnly]="soloLectura" [textMask]="mascararEnteros(5)"
                    (blur)="establecerCerosIzq(formulario.get('puntoVenta'), '0000', -5)"
                    class="form-control form-control-sm number-right" required>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group has-float-label">
                <label id="labelLetra" for="idLetra" class="descripcion-label">Letra *</label>
                <mat-select id="idLetra" class="form-control form-control-sm" formControlName="letra"
                    [compareWith]="compareFn" (selectionChange)="cambioLetra()" required>
                    <mat-option *ngFor="let item of letras" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group has-float-label">
                <label id="labelNumeroComprobante" for="idNumeroComprobante" class="descripcion-label">Número
                    Comprobante *</label>
                <input id="idNumeroComprobante" type="text" formControlName="numero" autocomplete="off"
                    [readOnly]="soloLectura" [textMask]="mascararEnteros(8)"
                    class="form-control form-control-sm number-right">
            </div>
        </div>
        <div class="col-md-1">
            <button id="idBotonAgregarItem" mat-raised-button color="primary" (click)="agregar()"
                [disabled]="!formulario.valid">
                Agregar
            </button>
        </div>
        <div class="col"></div>
        <div class="col-md-2">
            <button style="height: 30px;" mat-raised-button>Seleccionar Comprobantes</button>
        </div>
    </div>
    <div class="row">
        <div class="tabla">
            <div class="tabla-ancho">
                <table mat-table [dataSource]="listaCompleta" matSort class="mat-elevation-z1">
                    <ng-container matColumnDef="TIPOCPTE" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Cpte. </th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.tipoComprobante.nombre : ''}}
                                {{elemento.ordenRecoleccion? elemento.ordenRecoleccion.tipoComprobante.nombre : ''}}
                                {{elemento.viajeRemito? elemento.viajeRemito.tipoComprobante.nombre : ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="PUNTOVENTA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Punto de Vta.</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.puntoVenta: ''}}
                                {{elemento.ordenRecoleccion? elemento.ordenRecoleccion.puntoVenta : ''}}
                                {{elemento.viajeRemito? elemento.viajeRemito.puntoVenta : ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="LETRA">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Letra</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.letra: ''}}
                                {{elemento.ordenRecoleccion? elemento.ordenRecoleccion.letra : ''}}
                                {{elemento.viajeRemito? elemento.viajeRemito.letra : ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="COMPROBANTE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Comprobante</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.numero: ''}}
                                {{elemento.ordenRecoleccion? elemento.ordenRecoleccion.numero : ''}}
                                {{elemento.viajeRemito? elemento.viajeRemito.numero : ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="DESTINATARIO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Destinatario</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.clienteDestinatario.alias: ''}}
                                {{elemento.ordenRecoleccion? elemento.ordenRecoleccion.clienteDestinatario.alias: ''}}
                                {{elemento.viajeRemito? elemento.viajeRemito.clienteDestinatario.alias: ''}}
                            </span></td>
                    </ng-container>
                    <ng-container matColumnDef="DOMICILIO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Domicilio</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.clienteDestinatario.domicilio : ''}}
                                {{elemento.ordenRecoleccion? elemento.ordenRecoleccion.clienteDestinatario.domicilio : ''}}
                                {{elemento.viajeRemito? elemento.viajeRemito.clienteDestinatario.domicilio : ''}}
                            </span> Lt.
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="REMITENTE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remitente</th>
                        <td mat-cell *matCellDef="let elemento">$
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.clienteRemitente.alias : ''}}
                                {{elemento.ordenRecoleccion? elemento.ordenRecoleccion.clienteRemitente.alias : ''}}
                                {{elemento.viajeRemito? elemento.viajeRemito.clienteRemitente.alias : ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="CTACTE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cta Cte.</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.condicionVenta != 1? 
                                    elemento.ventaComprobante.importe : '' : ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="CONTADO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contado</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.condicionVenta == 1? 
                                        elemento.ventaComprobante.importe : '' : ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="BULTOS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bultos</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? sumaBultosVentaCpte(elemento.ventaComprobante.ventaComprobanteItemFAs) : ''}}
                                {{elemento.ordenRecoleccion?  elemento.ordenRecoleccion.bultos: ''}}
                                {{elemento.viajeRemito? elemento.viajeRemito.bultos : ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="CONTRAREEMBOLSO">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contrareembolso</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? elemento.ventaComprobante.ventaComprobanteItemCR.importe: ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="KG">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kg</th>
                        <td mat-cell *matCellDef="let elemento">
                            <span>
                                {{elemento.ventaComprobante? sumaKiloEfectivoVentaCpte(elemento.ventaComprobante.ventaComprobanteItemFAs) : ''}}
                                {{elemento.ordenRecoleccion? elemento.ordenRecoleccion.kilosAforado != null? 
                                    elemento.ordenRecoleccion.kilosAforado : elemento.ordenRecoleccion.kilosEfectivo : ''}}
                                {{elemento.viajeRemito? elemento.viajeRemito.condicionVenta == 1? 
                                    elemento.viajeRemito.kilosAforado : elemento.viajeRemito.kilosEfectivo : ''}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="ELIMINAR" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let elemento; let i = index">
                            <button mat-icon-button class="mat-icon-button-table margin-left-3"
                                (click)="activarEliminarCpteReparto(elemento)" matTooltip="Anular" matTooltipPosition="above">
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center" *ngIf="btnCerrar">
        <div class="col-md-1">
            <button mat-raised-button color="accent" (click)="dialogRef.close()">Cerrar</button>
        </div>
    </div>
</form>