<div id="cliente" class="container-fluid" (window:keydown)="manejarEvento($event.keyCode)">
  <mat-progress-bar mode="indeterminate" *ngIf="!render"></mat-progress-bar>
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>CLIENTE</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre, 0)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div *ngIf="indiceSeleccionado < 5">
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="true" [fixedTopGap]="165"
        [fixedBottomGap]="0" [ngClass]="indiceSeleccionado > 1 ? 'top2' : 'top1'">
        <div class="container-fluid">
          <div class="row contenedor" *ngFor="let listaOp of opciones; let idx = index">
            <div class="col">
              <button [ngClass]="{true:'activar-boton-subopcion'}[botonOpcionActivo === idx]" type="button"
                class="btn btn-outline-primary btn-block" (click)="seleccionarOpcion(listaOp.id, idx)">
                {{listaOp.nombre}}</button>
            </div>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="sidenav-content">
        <div class="container-fluid">
          <div class="row contenedor">
            <div class="col">
              <form [formGroup]="formulario">
                <div class="row justify-content-center">
                  <h5>{{pestaniaActual}} Cliente</h5>
                </div>
                <div class="contenedor-top-titulo">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
                        <label for="idAutocompletado" class="tamanio-label">Buscar Cliente</label>
                        <input id="idAutocompletado" class="form-control form-control-sm" autocomplete="off" type="text"
                          matInput [formControl]="autocompletado" [matAutocomplete]="auto"
                          placeholder="Buscar por id, razón social, nombre de fantasía o número de documento">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayF.bind(this)"
                          (optionSelected)="establecerFormulario()">
                          <mat-option *ngFor="let item of resultados" [value]="item">
                            {{item.alias}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1">
                      <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group has-float-label">
                        <label for="idCodigo" class="tamanio-label-titulo">N° de Cuenta</label>
                        <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm"
                          readonly>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label id="labelRazonSocial" for="idRazonSocial" class="tamanio-label-titulo">Razón Social
                          *</label>
                        <input id="idRazonSocial" type="text" formControlName="razonSocial" autocomplete="off"
                          class="form-control form-control-sm upper-case" [readonly]="soloLectura"
                          (ngModelChange)="cambioCampo('idRazonSocial', 'labelRazonSocial')" maxlength="45">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idNombreFantasia" class="tamanio-label-titulo">Nombre Fantasía</label>
                        <input id="idNombreFantasia" type="text" formControlName="nombreFantasia" autocomplete="off"
                          class="form-control form-control-sm" [readonly]="soloLectura" maxlength="45">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label id="labelSitioweb" for="idSitioWeb" class="tamanio-label-titulo">Sitio Web</label>
                        <input id="idSitioWeb" type="text" formControlName="sitioWeb" autocomplete="off"
                          class="form-control form-control-sm" [readonly]="soloLectura"
                          (ngModelChange)="cambioCampo('idSitioWeb', 'labelSitioweb')" maxlength="60">
                      </div>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 1">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idDomicilio" class="tamanio-label">Domicilio *</label>
                        <input id="idDomicilio" type="text" formControlName="domicilio" autocomplete="off"
                          class="form-control form-control-sm" [readonly]="soloLectura" maxlength="60">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idBarrio" class="tamanio-label">Barrio</label>
                        <input id="idBarrio" class="form-control form-control-sm" type="text" matInput
                          [formControl]="formulario.get('barrio')" [matAutocomplete]="autoBarrio" autocomplete="off"
                          [readonly]="soloLectura" (blur)="verificarSeleccion(formulario.get('barrio'))">
                        <mat-autocomplete #autoBarrio="matAutocomplete" [displayWith]="displayFa.bind(this)">
                          <mat-option *ngFor="let itemBarrio of resultadosBarrios" [value]="itemBarrio">
                            {{itemBarrio.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idLocalidad" class="tamanio-label">Localidad *</label>
                        <input id="idLocalidad" class="form-control form-control-sm" type="text"
                          [formControl]="formulario.get('localidad')" [matAutocomplete]="autoLocalidad"
                          autocomplete="off" [readonly]="soloLectura"
                          (blur)="verificarSeleccion(formulario.get('localidad'))">
                        <mat-autocomplete #autoLocalidad="matAutocomplete" [displayWith]="displayFb.bind(this)">
                          <mat-option *ngFor="let itemLocalidad of resultadosLocalidades" [value]="itemLocalidad">
                            {{itemLocalidad.nombre}}, {{itemLocalidad.provincia.nombre}},
                            {{itemLocalidad.provincia.pais.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label id="labelTelefono" for="idTelefonoFijo" class="tamanio-label">Teléfono</label>
                        <input id="idTelefono" type="tel" formControlName="telefono" autocomplete="off"
                          class="form-control form-control-sm number-right" [readonly]="soloLectura" maxlength="45">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idCobrador" class="tamanio-label">Cobrador *</label>
                        <mat-select id="idCobrador" class="form-control form-control-sm" [compareWith]="compareFn"
                          formControlName="cobrador">
                          <mat-option *ngFor="let itemCobrador of cobradores" [value]="itemCobrador">
                            {{itemCobrador.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idVendedor" class="tamanio-label">Vendedor</label>
                        <mat-select id="idVendedor" class="form-control form-control-sm" [compareWith]="compareFn"
                          formControlName="vendedor">
                          <mat-option *ngFor="let itemVendedor of vendedores" [value]="itemVendedor">
                            {{itemVendedor.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idZona" class="tamanio-label">Zona *</label>
                        <mat-select id="idZona" class="form-control form-control-sm" [compareWith]="compareFn"
                          formControlName="zona">
                          <mat-option *ngFor="let itemZona of zonas" [value]="itemZona">
                            {{itemZona.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idRubro" class="tamanio-label">Rubro *</label>
                        <mat-select id="idRubro" class="form-control form-control-sm" [compareWith]="compareFn"
                          formControlName="rubro">
                          <mat-option *ngFor="let itemRubro of rubros" [value]="itemRubro">
                            {{itemRubro.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idCondicionIva" class="tamanio-label">Condición de Iva *</label>
                        <mat-select id="idCondicionIva" class="form-control form-control-sm"
                          formControlName="afipCondicionIva" [compareWith]="compareFn">
                          <mat-option *ngFor="let itemCondicionIva of condicionesIva" [value]="itemCondicionIva">
                            {{itemCondicionIva.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idTipoDocumento" class="tamanio-label">Tipo de Documento *</label>
                        <mat-select id="idTipoDocumento" class="form-control form-control-sm"
                          formControlName="tipoDocumento" [compareWith]="compareFn">
                          <mat-option *ngFor="let itemTipoDocumento of tiposDocumentos" [value]="itemTipoDocumento">
                            {{itemTipoDocumento.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label id="labelNumeroDocumento" for="idNumeroDocumento" class="tamanio-label">N° de Documento
                          *</label>
                        <input id="idNumeroDocumento" type="number" formControlName="numeroDocumento" autocomplete="off"
                          class="form-control form-control-sm" [readonly]="soloLectura" (blur)="validarDocumento()"
                          (ngModelChange)="cambioCampo('idNumeroDocumento', 'labelNumeroDocumento')">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idNumeroIIBB" class="tamanio-label">N° de Ingresos Brutos</label>
                        <input id="idNumeroIIBB" type="text" formControlName="numeroIIBB" autocomplete="off"
                          [textMask]="mascararEnteros(15)" class="form-control form-control-sm number-right"
                          [readonly]="soloLectura">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 2">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idCondicionVenta" class="tamanio-label">Condición de Venta *</label>
                        <mat-select id="idCondicionVenta" class="form-control form-control-sm"
                          formControlName="condicionVenta" [compareWith]="compareFn"
                          (selectionChange)="cambioCondicionVenta()">
                          <mat-option *ngFor="let itemCondicionVenta of condicionesVentas" [value]="itemCondicionVenta">
                            {{itemCondicionVenta.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idCuentaGrupo" class="tamanio-label">Cuenta del Grupo</label>
                        <input id="idCuentaGrupo" class="form-control form-control-sm" type="text" matInput
                          [formControl]="formulario.get('cuentaGrupo')" [matAutocomplete]="autoCuentaGrupo"
                          autocomplete="off" [readonly]="soloLectura"
                          (blur)="verificarSeleccion(formulario.get('cuentaGrupo'))">
                        <mat-autocomplete #autoCuentaGrupo="matAutocomplete" [displayWith]="displayF.bind(this)">
                          <mat-option *ngFor="let itemCuentaGrupo of resultadosCuentasGrupos" [value]="itemCuentaGrupo">
                            {{itemCuentaGrupo.alias}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idResumenCliente" class="tamanio-label">Resumen Cta.Cte.</label>
                        <mat-select id="idResumenCliente" class="form-control form-control-sm"
                          formControlName="resumenCliente" [compareWith]="compareFn">
                          <mat-option *ngFor="let itemResumenCliente of resumenesClientes" [value]="itemResumenCliente">
                            {{itemResumenCliente.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idLimiteCredito" class="tamanio-label">Límite de Crédito</label>
                        <input id="idLimiteCredito" type="text" formControlName="creditoLimite" autocomplete="off"
                          class="form-control form-control-sm number-right" [readonly]="soloLectura"
                          placeholder="$ 0.00" [textMask]="obtenerMascaraImporte(10, 2)"
                          (blur)="setDecimales(formulario.get('creditoLimite'), 2)">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idDescuentoFlete" class="tamanio-label">Descuento en Flete</label>
                        <input id="idDescuentoFlete" type="text" formControlName="descuentoFlete" autocomplete="off"
                          class="form-control form-control-sm number-right" placeholder="0.00 %"
                          [readonly]="soloLectura" [textMask]="obtenerMascaraPorcentaje()"
                          (blur)="desenmascararPorcentaje(formulario.get('descuentoFlete'), 2)">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idSituacionCliente" class="tamanio-label">Situación</label>
                        <mat-select id="idSituacionCliente" class="form-control form-control-sm"
                          [compareWith]="compareFn" formControlName="situacionCliente">
                          <mat-option *ngFor="let itemSituacionCliente of situacionesClientes"
                            [value]="itemSituacionCliente">
                            {{itemSituacionCliente.nombre}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idEstaActivo" class="tamanio-label">Estado *</label>
                        <mat-select id="idEstaActivo" class="form-control form-control-sm" [compareWith]="compareFn"
                          formControlName="estaActiva">
                          <mat-option [value]="true">Activa</mat-option>
                          <mat-option [value]="false">Suspendida</mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <button id="idBoton" mat-raised-button color="primary" (click)="abrirListasPrecios()">
                        Listas de Precios
                      </button>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 3">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idEsSeguroPropio" class="tamanio-label">Tipo de Seguro *</label>
                        <mat-select id="idEsSeguroPropio" class="form-control form-control-sm"
                          formControlName="esSeguroPropio" (selectionChange)="cambioTipoSeguro()">
                          <mat-option [value]="false">Sin Seguro Propio</mat-option>
                          <mat-option [value]="true">Con Seguro Propio</mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idCompaniaSeguro" class="tamanio-label">Compañia de Seguro</label>
                        <input id="idCompaniaSeguro" class="form-control form-control-sm" type="text" matInput
                          [formControl]="formulario.get('companiaSeguro')" [matAutocomplete]="autoCompaniaSeguro"
                          autocomplete="off" [readonly]="soloLectura"
                          (blur)="verificarSeleccion(formulario.get('companiaSeguro'))"
                          [required]="formulario.get('esSeguroPropio') ? true : false">
                        <mat-autocomplete #autoCompaniaSeguro="matAutocomplete" [displayWith]="displayFa.bind(this)">
                          <mat-option *ngFor="let itemCompaniaSeguro of resultadosCompaniasSeguros"
                            [value]="itemCompaniaSeguro">
                            {{itemCompaniaSeguro.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idNumeroPoliza" class="tamanio-label">N° de Póliza</label>
                        <input id="idNumeroPoliza" type="number" formControlName="numeroPolizaSeguro" autocomplete="off"
                          class="form-control form-control-sm" maxlength="20"
                          [required]="formulario.get('esSeguroPropio') ? true : false" [readonly]="soloLectura">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idVencimiento" class="tamanio-label">Vencimiento</label>
                        <input id="idVencimiento" type="date" formControlName="vencimientoPolizaSeguro"
                          autocomplete="off" class="form-control form-control-sm"
                          [required]="formulario.get('esSeguroPropio') ? true : false" [readonly]="soloLectura">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 4">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-float-label">
                        <label for="idObservaciones" class="tamanio-label">Observaciones</label>
                        <textarea id="idObservaciones" class="form-control form-control-sm"
                          formControlName="observaciones" rows="4" [readonly]="soloLectura" maxlength="400"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 5">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-float-label">
                        <label for="idEmitirComprobante" class="tamanio-label">Al Emitir Comprobante</label>
                        <textarea id="idEmitirComprobante" class="form-control form-control-sm"
                          formControlName="notaEmisionComprobante" rows="2" [readonly]="soloLectura"
                          maxlength="200"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-float-label">
                        <label for="idImprimirComprobante" class="tamanio-label">Al Imprimir Comprobante</label>
                        <textarea id="idImprimirComprobante" class="form-control form-control-sm"
                          formControlName="notaImpresionComprobante" rows="2" [readonly]="soloLectura"
                          maxlength="200"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-float-label">
                        <label for="idImprimirRemito" class="tamanio-label">Al Imprimir Remito</label>
                        <textarea id="idImprimirRemito" class="form-control form-control-sm"
                          formControlName="notaImpresionRemito" rows="2" [readonly]="soloLectura"
                          maxlength="200"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idImprimirControlDeuda" class="tamanio-label">Imprimir Control de Deuda *</label>
                        <mat-select id="idImprimirControlDeuda" class="form-control form-control-sm"
                          formControlName="imprimirControlDeuda">
                          <mat-option [value]="false">No</mat-option>
                          <mat-option [value]="true">Si</mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 6">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group has-float-label">
                        <label for="idEsReceptor" class="tamanio-label">Es Receptor FCE MiPyMes *</label>
                        <mat-select id="idEsReceptor" class="form-control form-control-sm"
                          formControlName="esReceptorFCE">
                          <mat-option [value]="false">No</mat-option>
                          <mat-option [value]="true">Si</mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <h6>Cliente - Cuenta Bancaria</h6>
                  <div class="row">
                    <div class="tabla">
                      <table mat-table [dataSource]="cuentasBancarias" matSort class="table-width-cb mat-elevation-z1">
                        <ng-container matColumnDef="empresa" sticky>
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
                          <td mat-cell *matCellDef="let elemento">
                            {{elemento.empresa ? elemento.empresa.razonSocial : null}}</td>
                        </ng-container>
                        <ng-container matColumnDef="banco">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
                          <td mat-cell *matCellDef="let elemento">
                            {{elemento.cuentaBancaria ? elemento.cuentaBancaria.sucursalBanco.banco.nombre : null}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="sucursal">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal</th>
                          <td mat-cell *matCellDef="let elemento">
                            {{elemento.cuentaBancaria ? elemento.cuentaBancaria.sucursalBanco.nombre : null}}</td>
                        </ng-container>
                        <ng-container matColumnDef="numCuenta">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>N° de Cuenta</th>
                          <td mat-cell *matCellDef="let elemento">
                            {{elemento.cuentaBancaria ? elemento.cuentaBancaria.numeroCuenta : null}}</td>
                        </ng-container>
                        <ng-container matColumnDef="cbu">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>CBU</th>
                          <td mat-cell *matCellDef="let elemento">
                            {{elemento.cuentaBancaria ? elemento.cuentaBancaria.cbu : null}}</td>
                        </ng-container>
                        <ng-container matColumnDef="aliasCbu">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Alias CBU</th>
                          <td mat-cell *matCellDef="let elemento">
                            {{elemento.cuentaBancaria ? elemento.cuentaBancaria.aliasCBU : null}}</td>
                        </ng-container>
                        <ng-container matColumnDef="cuentaBancaria" stickyEnd>
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Bancaria</th>
                          <td mat-cell *matCellDef="let elemento">
                            <button mat-icon-button class="mat-icon-button-table"
                              (click)="seleccionarCuentaBancaria(elemento)"
                              *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3"
                              [disabled]="!formulario.get('esReceptorFCE').value"
                              matTooltip="Seleccionar Cuenta Bancaria" matTooltipPosition="above">
                              <mat-icon>account_balance</mat-icon>
                            </button>
                            <button mat-icon-button class="mat-icon-button-table"
                              (click)="eliminarCuentaBancaria(elemento)" style="margin-left: 20px;"
                              *ngIf="indiceSeleccionado == 1 || indiceSeleccionado == 3" matTooltip="Eliminar"
                              matTooltipPosition="above">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnasCuentaBancaria"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnasCuentaBancaria;"></tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 7">

                </div>
                <div class="contenedor-top" *ngIf="opcionSeleccionada == 8">

                </div>
                <br>
                <div class="row" *ngIf="mostrarBoton && !show">
                  <div class="centrar">
                    <button id="idBoton" mat-raised-button color="primary" formnovalidate
                      (click)="accion(indiceSeleccionado)" [disabled]="!formulario.valid">
                      {{pestaniaActual}}
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="show">
                  <div class="col text-center">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="row justify-content-center contenedor" [hidden]="indiceSeleccionado != 5">
    <div class="col-md-12">
      <div class="row" *ngIf="show">
        <div class="col text-center">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <div class="row">
        <div class="tabla">
          <table mat-table [dataSource]="listaCompleta" matSort class="table-width-list mat-elevation-z1">
            <ng-container matColumnDef="RAZON_SOCIAL" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Razón Social</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.razonSocial? elemento.razonSocial : '--'}}</td>
            </ng-container>
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.id}}</td>
            </ng-container>
            <ng-container matColumnDef="TIPO_DOC">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</th>
              <td mat-cell *matCellDef="let elemento">
                {{elemento.tipoDocumento.nombre? elemento.tipoDocumento.nombre : '--'}}</td>
            </ng-container>
            <ng-container matColumnDef="NUM_DOC">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Documento</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.numeroDocumento? elemento.numeroDocumento : '--'}}</td>
            </ng-container>
            <ng-container matColumnDef="TELEFONO">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.telefono? elemento.telefono : '--'}}</td>
            </ng-container>
            <ng-container matColumnDef="DOMICILIO">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Domicilio</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.domicilio? elemento.domicilio: '--'}}</td>
            </ng-container>
            <ng-container matColumnDef="LOCALIDAD">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Localidad</th>
              <td mat-cell *matCellDef="let elemento">{{elemento.localidad.nombre}},
                {{elemento.localidad.provincia.nombre}}
              </td>
            </ng-container>
            <ng-container matColumnDef="EDITAR" stickyEnd>
              <th mat-header-cell *matHeaderCellDef><button class="button-full-width" mat-raised-button color="primary"
                  (click)="abrirReporte()">Reporte</button></th>
              <td mat-cell *matCellDef="let elemento">
                <button mat-icon-button class="mat-icon-button-table" (click)="activarConsultar(elemento)"
                  matTooltip="Consultar" matTooltipPosition="above">
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-icon-button class="mat-icon-button-table margin-left-3"
                  (click)="activarActualizar(elemento)" matTooltip="Editar" matTooltipPosition="above">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>