.tabla {
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
}
.tabla-lp {
    width: 100% !important;
    height: 300px !important;
    overflow: auto !important;
}
mat-sidenav.top1 {
    top: 249px !important;
}
mat-sidenav.top2 {
    top: 293px !important;
}
.table-width-list {
    width: 1900px;
}
.table-width-cb {
    width: 1400px;
}
.table-width-lp {
    width: 1000px;
}
.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}
.mat-table-sticky:nth-child(2) {
    left: 92px !important;
    border-right: 1px solid #e0e0e0;
}
.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}
.mat-column-empresa {
    min-width: 20px !important;
    width: 300px !important;
    padding-right: 0px !important;
}
.mat-column-cuentaBancaria {
    min-width: 20px !important;
    width: 140px !important;
    padding-right: 0px !important;
}
.mat-column-vtoPago {
    min-width: 20px !important;
    width: 95px !important;
    padding-right: 0px !important;
    padding-left: 10px !important;
}