.tabla-cb {
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
}
.tabla-ancho-cb {
    width: 1300px !important;
}
.tabla-ancho {
    width: 1900px !important;
}
mat-sidenav.top1 {
    top: 249px !important;
}
mat-sidenav.top2 {
    top: 293px !important;
}
.tabla {
    width: 1900px;
    overflow: auto;
}
table {
    width: 1900px;
}
.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}
.mat-table-sticky:nth-child(2) {
    left: 92px !important;
    border-right: 1px solid #e0e0e0;
}
.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}
.mat-column-EDITAR {
    min-width: 20px !important;
    width: 90px !important;
    padding-right: 0px !important;
}