<div id="pais">
  <div class="row">
    <div class="col" class="centrar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link disabled>PAIS</a>
        <a mat-tab-link *ngFor="let pestania of pestanias" [active]="activeLink == pestania.nombre"
          (click)="seleccionarPestania(pestania.id, pestania.nombre)">{{pestania.nombre}}</a>
      </nav>
    </div>
  </div>
  <div *ngIf="indiceSeleccionado < 5">
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened class="sidenav"
        [fixedInViewport]="true" [fixedTopGap]="165"
        [fixedBottomGap]="0">
        <div class="row contenedor" *ngFor="let listaOp of opciones; let idx = index">
          <div class="col">
            <button [ngClass]="{true:'activar-boton-subopcion'}[botonOpcionActivo === idx]"
              type="button" class="btn btn-outline-primary btn-block" (click)="seleccionarOpcion(listaOp.id, idx)">
              {{listaOp.nombre}}</button>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="sidenav-content">
        <div class="row contenedor">
          <div class="col">
            <form [formGroup]="formulario">
              <div class="row justify-content-center">
                <h5>{{pestaniaActual}} Cliente</h5>
              </div>
              <div class="contenedor-top-titulo">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group has-float-label" *ngIf="mostrarAutocompletado">
                      <label for="idAutocompletado" class="tamanio-label">Buscar por Nombre</label>
                      <input id="idAutocompletado" class="form-control form-control-sm" formControlName="autocompletado"
                        type="text" matInput [formControl]="buscar" [matAutocomplete]="auto"
                        autocomplete="off" [(ngModel)]="elemAutocompletado">
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="cambioAutocompletado(elemAutocompletado)"
                        [displayWith]="displayFa.bind(this)">
                        <mat-option *ngFor="let item of resultados" [value]="item">
                          {{item.nombre}}
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1">
                    <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
                      <mat-icon>menu</mat-icon>
                    </button>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group has-float-label">
                      <label for="idCodigo" class="tamanio-label-titulo">N° de Cuenta</label>
                      <input id="idCodigo" type="number" formControlName="id" class="form-control form-control-sm"
                        required readonly [(ngModel)]="elemento.id">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label id="labelRazonSocial" for="idRazonSocial" class="tamanio-label-titulo">Razon Social</label>
                      <input id="idRazonSocial" type="text" formControlName="razonSocial" autocomplete="off"
                        class="form-control form-control-sm" maxlength="45"
                        (ngModelChange)="cambioCampo('idRazonSocial', 'labelRazonSocial')"
                        [readonly]="soloLectura" [(ngModel)]="elemento.razonSocial" required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idNombreFantasia" class="tamanio-label-titulo">Nombre Fantasia</label>
                      <input id="idNombreFantasia" type="text" formControlName="nombreFantasia" autocomplete="off"
                        class="form-control form-control-sm" maxlength="45"
                        [readonly]="soloLectura" [(ngModel)]="elemento.nombreFantasia">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label id="labelSitioweb" for="idSitioWeb" class="tamanio-label-titulo">Sitio Web</label>
                      <input id="idSitioWeb" type="text" formControlName="sitioWeb" autocomplete="off"
                        class="form-control form-control-sm" maxlength="45"
                        pattern="^((w{3})(\.)([0-9a-zA-Z])+(\.)(com.ar|com|net|org))*$"
                        (blur)="validarPatron('^((w{3})(\.)([0-9a-zA-Z])+(\.)(com.ar|com|net|org))*$', elemento.sitioWeb, 'sitioWeb')"
                        (ngModelChange)="cambioCampo('idSitioWeb', 'labelSitioweb')"
                        [readonly]="soloLectura" [(ngModel)]="elemento.sitioWeb">
                    </div>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="contenedor-top" *ngIf="opcionSeleccionada == 1">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idDomicilio" class="tamanio-label">Domicilio</label>
                      <input id="idDomicilio" type="text" formControlName="domicilio" autocomplete="off"
                        class="form-control form-control-sm" maxlength="45"
                        [readonly]="soloLectura" [(ngModel)]="elemento.domicilio" required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idBarrio" class="tamanio-label">Barrio</label>
                      <input id="idBarrio" class="form-control form-control-sm" formControlName="barrio"
                        type="text" matInput [formControl]="buscarBarrio" [matAutocomplete]="autoBarrio"
                        autocomplete="off" [(ngModel)]="elemento.barrio" (blur)="vaciarLista()">
                      <mat-autocomplete #autoBarrio="matAutocomplete" [displayWith]="displayFa.bind(this)">
                        <mat-option *ngFor="let itemBarrio of resultadosBarrios" [value]="itemBarrio">
                          {{itemBarrio.nombre}}
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idLocalidad" class="tamanio-label">Localidad</label>
                      <input id="idLocalidad" class="form-control form-control-sm" formControlName="localidad"
                        type="text" matInput [formControl]="buscarLocalidad" [matAutocomplete]="autoLocalidad"
                        autocomplete="off" [(ngModel)]="elemento.localidad" (blur)="vaciarLista()">
                      <mat-autocomplete #autoLocalidad="matAutocomplete" [displayWith]="displayFb.bind(this)">
                        <mat-option *ngFor="let itemLocalidad of resultadosLocalidades" [value]="itemLocalidad">
                          {{itemLocalidad.nombre}}, {{itemLocalidad.provincia.nombre}}, {{itemLocalidad.provincia.pais.nombre}}
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label id="labelTelefono" for="idTelefonoFijo" class="tamanio-label">Teléfono</label>
                      <input id="idTelefono" type="tel" formControlName="telefono" autocomplete="off"
                        class="form-control form-control-sm" maxlength="45" pattern="^[0-9]{10}(,[0-9]{10})*$"
                        (blur)="validarPatron('^\[0-9]{10}(,\[0-9]{10})*$', elemento.telefono, 'telefono')"
                        (ngModelChange)="cambioCampo('idTelefono', 'labelTelefono')"
                        [readonly]="soloLectura" [(ngModel)]="elemento.telefono">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idCobrador" class="tamanio-label">Cobrador</label>
                      <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
                      </ng-template>
                      <input id="idCobrador" type="text" class="form-control form-control-sm"
                        formControlName="cobrador" [(ngModel)]="elemento.cobrador"
                        [ngbTypeahead]="buscarCobrador" [resultTemplate]="rt"
                        [inputFormatter]="formatearCobrador" [readonly]="soloLectura" required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idVendedor" class="tamanio-label">Vendedor</label>
                      <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
                      </ng-template>
                      <input id="idVendedor" type="text" class="form-control form-control-sm"
                        formControlName="vendedor" [(ngModel)]="elemento.vendedor"
                        [ngbTypeahead]="buscarVendedor" [resultTemplate]="rt"
                        [inputFormatter]="formatearVendedor" [readonly]="soloLectura">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idZona" class="tamanio-label">Zona</label>
                      <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
                      </ng-template>
                      <input id="idZona" type="text" class="form-control form-control-sm"
                        formControlName="zona" [(ngModel)]="elemento.zona"
                        [ngbTypeahead]="buscarZona" [resultTemplate]="rt"
                        [inputFormatter]="formatearZona" [readonly]="soloLectura" required>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idRubro" class="tamanio-label">Rubro</label>
                      <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
                      </ng-template>
                      <input id="idRubro" type="text" class="form-control form-control-sm"
                        formControlName="rubro" [(ngModel)]="elemento.rubro"
                        [ngbTypeahead]="buscarRubro" [resultTemplate]="rt"
                        [inputFormatter]="formatearRubro" [readonly]="soloLectura">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idCondicionIva" class="tamanio-label">Condicion Iva</label>
                      <select id="idCondicionIva" class="form-control form-control-sm" formControlName="condicionIva"
                        [(ngModel)]="elemento.condicionIva">
                        <option *ngFor="let condicionIva of condicionesIva" value="{{elemento.condicionIva}}">
                          {{condicionIva.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idTipoDocumento" class="tamanio-label">Tipo Documento</label>
                      <select id="idTipoDocumento" class="form-control form-control-sm" formControlName="tipoDocumento"
                        [(ngModel)]="elemento.tipoDocumento">
                        <option *ngFor="let tipoDocumento of tiposDocumentos" [ngValue]="tipoDocumento">
                          {{tipoDocumento.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label id="labelNumeroDocumento" for="idNumeroDocumento" class="tamanio-label">N° de Documento</label>
                      <input id="idNumeroDocumento" type="number" formControlName="numeroDocumento" autocomplete="off"
                        class="form-control form-control-sm" min="1" maxlength="11"
                        (ngModelChange)="cambioCampo('idNumeroDocumento', 'labelNumeroDocumento')"
                        [readonly]="soloLectura" [(ngModel)]="elemento.numeroDocumento">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idNumeroIIBB" class="tamanio-label">N° de Ingresos Brutos</label>
                      <input id="idNumeroIIBB" type="number" formControlName="numeroIIBB" autocomplete="off"
                        class="form-control form-control-sm" min="1" maxlength="15"
                        [readonly]="soloLectura" [(ngModel)]="elemento.numeroIIBB">
                    </div>
                  </div>
                </div>
              </div>
              <div class="contenedor-top" *ngIf="opcionSeleccionada == 2">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idEsCuentaCorriente" class="tamanio-label">Tipo de Cuenta</label>
                      <select id="idEsCuentaCorriente" formControlName="esCuentaCorriente"
                        class="form-control form-control-sm" [(ngModel)]="elemento.esCuentaCorriente">
                        <option value="false">Contado</option>
                        <option value="true">Cuenta Corriente</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idOrdenVenta" class="tamanio-label">Orden Venta</label>
                      <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
                      </ng-template>
                      <input id="idOrdenVenta" type="text" class="form-control form-control-sm"
                        formControlName="ordenVenta" [(ngModel)]="elemento.ordenVenta"
                        [ngbTypeahead]="buscarOrdenVenta" [resultTemplate]="rt"
                        [inputFormatter]="formatearOrdenVenta" [readonly]="soloLectura">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idCuentaPrincipal" class="tamanio-label">Cuenta Principal</label>
                      <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
                      </ng-template>
                      <input id="idCuentaPrincipal" type="text" class="form-control form-control-sm"
                        formControlName="cuentaPrincipal" [(ngModel)]="elemento.cuentaPrincipal"
                        [ngbTypeahead]="buscar" [resultTemplate]="rt"
                        [inputFormatter]="formatear" [readonly]="soloLectura">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idResumenCliente" class="tamanio-label">Resumen</label>
                      <select id="idResumenCliente" class="form-control form-control-sm" formControlName="resumenCliente"
                        [(ngModel)]="elemento.resumenCliente" [required]="elemento.esCuentaCorriente === 'false' ? false : true">
                        <option *ngFor="let resumenCliente of resumenesClientes" [ngValue]="resumenCliente">
                          {{resumenCliente.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idLimiteCredito" class="tamanio-label">Límite de Crédito</label>
                      <input id="idLimiteCredito" type="number" formControlName="creditoLimite" autocomplete="off"
                        class="form-control form-control-sm" min="1" maxlength="12"
                        [disabled]="elemento.esCuentaCorriente === 'false' ? true : false"
                        [required]="elemento.esCuentaCorriente === 'false' ? false : true"
                        [readonly]="soloLectura" [(ngModel)]="elemento.creditoLimite">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idSucursalLugarPago" class="tamanio-label">Lugar de Pago</label>
                      <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight> -
                        <ngb-highlight [result]="r.localidad.nombre" [term]="t"></ngb-highlight>
                      </ng-template>
                      <input id="idSucursalLugarPago" type="text" class="form-control form-control-sm"
                        formControlName="sucursalLugarPago" [(ngModel)]="elemento.sucursalLugarPago"
                        [ngbTypeahead]="buscarSucursal" [resultTemplate]="rt"
                        [inputFormatter]="formatearSucursal" [readonly]="soloLectura">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idDescuentoFlete" class="tamanio-label">Descuento en Flete</label>
                      <input id="idDescuentoFlete" type="number" formControlName="descuentoFlete"
                        autocomplete="off" class="form-control form-control-sm" min="1" maxlength="5" step="0.01"
                        [readonly]="soloLectura" [(ngModel)]="elemento.descuentoFlete" (blur)="setDecimales($event, 2)">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idDescuentoSubtotal" class="tamanio-label">Descuento en Subtotal</label>
                      <input id="idDescuentoSubtotal" type="number" formControlName="descuentoSubtotal"
                        autocomplete="off" class="form-control form-control-sm" min="1" maxlength="5" step="0.01"
                        [readonly]="soloLectura" [(ngModel)]="elemento.descuentoSubtotal" (blur)="setDecimales($event, 2)">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idSituacionCliente" class="tamanio-label">Situación</label>
                      <select id="idSituacionCliente" class="form-control form-control-sm"
                        formControlName="situacionCliente" [(ngModel)]="elemento.situacionCliente">
                        <option *ngFor="let situacionCliente of situacionesClientes" [ngValue]="situacionCliente">
                          {{situacionCliente.nombre}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="contenedor-top" *ngIf="opcionSeleccionada == 3">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idEsSeguroPropio" class="tamanio-label">Tipo de Seguro</label>
                      <select id="idEsSeguroPropio" formControlName="esSeguroPropio"
                        class="form-control form-control-sm" [(ngModel)]="elemento.esSeguroPropio">
                        <option value="false">Sin Seguro Propio</option>
                        <option value="true">Con Seguro Propio</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idCompaniaSeguro" class="tamanio-label">Compañia de Seguro</label>
                      <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
                      </ng-template>
                      <input id="idCompaniaSeguro" type="text" class="form-control form-control-sm"
                        formControlName="companiaSeguro" [(ngModel)]="elemento.companiaSeguro"
                        [ngbTypeahead]="buscarCompaniaSeguro" [resultTemplate]="rt"
                        [inputFormatter]="formatearCompaniaSeguro" [readonly]="soloLectura"
                        [required]="elemento.esSeguroPropio === 'true' ? true : false">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idNumeroPoliza" class="tamanio-label">N° de Póliza</label>
                      <input id="idNumeroPoliza" type="number" formControlName="numeroPolizaSeguro"
                        autocomplete="off" class="form-control form-control-sm" min="1" maxlength="20"
                        [required]="elemento.esSeguroPropio === 'true' ? true : false"
                        [readonly]="soloLectura" [(ngModel)]="elemento.numeroPolizaSeguro">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idVencimiento" class="tamanio-label">Vencimiento</label>
                      <input id="idVencimiento" type="date" formControlName="vencimientoPolizaSeguro"
                        autocomplete="off" class="form-control form-control-sm"
                        [required]="elemento.esSeguroPropio === 'true' ? true : false"
                        [readonly]="soloLectura" [(ngModel)]="elemento.vencimientoPolizaSeguro">
                    </div>
                  </div>
                </div>
              </div>
              <div class="contenedor-top" *ngIf="opcionSeleccionada == 4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group has-float-label">
                      <label for="idObservaciones" class="tamanio-label">Observaciones</label>
                      <textarea id="idObservaciones" class="form-control form-control-sm" formControlName="observaciones"
                        maxlength="400" rows="4" [readonly]="soloLectura" [(ngModel)]="elemento.observaciones"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="contenedor-top" *ngIf="opcionSeleccionada == 5">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group has-float-label">
                      <label for="idEmitirComprobante" class="tamanio-label">Al Emitir Comprobante</label>
                      <textarea id="idEmitirComprobante" class="form-control form-control-sm"
                        formControlName="notaEmisionComprobante" maxlength="200" rows="2"
                        [readonly]="soloLectura" [(ngModel)]="elemento.notaEmisionComprobante"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group has-float-label">
                      <label for="idImprimirComprobante" class="tamanio-label">Al Imprimir Comprobante</label>
                      <textarea id="idImprimirComprobante" class="form-control form-control-sm"
                        formControlName="notaImpresionComprobante" maxlength="200" rows="2"
                        [readonly]="soloLectura" [(ngModel)]="elemento.notaImpresionComprobante"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group has-float-label">
                      <label for="idImprimirRemito" class="tamanio-label">Al Imprimir Remito</label>
                      <textarea id="idImprimirRemito" class="form-control form-control-sm"
                        formControlName="notaImpresionRemito" maxlength="200" rows="2"
                        [readonly]="soloLectura" [(ngModel)]="elemento.notaImpresionRemito"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group has-float-label">
                      <label for="idImprimirControlDeuda" class="tamanio-label">Imprimir Control de Deuda</label>
                      <select id="idImprimirControlDeuda" formControlName="imprimirControlDeuda"
                        class="form-control form-control-sm" [(ngModel)]="elemento.imprimirControlDeuda">
                        <option value="false">No</option>
                        <option value="true">Si</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="contenedor-top" *ngIf="opcionSeleccionada == 6">

              </div>
              <div class="contenedor-top" *ngIf="opcionSeleccionada == 7">

              </div>
              <div class="row justify-content-center">
                <div class="col">
                  <button id="idBoton" ng-show="mostrarBoton" class="btn btn-primary" type="button"
                    formnovalidate (click)="accion(indiceSeleccionado, elemento)" [disabled]="!formulario.valid">
                    {{pestaniaActual}}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="row justify-content-center" *ngIf="indiceSeleccionado == 5">
    <div class="col-md-6">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" style="width:20%" scope="col">id</th>
            <th class="text-center" style="width:80%" scope="col">Nombre</th>
            <th class="text-center" style="width:10%" scope="col">-</th>
            <th class="text-center" style="width:10%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of listaCompleta">
            <td align="center">
              <span>{{l.id}}</span>
            </td>
            <td align="center">
              <span>{{l.nombre}}</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarConsultar(l)">Ver</span>
            </td>
            <td align="center">
              <span class="cursor-color" (click)="activarActualizar(l)">Mod</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
