<form [formGroup]="formularioViajeRemito">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idTipoRemitoRG" class="tamanio-label">Tipo de Remito *</label>
        <mat-select id="idTipoRemitoRG" class="form-control form-control-sm" formControlName="tipoRemito">
          <mat-option [value]="false">Pendientes</mat-option>
          <mat-option [value]="true">Asignados</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group has-float-label">
        <label for="idTramoRG" class="tamanio-label">Tramo *</label>
        <mat-select id="idTramoRG" class="form-control form-control-sm" formControlName="tramo" [compareWith]="compareFn">
          <mat-option *ngFor="let itemTramo of listaTramos" [value]="itemTramo">
            {{itemTramo.tramo.origen.nombre}},
            {{itemTramo.tramo.origen.provincia.nombre}} ->
            {{itemTramo.tramo.destino.nombre}},
            {{itemTramo.tramo.destino.provincia.nombre}}
            ({{itemTramo.tramo.km}}km)
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idNumeroCamionRG" class="tamanio-label">Número de Camión *</label>
        <input id="idNumeroCamionRG" type="number" formControlName="numeroCamion" autocomplete="off" class="form-control form-control-sm"
          [readonly]="soloLectura">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group has-float-label">
        <label for="idSucursalRG" class="tamanio-label">Sucursal Destino *</label>
        <mat-select id="idSucursalRG" class="form-control form-control-sm" formControlName="sucursalDestino"
          [compareWith]="compareFn">
          <mat-option *ngFor="let itemSucursal of sucursales" [value]="itemSucursal">
            {{itemSucursal.nombre}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-1">
      <button mat-raised-button color="primary" (click)="listarRemitosPorFiltro()">Buscar</button>
    </div>
  </div>
  <div formArrayName="remitos" class="row">
    <div class="col-md-12" style="height: 200px; overflow-y: scroll;">
      <table class="table table-bordered table-striped table-sm table-condensed tabla-viaje">
        <thead>
          <tr>
            <th class="text-center" style="width:10%" scope="col">Fecha</th>
            <th class="text-center" style="width:15%" scope="col">Tipo de Comprobante</th>
            <th class="text-center" style="width:15%" scope="col">Punto Venta</th>
            <th class="text-center" style="width:15%" scope="col">N° de Comprobante</th>
            <th class="text-center" style="width:20%" scope="col">Remitente</th>
            <th class="text-center" style="width:20%" scope="col">Destinatario</th>
            <th class="text-center" style="width:5%" scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of formularioViajeRemito.get('remitos').controls; let i = index" [formGroupName]="i">
            <td align="center">
              <span>{{a.value.fecha | date: 'dd/MM/yyyy'}}</span>
            </td>
            <td align="center">
              <span>{{a.value.tipoComprobante.nombre}}</span>
            </td>
            <td align="center">
              <span>{{mostrarCeros(a.value.puntoVenta, '000', -4)}}</span>
            </td>
            <td align="center">
              <span>{{mostrarCeros(a.value.numero, '0000000', -8)}}</span>
            </td>
            <td align="center">
              <span>{{a.value.clienteRemitente.razonSocial}}</span>
            </td>
            <td align="center">
              <span>{{a.value.clienteDestinatario.razonSocial}}</span>
            </td>
            <td align="center">
              <mat-checkbox formControlName="estaPendiente" color="primary"></mat-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-end">
    <button mat-raised-button color="primary" (click)="asignarRemitos()">Asignar/Quitar</button>
  </div>
</form>